iotFeedbackEngagement/linkedTemplates/ArmTemplate_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "iotFeedbackEngagement"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/step 1 InProg Opp')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "InProgress Opp"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"linkedService": {
								"referenceName": "ocdm",
								"type": "LinkedServiceReference"
							},
							"name": "DimOppFromOCDM"
						},
						{
							"linkedService": {
								"referenceName": "ocdm",
								"type": "LinkedServiceReference"
							},
							"name": "DimSMBOppfromOCDM"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "InProgressOpportunity",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "union1"
						},
						{
							"name": "filter1"
						},
						{
							"name": "select1"
						}
					],
					"script": "source(output(\n\t\topportunityid as string,\n\t\tdimopportunitykey as long,\n\t\topportunitynumber as string,\n\t\topportunityname as string,\n\t\tneed as string,\n\t\tlicensingprogram as string,\n\t\testimatedrevenue as decimal(38,13),\n\t\tforecastrecommendation as string,\n\t\tcrmaccountid as string,\n\t\tcrmaccountname as string,\n\t\tsalesstagename as string,\n\t\tsalesstagecode as integer,\n\t\tstatus as string,\n\t\tdimpricinglevelhierarchykey as long,\n\t\tlicensingsubtype as string,\n\t\tisqualifiedpipe as boolean,\n\t\ttpaccountid as string,\n\t\townershipgroup as string,\n\t\tcrmforecastcomments as string,\n\t\topportunityowner as string,\n\t\townerrole as string,\n\t\testimatedduedate as timestamp,\n\t\tdimsalesdatekey as long,\n\t\tdaysinsalesstage as integer,\n\t\tprimarypartnername as string,\n\t\tpseller as string,\n\t\tispseller as string,\n\t\tdealbasedflag as string,\n\t\tpipelinecategory as string,\n\t\trecommendationid as integer,\n\t\topportunityage as integer,\n\t\tispartnerattached as string,\n\t\tisconsenttosenttopartner as string,\n\t\tcosell as string,\n\t\towneralias as string,\n\t\topportunitysource as string,\n\t\topportunitysourcesubtype as string,\n\t\topportunityinitiator as string,\n\t\topportunityinitiatorid as integer,\n\t\tcloseplanattached as string,\n\t\tcompetitor as string,\n\t\tcompetitorproduct as string,\n\t\tcompeteflag as string,\n\t\twinlosslink as string,\n\t\topportunitysalesstatus as string,\n\t\tclosestatuscode as integer,\n\t\tclosestatus as string,\n\t\tissalesprogramassociated as integer,\n\t\tpromoname as string,\n\t\tpromotioncode as string,\n\t\ttcpsalesstagecode as integer,\n\t\ttcpstagecode as integer,\n\t\tantipiracyengagementname as string,\n\t\tprimarycompetitor as string,\n\t\thasprimarycompetitor as string,\n\t\tsalesstageopptystatus as string,\n\t\tcompetethreatlevel as string,\n\t\tothercompetitor as string,\n\t\tantipiracyengagementtype as string,\n\t\tantipiracyengagementsubtype as string,\n\t\tpricelisttype as string,\n\t\tisvflag as string,\n\t\tisbdm as integer,\n\t\tisdwr as string,\n\t\tcommittoconsume as string,\n\t\tcreatedby as string,\n\t\tcreateddate as timestamp,\n\t\t{cm+/-1_oppty} as string,\n\t\tgenerationengine as string,\n\t\tisrevenueover1m as integer,\n\t\topptycreatedbygroup as string,\n\t\thaspartnerdeal as boolean,\n\t\tcreatedmonth as string,\n\t\tcreatedyear as string,\n\t\tcreatedquarter as string,\n\t\tcreatedweek as timestamp,\n\t\testrocarrivaldate as timestamp,\n\t\tinvoiceamountusd as double,\n\t\tbillondate as timestamp,\n\t\tprocessstage as string,\n\t\tprocesssubstage as string,\n\t\tdimvelocitystagekey as integer,\n\t\tcreatedbymanageralias as string,\n\t\tcreatedbystandardtitle as string,\n\t\townermanageralias as string,\n\t\townerxtugroup as string,\n\t\townerstandardtitle as string,\n\t\tfiscalmonthid as integer,\n\t\treportingweekid as integer,\n\t\tpartnersharingstatus as string,\n\t\tisqualifiedsharing as string,\n\t\tiscbisharing as string,\n\t\tpsnumerator as integer,\n\t\tpsdenominator as integer,\n\t\tqualifiedpsnumerator as integer,\n\t\tqualifiedpsdenominator as integer,\n\t\tcbipsnumerator as integer,\n\t\tcbipsdenominator as integer,\n\t\twinspsnumerator as integer,\n\t\twinspsdenominator as integer,\n\t\tazureipcosellpsnumerator as integer,\n\t\tcosellprioritizedpsnumerator as integer,\n\t\tisazureipcosell as string,\n\t\tiscosellprioritized as string,\n\t\tiscurrentfydue as integer,\n\t\tispartnersharedoppty as integer,\n\t\tcurrentfyopty as integer,\n\t\tcontractsignaturetype as string,\n\t\tcovid19riskflag as string,\n\t\tcovid19newbusinessflag as string,\n\t\triskscoreslab as string,\n\t\tsalesplay as string,\n\t\tsolutionarea as string,\n\t\ttechnicalcapability as string,\n\t\tcrmlink as string,\n\t\topportunityduemonth as string,\n\t\topportunityduemonthid as integer,\n\t\topportunityclosemonth as string,\n\t\topportunityclosemonthid as integer,\n\t\tmodifieddate as timestamp,\n\t\tprimarysolutionarea as string,\n\t\tcloseplanid as string,\n\t\topportunitydueyear as string,\n\t\topportunityduequarter as string,\n\t\tareawinroomflag as string,\n\t\topportunityclosereason as string,\n\t\twcbstrategicpursuitteamflag as string,\n\t\tgsomdtpartnershipsteamflag as string,\n\t\tengineeringpursuitteamflag as string,\n\t\tservicesgpopursuitteamflag as string,\n\t\tbusinessdevelopmentpursuitteamflag as string,\n\t\tindustrypriorityscenarioflag as string,\n\t\ttopopportunityflag as string,\n\t\topportunityduecutoffflag as string,\n\t\topportunityduepostcutoffflag as string,\n\t\tmonth3inquarterflag as integer,\n\t\topportunityduedatefirstday as date,\n\t\tcloseplanattachthreshold as string,\n\t\tpreviousweekrecommendation as string,\n\t\tpreviousweeksalesstagecode as integer,\n\t\tpreviousweekstatus as string,\n\t\tpreviousweekisqualifiedpipe as boolean,\n\t\tpreviousweekestduedate as timestamp,\n\t\tcloseplanname as string,\n\t\topportunitydueweek as timestamp,\n\t\tactualclosedate as timestamp,\n\t\tdaystoclose as integer,\n\t\tforecastrecommendationgroup as string,\n\t\tazureopportunityflag as string,\n\t\tazuretopopportunityflag as string,\n\t\townerassignedtoaccountincalc as string,\n\t\tcreatedbyrolesummary_gtmposition as string,\n\t\townerrolesummary_gtmposition as string,\n\t\topportunitymodifiedby as string,\n\t\tenrollmentnumber as string,\n\t\tprimarysponsor as string,\n\t\topportunitycutoffdate as date,\n\t\topportunityriskscore as decimal(38,6),\n\t\tparentopportunityid as string,\n\t\tcompetitortype as string,\n\t\tcompetitorproductcategory as string,\n\t\tprimaryproduct as string,\n\t\tforecastcommentslastmodifiedby as string,\n\t\tforecastcommentslastmodifiedon as timestamp,\n\t\topportunityriskscorecurrentflag as string,\n\t\topportunityriskscorecreateddate as timestamp,\n\t\tceodmcomments as string,\n\t\tindustrycloudcapability as string,\n\t\tlicensingcontact as string,\n\t\tgbbattachflag as string,\n\t\tbizappsgbbattachflag as string,\n\t\tlicensingcontactattachflag as string,\n\t\tsptengagedflag as string,\n\t\tmidtermflag as string,\n\t\td365workloadflag as string,\n\t\tbizappsqualifiedpipeline as double,\n\t\tmaccpipelinetranche1 as string,\n\t\tmaccpipelinetranche2 as string,\n\t\tbizappstranche as string,\n\t\tcrmhierarchyurl as string,\n\t\tparentchildflag as string,\n\t\tisd_s_curve as string,\n\t\tagreedtobuy as boolean,\n\t\tcompletefinalproposal as boolean,\n\t\tcurrentsalesstagemodifiedon as timestamp,\n\t\thascustomeragreedtobuy as boolean,\n\t\thighlevelsolutiondesign as boolean,\n\t\tiselpagreementsecured as boolean,\n\t\tisidentifycompetitorscomplete as boolean,\n\t\tisidentifylineitemscomplete as boolean,\n\t\tisinternalagreementsecured as boolean,\n\t\tisordercomplete as boolean,\n\t\tispartnerfundingsecured as boolean,\n\t\tisquotecomplete as boolean,\n\t\topportunityscore as double,\n\t\tpartnermotion as string,\n\t\tpullforwarddate as timestamp,\n\t\tpurchasetimeframe as string,\n\t\toriginatingopportunity as string,\n\t\topportunitycopytype as string,\n\t\tcomplexity as string,\n\t\tcriticaldeal as boolean,\n\t\tdealtype as string,\n\t\ttransactiontype as string,\n\t\tclanumber as string,\n\t\tcpumodelseries as string,\n\t\tdevicecategory as string,\n\t\tmicrosoftazureiotcertifieddevice as boolean,\n\t\toperationscontact as string,\n\t\tsolutiondesignindate as timestamp,\n\t\tsolutionstartdate as timestamp,\n\t\tsubscriptionid as string,\n\t\tnumberofdials as integer,\n\t\tpriority as string,\n\t\tfinaldecisiondate as timestamp,\n\t\tpartnerreferral as string,\n\t\tdelivertechnicalcase as string,\n\t\tdeliverinitialpitch as string,\n\t\tcompleteworkshop as timestamp,\n\t\tconfirmtrial as timestamp,\n\t\tcompletetechnicalcloseplan as timestamp,\n\t\taccessecif as string,\n\t\tbizappssalesplay as string,\n\t\tcommercialconstructapprovedbycustomer as string,\n\t\tcompletecloseplan as boolean,\n\t\tcompletejointcatalystengagementplan as string,\n\t\tcompletetechnicalassessment as string,\n\t\tcreatebusinessvalueassessment as string,\n\t\tcustomersignoffonassessments as string,\n\t\tcustomersuccessplanworkshopcomplete as string,\n\t\tdeliverbusinessvalueenlighten as string,\n\t\tdeliverenvisioningworkshop as string,\n\t\tdelivertailoreddemonstration as string,\n\t\tdelivertransformationplan as string,\n\t\tengagedwrawrforecif as string,\n\t\tengagemicrosoftexecutivewithcustomercxo as string,\n\t\thandovertocsmorpcsm as boolean,\n\t\tmodifiedbyid as string,\n\t\tconsenttosendtopartnerby as string,\n\t\tconsenttosendtopartnertype as string,\n\t\talignonbusinessimpact as string,\n\t\talignonsolutionapproach as string,\n\t\tcompletedeploymentworkshop as timestamp,\n\t\tcompletepredeploymentworkshop as string,\n\t\tcompletetrial as string,\n\t\tconductpoc as string,\n\t\texecutedigitalimmersion as string,\n\t\tidentifybusinessdecisionmakers as string,\n\t\tpilotsolution as string,\n\t\tpresentbusinesscase as string,\n\t\tpresentdealoptions as string,\n\t\trapidresponse as boolean,\n\t\ttransitiontocsupartner as string,\n\t\tdemandresponsedealtype as string,\n\t\tactualconsumptionclosedate as timestamp,\n\t\tactualvalue as double,\n\t\tadhocsurvey as integer,\n\t\tagreement as string,\n\t\tagreementtoproceedtocontractnegotiation as boolean,\n\t\tattachedservices as boolean,\n\t\tazureactivedevicesnonrecurring as decimal(10,0),\n\t\tazureactivedevicesrecurring as decimal(10,0),\n\t\tazureconsumednonrecurring as decimal(10,0),\n\t\tazureconsumednonrecurringbase as decimal(10,0),\n\t\tazureconsumedrecurring as decimal(10,0),\n\t\tazureconsumedrecurringbase as decimal(10,0),\n\t\tbaseopportunity as string,\n\t\tbilledrevenue as double,\n\t\tbilledrevenuestatus as string,\n\t\tbizappsactivedevicesnonrecurring as decimal(10,0),\n\t\tbizappsactivedevicesrecurring as decimal(10,0),\n\t\tbizappsbacvnonrecurring as decimal(10,0),\n\t\tbizappsbacvnonrecurringbase as decimal(10,0),\n\t\tbizappsbacvrecurring as decimal(10,0),\n\t\tbizappsbacvrecurringbase as decimal(10,0),\n\t\tbudgetamount as double,\n\t\tclaimtpid as string,\n\t\tconfirmtimelineandbudgetstatus as boolean,\n\t\tconsumptionclosingcomments as string,\n\t\tconsumptionstatus as string,\n\t\tconsumptionstatusreason as string,\n\t\tcorrectedecid as string,\n\t\tcrminstanceid as string,\n\t\tcustomeragreementinplace as integer,\n\t\tcustomeragreessolutionistechnicallyviable as boolean,\n\t\tcustomeragreestoperformaproofofconcept as boolean,\n\t\tcustomeragreeswithmsvalueproposition as boolean,\n\t\tcustomerapprovesbusinesscaseframework as boolean,\n\t\tcustomerapprovestechnicalcriteria as boolean,\n\t\tcustomersignscontractoragreestoplaceorder as boolean,\n\t\tdemonstrateroi as string,\n\t\tdesignagreedwithcustomer as integer,\n\t\tengagecosellprioritizedpartner as string,\n\t\tengagefasttrack as string,\n\t\tengagegbb as string,\n\t\tengagementnarrative as string,\n\t\tengagementnextsteps as string,\n\t\tengageservices as string,\n\t\testcompletiondate as timestamp,\n\t\teststartdate as timestamp,\n\t\tevaluationplan as boolean,\n\t\tfinalconsumptionplan as boolean,\n\t\tidentifybuyingteamstakeholders as boolean,\n\t\tinitialbusinesscase as boolean,\n\t\tinvoice as string,\n\t\tisconclusionlettersent as boolean,\n\t\tiselpuploaded as boolean,\n\t\tisidentifybuyingteamcomplete as boolean,\n\t\tisidentifysalesteamcomplete as boolean,\n\t\tisletterofengagementaccepted as boolean,\n\t\tispurchasearrangementsecured as boolean,\n\t\tisrevenuesystemcalculated as boolean,\n\t\tlastshipmentdate as timestamp,\n\t\tmigratedengagementid as string,\n\t\tmigratedengagementnumber as string,\n\t\tmodernactivedevicesnonrecurring as decimal(10,0),\n\t\tmodernactivedevicesrecurring as decimal(10,0),\n\t\tmodernconsumednonrecurring as decimal(10,0),\n\t\tmodernconsumednonrecurringbase as decimal(10,0),\n\t\tmodernconsumedrecurring as decimal(10,0),\n\t\tmodernconsumedrecurringbase as decimal(10,0),\n\t\tnewenrollmentnumber as string,\n\t\tnooftenants as integer,\n\t\todscreateddate as timestamp,\n\t\topportunitycompletedandnextstepsidentified as integer,\n\t\topportunitytenantid as string,\n\t\toriginalpartnermodifiedby as string,\n\t\toriginatingleadid as string,\n\t\toutcomesmetandbaselinemetricsinplace as integer,\n\t\towningbusinessunit as string,\n\t\tprelimconsumptionplan as boolean,\n\t\tpresentcustomerwithfinalvaluecaseproposal as boolean,\n\t\tpricepointdetails as string,\n\t\tproductflags as string,\n\t\tproductsku as string,\n\t\tqualifiedopportunity as integer,\n\t\tregistrationdate as timestamp,\n\t\trvtstatus as string,\n\t\trvtvalidationready as boolean,\n\t\tsecurityactivedevicesnonrecurring as decimal(10,0),\n\t\tsecurityactivedevicesrecurring as decimal(10,0),\n\t\tsecurityconsumednonrecurring as decimal(10,0),\n\t\tsecurityconsumednonrecurringbase as decimal(10,0),\n\t\tsecurityconsumedrecurring as decimal(10,0),\n\t\tsecurityconsumedrecurringbase as decimal(10,0),\n\t\tselectsalesplay as string,\n\t\tsendtopartner as boolean,\n\t\tsharebompricing as string,\n\t\tstatecode as integer,\n\t\tsurveyresponserejectioncounts as integer,\n\t\ttenantid as integer,\n\t\tversionnumber as long,\n\t\tmilestonesflag as string,\n\t\tactualbilledclosedate as timestamp,\n\t\tbilledclosingcomments as string,\n\t\tbilledrevenueclosereason as string,\n\t\topportunitytype as string,\n\t\tactiveprocess as string,\n\t\tactivesalesstage as string,\n\t\tpartneraccountid as string,\n\t\tpricelevelid as string,\n\t\tisconsumptionqualifiedpipe as integer,\n\t\tcurrencycode as string,\n\t\tazurecapacitytype as string,\n\t\tpreferredazureregion as string,\n\t\taccountid as string,\n\t\townerid as string,\n\t\tcreatedbyid as string,\n\t\toperationscontactalias as string,\n\t\tinitialstakeholderidentificationcomplete as string,\n\t\tcustomerneedsandoutcomesdefine as string,\n\t\tcustomerprioritiesidentified as string,\n\t\tsolutionplaysconfirmeddealteamorchest as string,\n\t\tpartnersidentifiedandengaged as string,\n\t\tbusinessvalueconsiderationscompleted as string,\n\t\tsolutiondesignvalidatedwithcustomer as string,\n\t\ttechnicalbusinessproofrequirementside as string,\n\t\tcustomersignedoffonproposesolution as string,\n\t\tcustomersuccessplanreviewedwithcustomer as string,\n\t\tcustomercommittoproposal as string,\n\t\tresourcesalignagainstdeliveryplan as string,\n\t\tchangemanagementplanplace as string,\n\t\tsolutiondeliveredagainstagreedoutcome as string,\n\t\tcustomersuccessplanupdated as string,\n\t\tcustomerhealthmetricsagreedwithmonitoring as string,\n\t\tnextsetofcustomerneedsidentify as string,\n\t\tbusvalueandsuccessoutcomemonitoringinplac as string,\n\t\tcustomercanoperateandmaintainsolution as string,\n\t\tocdmprocesseddate as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tformat: 'delta',\n\tfileSystem: 'comsme',\n\tfolderPath: 'dataproducts/ocdm/datasets/ocdm/datasetgroup/prod/conformed/psxbi/output/dimension/v1/standard/output/dimopportunity/v1') ~> DimOppFromOCDM\nsource(output(\n\t\topportunityid as string,\n\t\tdimopportunitykey as long,\n\t\topportunitynumber as string,\n\t\topportunityname as string,\n\t\tneed as string,\n\t\tlicensingprogram as string,\n\t\testimatedrevenue as decimal(38,13),\n\t\tforecastrecommendation as string,\n\t\tcrmaccountid as string,\n\t\tcrmaccountname as string,\n\t\tsalesstagename as string,\n\t\tsalesstagecode as integer,\n\t\tstatus as string,\n\t\tdimpricinglevelhierarchykey as long,\n\t\tlicensingsubtype as string,\n\t\tisqualifiedpipe as boolean,\n\t\ttpaccountid as string,\n\t\townershipgroup as string,\n\t\tcrmforecastcomments as string,\n\t\topportunityowner as string,\n\t\townerrole as string,\n\t\testimatedduedate as timestamp,\n\t\tdimsalesdatekey as long,\n\t\tdaysinsalesstage as integer,\n\t\tprimarypartnername as string,\n\t\tpseller as string,\n\t\tispseller as string,\n\t\tdealbasedflag as string,\n\t\tpipelinecategory as string,\n\t\trecommendationid as integer,\n\t\topportunityage as integer,\n\t\tispartnerattached as string,\n\t\tisconsenttosenttopartner as string,\n\t\tcosell as string,\n\t\towneralias as string,\n\t\topportunitysource as string,\n\t\topportunitysourcesubtype as string,\n\t\topportunityinitiator as string,\n\t\topportunityinitiatorid as integer,\n\t\tcloseplanattached as string,\n\t\tcompetitor as string,\n\t\tcompetitorproduct as string,\n\t\tcompeteflag as string,\n\t\twinlosslink as string,\n\t\topportunitysalesstatus as string,\n\t\tclosestatuscode as integer,\n\t\tclosestatus as string,\n\t\tissalesprogramassociated as integer,\n\t\tpromoname as string,\n\t\tpromotioncode as string,\n\t\ttcpsalesstagecode as integer,\n\t\ttcpstagecode as integer,\n\t\tantipiracyengagementname as string,\n\t\tprimarycompetitor as string,\n\t\thasprimarycompetitor as string,\n\t\tsalesstageopptystatus as string,\n\t\tcompetethreatlevel as string,\n\t\tothercompetitor as string,\n\t\tantipiracyengagementtype as string,\n\t\tantipiracyengagementsubtype as string,\n\t\tpricelisttype as string,\n\t\tisvflag as string,\n\t\tisbdm as integer,\n\t\tisdwr as string,\n\t\tcommittoconsume as string,\n\t\tcreatedby as string,\n\t\tcreateddate as timestamp,\n\t\t{cm+/-1_oppty} as string,\n\t\tgenerationengine as string,\n\t\tisrevenueover1m as integer,\n\t\topptycreatedbygroup as string,\n\t\thaspartnerdeal as boolean,\n\t\tcreatedmonth as string,\n\t\tcreatedyear as string,\n\t\tcreatedquarter as string,\n\t\tcreatedweek as timestamp,\n\t\testrocarrivaldate as timestamp,\n\t\tinvoiceamountusd as double,\n\t\tbillondate as timestamp,\n\t\tprocessstage as string,\n\t\tprocesssubstage as string,\n\t\tdimvelocitystagekey as integer,\n\t\tcreatedbymanageralias as string,\n\t\tcreatedbystandardtitle as string,\n\t\townermanageralias as string,\n\t\townerxtugroup as string,\n\t\townerstandardtitle as string,\n\t\tfiscalmonthid as integer,\n\t\treportingweekid as integer,\n\t\tpartnersharingstatus as string,\n\t\tisqualifiedsharing as string,\n\t\tiscbisharing as string,\n\t\tpsnumerator as integer,\n\t\tpsdenominator as integer,\n\t\tqualifiedpsnumerator as integer,\n\t\tqualifiedpsdenominator as integer,\n\t\tcbipsnumerator as integer,\n\t\tcbipsdenominator as integer,\n\t\twinspsnumerator as integer,\n\t\twinspsdenominator as integer,\n\t\tazureipcosellpsnumerator as integer,\n\t\tcosellprioritizedpsnumerator as integer,\n\t\tisazureipcosell as string,\n\t\tiscosellprioritized as string,\n\t\tiscurrentfydue as integer,\n\t\tispartnersharedoppty as integer,\n\t\tcurrentfyopty as integer,\n\t\tcontractsignaturetype as string,\n\t\tcovid19riskflag as string,\n\t\tcovid19newbusinessflag as string,\n\t\triskscoreslab as string,\n\t\tsalesplay as string,\n\t\tsolutionarea as string,\n\t\ttechnicalcapability as string,\n\t\tcrmlink as string,\n\t\topportunityduemonth as string,\n\t\topportunityduemonthid as integer,\n\t\topportunityclosemonth as string,\n\t\topportunityclosemonthid as integer,\n\t\tmodifieddate as timestamp,\n\t\tprimarysolutionarea as string,\n\t\tcloseplanid as string,\n\t\topportunitydueyear as string,\n\t\topportunityduequarter as string,\n\t\tareawinroomflag as string,\n\t\topportunityclosereason as string,\n\t\twcbstrategicpursuitteamflag as string,\n\t\tgsomdtpartnershipsteamflag as string,\n\t\tengineeringpursuitteamflag as string,\n\t\tservicesgpopursuitteamflag as string,\n\t\tbusinessdevelopmentpursuitteamflag as string,\n\t\tindustrypriorityscenarioflag as string,\n\t\ttopopportunityflag as string,\n\t\topportunityduecutoffflag as string,\n\t\topportunityduepostcutoffflag as string,\n\t\tmonth3inquarterflag as integer,\n\t\topportunityduedatefirstday as date,\n\t\tcloseplanattachthreshold as string,\n\t\tpreviousweekrecommendation as string,\n\t\tpreviousweeksalesstagecode as integer,\n\t\tpreviousweekstatus as string,\n\t\tpreviousweekisqualifiedpipe as boolean,\n\t\tpreviousweekestduedate as timestamp,\n\t\tcloseplanname as string,\n\t\topportunitydueweek as timestamp,\n\t\tactualclosedate as timestamp,\n\t\tdaystoclose as integer,\n\t\tforecastrecommendationgroup as string,\n\t\tazureopportunityflag as string,\n\t\tazuretopopportunityflag as string,\n\t\townerassignedtoaccountincalc as string,\n\t\tcreatedbyrolesummary_gtmposition as string,\n\t\townerrolesummary_gtmposition as string,\n\t\topportunitymodifiedby as string,\n\t\tenrollmentnumber as string,\n\t\tprimarysponsor as string,\n\t\topportunitycutoffdate as date,\n\t\topportunityriskscore as decimal(38,6),\n\t\tparentopportunityid as string,\n\t\tcompetitortype as string,\n\t\tcompetitorproductcategory as string,\n\t\tprimaryproduct as string,\n\t\tforecastcommentslastmodifiedby as string,\n\t\tforecastcommentslastmodifiedon as timestamp,\n\t\topportunityriskscorecurrentflag as string,\n\t\topportunityriskscorecreateddate as timestamp,\n\t\tceodmcomments as string,\n\t\tindustrycloudcapability as string,\n\t\tlicensingcontact as string,\n\t\tgbbattachflag as string,\n\t\tbizappsgbbattachflag as string,\n\t\tlicensingcontactattachflag as string,\n\t\tsptengagedflag as string,\n\t\tmidtermflag as string,\n\t\td365workloadflag as string,\n\t\tbizappsqualifiedpipeline as double,\n\t\tmaccpipelinetranche1 as string,\n\t\tmaccpipelinetranche2 as string,\n\t\tbizappstranche as string,\n\t\tcrmhierarchyurl as string,\n\t\tparentchildflag as string,\n\t\tagreedtobuy as boolean,\n\t\tcompletefinalproposal as boolean,\n\t\tcurrentsalesstagemodifiedon as timestamp,\n\t\thascustomeragreedtobuy as boolean,\n\t\thighlevelsolutiondesign as boolean,\n\t\tiselpagreementsecured as boolean,\n\t\tisidentifycompetitorscomplete as boolean,\n\t\tisidentifylineitemscomplete as boolean,\n\t\tisinternalagreementsecured as boolean,\n\t\tisordercomplete as boolean,\n\t\tispartnerfundingsecured as boolean,\n\t\tisquotecomplete as boolean,\n\t\topportunityscore as double,\n\t\tpartnermotion as string,\n\t\tpullforwarddate as timestamp,\n\t\tpurchasetimeframe as string,\n\t\toriginatingopportunity as string,\n\t\topportunitycopytype as string,\n\t\tcomplexity as string,\n\t\tcriticaldeal as boolean,\n\t\tdealtype as string,\n\t\ttransactiontype as string,\n\t\tclanumber as string,\n\t\tcpumodelseries as string,\n\t\tdevicecategory as string,\n\t\tmicrosoftazureiotcertifieddevice as boolean,\n\t\toperationscontact as string,\n\t\tsolutiondesignindate as timestamp,\n\t\tsolutionstartdate as timestamp,\n\t\tsubscriptionid as string,\n\t\tnumberofdials as integer,\n\t\tpriority as string,\n\t\tfinaldecisiondate as timestamp,\n\t\tpartnerreferral as string,\n\t\tdelivertechnicalcase as string,\n\t\tdeliverinitialpitch as string,\n\t\tcompleteworkshop as timestamp,\n\t\tconfirmtrial as timestamp,\n\t\tcompletetechnicalcloseplan as timestamp,\n\t\taccessecif as string,\n\t\tbizappssalesplay as string,\n\t\tcommercialconstructapprovedbycustomer as string,\n\t\tcompletecloseplan as boolean,\n\t\tcompletejointcatalystengagementplan as string,\n\t\tcompletetechnicalassessment as string,\n\t\tcreatebusinessvalueassessment as string,\n\t\tcustomersignoffonassessments as string,\n\t\tcustomersuccessplanworkshopcomplete as string,\n\t\tdeliverbusinessvalueenlighten as string,\n\t\tdeliverenvisioningworkshop as string,\n\t\tdelivertailoreddemonstration as string,\n\t\tdelivertransformationplan as string,\n\t\tengagedwrawrforecif as string,\n\t\tengagemicrosoftexecutivewithcustomercxo as string,\n\t\thandovertocsmorpcsm as boolean,\n\t\tmodifiedbyid as string,\n\t\tconsenttosendtopartnerby as string,\n\t\tconsenttosendtopartnertype as string,\n\t\talignonbusinessimpact as string,\n\t\talignonsolutionapproach as string,\n\t\tcompletedeploymentworkshop as timestamp,\n\t\tcompletepredeploymentworkshop as string,\n\t\tcompletetrial as string,\n\t\tconductpoc as string,\n\t\texecutedigitalimmersion as string,\n\t\tidentifybusinessdecisionmakers as string,\n\t\tpilotsolution as string,\n\t\tpresentbusinesscase as string,\n\t\tpresentdealoptions as string,\n\t\trapidresponse as boolean,\n\t\ttransitiontocsupartner as string,\n\t\tdemandresponsedealtype as string,\n\t\tactualconsumptionclosedate as timestamp,\n\t\tactualvalue as double,\n\t\tadhocsurvey as integer,\n\t\tagreement as string,\n\t\tagreementtoproceedtocontractnegotiation as boolean,\n\t\tattachedservices as boolean,\n\t\tazureactivedevicesnonrecurring as decimal(10,0),\n\t\tazureactivedevicesrecurring as decimal(10,0),\n\t\tazureconsumednonrecurring as decimal(10,0),\n\t\tazureconsumednonrecurringbase as decimal(10,0),\n\t\tazureconsumedrecurring as decimal(10,0),\n\t\tazureconsumedrecurringbase as decimal(10,0),\n\t\tbaseopportunity as string,\n\t\tbilledrevenue as double,\n\t\tbilledrevenuestatus as string,\n\t\tbizappsactivedevicesnonrecurring as decimal(10,0),\n\t\tbizappsactivedevicesrecurring as decimal(10,0),\n\t\tbizappsbacvnonrecurring as decimal(10,0),\n\t\tbizappsbacvnonrecurringbase as decimal(10,0),\n\t\tbizappsbacvrecurring as decimal(10,0),\n\t\tbizappsbacvrecurringbase as decimal(10,0),\n\t\tbudgetamount as double,\n\t\tclaimtpid as string,\n\t\tconfirmtimelineandbudgetstatus as boolean,\n\t\tconsumptionclosingcomments as string,\n\t\tconsumptionstatus as string,\n\t\tconsumptionstatusreason as string,\n\t\tcorrectedecid as string,\n\t\tcrminstanceid as string,\n\t\tcustomeragreementinplace as integer,\n\t\tcustomeragreessolutionistechnicallyviable as boolean,\n\t\tcustomeragreestoperformaproofofconcept as boolean,\n\t\tcustomeragreeswithmsvalueproposition as boolean,\n\t\tcustomerapprovesbusinesscaseframework as boolean,\n\t\tcustomerapprovestechnicalcriteria as boolean,\n\t\tcustomersignscontractoragreestoplaceorder as boolean,\n\t\tdemonstrateroi as string,\n\t\tdesignagreedwithcustomer as integer,\n\t\tengagecosellprioritizedpartner as string,\n\t\tengagefasttrack as string,\n\t\tengagegbb as string,\n\t\tengagementnarrative as string,\n\t\tengagementnextsteps as string,\n\t\tengageservices as string,\n\t\testcompletiondate as timestamp,\n\t\teststartdate as timestamp,\n\t\tevaluationplan as boolean,\n\t\tfinalconsumptionplan as boolean,\n\t\tidentifybuyingteamstakeholders as boolean,\n\t\tinitialbusinesscase as boolean,\n\t\tinvoice as string,\n\t\tisconclusionlettersent as boolean,\n\t\tiselpuploaded as boolean,\n\t\tisidentifybuyingteamcomplete as boolean,\n\t\tisidentifysalesteamcomplete as boolean,\n\t\tisletterofengagementaccepted as boolean,\n\t\tispurchasearrangementsecured as boolean,\n\t\tisrevenuesystemcalculated as boolean,\n\t\tlastshipmentdate as timestamp,\n\t\tmigratedengagementid as string,\n\t\tmigratedengagementnumber as string,\n\t\tmodernactivedevicesnonrecurring as decimal(10,0),\n\t\tmodernactivedevicesrecurring as decimal(10,0),\n\t\tmodernconsumednonrecurring as decimal(10,0),\n\t\tmodernconsumednonrecurringbase as decimal(10,0),\n\t\tmodernconsumedrecurring as decimal(10,0),\n\t\tmodernconsumedrecurringbase as decimal(10,0),\n\t\tnewenrollmentnumber as string,\n\t\tnooftenants as integer,\n\t\todscreateddate as timestamp,\n\t\topportunitycompletedandnextstepsidentified as integer,\n\t\topportunitytenantid as string,\n\t\toriginalpartnermodifiedby as string,\n\t\toriginatingleadid as string,\n\t\toutcomesmetandbaselinemetricsinplace as integer,\n\t\towningbusinessunit as string,\n\t\tprelimconsumptionplan as boolean,\n\t\tpresentcustomerwithfinalvaluecaseproposal as boolean,\n\t\tpricepointdetails as string,\n\t\tproductflags as string,\n\t\tproductsku as string,\n\t\tqualifiedopportunity as integer,\n\t\tregistrationdate as timestamp,\n\t\trvtstatus as string,\n\t\trvtvalidationready as boolean,\n\t\tsecurityactivedevicesnonrecurring as decimal(10,0),\n\t\tsecurityactivedevicesrecurring as decimal(10,0),\n\t\tsecurityconsumednonrecurring as decimal(10,0),\n\t\tsecurityconsumednonrecurringbase as decimal(10,0),\n\t\tsecurityconsumedrecurring as decimal(10,0),\n\t\tsecurityconsumedrecurringbase as decimal(10,0),\n\t\tselectsalesplay as string,\n\t\tsendtopartner as boolean,\n\t\tsharebompricing as string,\n\t\tstatecode as integer,\n\t\tsurveyresponserejectioncounts as integer,\n\t\ttenantid as integer,\n\t\tversionnumber as long,\n\t\tmilestonesflag as string,\n\t\tactualbilledclosedate as timestamp,\n\t\tbilledclosingcomments as string,\n\t\tbilledrevenueclosereason as string,\n\t\topportunitytype as string,\n\t\tactiveprocess as string,\n\t\tactivesalesstage as string,\n\t\tpartneraccountid as string,\n\t\tpricelevelid as string,\n\t\tisconsumptionqualifiedpipe as integer,\n\t\tcurrencycode as string,\n\t\tazurecapacitytype as string,\n\t\tpreferredazureregion as string,\n\t\taccountid as string,\n\t\townerid as string,\n\t\tcreatedbyid as string,\n\t\toperationscontactalias as string,\n\t\tinitialstakeholderidentificationcomplete as string,\n\t\tcustomerneedsandoutcomesdefine as string,\n\t\tcustomerprioritiesidentified as string,\n\t\tsolutionplaysconfirmeddealteamorchest as string,\n\t\tpartnersidentifiedandengaged as string,\n\t\tbusinessvalueconsiderationscompleted as string,\n\t\tsolutiondesignvalidatedwithcustomer as string,\n\t\ttechnicalbusinessproofrequirementside as string,\n\t\tcustomersignedoffonproposesolution as string,\n\t\tcustomersuccessplanreviewedwithcustomer as string,\n\t\tcustomercommittoproposal as string,\n\t\tresourcesalignagainstdeliveryplan as string,\n\t\tchangemanagementplanplace as string,\n\t\tsolutiondeliveredagainstagreedoutcome as string,\n\t\tcustomersuccessplanupdated as string,\n\t\tcustomerhealthmetricsagreedwithmonitoring as string,\n\t\tnextsetofcustomerneedsidentify as string,\n\t\tbusvalueandsuccessoutcomemonitoringinplac as string,\n\t\tcustomercanoperateandmaintainsolution as string,\n\t\tocdmprocesseddate as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tformat: 'delta',\n\tfileSystem: 'comsme',\n\tfolderPath: 'dataproducts/ocdm/datasets/ocdm/datasetgroup/prod/conformed/psxbi/output/dimension/v1/standard/output/dimsmbopportunity/v1') ~> DimSMBOppfromOCDM\nDimOppFromOCDM, DimSMBOppfromOCDM union(byName: true)~> union1\nunion1 filter(status == \"Open\") ~> filter1\nfilter1 select(mapColumn(\n\t\topportunityid,\n\t\topportunitynumber\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> select1\nselect1 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tOpportunityId as string,\n\t\tAntipiracyEngagementTypeId as string,\n\t\tCampaignId as string,\n\t\tConsentToSendToPartnerBy as string,\n\t\tLicensingProgramId as string,\n\t\tOriginatingLeadId as string,\n\t\tOwnerId as string,\n\t\tAccountId as string,\n\t\tPrimarySponsorContactId as string,\n\t\tParentOpportunityId as string,\n\t\tPartnerAccountId as string,\n\t\tPriceLevelId as string,\n\t\tCurrencyId as string,\n\t\tConsentToSendToPartnerCode as integer,\n\t\tConsentToSendToPartner as string,\n\t\tConsentToSendToPartnerSeqNo as long,\n\t\tOpportunitySourceCode as integer,\n\t\tOpportunitySource as string,\n\t\tOpportunitySourceSeqNo as long,\n\t\tPurchaseTimeFrameCode as integer,\n\t\tPurchaseTimeFrame as string,\n\t\tPurchaseTimeFrameSeqNo as long,\n\t\tRecommendationCode as integer,\n\t\tRecommendation as string,\n\t\tRecommendationSeqNo as long,\n\t\tSourceSubTypeCode as integer,\n\t\tSourceSubType as string,\n\t\tSourceSubTypeSeqNo as long,\n\t\tActualCloseDate as timestamp,\n\t\tActualvalue as double,\n\t\tAgreedToBuy as boolean,\n\t\tBudgetAmount as double,\n\t\tCompleteFinalProposal as boolean,\n\t\tIsOrderComplete as boolean,\n\t\tIsQuoteComplete as boolean,\n\t\tIsConclusionLetterSent as boolean,\n\t\tHasCustomerAgreedToBuy as boolean,\n\t\tNeed as string,\n\t\tIsELPAgreementSecured as boolean,\n\t\tIsELPUploaded as boolean,\n\t\tEstimatedCloseDate as timestamp,\n\t\tEstimatedValue as double,\n\t\tEvaluationPlan as boolean,\n\t\tFinalConsumptionPlan as boolean,\n\t\tForecastComments as string,\n\t\tHighLevelSolutionDesign as boolean,\n\t\tIsIdentifyCompetitorsComplete as boolean,\n\t\tIsIdentifyBuyingTeamComplete as boolean,\n\t\tIsIdentifyLineItemsComplete as boolean,\n\t\tIsIdentifySalesTeamComplete as boolean,\n\t\tInitialBusinessCase as boolean,\n\t\tIsInternalAgreementSecured as boolean,\n\t\tIsRevenueSystemCalculated as boolean,\n\t\tIsLetterOfEngagementAccepted as boolean,\n\t\tTopic as string,\n\t\tOpportunityNumber as string,\n\t\tIsPartnerFundingSecured as boolean,\n\t\tPrelimConsumptionPlan as boolean,\n\t\tIsPurchaseArrangementSecured as boolean,\n\t\tCrmInstanceId as string,\n\t\tCreatedById as string,\n\t\tCreatedDate as timestamp,\n\t\tModifiedById as string,\n\t\tModifiedDate as timestamp,\n\t\tStateCode as integer,\n\t\tStatus as string,\n\t\tStatusSeqNo as long,\n\t\tStatusCode as integer,\n\t\tStatusReason as string,\n\t\tStatusReasonSeqNo as long,\n\t\tOdsCreatedDate as timestamp,\n\t\tOdsModifiedDate as timestamp,\n\t\tVersionNumber as long,\n\t\tTenantId as integer,\n\t\tNumberOfDials as integer,\n\t\tOpportunityTenantId as string,\n\t\tPriorityCode as integer,\n\t\tPriority as string,\n\t\tPrioritySeqNo as long,\n\t\tProductSKU as string,\n\t\tRegistrationDate as timestamp,\n\t\tSubscriptionId as string,\n\t\tOriginalPartnerModifiedBy as string,\n\t\tOpportunityCopyTypeCode as integer,\n\t\tOpportunityCopyType as string,\n\t\tOpportunityCopyTypeSeqNo as long,\n\t\tOriginatingOpportunity as string,\n\t\tSendToPartner as boolean,\n\t\tcosellcode as integer,\n\t\tcosell as string,\n\t\tcosellSeqNo as long,\n\t\tPullForwardDate as timestamp,\n\t\tOdsStatus as integer,\n\t\tOpportunityScore as double,\n\t\tpartnermotioncode as integer,\n\t\tpartnermotion as string,\n\t\tpartnermotionSeqNo as long,\n\t\tclosestatuscode as integer,\n\t\tclosestatus as string,\n\t\tclosestatusSeqNo as long,\n\t\tPricePointDetails as string,\n\t\tBilledRevenue as double,\n\t\tcomplexitycode as integer,\n\t\tcomplexity as string,\n\t\tcomplexitySeqNo as long,\n\t\tCriticalDeal as boolean,\n\t\tdealtypecode as integer,\n\t\tdealtype as string,\n\t\tdealtypeSeqNo as long,\n\t\tEnrollmentNumber as string,\n\t\tEstROCArrivalDate as timestamp,\n\t\tLicensingContact as string,\n\t\tLSSODMComments as string,\n\t\tNoofTenants as integer,\n\t\ttransactiontypecode as integer,\n\t\ttransactiontype as string,\n\t\ttransactiontypeSeqNo as long,\n\t\toperationscontact as string,\n\t\tattachedservices as boolean,\n\t\tclanumber as string,\n\t\tcloseplan as string,\n\t\tcpumodelseriescode as integer,\n\t\tcpumodelseries as string,\n\t\tcpumodelseriesSeqNo as long,\n\t\tdevicecategorycode as integer,\n\t\tdevicecategory as string,\n\t\tdevicecategorySeqNo as long,\n\t\tmicrosoftazureiotcertifieddevice as boolean,\n\t\tsolutiondesignindate as timestamp,\n\t\tsolutionstartdate as timestamp,\n\t\towningBusinessUnit as string,\n\t\tfinaldecisiondate as timestamp,\n\t\tIsQualified as integer,\n\t\tcompetethreatlevelcode as integer,\n\t\tcompetethreatlevel as string,\n\t\tcompetethreatlevelSeqNo as long,\n\t\tprimarycompetitor as string,\n\t\tothercompetitor as string,\n\t\trvtvalidationready as boolean,\n\t\tCurrentSalesStageModifiedOn as timestamp,\n\t\tPlatformCreatedDate as timestamp,\n\t\tPlatformModifiedDate as timestamp,\n\t\tPlatformModifiedDateAsInt as long,\n\t\tcorrectedecid as string,\n\t\tPartnerReferral as string,\n\t\trvtstatuscode as integer,\n\t\trvtstatus as string,\n\t\trvtstatusSeqNo as long,\n\t\tnewenrollmentnumber as string,\n\t\tlastshipmentdate as timestamp,\n\t\tbaseopportunitycode as integer,\n\t\tbaseopportunity as string,\n\t\tbaseopportunitySeqNo as long,\n\t\tAdhocSurvey as integer,\n\t\tSurveyResponseRejectionCounts as integer,\n\t\taccessecifcode as integer,\n\t\taccessecif as string,\n\t\taccessecifSeqNo as long,\n\t\tCompleteTechnicalClosePlan as timestamp,\n\t\tCompleteWorkshop as timestamp,\n\t\tConfirmTrial as timestamp,\n\t\tdeliverinitialpitchcode as integer,\n\t\tdeliverinitialpitch as string,\n\t\tdeliverinitialpitchSeqNo as long,\n\t\tdelivertechnicalcasecode as integer,\n\t\tdelivertechnicalcase as string,\n\t\tdelivertechnicalcaseSeqNo as long,\n\t\tdemonstrateroicode as integer,\n\t\tdemonstrateroi as string,\n\t\tdemonstrateroiSeqNo as long,\n\t\tengagefasttrackcode as integer,\n\t\tengagefasttrack as string,\n\t\tengagefasttrackSeqNo as long,\n\t\tEngageServices as string,\n\t\tselectsalesplaycode as integer,\n\t\tselectsalesplay as string,\n\t\tselectsalesplaySeqNo as long,\n\t\tsharebompricingcode as integer,\n\t\tsharebompricing as string,\n\t\tsharebompricingSeqNo as long,\n\t\textractid as string,\n\t\textractdatetime as timestamp,\n\t\tloadts as timestamp,\n\t\tdeltaactioncode as string,\n\t\tbizappssalesplay as string,\n\t\tbizappssalesplaycode as integer,\n\t\tbizappssalesplaySeqNo as long,\n\t\tcommercialconstructapprovedbycustomer as string,\n\t\tcommercialconstructapprovedbycustomercode as integer,\n\t\tcommercialconstructapprovedbycustomerSeqNo as long,\n\t\tCompleteClosePlan as boolean,\n\t\tcompletejointcatalystengagementplan as string,\n\t\tcompletejointcatalystengagementplancode as integer,\n\t\tcompletejointcatalystengagementplanSeqNo as long,\n\t\tcompletetechnicalassessment as string,\n\t\tcompletetechnicalassessmentcode as integer,\n\t\tcompletetechnicalassessmentSeqNo as long,\n\t\tcontractsignaturetype as string,\n\t\tcontractsignaturetypecode as integer,\n\t\tcontractsignaturetypeSeqNo as long,\n\t\tcreatebusinessvalueassessment as string,\n\t\tcreatebusinessvalueassessmentcode as integer,\n\t\tcreatebusinessvalueassessmentSeqNo as long,\n\t\tcustomersignoffonassessments as string,\n\t\tcustomersignoffonassessmentscode as integer,\n\t\tcustomersignoffonassessmentsSeqNo as long,\n\t\tcustomersuccessplanworkshopcomplete as string,\n\t\tcustomersuccessplanworkshopcompletecode as integer,\n\t\tcustomersuccessplanworkshopcompleteSeqNo as long,\n\t\tdeliverbusinessvalueenlighten as string,\n\t\tdeliverbusinessvalueenlightencode as integer,\n\t\tdeliverbusinessvalueenlightenSeqNo as long,\n\t\tdeliverenvisioningworkshop as string,\n\t\tdeliverenvisioningworkshopcode as integer,\n\t\tdeliverenvisioningworkshopSeqNo as long,\n\t\tdelivertailoreddemonstration as string,\n\t\tdelivertailoreddemonstrationcode as integer,\n\t\tdelivertailoreddemonstrationSeqNo as long,\n\t\tdelivertransformationplan as string,\n\t\tdelivertransformationplancode as integer,\n\t\tdelivertransformationplanSeqNo as long,\n\t\tengagedwrawrforecif as string,\n\t\tengagedwrawrforecifcode as integer,\n\t\tengagedwrawrforecifSeqNo as long,\n\t\tengagegbb as string,\n\t\tengagegbbcode as integer,\n\t\tengagegbbSeqNo as long,\n\t\tengagemicrosoftexecutivewithcustomercxo as string,\n\t\tengagemicrosoftexecutivewithcustomercxocode as integer,\n\t\tengagemicrosoftexecutivewithcustomercxoSeqNo as long,\n\t\tHandovertoCSMorPCSM as boolean,\n\t\tsalesplay as string,\n\t\tsalesplaySeqNo as long,\n\t\tsolutionarea as string,\n\t\tsolutionareaSeqNo as long,\n\t\ttechnicalcapability as string,\n\t\ttechnicalcapabilitySeqNo as long,\n\t\tpilotsolutionSeqNo as long,\n\t\tpresentbusinesscaseSeqNo as long,\n\t\tpresentdealoptionsSeqNo as long,\n\t\tRapidResponse as boolean,\n\t\ttransitiontocsupartnerSeqNo as long,\n\t\talignonbusinessimpactSeqNo as long,\n\t\talignonsolutionapproachSeqNo as long,\n\t\tClaimTPID as string,\n\t\tCompleteDeploymentWorkshop as timestamp,\n\t\tcompletepredeploymentworkshopSeqNo as long,\n\t\tcompletetrialSeqNo as long,\n\t\tconductpocSeqNo as long,\n\t\tengagecosellprioritizedpartnerSeqNo as long,\n\t\texecutedigitalimmersionSeqNo as long,\n\t\tidentifybusinessdecisionmakersSeqNo as long\n\t),\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\trecreate:true,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError') ~> sink1"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/step3 Teammembership')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "InProgress Opp"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"linkedService": {
								"referenceName": "msxdatalake",
								"type": "LinkedServiceReference"
							},
							"name": "Teammembership"
						},
						{
							"dataset": {
								"referenceName": "InProgressOpportunityTeam",
								"type": "DatasetReference"
							},
							"name": "OpportunityTeam"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "InProgressTeamMemmership",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "exists1"
						},
						{
							"name": "select1"
						}
					],
					"script": "source(output(\n\t\tEDLPExtractId as string,\n\t\tId as string,\n\t\tVersionNumber as long,\n\t\tteammembershipid as string,\n\t\tteamid as string,\n\t\tsystemuserid as string,\n\t\tIsDelete as boolean,\n\t\tOdsModifiedDate as timestamp,\n\t\tOdsCreatedDate as timestamp,\n\t\tEDLPExtractDateTime as timestamp,\n\t\tEDLPLoadTS as string,\n\t\tEDLPModifiedDateTime as timestamp,\n\t\tEDLPDeltaActionCode as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tformat: 'delta',\n\tfileSystem: 'cseo',\n\tfolderPath: 'standardized/transactional/msx/hub_vw_teammembership/v1/standard') ~> Teammembership\nsource(output(\n\t\topportunityid as string,\n\t\tTeamId as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> OpportunityTeam\nTeammembership, OpportunityTeam exists(Teammembership@teamid == OpportunityTeam@TeamId,\n\tnegate:false,\n\tbroadcast: 'auto')~> exists1\nexists1 select(mapColumn(\n\t\tteamid,\n\t\tsystemuserid,\n\t\tIsDelete\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> select1\nselect1 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tEDLPExtractId as string,\n\t\tCreatedById as string,\n\t\tCreatedDate as timestamp,\n\t\tCrmInstanceId as string,\n\t\tModifiedById as string,\n\t\tModifiedDate as timestamp,\n\t\tOdsCreatedDate as timestamp,\n\t\tOdsModifiedDate as timestamp,\n\t\tOdsStatus as integer,\n\t\tOpportunityId as string,\n\t\tOpportunityTeamId as integer,\n\t\tSystemUserId as string,\n\t\tTenantId as integer,\n\t\tVersionNumber as long,\n\t\tTeamId as string,\n\t\tEDLPExtractDateTime as timestamp,\n\t\tEDLPLoadTS as string,\n\t\tEDLPModifiedDateTime as timestamp,\n\t\tEDLPDeltaActionCode as string,\n\t\tExtractId as string,\n\t\tExtractDateTime as timestamp,\n\t\tLoadTS as timestamp,\n\t\tDeltaActionCode as string,\n\t\tPlatformCreatedDate as timestamp,\n\t\tPlatformModifiedDate as timestamp,\n\t\tPlatformModifiedDateAsInt as long\n\t),\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\trecreate:true,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError') ~> sink1"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyToSQLDB')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "tablelist",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "SqlServerSink",
											"preCopyScript": {
												"value": "if object_id ( '@{ item().name}' ) is not null drop table  @{ item().name}",
												"type": "Expression"
											},
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": true,
											"tableOption": "autoCreate"
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "source",
											"type": "DatasetReference",
											"parameters": {
												"tablename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "target",
											"type": "DatasetReference",
											"parameters": {
												"tablename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/fromEDLtoAzureSQL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "MSXmilestone",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "MSXOpportunity",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "MSXmilestone",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Milestone": {},
									"Opportunity": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "msxaccount",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "MSXOpportunity",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "msxaccount",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"msxaccount": {},
									"GBBOpportunity": {},
									"AccountForGBBOpp": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "OpportunityTeam",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Teammembership",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "OpportunityTeam",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"MSXOpportunityTeam": {},
									"teammembership": {},
									"OpportunityTeam": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "MSXOpportunity",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "OpportunityTeam",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "MSXOpportunity",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"msxopportunity": {},
									"OppTeamMap": {},
									"FocusMember": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "msxnote",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "msxnote",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"msxnote": {},
									"ower": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Teammembership",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Teammembership",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Teammembership": {},
									"focusMember": {},
									"SellerMembership": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "MSXCurrencyData",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "MSXCurrencyData",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"MSXCurrencySource": {},
									"currencydata": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "DimOpportunityFromOCDM",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "MSXOpportunity",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DimOpportunityFromOCDM",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"DimOppFromOCDM": {},
									"Opp": {},
									"DimSMBOppfromOCDM": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Script1",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "DimOpportunityFromOCDM",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "azoedbisqlprod",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "delete [MSXOpportunity] where OdsStatus  =1\n\nupdate o\nset CurrentSalesStageModifiedOn = o2.CurrentSalesStageModifiedOn\n\nfrom MSXOpportunity o left join DimOpportunityFromOCDM o2 on o.OpportunityId = o2.OpportunityId\n\nselect distinct opportunityid  from DimOpportunityFromOCDM"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2021-04-28T16:53:33Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "step3 Teammembership",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Step2 OpportunityTeam",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "step3 Teammembership",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Teammembership": {},
									"OpportunityTeam": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "step 1 InProg Opp",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "step 1 InProg Opp",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"DimOppFromOCDM": {},
									"DimSMBOppfromOCDM": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Step2 OpportunityTeam",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "step 1 InProg Opp",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Step2 OpportunityTeam",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"MSXOpportunityTeam": {},
									"InProgressOpp": {},
									"OpportunityTeam": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/step3 Teammembership')]",
				"[concat(variables('factoryId'), '/dataflows/step 1 InProg Opp')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Master')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "fromEDLtoAzureSQL",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "fromEDLtoAzureSQL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Stored procedure Create EPM Note",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "fromEDLtoAzureSQL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_Create_EPMNote]"
						},
						"linkedServiceName": {
							"referenceName": "azoedbisqlprod",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/fromEDLtoAzureSQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger1')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Master",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 12,
						"startTime": "2022-11-11T00:56:00",
						"timeZone": "Pacific Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Master')]"
			]
		}
	]
}