iotFeedbackEngagement/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "iotFeedbackEngagement"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/MSXOpportunityTeam_copy1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "azoedbisqlprod",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "v2"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "EDLPExtractId",
						"type": "nvarchar"
					},
					{
						"name": "CreatedById",
						"type": "nvarchar"
					},
					{
						"name": "CreatedDate",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "CrmInstanceId",
						"type": "nvarchar"
					},
					{
						"name": "ModifiedById",
						"type": "nvarchar"
					},
					{
						"name": "ModifiedDate",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "OdsCreatedDate",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "OdsModifiedDate",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "OdsStatus",
						"type": "int",
						"precision": 10
					},
					{
						"name": "OpportunityId",
						"type": "nvarchar"
					},
					{
						"name": "OpportunityTeamId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SystemUserId",
						"type": "nvarchar"
					},
					{
						"name": "TenantId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "VersionNumber",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "TeamId",
						"type": "nvarchar"
					},
					{
						"name": "EDLPExtractDateTime",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "EDLPLoadTS",
						"type": "nvarchar"
					},
					{
						"name": "EDLPModifiedDateTime",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "EDLPDeltaActionCode",
						"type": "nvarchar"
					},
					{
						"name": "ExtractId",
						"type": "nvarchar"
					},
					{
						"name": "ExtractDateTime",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "LoadTS",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "DeltaActionCode",
						"type": "nvarchar"
					},
					{
						"name": "PlatformCreatedDate",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "PlatformModifiedDate",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "PlatformModifiedDateAsInt",
						"type": "bigint",
						"precision": 19
					}
				],
				"typeProperties": {
					"table": "MSXOpportunityTeamv2"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MSXOpportunity_copy1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "azoedbisqlprod",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "v2"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "OpportunityId",
						"type": "nvarchar"
					},
					{
						"name": "AntipiracyEngagementTypeId",
						"type": "nvarchar"
					},
					{
						"name": "CampaignId",
						"type": "nvarchar"
					},
					{
						"name": "ConsentToSendToPartnerBy",
						"type": "nvarchar"
					},
					{
						"name": "LicensingProgramId",
						"type": "nvarchar"
					},
					{
						"name": "OriginatingLeadId",
						"type": "nvarchar"
					},
					{
						"name": "OwnerId",
						"type": "nvarchar"
					},
					{
						"name": "AccountId",
						"type": "nvarchar"
					},
					{
						"name": "PrimarySponsorContactId",
						"type": "nvarchar"
					},
					{
						"name": "ParentOpportunityId",
						"type": "nvarchar"
					},
					{
						"name": "PartnerAccountId",
						"type": "nvarchar"
					},
					{
						"name": "PriceLevelId",
						"type": "nvarchar"
					},
					{
						"name": "CurrencyId",
						"type": "nvarchar"
					},
					{
						"name": "ConsentToSendToPartnerCode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ConsentToSendToPartner",
						"type": "nvarchar"
					},
					{
						"name": "ConsentToSendToPartnerSeqNo",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "OpportunitySourceCode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "OpportunitySource",
						"type": "nvarchar"
					},
					{
						"name": "OpportunitySourceSeqNo",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "PurchaseTimeFrameCode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PurchaseTimeFrame",
						"type": "nvarchar"
					},
					{
						"name": "PurchaseTimeFrameSeqNo",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "RecommendationCode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Recommendation",
						"type": "nvarchar"
					},
					{
						"name": "RecommendationSeqNo",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "SourceSubTypeCode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SourceSubType",
						"type": "nvarchar"
					},
					{
						"name": "SourceSubTypeSeqNo",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "ActualCloseDate",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "Actualvalue",
						"type": "float",
						"precision": 15
					},
					{
						"name": "AgreedToBuy",
						"type": "bit"
					},
					{
						"name": "BudgetAmount",
						"type": "float",
						"precision": 15
					},
					{
						"name": "CompleteFinalProposal",
						"type": "bit"
					},
					{
						"name": "IsOrderComplete",
						"type": "bit"
					},
					{
						"name": "IsQuoteComplete",
						"type": "bit"
					},
					{
						"name": "IsConclusionLetterSent",
						"type": "bit"
					},
					{
						"name": "HasCustomerAgreedToBuy",
						"type": "bit"
					},
					{
						"name": "Need",
						"type": "nvarchar"
					},
					{
						"name": "IsELPAgreementSecured",
						"type": "bit"
					},
					{
						"name": "IsELPUploaded",
						"type": "bit"
					},
					{
						"name": "EstimatedCloseDate",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "EstimatedValue",
						"type": "float",
						"precision": 15
					},
					{
						"name": "EvaluationPlan",
						"type": "bit"
					},
					{
						"name": "FinalConsumptionPlan",
						"type": "bit"
					},
					{
						"name": "ForecastComments",
						"type": "nvarchar"
					},
					{
						"name": "HighLevelSolutionDesign",
						"type": "bit"
					},
					{
						"name": "IsIdentifyCompetitorsComplete",
						"type": "bit"
					},
					{
						"name": "IsIdentifyBuyingTeamComplete",
						"type": "bit"
					},
					{
						"name": "IsIdentifyLineItemsComplete",
						"type": "bit"
					},
					{
						"name": "IsIdentifySalesTeamComplete",
						"type": "bit"
					},
					{
						"name": "InitialBusinessCase",
						"type": "bit"
					},
					{
						"name": "IsInternalAgreementSecured",
						"type": "bit"
					},
					{
						"name": "IsRevenueSystemCalculated",
						"type": "bit"
					},
					{
						"name": "IsLetterOfEngagementAccepted",
						"type": "bit"
					},
					{
						"name": "Topic",
						"type": "nvarchar"
					},
					{
						"name": "OpportunityNumber",
						"type": "nvarchar"
					},
					{
						"name": "IsPartnerFundingSecured",
						"type": "bit"
					},
					{
						"name": "PrelimConsumptionPlan",
						"type": "bit"
					},
					{
						"name": "IsPurchaseArrangementSecured",
						"type": "bit"
					},
					{
						"name": "CrmInstanceId",
						"type": "nvarchar"
					},
					{
						"name": "CreatedById",
						"type": "nvarchar"
					},
					{
						"name": "CreatedDate",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "ModifiedById",
						"type": "nvarchar"
					},
					{
						"name": "ModifiedDate",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "StateCode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Status",
						"type": "nvarchar"
					},
					{
						"name": "StatusSeqNo",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "StatusCode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "StatusReason",
						"type": "nvarchar"
					},
					{
						"name": "StatusReasonSeqNo",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "OdsCreatedDate",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "OdsModifiedDate",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "VersionNumber",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "TenantId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "NumberOfDials",
						"type": "int",
						"precision": 10
					},
					{
						"name": "OpportunityTenantId",
						"type": "nvarchar"
					},
					{
						"name": "PriorityCode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Priority",
						"type": "nvarchar"
					},
					{
						"name": "PrioritySeqNo",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "ProductSKU",
						"type": "nvarchar"
					},
					{
						"name": "RegistrationDate",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "SubscriptionId",
						"type": "nvarchar"
					},
					{
						"name": "OriginalPartnerModifiedBy",
						"type": "nvarchar"
					},
					{
						"name": "OpportunityCopyTypeCode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "OpportunityCopyType",
						"type": "nvarchar"
					},
					{
						"name": "OpportunityCopyTypeSeqNo",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "OriginatingOpportunity",
						"type": "nvarchar"
					},
					{
						"name": "SendToPartner",
						"type": "bit"
					},
					{
						"name": "cosellcode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "cosell",
						"type": "nvarchar"
					},
					{
						"name": "cosellSeqNo",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "PullForwardDate",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "OdsStatus",
						"type": "int",
						"precision": 10
					},
					{
						"name": "OpportunityScore",
						"type": "float",
						"precision": 15
					},
					{
						"name": "partnermotioncode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "partnermotion",
						"type": "nvarchar"
					},
					{
						"name": "partnermotionSeqNo",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "closestatuscode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "closestatus",
						"type": "nvarchar"
					},
					{
						"name": "closestatusSeqNo",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "PricePointDetails",
						"type": "nvarchar"
					},
					{
						"name": "BilledRevenue",
						"type": "float",
						"precision": 15
					},
					{
						"name": "complexitycode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "complexity",
						"type": "nvarchar"
					},
					{
						"name": "complexitySeqNo",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "CriticalDeal",
						"type": "bit"
					},
					{
						"name": "dealtypecode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "dealtype",
						"type": "nvarchar"
					},
					{
						"name": "dealtypeSeqNo",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "EnrollmentNumber",
						"type": "nvarchar"
					},
					{
						"name": "EstROCArrivalDate",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "LicensingContact",
						"type": "nvarchar"
					},
					{
						"name": "LSSODMComments",
						"type": "nvarchar"
					},
					{
						"name": "NoofTenants",
						"type": "int",
						"precision": 10
					},
					{
						"name": "transactiontypecode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "transactiontype",
						"type": "nvarchar"
					},
					{
						"name": "transactiontypeSeqNo",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "operationscontact",
						"type": "nvarchar"
					},
					{
						"name": "attachedservices",
						"type": "bit"
					},
					{
						"name": "clanumber",
						"type": "nvarchar"
					},
					{
						"name": "closeplan",
						"type": "nvarchar"
					},
					{
						"name": "cpumodelseriescode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "cpumodelseries",
						"type": "nvarchar"
					},
					{
						"name": "cpumodelseriesSeqNo",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "devicecategorycode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "devicecategory",
						"type": "nvarchar"
					},
					{
						"name": "devicecategorySeqNo",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "microsoftazureiotcertifieddevice",
						"type": "bit"
					},
					{
						"name": "solutiondesignindate",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "solutionstartdate",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "owningBusinessUnit",
						"type": "nvarchar"
					},
					{
						"name": "finaldecisiondate",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "IsQualified",
						"type": "int",
						"precision": 10
					},
					{
						"name": "competethreatlevelcode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "competethreatlevel",
						"type": "nvarchar"
					},
					{
						"name": "competethreatlevelSeqNo",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "primarycompetitor",
						"type": "nvarchar"
					},
					{
						"name": "othercompetitor",
						"type": "nvarchar"
					},
					{
						"name": "rvtvalidationready",
						"type": "bit"
					},
					{
						"name": "CurrentSalesStageModifiedOn",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "PlatformCreatedDate",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "PlatformModifiedDate",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "PlatformModifiedDateAsInt",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "correctedecid",
						"type": "nvarchar"
					},
					{
						"name": "PartnerReferral",
						"type": "nvarchar"
					},
					{
						"name": "rvtstatuscode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "rvtstatus",
						"type": "nvarchar"
					},
					{
						"name": "rvtstatusSeqNo",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "newenrollmentnumber",
						"type": "nvarchar"
					},
					{
						"name": "lastshipmentdate",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "baseopportunitycode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "baseopportunity",
						"type": "nvarchar"
					},
					{
						"name": "baseopportunitySeqNo",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "AdhocSurvey",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SurveyResponseRejectionCounts",
						"type": "int",
						"precision": 10
					},
					{
						"name": "accessecifcode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "accessecif",
						"type": "nvarchar"
					},
					{
						"name": "accessecifSeqNo",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "CompleteTechnicalClosePlan",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "CompleteWorkshop",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "ConfirmTrial",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "deliverinitialpitchcode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "deliverinitialpitch",
						"type": "nvarchar"
					},
					{
						"name": "deliverinitialpitchSeqNo",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "delivertechnicalcasecode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "delivertechnicalcase",
						"type": "nvarchar"
					},
					{
						"name": "delivertechnicalcaseSeqNo",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "demonstrateroicode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "demonstrateroi",
						"type": "nvarchar"
					},
					{
						"name": "demonstrateroiSeqNo",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "engagefasttrackcode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "engagefasttrack",
						"type": "nvarchar"
					},
					{
						"name": "engagefasttrackSeqNo",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "EngageServices",
						"type": "nvarchar"
					},
					{
						"name": "selectsalesplaycode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "selectsalesplay",
						"type": "nvarchar"
					},
					{
						"name": "selectsalesplaySeqNo",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "sharebompricingcode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "sharebompricing",
						"type": "nvarchar"
					},
					{
						"name": "sharebompricingSeqNo",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "extractid",
						"type": "nvarchar"
					},
					{
						"name": "extractdatetime",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "loadts",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "deltaactioncode",
						"type": "nvarchar"
					},
					{
						"name": "bizappssalesplay",
						"type": "nvarchar"
					},
					{
						"name": "bizappssalesplaycode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "bizappssalesplaySeqNo",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "commercialconstructapprovedbycustomer",
						"type": "nvarchar"
					},
					{
						"name": "commercialconstructapprovedbycustomercode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "commercialconstructapprovedbycustomerSeqNo",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "CompleteClosePlan",
						"type": "bit"
					},
					{
						"name": "completejointcatalystengagementplan",
						"type": "nvarchar"
					},
					{
						"name": "completejointcatalystengagementplancode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "completejointcatalystengagementplanSeqNo",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "completetechnicalassessment",
						"type": "nvarchar"
					},
					{
						"name": "completetechnicalassessmentcode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "completetechnicalassessmentSeqNo",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "contractsignaturetype",
						"type": "nvarchar"
					},
					{
						"name": "contractsignaturetypecode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "contractsignaturetypeSeqNo",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "createbusinessvalueassessment",
						"type": "nvarchar"
					},
					{
						"name": "createbusinessvalueassessmentcode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "createbusinessvalueassessmentSeqNo",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "customersignoffonassessments",
						"type": "nvarchar"
					},
					{
						"name": "customersignoffonassessmentscode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "customersignoffonassessmentsSeqNo",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "customersuccessplanworkshopcomplete",
						"type": "nvarchar"
					},
					{
						"name": "customersuccessplanworkshopcompletecode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "customersuccessplanworkshopcompleteSeqNo",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "deliverbusinessvalueenlighten",
						"type": "nvarchar"
					},
					{
						"name": "deliverbusinessvalueenlightencode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "deliverbusinessvalueenlightenSeqNo",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "deliverenvisioningworkshop",
						"type": "nvarchar"
					},
					{
						"name": "deliverenvisioningworkshopcode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "deliverenvisioningworkshopSeqNo",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "delivertailoreddemonstration",
						"type": "nvarchar"
					},
					{
						"name": "delivertailoreddemonstrationcode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "delivertailoreddemonstrationSeqNo",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "delivertransformationplan",
						"type": "nvarchar"
					},
					{
						"name": "delivertransformationplancode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "delivertransformationplanSeqNo",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "engagedwrawrforecif",
						"type": "nvarchar"
					},
					{
						"name": "engagedwrawrforecifcode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "engagedwrawrforecifSeqNo",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "engagegbb",
						"type": "nvarchar"
					},
					{
						"name": "engagegbbcode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "engagegbbSeqNo",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "engagemicrosoftexecutivewithcustomercxo",
						"type": "nvarchar"
					},
					{
						"name": "engagemicrosoftexecutivewithcustomercxocode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "engagemicrosoftexecutivewithcustomercxoSeqNo",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "HandovertoCSMorPCSM",
						"type": "bit"
					},
					{
						"name": "salesplay",
						"type": "nvarchar"
					},
					{
						"name": "salesplaySeqNo",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "solutionarea",
						"type": "nvarchar"
					},
					{
						"name": "solutionareaSeqNo",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "technicalcapability",
						"type": "nvarchar"
					},
					{
						"name": "technicalcapabilitySeqNo",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "pilotsolutionSeqNo",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "presentbusinesscaseSeqNo",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "presentdealoptionsSeqNo",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "RapidResponse",
						"type": "bit"
					},
					{
						"name": "transitiontocsupartnerSeqNo",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "alignonbusinessimpactSeqNo",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "alignonsolutionapproachSeqNo",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "ClaimTPID",
						"type": "nvarchar"
					},
					{
						"name": "CompleteDeploymentWorkshop",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "completepredeploymentworkshopSeqNo",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "completetrialSeqNo",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "conductpocSeqNo",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "engagecosellprioritizedpartnerSeqNo",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "executedigitalimmersionSeqNo",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "identifybusinessdecisionmakersSeqNo",
						"type": "bigint",
						"precision": 19
					}
				],
				"typeProperties": {
					"table": "MSXOpportunityv2"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/target')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "GBB",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"tablename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"table": {
						"value": "@dataset().tablename",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MSXCurrencyData')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "Infra Engagement"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"linkedService": {
								"referenceName": "msxdatalake",
								"type": "LinkedServiceReference"
							},
							"name": "MSXCurrencySource"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "MSXCurrencydata",
								"type": "DatasetReference"
							},
							"name": "currencydata"
						}
					],
					"transformations": [],
					"script": "source(output(\n\t\tEDLPExtractId as string,\n\t\tCreatedById as string,\n\t\tCreatedDate as timestamp,\n\t\tCrmInstanceId as string,\n\t\tCurrencyId as string,\n\t\tCurrencyName as string,\n\t\tCurrencyPrecision as integer,\n\t\tCurrencySymbol as string,\n\t\tExchangeRate as double,\n\t\tIsoCurrencyCode as string,\n\t\tModifiedById as string,\n\t\tModifiedDate as timestamp,\n\t\tOdsCreatedDate as timestamp,\n\t\tOdsModifiedDate as timestamp,\n\t\tOdsStatus as integer,\n\t\tStateCode as integer,\n\t\tStatus as string,\n\t\tStatusCode as integer,\n\t\tStatusReason as string,\n\t\tStatusReasonSeqNo as long,\n\t\tStatusSeqNo as long,\n\t\tTenantId as integer,\n\t\tVersionNumber as long,\n\t\tEDLPExtractDateTime as timestamp,\n\t\tEDLPLoadTS as string,\n\t\tEDLPModifiedDateTime as timestamp,\n\t\tEDLPDeltaActionCode as string,\n\t\tExtractId as string,\n\t\tExtractDateTime as timestamp,\n\t\tLoadTS as timestamp,\n\t\tDeltaActionCode as string,\n\t\tPlatformCreatedDate as timestamp,\n\t\tPlatformModifiedDate as timestamp,\n\t\tPlatformModifiedDateAsInt as long\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tformat: 'delta',\n\tfileSystem: 'cseo',\n\tfolderPath: 'standardized/masterandreference/msx/hub_vw_currency/v1/standard') ~> MSXCurrencySource\nMSXCurrencySource sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\trecreate:true,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError') ~> currencydata"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MSXOpportunity')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "Infra Engagement"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"linkedService": {
								"referenceName": "msxdatalake",
								"type": "LinkedServiceReference"
							},
							"name": "msxopportunity"
						},
						{
							"dataset": {
								"referenceName": "msxnote",
								"type": "DatasetReference"
							},
							"name": "Note"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "MSXOpportunity",
								"type": "DatasetReference"
							},
							"name": "Opportunity"
						}
					],
					"transformations": [
						{
							"name": "FilterOpp"
						},
						{
							"name": "exists1"
						},
						{
							"name": "filterStatusOpen"
						},
						{
							"name": "filterOppType"
						}
					],
					"script": "source(output(\n\t\tEDLPExtractId as string,\n\t\taccessecif as string,\n\t\taccessecifcode as integer,\n\t\taccessecifSeqNo as long,\n\t\tAccountId as string,\n\t\tActualCloseDate as timestamp,\n\t\tActualvalue as double,\n\t\tAdhocSurvey as integer,\n\t\tAgreedToBuy as boolean,\n\t\talignonbusinessimpactSeqNo as long,\n\t\talignonsolutionapproachSeqNo as long,\n\t\tAntipiracyEngagementTypeId as string,\n\t\tattachedservices as boolean,\n\t\tbaseopportunity as string,\n\t\tbaseopportunitycode as integer,\n\t\tbaseopportunitySeqNo as long,\n\t\tBilledRevenue as double,\n\t\tbizappssalesplay as string,\n\t\tbizappssalesplaycode as integer,\n\t\tbizappssalesplaySeqNo as long,\n\t\tBudgetAmount as double,\n\t\tCampaignId as string,\n\t\tClaimTPID as string,\n\t\tclanumber as string,\n\t\tcloseplan as string,\n\t\tclosestatus as string,\n\t\tclosestatuscode as integer,\n\t\tclosestatusSeqNo as long,\n\t\tcommercialconstructapprovedbycustomer as string,\n\t\tcommercialconstructapprovedbycustomercode as integer,\n\t\tcommercialconstructapprovedbycustomerSeqNo as long,\n\t\tcompetethreatlevel as string,\n\t\tcompetethreatlevelcode as integer,\n\t\tcompetethreatlevelSeqNo as long,\n\t\tCompleteClosePlan as boolean,\n\t\tCompleteDeploymentWorkshop as timestamp,\n\t\tCompleteFinalProposal as boolean,\n\t\tcompletejointcatalystengagementplan as string,\n\t\tcompletejointcatalystengagementplancode as integer,\n\t\tcompletejointcatalystengagementplanSeqNo as long,\n\t\tcompletepredeploymentworkshopSeqNo as long,\n\t\tcompletetechnicalassessment as string,\n\t\tcompletetechnicalassessmentcode as integer,\n\t\tcompletetechnicalassessmentSeqNo as long,\n\t\tCompleteTechnicalClosePlan as timestamp,\n\t\tcompletetrialSeqNo as long,\n\t\tCompleteWorkshop as timestamp,\n\t\tcomplexity as string,\n\t\tcomplexitycode as integer,\n\t\tcomplexitySeqNo as long,\n\t\tconductpocSeqNo as long,\n\t\tConfirmTrial as timestamp,\n\t\tConsentToSendToPartner as string,\n\t\tConsentToSendToPartnerBy as string,\n\t\tConsentToSendToPartnerCode as integer,\n\t\tConsentToSendToPartnerSeqNo as long,\n\t\tcontractsignaturetype as string,\n\t\tcontractsignaturetypecode as integer,\n\t\tcontractsignaturetypeSeqNo as long,\n\t\tcorrectedecid as string,\n\t\tcosell as string,\n\t\tcosellcode as integer,\n\t\tcosellSeqNo as long,\n\t\tcpumodelseries as string,\n\t\tcpumodelseriescode as integer,\n\t\tcpumodelseriesSeqNo as long,\n\t\tcreatebusinessvalueassessment as string,\n\t\tcreatebusinessvalueassessmentcode as integer,\n\t\tcreatebusinessvalueassessmentSeqNo as long,\n\t\tCreatedById as string,\n\t\tCreatedDate as timestamp,\n\t\tCriticalDeal as boolean,\n\t\tCrmInstanceId as string,\n\t\tCurrencyId as string,\n\t\tCurrentSalesStageModifiedOn as timestamp,\n\t\tcustomersignoffonassessments as string,\n\t\tcustomersignoffonassessmentscode as integer,\n\t\tcustomersignoffonassessmentsSeqNo as long,\n\t\tcustomersuccessplanworkshopcomplete as string,\n\t\tcustomersuccessplanworkshopcompletecode as integer,\n\t\tcustomersuccessplanworkshopcompleteSeqNo as long,\n\t\tdealtype as string,\n\t\tdealtypecode as integer,\n\t\tdealtypeSeqNo as long,\n\t\tdeliverbusinessvalueenlighten as string,\n\t\tdeliverbusinessvalueenlightencode as integer,\n\t\tdeliverbusinessvalueenlightenSeqNo as long,\n\t\tdeliverenvisioningworkshop as string,\n\t\tdeliverenvisioningworkshopcode as integer,\n\t\tdeliverenvisioningworkshopSeqNo as long,\n\t\tdeliverinitialpitch as string,\n\t\tdeliverinitialpitchcode as integer,\n\t\tdeliverinitialpitchSeqNo as long,\n\t\tdelivertailoreddemonstration as string,\n\t\tdelivertailoreddemonstrationcode as integer,\n\t\tdelivertailoreddemonstrationSeqNo as long,\n\t\tdelivertechnicalcase as string,\n\t\tdelivertechnicalcasecode as integer,\n\t\tdelivertechnicalcaseSeqNo as long,\n\t\tdelivertransformationplan as string,\n\t\tdelivertransformationplancode as integer,\n\t\tdelivertransformationplanSeqNo as long,\n\t\tdemonstrateroi as string,\n\t\tdemonstrateroicode as integer,\n\t\tdemonstrateroiSeqNo as long,\n\t\tdevicecategory as string,\n\t\tdevicecategorycode as integer,\n\t\tdevicecategorySeqNo as long,\n\t\tengagecosellprioritizedpartnerSeqNo as long,\n\t\tengagedwrawrforecif as string,\n\t\tengagedwrawrforecifcode as integer,\n\t\tengagedwrawrforecifSeqNo as long,\n\t\tengagefasttrack as string,\n\t\tengagefasttrackcode as integer,\n\t\tengagefasttrackSeqNo as long,\n\t\tengagegbb as string,\n\t\tengagegbbcode as integer,\n\t\tengagegbbSeqNo as long,\n\t\tengagemicrosoftexecutivewithcustomercxo as string,\n\t\tengagemicrosoftexecutivewithcustomercxocode as integer,\n\t\tengagemicrosoftexecutivewithcustomercxoSeqNo as long,\n\t\tEngageServices as string,\n\t\tEnrollmentNumber as string,\n\t\tEstimatedCloseDate as timestamp,\n\t\tEstimatedValue as double,\n\t\tEstROCArrivalDate as timestamp,\n\t\tEvaluationPlan as boolean,\n\t\texecutedigitalimmersionSeqNo as long,\n\t\tFinalConsumptionPlan as boolean,\n\t\tfinaldecisiondate as timestamp,\n\t\tForecastComments as string,\n\t\tForecastComments_LastModifiedBy_Lookup as string,\n\t\tForecastComments_LastModifiedOn_DateTime as timestamp,\n\t\tHandovertoCSMorPCSM as boolean,\n\t\tHasCustomerAgreedToBuy as boolean,\n\t\tHighLevelSolutionDesign as boolean,\n\t\tidentifybusinessdecisionmakersSeqNo as long,\n\t\tInitialBusinessCase as boolean,\n\t\tIsConclusionLetterSent as boolean,\n\t\tIsELPAgreementSecured as boolean,\n\t\tIsELPUploaded as boolean,\n\t\tIsIdentifyBuyingTeamComplete as boolean,\n\t\tIsIdentifyCompetitorsComplete as boolean,\n\t\tIsIdentifyLineItemsComplete as boolean,\n\t\tIsIdentifySalesTeamComplete as boolean,\n\t\tIsInternalAgreementSecured as boolean,\n\t\tIsLetterOfEngagementAccepted as boolean,\n\t\tIsOrderComplete as boolean,\n\t\tIsPartnerFundingSecured as boolean,\n\t\tIsPurchaseArrangementSecured as boolean,\n\t\tIsQuoteComplete as boolean,\n\t\tIsRevenueSystemCalculated as boolean,\n\t\tlastshipmentdate as timestamp,\n\t\tLicensingContact as string,\n\t\tLicensingProgramId as string,\n\t\tLSSODMComments as string,\n\t\tmicrosoftazureiotcertifieddevice as boolean,\n\t\tModifiedById as string,\n\t\tModifiedDate as timestamp,\n\t\tNeed as string,\n\t\tnewenrollmentnumber as string,\n\t\tNoofTenants as integer,\n\t\tNumberOfDials as integer,\n\t\tOdsCreatedDate as timestamp,\n\t\tOdsModifiedDate as timestamp,\n\t\tOdsStatus as integer,\n\t\toperationscontact as string,\n\t\tOpportunityCopyType as string,\n\t\tOpportunityCopyTypeCode as integer,\n\t\tOpportunityCopyTypeSeqNo as long,\n\t\tOpportunityId as string,\n\t\tOpportunityNumber as string,\n\t\tOpportunityScore as double,\n\t\tOpportunitySource as string,\n\t\tOpportunitySourceCode as integer,\n\t\tOpportunitySourceSeqNo as long,\n\t\tOpportunityTenantId as string,\n\t\tOriginalPartnerModifiedBy as string,\n\t\tOriginatingLeadId as string,\n\t\tOriginatingOpportunity as string,\n\t\tothercompetitor as string,\n\t\tOwnerId as string,\n\t\towningBusinessUnit as string,\n\t\tParentOpportunityId as string,\n\t\tPartnerAccountId as string,\n\t\tpartnermotion as string,\n\t\tpartnermotioncode as integer,\n\t\tpartnermotionSeqNo as long,\n\t\tPartnerReferral as string,\n\t\tpilotsolutionSeqNo as long,\n\t\tPrelimConsumptionPlan as boolean,\n\t\tpresentbusinesscaseSeqNo as long,\n\t\tpresentdealoptionsSeqNo as long,\n\t\tPriceLevelId as string,\n\t\tPricePointDetails as string,\n\t\tprimarycompetitor as string,\n\t\tPrimarySponsorContactId as string,\n\t\tPriority as string,\n\t\tPriorityCode as integer,\n\t\tPrioritySeqNo as long,\n\t\tProductSKU as string,\n\t\tPullForwardDate as timestamp,\n\t\tPurchaseTimeFrame as string,\n\t\tPurchaseTimeFrameCode as integer,\n\t\tPurchaseTimeFrameSeqNo as long,\n\t\tRapidResponse as boolean,\n\t\tRecommendation as string,\n\t\tRecommendationCode as integer,\n\t\tRecommendationSeqNo as long,\n\t\tRegistrationDate as timestamp,\n\t\trvtstatus as string,\n\t\trvtstatuscode as integer,\n\t\trvtstatusSeqNo as long,\n\t\trvtvalidationready as boolean,\n\t\tsalesplay as string,\n\t\tsalesplaySeqNo as long,\n\t\tselectsalesplay as string,\n\t\tselectsalesplaycode as integer,\n\t\tselectsalesplaySeqNo as long,\n\t\tSendToPartner as boolean,\n\t\tsharebompricing as string,\n\t\tsharebompricingcode as integer,\n\t\tsharebompricingSeqNo as long,\n\t\tsolutionarea as string,\n\t\tsolutionareaSeqNo as long,\n\t\tsolutiondesignindate as timestamp,\n\t\tsolutionstartdate as timestamp,\n\t\tSourceSubType as string,\n\t\tSourceSubTypeCode as integer,\n\t\tSourceSubTypeSeqNo as long,\n\t\tStateCode as integer,\n\t\tStatus as string,\n\t\tStatusCode as integer,\n\t\tStatusReason as string,\n\t\tStatusReasonSeqNo as long,\n\t\tStatusSeqNo as long,\n\t\tSubscriptionId as string,\n\t\tSurveyResponseRejectionCounts as integer,\n\t\ttechnicalcapability as string,\n\t\ttechnicalcapabilitySeqNo as long,\n\t\tTenantId as integer,\n\t\tTopic as string,\n\t\ttransactiontype as string,\n\t\ttransactiontypecode as integer,\n\t\ttransactiontypeSeqNo as long,\n\t\ttransitiontocsupartnerSeqNo as long,\n\t\tVersionNumber as long,\n\t\talignonbusinessimpactcode as integer,\n\t\talignonsolutionapproachcode as integer,\n\t\tcompletepredeploymentworkshopcode as integer,\n\t\tcompletetrialcode as integer,\n\t\tconductpoccode as integer,\n\t\tengagecosellprioritizedpartnercode as integer,\n\t\texecutedigitalimmersioncode as integer,\n\t\tidentifybusinessdecisionmakerscode as integer,\n\t\tpilotsolutioncode as integer,\n\t\tpresentbusinesscasecode as integer,\n\t\tpresentdealoptionscode as integer,\n\t\tsalesplaycode as integer,\n\t\tsolutionareacode as integer,\n\t\ttechnicalcapabilitycode as integer,\n\t\ttransitiontocsupartnercode as integer,\n\t\tAgreement as string,\n\t\tAgreementToProceedToContractNegotiation as boolean,\n\t\tConfirmTimelineAndBudgetStatus as boolean,\n\t\tCustomerAgreesSolutionIsTechnicallyViable as boolean,\n\t\tCustomerAgreesToPerformAProofOfConcept as boolean,\n\t\tCustomerAgreesWithMSValueProposition as boolean,\n\t\tCustomerApprovesBusinessCaseFramework as boolean,\n\t\tCustomerApprovesTechnicalCriteria as boolean,\n\t\tCustomerSignsContractOrAgreesToPlaceOrder as boolean,\n\t\tdemandresponsedealtype as string,\n\t\tdemandresponsedealtypecode as integer,\n\t\tIdentifyBuyingTeamStakeholders as boolean,\n\t\tInvoice as string,\n\t\tPresentCustomerWithFinalValueCaseProposal as boolean,\n\t\tActiveProcess as string,\n\t\tActiveSalesStage as string,\n\t\tActualBilledCloseDate as timestamp,\n\t\tActualConsumptionCloseDate as timestamp,\n\t\tAzureActiveDevicesNonRecurring as integer,\n\t\tAzureActiveDevicesRecurring as decimal(10,0),\n\t\tAzureConsumedNonRecurring as decimal(10,0),\n\t\tAzureConsumedNonRecurringBase as decimal(10,0),\n\t\tAzureConsumedRecurring as decimal(10,0),\n\t\tAzureConsumedRecurringBase as decimal(10,0),\n\t\tBilledClosingComments as string,\n\t\tBilledRevenueCloseReason as integer,\n\t\tBilledRevenueStatus as integer,\n\t\tBilledActualRevenueBase as decimal(10,0),\n\t\tBizAppsActiveDevicesNonRecurring as decimal(10,0),\n\t\tBizAppsActiveDevicesRecurring as decimal(10,0),\n\t\tBizAppsBACVNonRecurring as decimal(10,0),\n\t\tBizAppsBACVNonRecurringBase as decimal(10,0),\n\t\tBizAppsBACVRecurring as decimal(10,0),\n\t\tBizAppsBACVRecurringBase as decimal(10,0),\n\t\tConsumptionClosingComments as string,\n\t\tConsumptionStatus as integer,\n\t\tConsumptionStatusReason as integer,\n\t\tCustomerAgreementInPlace as integer,\n\t\tDesignAgreedWithCustomer as integer,\n\t\tEngagementNarrative as string,\n\t\tEngagementNextSteps as string,\n\t\tEstStartDate as timestamp,\n\t\tEstCompletionDate as timestamp,\n\t\tMigratedEngagementId as string,\n\t\tMigratedEngagementNumber as string,\n\t\tMilestonesFlag as string,\n\t\tOpportunityCompletedAndNextStepsIdentified as integer,\n\t\tOpportunityType as string,\n\t\tOutcomesMetAndBaselineMetricsInPlace as integer,\n\t\tProductFlags as string,\n\t\tQualifiedOpportunity as integer,\n\t\tSecurityActiveDevicesNonRecurring as decimal(10,0),\n\t\tSecurityActiveDevicesRecurring as decimal(10,0),\n\t\tSecurityConsumedNonRecurring as decimal(10,0),\n\t\tSecurityConsumedNonRecurringBase as decimal(10,0),\n\t\tSecurityConsumedRecurring as decimal(10,0),\n\t\tSecurityConsumedRecurringBase as decimal(10,0),\n\t\tAzureCapacityType as string,\n\t\tPreferredAzureRegion as integer,\n\t\tInitialStakeholderIdentificationComplete as integer,\n\t\tCustomerNeedsAndOutcomesDefine as integer,\n\t\tCustomerPrioritiesIdentified as integer,\n\t\tSolutionPlaysConfirmedDealTeamOrchest as integer,\n\t\tPartnersIdentifiedAndEngaged as integer,\n\t\tBusinessValueConsiderationsCompleted as integer,\n\t\tSolutionDesignValidatedWithCustomer as integer,\n\t\tTechnicalBusinessProofRequirementSide as integer,\n\t\tCustomersignedoffonproposesolution as integer,\n\t\tCustomerSuccessPlanReviewedWithCustomer as integer,\n\t\tCustomerCommitToProposal as integer,\n\t\tResourcesAlignAgainstDeliveryPlan as integer,\n\t\tChangeManagementPlanPlace as integer,\n\t\tSolutionDeliveredAgainstAgreedOutcome as integer,\n\t\tCustomerHealthMetricsAgreedWithMonitoring as integer,\n\t\tNextSetOfCustomerNeedsIdentify as integer,\n\t\tBusValueAndSuccessOutcomeMonitoringInPlac as integer,\n\t\tCustomerCanOperateAndMaintainSolution as integer,\n\t\tMigratedEngagementCreatedBy as string,\n\t\tCustomerSuccessPlanUpdated as integer,\n\t\tEDLPExtractDateTime as timestamp,\n\t\tEDLPLoadTS as string,\n\t\tEDLPModifiedDateTime as timestamp,\n\t\tEDLPDeltaActionCode as string,\n\t\tConsumedRecurring as decimal(10,0),\n\t\tConsumedRecurringBase as decimal(10,0),\n\t\tConsumedNonRecurring as decimal(10,0),\n\t\tConsumedNonRecurringBase as decimal(10,0),\n\t\tConsumptionActiveDevicesRecurring as decimal(10,0),\n\t\tConsumptionActiveDevicesNonRecurring as decimal(10,0),\n\t\tModernConsumedRecurring as decimal(10,0),\n\t\tModernConsumedRecurringBase as decimal(10,0),\n\t\tModernConsumedNonRecurring as decimal(10,0),\n\t\tModernConsumedNonRecurringBase as decimal(10,0),\n\t\tModernActiveDevicesRecurring as decimal(10,0),\n\t\tModernActiveDevicesNonRecurring as decimal(10,0),\n\t\tRiskScore as decimal(10,5)\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tformat: 'delta',\n\tfileSystem: 'cseo',\n\tfolderPath: 'standardized/masterandreference/msx/hub_vw_opportunity/v1/standard') ~> msxopportunity\nsource(output(\n\t\tEDLPExtractId as string,\n\t\tCreatedById as string,\n\t\tCreatedDate as timestamp,\n\t\tCrmInstanceId as string,\n\t\tDescription as string,\n\t\tFileName as string,\n\t\tIsDocument as boolean,\n\t\tModifiedById as string,\n\t\tModifiedDate as timestamp,\n\t\tNoteId as string,\n\t\tOdsCreatedDate as timestamp,\n\t\tOdsModifiedDate as timestamp,\n\t\tOdsStatus as integer,\n\t\tOwnerId as string,\n\t\towningBusinessUnit as string,\n\t\tRegardingEntityName as string,\n\t\tRegardingObjectId as string,\n\t\tTenantId as integer,\n\t\tTitle as string,\n\t\tVersionNumber as long,\n\t\tEDLPExtractDateTime as timestamp,\n\t\tEDLPLoadTS as string,\n\t\tEDLPModifiedDateTime as timestamp,\n\t\tEDLPDeltaActionCode as string,\n\t\tExtractId as string,\n\t\tExtractDateTime as timestamp,\n\t\tLoadTS as timestamp,\n\t\tDeltaActionCode as string,\n\t\tPlatformCreatedDate as timestamp,\n\t\tPlatformModifiedDate as timestamp,\n\t\tPlatformModifiedDateAsInt as long\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> Note\nNote filter(lower(RegardingEntityName) ==\"opportunity\") ~> FilterOpp\nmsxopportunity, FilterOpp exists(OpportunityId == RegardingObjectId,\n\tnegate:false,\n\tbroadcast: 'auto')~> exists1\nexists1 filter(lower(Status) == \"open\") ~> filterStatusOpen\nfilterStatusOpen filter(OpportunityType=='606820000;606820001' ||OpportunityType=='606820001') ~> filterOppType\nfilterOppType sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tOpportunityId as string,\n\t\tAntipiracyEngagementTypeId as string,\n\t\tCampaignId as string,\n\t\tConsentToSendToPartnerBy as string,\n\t\tLicensingProgramId as string,\n\t\tOriginatingLeadId as string,\n\t\tOwnerId as string,\n\t\tAccountId as string,\n\t\tPrimarySponsorContactId as string,\n\t\tParentOpportunityId as string,\n\t\tPartnerAccountId as string,\n\t\tPriceLevelId as string,\n\t\tCurrencyId as string,\n\t\tConsentToSendToPartnerCode as integer,\n\t\tConsentToSendToPartner as string,\n\t\tConsentToSendToPartnerSeqNo as long,\n\t\tOpportunitySourceCode as integer,\n\t\tOpportunitySource as string,\n\t\tOpportunitySourceSeqNo as long,\n\t\tPurchaseTimeFrameCode as integer,\n\t\tPurchaseTimeFrame as string,\n\t\tPurchaseTimeFrameSeqNo as long,\n\t\tRecommendationCode as integer,\n\t\tRecommendation as string,\n\t\tRecommendationSeqNo as long,\n\t\tSourceSubTypeCode as integer,\n\t\tSourceSubType as string,\n\t\tSourceSubTypeSeqNo as long,\n\t\tActualCloseDate as timestamp,\n\t\tActualvalue as double,\n\t\tAgreedToBuy as boolean,\n\t\tBudgetAmount as double,\n\t\tCompleteFinalProposal as boolean,\n\t\tIsOrderComplete as boolean,\n\t\tIsQuoteComplete as boolean,\n\t\tIsConclusionLetterSent as boolean,\n\t\tHasCustomerAgreedToBuy as boolean,\n\t\tNeed as string,\n\t\tIsELPAgreementSecured as boolean,\n\t\tIsELPUploaded as boolean,\n\t\tEstimatedCloseDate as timestamp,\n\t\tEstimatedValue as double,\n\t\tEvaluationPlan as boolean,\n\t\tFinalConsumptionPlan as boolean,\n\t\tForecastComments as string,\n\t\tHighLevelSolutionDesign as boolean,\n\t\tIsIdentifyCompetitorsComplete as boolean,\n\t\tIsIdentifyBuyingTeamComplete as boolean,\n\t\tIsIdentifyLineItemsComplete as boolean,\n\t\tIsIdentifySalesTeamComplete as boolean,\n\t\tInitialBusinessCase as boolean,\n\t\tIsInternalAgreementSecured as boolean,\n\t\tIsRevenueSystemCalculated as boolean,\n\t\tIsLetterOfEngagementAccepted as boolean,\n\t\tTopic as string,\n\t\tOpportunityNumber as string,\n\t\tIsPartnerFundingSecured as boolean,\n\t\tPrelimConsumptionPlan as boolean,\n\t\tIsPurchaseArrangementSecured as boolean,\n\t\tCrmInstanceId as string,\n\t\tCreatedById as string,\n\t\tCreatedDate as timestamp,\n\t\tModifiedById as string,\n\t\tModifiedDate as timestamp,\n\t\tStateCode as integer,\n\t\tStatus as string,\n\t\tStatusSeqNo as long,\n\t\tStatusCode as integer,\n\t\tStatusReason as string,\n\t\tStatusReasonSeqNo as long,\n\t\tOdsCreatedDate as timestamp,\n\t\tOdsModifiedDate as timestamp,\n\t\tVersionNumber as long,\n\t\tTenantId as integer,\n\t\tNumberOfDials as integer,\n\t\tOpportunityTenantId as string,\n\t\tPriorityCode as integer,\n\t\tPriority as string,\n\t\tPrioritySeqNo as long,\n\t\tProductSKU as string,\n\t\tRegistrationDate as timestamp,\n\t\tSubscriptionId as string,\n\t\tOriginalPartnerModifiedBy as string,\n\t\tOpportunityCopyTypeCode as integer,\n\t\tOpportunityCopyType as string,\n\t\tOpportunityCopyTypeSeqNo as long,\n\t\tOriginatingOpportunity as string,\n\t\tSendToPartner as boolean,\n\t\tcosellcode as integer,\n\t\tcosell as string,\n\t\tcosellSeqNo as long,\n\t\tPullForwardDate as timestamp,\n\t\tOdsStatus as integer,\n\t\tOpportunityScore as double,\n\t\tpartnermotioncode as integer,\n\t\tpartnermotion as string,\n\t\tpartnermotionSeqNo as long,\n\t\tclosestatuscode as integer,\n\t\tclosestatus as string,\n\t\tclosestatusSeqNo as long,\n\t\tPricePointDetails as string,\n\t\tBilledRevenue as double,\n\t\tcomplexitycode as integer,\n\t\tcomplexity as string,\n\t\tcomplexitySeqNo as long,\n\t\tCriticalDeal as boolean,\n\t\tdealtypecode as integer,\n\t\tdealtype as string,\n\t\tdealtypeSeqNo as long,\n\t\tEnrollmentNumber as string,\n\t\tEstROCArrivalDate as timestamp,\n\t\tLicensingContact as string,\n\t\tLSSODMComments as string,\n\t\tNoofTenants as integer,\n\t\ttransactiontypecode as integer,\n\t\ttransactiontype as string,\n\t\ttransactiontypeSeqNo as long,\n\t\toperationscontact as string,\n\t\tattachedservices as boolean,\n\t\tclanumber as string,\n\t\tcloseplan as string,\n\t\tcpumodelseriescode as integer,\n\t\tcpumodelseries as string,\n\t\tcpumodelseriesSeqNo as long,\n\t\tdevicecategorycode as integer,\n\t\tdevicecategory as string,\n\t\tdevicecategorySeqNo as long,\n\t\tmicrosoftazureiotcertifieddevice as boolean,\n\t\tsolutiondesignindate as timestamp,\n\t\tsolutionstartdate as timestamp,\n\t\towningBusinessUnit as string,\n\t\tfinaldecisiondate as timestamp,\n\t\tIsQualified as integer,\n\t\tcompetethreatlevelcode as integer,\n\t\tcompetethreatlevel as string,\n\t\tcompetethreatlevelSeqNo as long,\n\t\tprimarycompetitor as string,\n\t\tothercompetitor as string,\n\t\trvtvalidationready as boolean,\n\t\tCurrentSalesStageModifiedOn as timestamp,\n\t\tPlatformCreatedDate as timestamp,\n\t\tPlatformModifiedDate as timestamp,\n\t\tPlatformModifiedDateAsInt as long,\n\t\tcorrectedecid as string,\n\t\tPartnerReferral as string,\n\t\trvtstatuscode as integer,\n\t\trvtstatus as string,\n\t\trvtstatusSeqNo as long,\n\t\tnewenrollmentnumber as string,\n\t\tlastshipmentdate as timestamp,\n\t\tbaseopportunitycode as integer,\n\t\tbaseopportunity as string,\n\t\tbaseopportunitySeqNo as long,\n\t\tAdhocSurvey as integer,\n\t\tSurveyResponseRejectionCounts as integer,\n\t\taccessecifcode as integer,\n\t\taccessecif as string,\n\t\taccessecifSeqNo as long,\n\t\tCompleteTechnicalClosePlan as timestamp,\n\t\tCompleteWorkshop as timestamp,\n\t\tConfirmTrial as timestamp,\n\t\tdeliverinitialpitchcode as integer,\n\t\tdeliverinitialpitch as string,\n\t\tdeliverinitialpitchSeqNo as long,\n\t\tdelivertechnicalcasecode as integer,\n\t\tdelivertechnicalcase as string,\n\t\tdelivertechnicalcaseSeqNo as long,\n\t\tdemonstrateroicode as integer,\n\t\tdemonstrateroi as string,\n\t\tdemonstrateroiSeqNo as long,\n\t\tengagefasttrackcode as integer,\n\t\tengagefasttrack as string,\n\t\tengagefasttrackSeqNo as long,\n\t\tEngageServices as string,\n\t\tselectsalesplaycode as integer,\n\t\tselectsalesplay as string,\n\t\tselectsalesplaySeqNo as long,\n\t\tsharebompricingcode as integer,\n\t\tsharebompricing as string,\n\t\tsharebompricingSeqNo as long,\n\t\textractid as string,\n\t\textractdatetime as timestamp,\n\t\tloadts as timestamp,\n\t\tdeltaactioncode as string,\n\t\tbizappssalesplay as string,\n\t\tbizappssalesplaycode as integer,\n\t\tbizappssalesplaySeqNo as long,\n\t\tcommercialconstructapprovedbycustomer as string,\n\t\tcommercialconstructapprovedbycustomercode as integer,\n\t\tcommercialconstructapprovedbycustomerSeqNo as long,\n\t\tCompleteClosePlan as boolean,\n\t\tcompletejointcatalystengagementplan as string,\n\t\tcompletejointcatalystengagementplancode as integer,\n\t\tcompletejointcatalystengagementplanSeqNo as long,\n\t\tcompletetechnicalassessment as string,\n\t\tcompletetechnicalassessmentcode as integer,\n\t\tcompletetechnicalassessmentSeqNo as long,\n\t\tcontractsignaturetype as string,\n\t\tcontractsignaturetypecode as integer,\n\t\tcontractsignaturetypeSeqNo as long,\n\t\tcreatebusinessvalueassessment as string,\n\t\tcreatebusinessvalueassessmentcode as integer,\n\t\tcreatebusinessvalueassessmentSeqNo as long,\n\t\tcustomersignoffonassessments as string,\n\t\tcustomersignoffonassessmentscode as integer,\n\t\tcustomersignoffonassessmentsSeqNo as long,\n\t\tcustomersuccessplanworkshopcomplete as string,\n\t\tcustomersuccessplanworkshopcompletecode as integer,\n\t\tcustomersuccessplanworkshopcompleteSeqNo as long,\n\t\tdeliverbusinessvalueenlighten as string,\n\t\tdeliverbusinessvalueenlightencode as integer,\n\t\tdeliverbusinessvalueenlightenSeqNo as long,\n\t\tdeliverenvisioningworkshop as string,\n\t\tdeliverenvisioningworkshopcode as integer,\n\t\tdeliverenvisioningworkshopSeqNo as long,\n\t\tdelivertailoreddemonstration as string,\n\t\tdelivertailoreddemonstrationcode as integer,\n\t\tdelivertailoreddemonstrationSeqNo as long,\n\t\tdelivertransformationplan as string,\n\t\tdelivertransformationplancode as integer,\n\t\tdelivertransformationplanSeqNo as long,\n\t\tengagedwrawrforecif as string,\n\t\tengagedwrawrforecifcode as integer,\n\t\tengagedwrawrforecifSeqNo as long,\n\t\tengagegbb as string,\n\t\tengagegbbcode as integer,\n\t\tengagegbbSeqNo as long,\n\t\tengagemicrosoftexecutivewithcustomercxo as string,\n\t\tengagemicrosoftexecutivewithcustomercxocode as integer,\n\t\tengagemicrosoftexecutivewithcustomercxoSeqNo as long,\n\t\tHandovertoCSMorPCSM as boolean,\n\t\tsalesplay as string,\n\t\tsalesplaySeqNo as long,\n\t\tsolutionarea as string,\n\t\tsolutionareaSeqNo as long,\n\t\ttechnicalcapability as string,\n\t\ttechnicalcapabilitySeqNo as long,\n\t\tpilotsolutionSeqNo as long,\n\t\tpresentbusinesscaseSeqNo as long,\n\t\tpresentdealoptionsSeqNo as long,\n\t\tRapidResponse as boolean,\n\t\ttransitiontocsupartnerSeqNo as long,\n\t\talignonbusinessimpactSeqNo as long,\n\t\talignonsolutionapproachSeqNo as long,\n\t\tClaimTPID as string,\n\t\tCompleteDeploymentWorkshop as timestamp,\n\t\tcompletepredeploymentworkshopSeqNo as long,\n\t\tcompletetrialSeqNo as long,\n\t\tconductpocSeqNo as long,\n\t\tengagecosellprioritizedpartnerSeqNo as long,\n\t\texecutedigitalimmersionSeqNo as long,\n\t\tidentifybusinessdecisionmakersSeqNo as long\n\t),\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\trecreate:true,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError') ~> Opportunity"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MSXOpportunity_copy1')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "v2"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"linkedService": {
								"referenceName": "msxdatalake",
								"type": "LinkedServiceReference"
							},
							"name": "msxopportunity"
						},
						{
							"dataset": {
								"referenceName": "MSXOpportunityTeam",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "MSXOpportunity_copy1",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "exists1"
						}
					],
					"script": "source(output(\n\t\tEDLPExtractId as string,\n\t\taccessecif as string,\n\t\taccessecifcode as integer,\n\t\taccessecifSeqNo as long,\n\t\tAccountId as string,\n\t\tActualCloseDate as timestamp,\n\t\tActualvalue as double,\n\t\tAdhocSurvey as integer,\n\t\tAgreedToBuy as boolean,\n\t\talignonbusinessimpactSeqNo as long,\n\t\talignonsolutionapproachSeqNo as long,\n\t\tAntipiracyEngagementTypeId as string,\n\t\tattachedservices as boolean,\n\t\tbaseopportunity as string,\n\t\tbaseopportunitycode as integer,\n\t\tbaseopportunitySeqNo as long,\n\t\tBilledRevenue as double,\n\t\tbizappssalesplay as string,\n\t\tbizappssalesplaycode as integer,\n\t\tbizappssalesplaySeqNo as long,\n\t\tBudgetAmount as double,\n\t\tCampaignId as string,\n\t\tClaimTPID as string,\n\t\tclanumber as string,\n\t\tcloseplan as string,\n\t\tclosestatus as string,\n\t\tclosestatuscode as integer,\n\t\tclosestatusSeqNo as long,\n\t\tcommercialconstructapprovedbycustomer as string,\n\t\tcommercialconstructapprovedbycustomercode as integer,\n\t\tcommercialconstructapprovedbycustomerSeqNo as long,\n\t\tcompetethreatlevel as string,\n\t\tcompetethreatlevelcode as integer,\n\t\tcompetethreatlevelSeqNo as long,\n\t\tCompleteClosePlan as boolean,\n\t\tCompleteDeploymentWorkshop as timestamp,\n\t\tCompleteFinalProposal as boolean,\n\t\tcompletejointcatalystengagementplan as string,\n\t\tcompletejointcatalystengagementplancode as integer,\n\t\tcompletejointcatalystengagementplanSeqNo as long,\n\t\tcompletepredeploymentworkshopSeqNo as long,\n\t\tcompletetechnicalassessment as string,\n\t\tcompletetechnicalassessmentcode as integer,\n\t\tcompletetechnicalassessmentSeqNo as long,\n\t\tCompleteTechnicalClosePlan as timestamp,\n\t\tcompletetrialSeqNo as long,\n\t\tCompleteWorkshop as timestamp,\n\t\tcomplexity as string,\n\t\tcomplexitycode as integer,\n\t\tcomplexitySeqNo as long,\n\t\tconductpocSeqNo as long,\n\t\tConfirmTrial as timestamp,\n\t\tConsentToSendToPartner as string,\n\t\tConsentToSendToPartnerBy as string,\n\t\tConsentToSendToPartnerCode as integer,\n\t\tConsentToSendToPartnerSeqNo as long,\n\t\tcontractsignaturetype as string,\n\t\tcontractsignaturetypecode as integer,\n\t\tcontractsignaturetypeSeqNo as long,\n\t\tcorrectedecid as string,\n\t\tcosell as string,\n\t\tcosellcode as integer,\n\t\tcosellSeqNo as long,\n\t\tcpumodelseries as string,\n\t\tcpumodelseriescode as integer,\n\t\tcpumodelseriesSeqNo as long,\n\t\tcreatebusinessvalueassessment as string,\n\t\tcreatebusinessvalueassessmentcode as integer,\n\t\tcreatebusinessvalueassessmentSeqNo as long,\n\t\tCreatedById as string,\n\t\tCreatedDate as timestamp,\n\t\tCriticalDeal as boolean,\n\t\tCrmInstanceId as string,\n\t\tCurrencyId as string,\n\t\tCurrentSalesStageModifiedOn as timestamp,\n\t\tcustomersignoffonassessments as string,\n\t\tcustomersignoffonassessmentscode as integer,\n\t\tcustomersignoffonassessmentsSeqNo as long,\n\t\tcustomersuccessplanworkshopcomplete as string,\n\t\tcustomersuccessplanworkshopcompletecode as integer,\n\t\tcustomersuccessplanworkshopcompleteSeqNo as long,\n\t\tdealtype as string,\n\t\tdealtypecode as integer,\n\t\tdealtypeSeqNo as long,\n\t\tdeliverbusinessvalueenlighten as string,\n\t\tdeliverbusinessvalueenlightencode as integer,\n\t\tdeliverbusinessvalueenlightenSeqNo as long,\n\t\tdeliverenvisioningworkshop as string,\n\t\tdeliverenvisioningworkshopcode as integer,\n\t\tdeliverenvisioningworkshopSeqNo as long,\n\t\tdeliverinitialpitch as string,\n\t\tdeliverinitialpitchcode as integer,\n\t\tdeliverinitialpitchSeqNo as long,\n\t\tdelivertailoreddemonstration as string,\n\t\tdelivertailoreddemonstrationcode as integer,\n\t\tdelivertailoreddemonstrationSeqNo as long,\n\t\tdelivertechnicalcase as string,\n\t\tdelivertechnicalcasecode as integer,\n\t\tdelivertechnicalcaseSeqNo as long,\n\t\tdelivertransformationplan as string,\n\t\tdelivertransformationplancode as integer,\n\t\tdelivertransformationplanSeqNo as long,\n\t\tdemonstrateroi as string,\n\t\tdemonstrateroicode as integer,\n\t\tdemonstrateroiSeqNo as long,\n\t\tdevicecategory as string,\n\t\tdevicecategorycode as integer,\n\t\tdevicecategorySeqNo as long,\n\t\tengagecosellprioritizedpartnerSeqNo as long,\n\t\tengagedwrawrforecif as string,\n\t\tengagedwrawrforecifcode as integer,\n\t\tengagedwrawrforecifSeqNo as long,\n\t\tengagefasttrack as string,\n\t\tengagefasttrackcode as integer,\n\t\tengagefasttrackSeqNo as long,\n\t\tengagegbb as string,\n\t\tengagegbbcode as integer,\n\t\tengagegbbSeqNo as long,\n\t\tengagemicrosoftexecutivewithcustomercxo as string,\n\t\tengagemicrosoftexecutivewithcustomercxocode as integer,\n\t\tengagemicrosoftexecutivewithcustomercxoSeqNo as long,\n\t\tEngageServices as string,\n\t\tEnrollmentNumber as string,\n\t\tEstimatedCloseDate as timestamp,\n\t\tEstimatedValue as double,\n\t\tEstROCArrivalDate as timestamp,\n\t\tEvaluationPlan as boolean,\n\t\texecutedigitalimmersionSeqNo as long,\n\t\tFinalConsumptionPlan as boolean,\n\t\tfinaldecisiondate as timestamp,\n\t\tForecastComments as string,\n\t\tForecastComments_LastModifiedBy_Lookup as string,\n\t\tForecastComments_LastModifiedOn_DateTime as timestamp,\n\t\tHandovertoCSMorPCSM as boolean,\n\t\tHasCustomerAgreedToBuy as boolean,\n\t\tHighLevelSolutionDesign as boolean,\n\t\tidentifybusinessdecisionmakersSeqNo as long,\n\t\tInitialBusinessCase as boolean,\n\t\tIsConclusionLetterSent as boolean,\n\t\tIsELPAgreementSecured as boolean,\n\t\tIsELPUploaded as boolean,\n\t\tIsIdentifyBuyingTeamComplete as boolean,\n\t\tIsIdentifyCompetitorsComplete as boolean,\n\t\tIsIdentifyLineItemsComplete as boolean,\n\t\tIsIdentifySalesTeamComplete as boolean,\n\t\tIsInternalAgreementSecured as boolean,\n\t\tIsLetterOfEngagementAccepted as boolean,\n\t\tIsOrderComplete as boolean,\n\t\tIsPartnerFundingSecured as boolean,\n\t\tIsPurchaseArrangementSecured as boolean,\n\t\tIsQuoteComplete as boolean,\n\t\tIsRevenueSystemCalculated as boolean,\n\t\tlastshipmentdate as timestamp,\n\t\tLicensingContact as string,\n\t\tLicensingProgramId as string,\n\t\tLSSODMComments as string,\n\t\tmicrosoftazureiotcertifieddevice as boolean,\n\t\tModifiedById as string,\n\t\tModifiedDate as timestamp,\n\t\tNeed as string,\n\t\tnewenrollmentnumber as string,\n\t\tNoofTenants as integer,\n\t\tNumberOfDials as integer,\n\t\tOdsCreatedDate as timestamp,\n\t\tOdsModifiedDate as timestamp,\n\t\tOdsStatus as integer,\n\t\toperationscontact as string,\n\t\tOpportunityCopyType as string,\n\t\tOpportunityCopyTypeCode as integer,\n\t\tOpportunityCopyTypeSeqNo as long,\n\t\tOpportunityId as string,\n\t\tOpportunityNumber as string,\n\t\tOpportunityScore as double,\n\t\tOpportunitySource as string,\n\t\tOpportunitySourceCode as integer,\n\t\tOpportunitySourceSeqNo as long,\n\t\tOpportunityTenantId as string,\n\t\tOriginalPartnerModifiedBy as string,\n\t\tOriginatingLeadId as string,\n\t\tOriginatingOpportunity as string,\n\t\tothercompetitor as string,\n\t\tOwnerId as string,\n\t\towningBusinessUnit as string,\n\t\tParentOpportunityId as string,\n\t\tPartnerAccountId as string,\n\t\tpartnermotion as string,\n\t\tpartnermotioncode as integer,\n\t\tpartnermotionSeqNo as long,\n\t\tPartnerReferral as string,\n\t\tpilotsolutionSeqNo as long,\n\t\tPrelimConsumptionPlan as boolean,\n\t\tpresentbusinesscaseSeqNo as long,\n\t\tpresentdealoptionsSeqNo as long,\n\t\tPriceLevelId as string,\n\t\tPricePointDetails as string,\n\t\tprimarycompetitor as string,\n\t\tPrimarySponsorContactId as string,\n\t\tPriority as string,\n\t\tPriorityCode as integer,\n\t\tPrioritySeqNo as long,\n\t\tProductSKU as string,\n\t\tPullForwardDate as timestamp,\n\t\tPurchaseTimeFrame as string,\n\t\tPurchaseTimeFrameCode as integer,\n\t\tPurchaseTimeFrameSeqNo as long,\n\t\tRapidResponse as boolean,\n\t\tRecommendation as string,\n\t\tRecommendationCode as integer,\n\t\tRecommendationSeqNo as long,\n\t\tRegistrationDate as timestamp,\n\t\trvtstatus as string,\n\t\trvtstatuscode as integer,\n\t\trvtstatusSeqNo as long,\n\t\trvtvalidationready as boolean,\n\t\tsalesplay as string,\n\t\tsalesplaySeqNo as long,\n\t\tselectsalesplay as string,\n\t\tselectsalesplaycode as integer,\n\t\tselectsalesplaySeqNo as long,\n\t\tSendToPartner as boolean,\n\t\tsharebompricing as string,\n\t\tsharebompricingcode as integer,\n\t\tsharebompricingSeqNo as long,\n\t\tsolutionarea as string,\n\t\tsolutionareaSeqNo as long,\n\t\tsolutiondesignindate as timestamp,\n\t\tsolutionstartdate as timestamp,\n\t\tSourceSubType as string,\n\t\tSourceSubTypeCode as integer,\n\t\tSourceSubTypeSeqNo as long,\n\t\tStateCode as integer,\n\t\tStatus as string,\n\t\tStatusCode as integer,\n\t\tStatusReason as string,\n\t\tStatusReasonSeqNo as long,\n\t\tStatusSeqNo as long,\n\t\tSubscriptionId as string,\n\t\tSurveyResponseRejectionCounts as integer,\n\t\ttechnicalcapability as string,\n\t\ttechnicalcapabilitySeqNo as long,\n\t\tTenantId as integer,\n\t\tTopic as string,\n\t\ttransactiontype as string,\n\t\ttransactiontypecode as integer,\n\t\ttransactiontypeSeqNo as long,\n\t\ttransitiontocsupartnerSeqNo as long,\n\t\tVersionNumber as long,\n\t\talignonbusinessimpactcode as integer,\n\t\talignonsolutionapproachcode as integer,\n\t\tcompletepredeploymentworkshopcode as integer,\n\t\tcompletetrialcode as integer,\n\t\tconductpoccode as integer,\n\t\tengagecosellprioritizedpartnercode as integer,\n\t\texecutedigitalimmersioncode as integer,\n\t\tidentifybusinessdecisionmakerscode as integer,\n\t\tpilotsolutioncode as integer,\n\t\tpresentbusinesscasecode as integer,\n\t\tpresentdealoptionscode as integer,\n\t\tsalesplaycode as integer,\n\t\tsolutionareacode as integer,\n\t\ttechnicalcapabilitycode as integer,\n\t\ttransitiontocsupartnercode as integer,\n\t\tAgreement as string,\n\t\tAgreementToProceedToContractNegotiation as boolean,\n\t\tConfirmTimelineAndBudgetStatus as boolean,\n\t\tCustomerAgreesSolutionIsTechnicallyViable as boolean,\n\t\tCustomerAgreesToPerformAProofOfConcept as boolean,\n\t\tCustomerAgreesWithMSValueProposition as boolean,\n\t\tCustomerApprovesBusinessCaseFramework as boolean,\n\t\tCustomerApprovesTechnicalCriteria as boolean,\n\t\tCustomerSignsContractOrAgreesToPlaceOrder as boolean,\n\t\tdemandresponsedealtype as string,\n\t\tdemandresponsedealtypecode as integer,\n\t\tIdentifyBuyingTeamStakeholders as boolean,\n\t\tInvoice as string,\n\t\tPresentCustomerWithFinalValueCaseProposal as boolean,\n\t\tActiveProcess as string,\n\t\tActiveSalesStage as string,\n\t\tActualBilledCloseDate as timestamp,\n\t\tActualConsumptionCloseDate as timestamp,\n\t\tAzureActiveDevicesNonRecurring as integer,\n\t\tAzureActiveDevicesRecurring as decimal(10,0),\n\t\tAzureConsumedNonRecurring as decimal(10,0),\n\t\tAzureConsumedNonRecurringBase as decimal(10,0),\n\t\tAzureConsumedRecurring as decimal(10,0),\n\t\tAzureConsumedRecurringBase as decimal(10,0),\n\t\tBilledClosingComments as string,\n\t\tBilledRevenueCloseReason as integer,\n\t\tBilledRevenueStatus as integer,\n\t\tBilledActualRevenueBase as decimal(10,0),\n\t\tBizAppsActiveDevicesNonRecurring as decimal(10,0),\n\t\tBizAppsActiveDevicesRecurring as decimal(10,0),\n\t\tBizAppsBACVNonRecurring as decimal(10,0),\n\t\tBizAppsBACVNonRecurringBase as decimal(10,0),\n\t\tBizAppsBACVRecurring as decimal(10,0),\n\t\tBizAppsBACVRecurringBase as decimal(10,0),\n\t\tConsumptionClosingComments as string,\n\t\tConsumptionStatus as integer,\n\t\tConsumptionStatusReason as integer,\n\t\tCustomerAgreementInPlace as integer,\n\t\tDesignAgreedWithCustomer as integer,\n\t\tEngagementNarrative as string,\n\t\tEngagementNextSteps as string,\n\t\tEstStartDate as timestamp,\n\t\tEstCompletionDate as timestamp,\n\t\tMigratedEngagementId as string,\n\t\tMigratedEngagementNumber as string,\n\t\tMilestonesFlag as string,\n\t\tOpportunityCompletedAndNextStepsIdentified as integer,\n\t\tOpportunityType as string,\n\t\tOutcomesMetAndBaselineMetricsInPlace as integer,\n\t\tProductFlags as string,\n\t\tQualifiedOpportunity as integer,\n\t\tSecurityActiveDevicesNonRecurring as decimal(10,0),\n\t\tSecurityActiveDevicesRecurring as decimal(10,0),\n\t\tSecurityConsumedNonRecurring as decimal(10,0),\n\t\tSecurityConsumedNonRecurringBase as decimal(10,0),\n\t\tSecurityConsumedRecurring as decimal(10,0),\n\t\tSecurityConsumedRecurringBase as decimal(10,0),\n\t\tAzureCapacityType as string,\n\t\tPreferredAzureRegion as integer,\n\t\tInitialStakeholderIdentificationComplete as integer,\n\t\tCustomerNeedsAndOutcomesDefine as integer,\n\t\tCustomerPrioritiesIdentified as integer,\n\t\tSolutionPlaysConfirmedDealTeamOrchest as integer,\n\t\tPartnersIdentifiedAndEngaged as integer,\n\t\tBusinessValueConsiderationsCompleted as integer,\n\t\tSolutionDesignValidatedWithCustomer as integer,\n\t\tTechnicalBusinessProofRequirementSide as integer,\n\t\tCustomersignedoffonproposesolution as integer,\n\t\tCustomerSuccessPlanReviewedWithCustomer as integer,\n\t\tCustomerCommitToProposal as integer,\n\t\tResourcesAlignAgainstDeliveryPlan as integer,\n\t\tChangeManagementPlanPlace as integer,\n\t\tSolutionDeliveredAgainstAgreedOutcome as integer,\n\t\tCustomerHealthMetricsAgreedWithMonitoring as integer,\n\t\tNextSetOfCustomerNeedsIdentify as integer,\n\t\tBusValueAndSuccessOutcomeMonitoringInPlac as integer,\n\t\tCustomerCanOperateAndMaintainSolution as integer,\n\t\tMigratedEngagementCreatedBy as string,\n\t\tCustomerSuccessPlanUpdated as integer,\n\t\tEDLPExtractDateTime as timestamp,\n\t\tEDLPLoadTS as string,\n\t\tEDLPModifiedDateTime as timestamp,\n\t\tEDLPDeltaActionCode as string,\n\t\tConsumedRecurring as decimal(10,0),\n\t\tConsumedRecurringBase as decimal(10,0),\n\t\tConsumedNonRecurring as decimal(10,0),\n\t\tConsumedNonRecurringBase as decimal(10,0),\n\t\tConsumptionActiveDevicesRecurring as decimal(10,0),\n\t\tConsumptionActiveDevicesNonRecurring as decimal(10,0),\n\t\tModernConsumedRecurring as decimal(10,0),\n\t\tModernConsumedRecurringBase as decimal(10,0),\n\t\tModernConsumedNonRecurring as decimal(10,0),\n\t\tModernConsumedNonRecurringBase as decimal(10,0),\n\t\tModernActiveDevicesRecurring as decimal(10,0),\n\t\tModernActiveDevicesNonRecurring as decimal(10,0),\n\t\tRiskScore as decimal(10,5)\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tformat: 'delta',\n\tfileSystem: 'cseo',\n\tfolderPath: 'standardized/masterandreference/msx/hub_vw_opportunity/v1/standard') ~> msxopportunity\nsource(output(\n\t\tEDLPExtractId as string,\n\t\tCreatedById as string,\n\t\tCreatedDate as timestamp,\n\t\tCrmInstanceId as string,\n\t\tModifiedById as string,\n\t\tModifiedDate as timestamp,\n\t\tOdsCreatedDate as timestamp,\n\t\tOdsModifiedDate as timestamp,\n\t\tOdsStatus as integer,\n\t\tOpportunityId as string,\n\t\tOpportunityTeamId as integer,\n\t\tSystemUserId as string,\n\t\tTenantId as integer,\n\t\tVersionNumber as long,\n\t\tTeamId as string,\n\t\tEDLPExtractDateTime as timestamp,\n\t\tEDLPLoadTS as string,\n\t\tEDLPModifiedDateTime as timestamp,\n\t\tEDLPDeltaActionCode as string,\n\t\tExtractId as string,\n\t\tExtractDateTime as timestamp,\n\t\tLoadTS as timestamp,\n\t\tDeltaActionCode as string,\n\t\tPlatformCreatedDate as timestamp,\n\t\tPlatformModifiedDate as timestamp,\n\t\tPlatformModifiedDateAsInt as long\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> source1\nmsxopportunity, source1 exists(msxopportunity@OpportunityId == source1@OpportunityId,\n\tnegate:false,\n\tbroadcast: 'auto')~> exists1\nexists1 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tOpportunityId as string,\n\t\tAntipiracyEngagementTypeId as string,\n\t\tCampaignId as string,\n\t\tConsentToSendToPartnerBy as string,\n\t\tLicensingProgramId as string,\n\t\tOriginatingLeadId as string,\n\t\tOwnerId as string,\n\t\tAccountId as string,\n\t\tPrimarySponsorContactId as string,\n\t\tParentOpportunityId as string,\n\t\tPartnerAccountId as string,\n\t\tPriceLevelId as string,\n\t\tCurrencyId as string,\n\t\tConsentToSendToPartnerCode as integer,\n\t\tConsentToSendToPartner as string,\n\t\tConsentToSendToPartnerSeqNo as long,\n\t\tOpportunitySourceCode as integer,\n\t\tOpportunitySource as string,\n\t\tOpportunitySourceSeqNo as long,\n\t\tPurchaseTimeFrameCode as integer,\n\t\tPurchaseTimeFrame as string,\n\t\tPurchaseTimeFrameSeqNo as long,\n\t\tRecommendationCode as integer,\n\t\tRecommendation as string,\n\t\tRecommendationSeqNo as long,\n\t\tSourceSubTypeCode as integer,\n\t\tSourceSubType as string,\n\t\tSourceSubTypeSeqNo as long,\n\t\tActualCloseDate as timestamp,\n\t\tActualvalue as double,\n\t\tAgreedToBuy as boolean,\n\t\tBudgetAmount as double,\n\t\tCompleteFinalProposal as boolean,\n\t\tIsOrderComplete as boolean,\n\t\tIsQuoteComplete as boolean,\n\t\tIsConclusionLetterSent as boolean,\n\t\tHasCustomerAgreedToBuy as boolean,\n\t\tNeed as string,\n\t\tIsELPAgreementSecured as boolean,\n\t\tIsELPUploaded as boolean,\n\t\tEstimatedCloseDate as timestamp,\n\t\tEstimatedValue as double,\n\t\tEvaluationPlan as boolean,\n\t\tFinalConsumptionPlan as boolean,\n\t\tForecastComments as string,\n\t\tHighLevelSolutionDesign as boolean,\n\t\tIsIdentifyCompetitorsComplete as boolean,\n\t\tIsIdentifyBuyingTeamComplete as boolean,\n\t\tIsIdentifyLineItemsComplete as boolean,\n\t\tIsIdentifySalesTeamComplete as boolean,\n\t\tInitialBusinessCase as boolean,\n\t\tIsInternalAgreementSecured as boolean,\n\t\tIsRevenueSystemCalculated as boolean,\n\t\tIsLetterOfEngagementAccepted as boolean,\n\t\tTopic as string,\n\t\tOpportunityNumber as string,\n\t\tIsPartnerFundingSecured as boolean,\n\t\tPrelimConsumptionPlan as boolean,\n\t\tIsPurchaseArrangementSecured as boolean,\n\t\tCrmInstanceId as string,\n\t\tCreatedById as string,\n\t\tCreatedDate as timestamp,\n\t\tModifiedById as string,\n\t\tModifiedDate as timestamp,\n\t\tStateCode as integer,\n\t\tStatus as string,\n\t\tStatusSeqNo as long,\n\t\tStatusCode as integer,\n\t\tStatusReason as string,\n\t\tStatusReasonSeqNo as long,\n\t\tOdsCreatedDate as timestamp,\n\t\tOdsModifiedDate as timestamp,\n\t\tVersionNumber as long,\n\t\tTenantId as integer,\n\t\tNumberOfDials as integer,\n\t\tOpportunityTenantId as string,\n\t\tPriorityCode as integer,\n\t\tPriority as string,\n\t\tPrioritySeqNo as long,\n\t\tProductSKU as string,\n\t\tRegistrationDate as timestamp,\n\t\tSubscriptionId as string,\n\t\tOriginalPartnerModifiedBy as string,\n\t\tOpportunityCopyTypeCode as integer,\n\t\tOpportunityCopyType as string,\n\t\tOpportunityCopyTypeSeqNo as long,\n\t\tOriginatingOpportunity as string,\n\t\tSendToPartner as boolean,\n\t\tcosellcode as integer,\n\t\tcosell as string,\n\t\tcosellSeqNo as long,\n\t\tPullForwardDate as timestamp,\n\t\tOdsStatus as integer,\n\t\tOpportunityScore as double,\n\t\tpartnermotioncode as integer,\n\t\tpartnermotion as string,\n\t\tpartnermotionSeqNo as long,\n\t\tclosestatuscode as integer,\n\t\tclosestatus as string,\n\t\tclosestatusSeqNo as long,\n\t\tPricePointDetails as string,\n\t\tBilledRevenue as double,\n\t\tcomplexitycode as integer,\n\t\tcomplexity as string,\n\t\tcomplexitySeqNo as long,\n\t\tCriticalDeal as boolean,\n\t\tdealtypecode as integer,\n\t\tdealtype as string,\n\t\tdealtypeSeqNo as long,\n\t\tEnrollmentNumber as string,\n\t\tEstROCArrivalDate as timestamp,\n\t\tLicensingContact as string,\n\t\tLSSODMComments as string,\n\t\tNoofTenants as integer,\n\t\ttransactiontypecode as integer,\n\t\ttransactiontype as string,\n\t\ttransactiontypeSeqNo as long,\n\t\toperationscontact as string,\n\t\tattachedservices as boolean,\n\t\tclanumber as string,\n\t\tcloseplan as string,\n\t\tcpumodelseriescode as integer,\n\t\tcpumodelseries as string,\n\t\tcpumodelseriesSeqNo as long,\n\t\tdevicecategorycode as integer,\n\t\tdevicecategory as string,\n\t\tdevicecategorySeqNo as long,\n\t\tmicrosoftazureiotcertifieddevice as boolean,\n\t\tsolutiondesignindate as timestamp,\n\t\tsolutionstartdate as timestamp,\n\t\towningBusinessUnit as string,\n\t\tfinaldecisiondate as timestamp,\n\t\tIsQualified as integer,\n\t\tcompetethreatlevelcode as integer,\n\t\tcompetethreatlevel as string,\n\t\tcompetethreatlevelSeqNo as long,\n\t\tprimarycompetitor as string,\n\t\tothercompetitor as string,\n\t\trvtvalidationready as boolean,\n\t\tCurrentSalesStageModifiedOn as timestamp,\n\t\tPlatformCreatedDate as timestamp,\n\t\tPlatformModifiedDate as timestamp,\n\t\tPlatformModifiedDateAsInt as long,\n\t\tcorrectedecid as string,\n\t\tPartnerReferral as string,\n\t\trvtstatuscode as integer,\n\t\trvtstatus as string,\n\t\trvtstatusSeqNo as long,\n\t\tnewenrollmentnumber as string,\n\t\tlastshipmentdate as timestamp,\n\t\tbaseopportunitycode as integer,\n\t\tbaseopportunity as string,\n\t\tbaseopportunitySeqNo as long,\n\t\tAdhocSurvey as integer,\n\t\tSurveyResponseRejectionCounts as integer,\n\t\taccessecifcode as integer,\n\t\taccessecif as string,\n\t\taccessecifSeqNo as long,\n\t\tCompleteTechnicalClosePlan as timestamp,\n\t\tCompleteWorkshop as timestamp,\n\t\tConfirmTrial as timestamp,\n\t\tdeliverinitialpitchcode as integer,\n\t\tdeliverinitialpitch as string,\n\t\tdeliverinitialpitchSeqNo as long,\n\t\tdelivertechnicalcasecode as integer,\n\t\tdelivertechnicalcase as string,\n\t\tdelivertechnicalcaseSeqNo as long,\n\t\tdemonstrateroicode as integer,\n\t\tdemonstrateroi as string,\n\t\tdemonstrateroiSeqNo as long,\n\t\tengagefasttrackcode as integer,\n\t\tengagefasttrack as string,\n\t\tengagefasttrackSeqNo as long,\n\t\tEngageServices as string,\n\t\tselectsalesplaycode as integer,\n\t\tselectsalesplay as string,\n\t\tselectsalesplaySeqNo as long,\n\t\tsharebompricingcode as integer,\n\t\tsharebompricing as string,\n\t\tsharebompricingSeqNo as long,\n\t\textractid as string,\n\t\textractdatetime as timestamp,\n\t\tloadts as timestamp,\n\t\tdeltaactioncode as string,\n\t\tbizappssalesplay as string,\n\t\tbizappssalesplaycode as integer,\n\t\tbizappssalesplaySeqNo as long,\n\t\tcommercialconstructapprovedbycustomer as string,\n\t\tcommercialconstructapprovedbycustomercode as integer,\n\t\tcommercialconstructapprovedbycustomerSeqNo as long,\n\t\tCompleteClosePlan as boolean,\n\t\tcompletejointcatalystengagementplan as string,\n\t\tcompletejointcatalystengagementplancode as integer,\n\t\tcompletejointcatalystengagementplanSeqNo as long,\n\t\tcompletetechnicalassessment as string,\n\t\tcompletetechnicalassessmentcode as integer,\n\t\tcompletetechnicalassessmentSeqNo as long,\n\t\tcontractsignaturetype as string,\n\t\tcontractsignaturetypecode as integer,\n\t\tcontractsignaturetypeSeqNo as long,\n\t\tcreatebusinessvalueassessment as string,\n\t\tcreatebusinessvalueassessmentcode as integer,\n\t\tcreatebusinessvalueassessmentSeqNo as long,\n\t\tcustomersignoffonassessments as string,\n\t\tcustomersignoffonassessmentscode as integer,\n\t\tcustomersignoffonassessmentsSeqNo as long,\n\t\tcustomersuccessplanworkshopcomplete as string,\n\t\tcustomersuccessplanworkshopcompletecode as integer,\n\t\tcustomersuccessplanworkshopcompleteSeqNo as long,\n\t\tdeliverbusinessvalueenlighten as string,\n\t\tdeliverbusinessvalueenlightencode as integer,\n\t\tdeliverbusinessvalueenlightenSeqNo as long,\n\t\tdeliverenvisioningworkshop as string,\n\t\tdeliverenvisioningworkshopcode as integer,\n\t\tdeliverenvisioningworkshopSeqNo as long,\n\t\tdelivertailoreddemonstration as string,\n\t\tdelivertailoreddemonstrationcode as integer,\n\t\tdelivertailoreddemonstrationSeqNo as long,\n\t\tdelivertransformationplan as string,\n\t\tdelivertransformationplancode as integer,\n\t\tdelivertransformationplanSeqNo as long,\n\t\tengagedwrawrforecif as string,\n\t\tengagedwrawrforecifcode as integer,\n\t\tengagedwrawrforecifSeqNo as long,\n\t\tengagegbb as string,\n\t\tengagegbbcode as integer,\n\t\tengagegbbSeqNo as long,\n\t\tengagemicrosoftexecutivewithcustomercxo as string,\n\t\tengagemicrosoftexecutivewithcustomercxocode as integer,\n\t\tengagemicrosoftexecutivewithcustomercxoSeqNo as long,\n\t\tHandovertoCSMorPCSM as boolean,\n\t\tsalesplay as string,\n\t\tsalesplaySeqNo as long,\n\t\tsolutionarea as string,\n\t\tsolutionareaSeqNo as long,\n\t\ttechnicalcapability as string,\n\t\ttechnicalcapabilitySeqNo as long,\n\t\tpilotsolutionSeqNo as long,\n\t\tpresentbusinesscaseSeqNo as long,\n\t\tpresentdealoptionsSeqNo as long,\n\t\tRapidResponse as boolean,\n\t\ttransitiontocsupartnerSeqNo as long,\n\t\talignonbusinessimpactSeqNo as long,\n\t\talignonsolutionapproachSeqNo as long,\n\t\tClaimTPID as string,\n\t\tCompleteDeploymentWorkshop as timestamp,\n\t\tcompletepredeploymentworkshopSeqNo as long,\n\t\tcompletetrialSeqNo as long,\n\t\tconductpocSeqNo as long,\n\t\tengagecosellprioritizedpartnerSeqNo as long,\n\t\texecutedigitalimmersionSeqNo as long,\n\t\tidentifybusinessdecisionmakersSeqNo as long\n\t),\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\trecreate:true,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError') ~> sink1"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/MSXOpportunity_copy1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MSXStringMap')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "Infra Engagement"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"linkedService": {
								"referenceName": "msxdatalake",
								"type": "LinkedServiceReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "MSXStringMap",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [],
					"script": "source(output(\n\t\tEDLPExtractId as string,\n\t\tAttributeName as string,\n\t\tAttributeValue as integer,\n\t\tEntityId as integer,\n\t\tEntityName as string,\n\t\tIsActive as boolean,\n\t\tOdsModifiedDate as timestamp,\n\t\tPreviousAttributeValue as integer,\n\t\tPreviousValue as string,\n\t\tStringMapId as string,\n\t\tStringMapSeqNo as long,\n\t\tTenantId as integer,\n\t\tValue as string,\n\t\tViewAttributeName as string,\n\t\tViewName as string,\n\t\tEDLPExtractDateTime as timestamp,\n\t\tEDLPLoadTS as string,\n\t\tEDLPModifiedDateTime as timestamp,\n\t\tEDLPDeltaActionCode as string,\n\t\tExtractId as string,\n\t\tExtractDateTime as timestamp,\n\t\tLoadTS as timestamp,\n\t\tDeltaActionCode as string,\n\t\tPlatformCreatedDate as timestamp,\n\t\tPlatformModifiedDate as timestamp,\n\t\tPlatformModifiedDateAsInt as long\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tformat: 'delta',\n\tfileSystem: 'cseo',\n\tfolderPath: 'standardized/masterandreference/msx/hub_vw_stringmap/v1/standard') ~> source1\nsource1 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\trecreate:true,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError') ~> sink1"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MSXUser')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "Infra Engagement"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"linkedService": {
								"referenceName": "msxdatalake",
								"type": "LinkedServiceReference"
							},
							"name": "MSXsystemuser"
						},
						{
							"dataset": {
								"referenceName": "MSXOpportunityTeam",
								"type": "DatasetReference"
							},
							"name": "OpportunityTeam"
						},
						{
							"dataset": {
								"referenceName": "MSXOpportunity",
								"type": "DatasetReference"
							},
							"name": "Opp"
						},
						{
							"dataset": {
								"referenceName": "msxnote",
								"type": "DatasetReference"
							},
							"name": "Note"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "msxuser",
								"type": "DatasetReference"
							},
							"name": "AllUser"
						}
					],
					"transformations": [
						{
							"name": "existsInOppTeam"
						},
						{
							"name": "AsOpportunityOwner"
						},
						{
							"name": "union1"
						},
						{
							"name": "AsNoteOwner"
						}
					],
					"script": "source(output(\n\t\tEDLPExtractId as string,\n\t\tAccessMode as string,\n\t\tAccessModeCode as integer,\n\t\tAccessModeSeqNo as long,\n\t\tAddress1_AddressId as string,\n\t\tAddress1_City as string,\n\t\tAddress1_Country as string,\n\t\tAddress1_Fax as string,\n\t\tAddress1_Line1 as string,\n\t\tAddress1_Line2 as string,\n\t\tAddress1_Line3 as string,\n\t\tAddress1_PostalCode as string,\n\t\tAddress1_StateOrProvince as string,\n\t\tAddress1_Telephone1 as string,\n\t\tAddress1_Telephone3 as string,\n\t\tBusinessUnitId as string,\n\t\tCalType as string,\n\t\tCalTypeCode as integer,\n\t\tCalTypeSeqNo as long,\n\t\tCreatedById as string,\n\t\tCreatedDate as timestamp,\n\t\tCrmInstanceId as string,\n\t\tDefaultMailbox as string,\n\t\tDomainName as string,\n\t\tDPNSignDate as timestamp,\n\t\tdsraction as string,\n\t\tdsrdate as timestamp,\n\t\tdsrticket as string,\n\t\tFirstName as string,\n\t\tHomePhone as string,\n\t\tInternalEmailAddress as string,\n\t\tInviteStatus as string,\n\t\tInviteStatusCode as integer,\n\t\tInviteStatusSeqNo as long,\n\t\tIsDisabled as boolean,\n\t\tIsNotificationSent as string,\n\t\tIsNotificationSentCode as integer,\n\t\tIsNotificationSentSeqNo as long,\n\t\tLastName as string,\n\t\tMiddleName as string,\n\t\tMobileAlertEmail as string,\n\t\tMobilePhone as string,\n\t\tModifiedById as string,\n\t\tModifiedDate as timestamp,\n\t\tOdsCreatedDate as timestamp,\n\t\tOdsModifiedDate as timestamp,\n\t\tOdsStatus as integer,\n\t\tParentSystemUserId as string,\n\t\tPersonalEmailAddress as string,\n\t\tPreferredAddress as string,\n\t\tPreferredAddressCode as integer,\n\t\tPreferredAddressSeqNo as long,\n\t\tPreferredPhone as string,\n\t\tPreferredPhoneCode as integer,\n\t\tPreferredPhoneSeqNo as long,\n\t\tQueueId as string,\n\t\tRole as string,\n\t\tRoleCode as integer,\n\t\tRoleSeqNo as long,\n\t\tSiteId as string,\n\t\tSystemUserId as string,\n\t\tTenantId as integer,\n\t\tTerritoryId as string,\n\t\tTitle as string,\n\t\tVersionNumber as long,\n\t\tWindowsLiveId as string,\n\t\tareaname as string,\n\t\tdiscipline as string,\n\t\tGTMPosition as string,\n\t\tindustry as string,\n\t\torg as string,\n\t\torgdetail as string,\n\t\torgsummary as string,\n\t\tprofession as string,\n\t\tqualifier1 as string,\n\t\tqualifier2 as string,\n\t\tregionname as string,\n\t\trolegroup as string,\n\t\troleidentity as string,\n\t\tRoleSummary as string,\n\t\tsalesdistrictname as string,\n\t\tsaleslocationname as string,\n\t\tsolutionarea as string,\n\t\tsubregionname as string,\n\t\tsystemusertype as string,\n\t\tEDLPExtractDateTime as timestamp,\n\t\tEDLPLoadTS as string,\n\t\tEDLPModifiedDateTime as timestamp,\n\t\tEDLPDeltaActionCode as string,\n\t\tExtractId as string,\n\t\tExtractDateTime as timestamp,\n\t\tLoadTS as timestamp,\n\t\tDeltaActionCode as string,\n\t\tPlatformCreatedDate as timestamp,\n\t\tPlatformModifiedDate as timestamp,\n\t\tPlatformModifiedDateAsInt as long,\n\t\tazureactivedirectoryobjectid as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tformat: 'delta',\n\tfileSystem: 'cseo',\n\tfolderPath: 'standardized/masterandreference/msx/hub_vw_systemuser/v1/sensitive') ~> MSXsystemuser\nsource(output(\n\t\tEDLPExtractId as string,\n\t\tCreatedById as string,\n\t\tCreatedDate as timestamp,\n\t\tCrmInstanceId as string,\n\t\tModifiedById as string,\n\t\tModifiedDate as timestamp,\n\t\tOdsCreatedDate as timestamp,\n\t\tOdsModifiedDate as timestamp,\n\t\tOdsStatus as integer,\n\t\tOpportunityId as string,\n\t\tOpportunityTeamId as integer,\n\t\tSystemUserId as string,\n\t\tTenantId as integer,\n\t\tVersionNumber as long,\n\t\tTeamId as string,\n\t\tEDLPExtractDateTime as timestamp,\n\t\tEDLPLoadTS as string,\n\t\tEDLPModifiedDateTime as timestamp,\n\t\tEDLPDeltaActionCode as string,\n\t\tExtractId as string,\n\t\tExtractDateTime as timestamp,\n\t\tLoadTS as timestamp,\n\t\tDeltaActionCode as string,\n\t\tPlatformCreatedDate as timestamp,\n\t\tPlatformModifiedDate as timestamp,\n\t\tPlatformModifiedDateAsInt as long\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> OpportunityTeam\nsource(output(\n\t\tEDLPExtractId as string,\n\t\taccessecif as string,\n\t\taccessecifcode as integer,\n\t\taccessecifSeqNo as long,\n\t\tAccountId as string,\n\t\tActualCloseDate as timestamp,\n\t\tActualvalue as double,\n\t\tAdhocSurvey as integer,\n\t\tAgreedToBuy as boolean,\n\t\talignonbusinessimpactSeqNo as long,\n\t\talignonsolutionapproachSeqNo as long,\n\t\tAntipiracyEngagementTypeId as string,\n\t\tattachedservices as boolean,\n\t\tbaseopportunity as string,\n\t\tbaseopportunitycode as integer,\n\t\tbaseopportunitySeqNo as long,\n\t\tBilledRevenue as double,\n\t\tbizappssalesplay as string,\n\t\tbizappssalesplaycode as integer,\n\t\tbizappssalesplaySeqNo as long,\n\t\tBudgetAmount as double,\n\t\tCampaignId as string,\n\t\tClaimTPID as string,\n\t\tclanumber as string,\n\t\tcloseplan as string,\n\t\tclosestatus as string,\n\t\tclosestatuscode as integer,\n\t\tclosestatusSeqNo as long,\n\t\tcommercialconstructapprovedbycustomer as string,\n\t\tcommercialconstructapprovedbycustomercode as integer,\n\t\tcommercialconstructapprovedbycustomerSeqNo as long,\n\t\tcompetethreatlevel as string,\n\t\tcompetethreatlevelcode as integer,\n\t\tcompetethreatlevelSeqNo as long,\n\t\tCompleteClosePlan as boolean,\n\t\tCompleteDeploymentWorkshop as timestamp,\n\t\tCompleteFinalProposal as boolean,\n\t\tcompletejointcatalystengagementplan as string,\n\t\tcompletejointcatalystengagementplancode as integer,\n\t\tcompletejointcatalystengagementplanSeqNo as long,\n\t\tcompletepredeploymentworkshopSeqNo as long,\n\t\tcompletetechnicalassessment as string,\n\t\tcompletetechnicalassessmentcode as integer,\n\t\tcompletetechnicalassessmentSeqNo as long,\n\t\tCompleteTechnicalClosePlan as timestamp,\n\t\tcompletetrialSeqNo as long,\n\t\tCompleteWorkshop as timestamp,\n\t\tcomplexity as string,\n\t\tcomplexitycode as integer,\n\t\tcomplexitySeqNo as long,\n\t\tconductpocSeqNo as long,\n\t\tConfirmTrial as timestamp,\n\t\tConsentToSendToPartner as string,\n\t\tConsentToSendToPartnerBy as string,\n\t\tConsentToSendToPartnerCode as integer,\n\t\tConsentToSendToPartnerSeqNo as long,\n\t\tcontractsignaturetype as string,\n\t\tcontractsignaturetypecode as integer,\n\t\tcontractsignaturetypeSeqNo as long,\n\t\tcorrectedecid as string,\n\t\tcosell as string,\n\t\tcosellcode as integer,\n\t\tcosellSeqNo as long,\n\t\tcpumodelseries as string,\n\t\tcpumodelseriescode as integer,\n\t\tcpumodelseriesSeqNo as long,\n\t\tcreatebusinessvalueassessment as string,\n\t\tcreatebusinessvalueassessmentcode as integer,\n\t\tcreatebusinessvalueassessmentSeqNo as long,\n\t\tCreatedById as string,\n\t\tCreatedDate as timestamp,\n\t\tCriticalDeal as boolean,\n\t\tCrmInstanceId as string,\n\t\tCurrencyId as string,\n\t\tCurrentSalesStageModifiedOn as timestamp,\n\t\tcustomersignoffonassessments as string,\n\t\tcustomersignoffonassessmentscode as integer,\n\t\tcustomersignoffonassessmentsSeqNo as long,\n\t\tcustomersuccessplanworkshopcomplete as string,\n\t\tcustomersuccessplanworkshopcompletecode as integer,\n\t\tcustomersuccessplanworkshopcompleteSeqNo as long,\n\t\tdealtype as string,\n\t\tdealtypecode as integer,\n\t\tdealtypeSeqNo as long,\n\t\tdeliverbusinessvalueenlighten as string,\n\t\tdeliverbusinessvalueenlightencode as integer,\n\t\tdeliverbusinessvalueenlightenSeqNo as long,\n\t\tdeliverenvisioningworkshop as string,\n\t\tdeliverenvisioningworkshopcode as integer,\n\t\tdeliverenvisioningworkshopSeqNo as long,\n\t\tdeliverinitialpitch as string,\n\t\tdeliverinitialpitchcode as integer,\n\t\tdeliverinitialpitchSeqNo as long,\n\t\tdelivertailoreddemonstration as string,\n\t\tdelivertailoreddemonstrationcode as integer,\n\t\tdelivertailoreddemonstrationSeqNo as long,\n\t\tdelivertechnicalcase as string,\n\t\tdelivertechnicalcasecode as integer,\n\t\tdelivertechnicalcaseSeqNo as long,\n\t\tdelivertransformationplan as string,\n\t\tdelivertransformationplancode as integer,\n\t\tdelivertransformationplanSeqNo as long,\n\t\tdemonstrateroi as string,\n\t\tdemonstrateroicode as integer,\n\t\tdemonstrateroiSeqNo as long,\n\t\tdevicecategory as string,\n\t\tdevicecategorycode as integer,\n\t\tdevicecategorySeqNo as long,\n\t\tengagecosellprioritizedpartnerSeqNo as long,\n\t\tengagedwrawrforecif as string,\n\t\tengagedwrawrforecifcode as integer,\n\t\tengagedwrawrforecifSeqNo as long,\n\t\tengagefasttrack as string,\n\t\tengagefasttrackcode as integer,\n\t\tengagefasttrackSeqNo as long,\n\t\tengagegbb as string,\n\t\tengagegbbcode as integer,\n\t\tengagegbbSeqNo as long,\n\t\tengagemicrosoftexecutivewithcustomercxo as string,\n\t\tengagemicrosoftexecutivewithcustomercxocode as integer,\n\t\tengagemicrosoftexecutivewithcustomercxoSeqNo as long,\n\t\tEngageServices as string,\n\t\tEnrollmentNumber as string,\n\t\tEstimatedCloseDate as timestamp,\n\t\tEstimatedValue as double,\n\t\tEstROCArrivalDate as timestamp,\n\t\tEvaluationPlan as boolean,\n\t\texecutedigitalimmersionSeqNo as long,\n\t\tFinalConsumptionPlan as boolean,\n\t\tfinaldecisiondate as timestamp,\n\t\tForecastComments as string,\n\t\tForecastComments_LastModifiedBy_Lookup as string,\n\t\tForecastComments_LastModifiedOn_DateTime as timestamp,\n\t\tHandovertoCSMorPCSM as boolean,\n\t\tHasCustomerAgreedToBuy as boolean,\n\t\tHighLevelSolutionDesign as boolean,\n\t\tidentifybusinessdecisionmakersSeqNo as long,\n\t\tInitialBusinessCase as boolean,\n\t\tIsConclusionLetterSent as boolean,\n\t\tIsELPAgreementSecured as boolean,\n\t\tIsELPUploaded as boolean,\n\t\tIsIdentifyBuyingTeamComplete as boolean,\n\t\tIsIdentifyCompetitorsComplete as boolean,\n\t\tIsIdentifyLineItemsComplete as boolean,\n\t\tIsIdentifySalesTeamComplete as boolean,\n\t\tIsInternalAgreementSecured as boolean,\n\t\tIsLetterOfEngagementAccepted as boolean,\n\t\tIsOrderComplete as boolean,\n\t\tIsPartnerFundingSecured as boolean,\n\t\tIsPurchaseArrangementSecured as boolean,\n\t\tIsQuoteComplete as boolean,\n\t\tIsRevenueSystemCalculated as boolean,\n\t\tlastshipmentdate as timestamp,\n\t\tLicensingContact as string,\n\t\tLicensingProgramId as string,\n\t\tLSSODMComments as string,\n\t\tmicrosoftazureiotcertifieddevice as boolean,\n\t\tModifiedById as string,\n\t\tModifiedDate as timestamp,\n\t\tNeed as string,\n\t\tnewenrollmentnumber as string,\n\t\tNoofTenants as integer,\n\t\tNumberOfDials as integer,\n\t\tOdsCreatedDate as timestamp,\n\t\tOdsModifiedDate as timestamp,\n\t\tOdsStatus as integer,\n\t\toperationscontact as string,\n\t\tOpportunityCopyType as string,\n\t\tOpportunityCopyTypeCode as integer,\n\t\tOpportunityCopyTypeSeqNo as long,\n\t\tOpportunityId as string,\n\t\tOpportunityNumber as string,\n\t\tOpportunityScore as double,\n\t\tOpportunitySource as string,\n\t\tOpportunitySourceCode as integer,\n\t\tOpportunitySourceSeqNo as long,\n\t\tOpportunityTenantId as string,\n\t\tOriginalPartnerModifiedBy as string,\n\t\tOriginatingLeadId as string,\n\t\tOriginatingOpportunity as string,\n\t\tothercompetitor as string,\n\t\tOwnerId as string,\n\t\towningBusinessUnit as string,\n\t\tParentOpportunityId as string,\n\t\tPartnerAccountId as string,\n\t\tpartnermotion as string,\n\t\tpartnermotioncode as integer,\n\t\tpartnermotionSeqNo as long,\n\t\tPartnerReferral as string,\n\t\tpilotsolutionSeqNo as long,\n\t\tPrelimConsumptionPlan as boolean,\n\t\tpresentbusinesscaseSeqNo as long,\n\t\tpresentdealoptionsSeqNo as long,\n\t\tPriceLevelId as string,\n\t\tPricePointDetails as string,\n\t\tprimarycompetitor as string,\n\t\tPrimarySponsorContactId as string,\n\t\tPriority as string,\n\t\tPriorityCode as integer,\n\t\tPrioritySeqNo as long,\n\t\tProductSKU as string,\n\t\tPullForwardDate as timestamp,\n\t\tPurchaseTimeFrame as string,\n\t\tPurchaseTimeFrameCode as integer,\n\t\tPurchaseTimeFrameSeqNo as long,\n\t\tRapidResponse as boolean,\n\t\tRecommendation as string,\n\t\tRecommendationCode as integer,\n\t\tRecommendationSeqNo as long,\n\t\tRegistrationDate as timestamp,\n\t\trvtstatus as string,\n\t\trvtstatuscode as integer,\n\t\trvtstatusSeqNo as long,\n\t\trvtvalidationready as boolean,\n\t\tsalesplay as string,\n\t\tsalesplaySeqNo as long,\n\t\tselectsalesplay as string,\n\t\tselectsalesplaycode as integer,\n\t\tselectsalesplaySeqNo as long,\n\t\tSendToPartner as boolean,\n\t\tsharebompricing as string,\n\t\tsharebompricingcode as integer,\n\t\tsharebompricingSeqNo as long,\n\t\tsolutionarea as string,\n\t\tsolutionareaSeqNo as long,\n\t\tsolutiondesignindate as timestamp,\n\t\tsolutionstartdate as timestamp,\n\t\tSourceSubType as string,\n\t\tSourceSubTypeCode as integer,\n\t\tSourceSubTypeSeqNo as long,\n\t\tStateCode as integer,\n\t\tStatus as string,\n\t\tStatusCode as integer,\n\t\tStatusReason as string,\n\t\tStatusReasonSeqNo as long,\n\t\tStatusSeqNo as long,\n\t\tSubscriptionId as string,\n\t\tSurveyResponseRejectionCounts as integer,\n\t\ttechnicalcapability as string,\n\t\ttechnicalcapabilitySeqNo as long,\n\t\tTenantId as integer,\n\t\tTopic as string,\n\t\ttransactiontype as string,\n\t\ttransactiontypecode as integer,\n\t\ttransactiontypeSeqNo as long,\n\t\ttransitiontocsupartnerSeqNo as long,\n\t\tVersionNumber as long,\n\t\talignonbusinessimpactcode as integer,\n\t\talignonsolutionapproachcode as integer,\n\t\tcompletepredeploymentworkshopcode as integer,\n\t\tcompletetrialcode as integer,\n\t\tconductpoccode as integer,\n\t\tengagecosellprioritizedpartnercode as integer,\n\t\texecutedigitalimmersioncode as integer,\n\t\tidentifybusinessdecisionmakerscode as integer,\n\t\tpilotsolutioncode as integer,\n\t\tpresentbusinesscasecode as integer,\n\t\tpresentdealoptionscode as integer,\n\t\tsalesplaycode as integer,\n\t\tsolutionareacode as integer,\n\t\ttechnicalcapabilitycode as integer,\n\t\ttransitiontocsupartnercode as integer,\n\t\tAgreement as string,\n\t\tAgreementToProceedToContractNegotiation as boolean,\n\t\tConfirmTimelineAndBudgetStatus as boolean,\n\t\tCustomerAgreesSolutionIsTechnicallyViable as boolean,\n\t\tCustomerAgreesToPerformAProofOfConcept as boolean,\n\t\tCustomerAgreesWithMSValueProposition as boolean,\n\t\tCustomerApprovesBusinessCaseFramework as boolean,\n\t\tCustomerApprovesTechnicalCriteria as boolean,\n\t\tCustomerSignsContractOrAgreesToPlaceOrder as boolean,\n\t\tdemandresponsedealtype as string,\n\t\tdemandresponsedealtypecode as integer,\n\t\tIdentifyBuyingTeamStakeholders as boolean,\n\t\tInvoice as string,\n\t\tPresentCustomerWithFinalValueCaseProposal as boolean,\n\t\tActiveProcess as string,\n\t\tActiveSalesStage as string,\n\t\tActualBilledCloseDate as timestamp,\n\t\tActualConsumptionCloseDate as timestamp,\n\t\tAzureActiveDevicesNonRecurring as integer,\n\t\tAzureActiveDevicesRecurring as decimal(10,0),\n\t\tAzureConsumedNonRecurring as decimal(10,0),\n\t\tAzureConsumedNonRecurringBase as decimal(10,0),\n\t\tAzureConsumedRecurring as decimal(10,0),\n\t\tAzureConsumedRecurringBase as decimal(10,0),\n\t\tBilledClosingComments as string,\n\t\tBilledRevenueCloseReason as integer,\n\t\tBilledRevenueStatus as integer,\n\t\tBilledActualRevenueBase as decimal(10,0),\n\t\tBizAppsActiveDevicesNonRecurring as decimal(10,0),\n\t\tBizAppsActiveDevicesRecurring as decimal(10,0),\n\t\tBizAppsBACVNonRecurring as decimal(10,0),\n\t\tBizAppsBACVNonRecurringBase as decimal(10,0),\n\t\tBizAppsBACVRecurring as decimal(10,0),\n\t\tBizAppsBACVRecurringBase as decimal(10,0),\n\t\tConsumptionClosingComments as string,\n\t\tConsumptionStatus as integer,\n\t\tConsumptionStatusReason as integer,\n\t\tCustomerAgreementInPlace as integer,\n\t\tDesignAgreedWithCustomer as integer,\n\t\tEngagementNarrative as string,\n\t\tEngagementNextSteps as string,\n\t\tEstStartDate as timestamp,\n\t\tEstCompletionDate as timestamp,\n\t\tMigratedEngagementId as string,\n\t\tMigratedEngagementNumber as string,\n\t\tMilestonesFlag as string,\n\t\tOpportunityCompletedAndNextStepsIdentified as integer,\n\t\tOpportunityType as string,\n\t\tOutcomesMetAndBaselineMetricsInPlace as integer,\n\t\tProductFlags as string,\n\t\tQualifiedOpportunity as integer,\n\t\tSecurityActiveDevicesNonRecurring as decimal(10,0),\n\t\tSecurityActiveDevicesRecurring as decimal(10,0),\n\t\tSecurityConsumedNonRecurring as decimal(10,0),\n\t\tSecurityConsumedNonRecurringBase as decimal(10,0),\n\t\tSecurityConsumedRecurring as decimal(10,0),\n\t\tSecurityConsumedRecurringBase as decimal(10,0),\n\t\tAzureCapacityType as string,\n\t\tPreferredAzureRegion as integer,\n\t\tInitialStakeholderIdentificationComplete as integer,\n\t\tCustomerNeedsAndOutcomesDefine as integer,\n\t\tCustomerPrioritiesIdentified as integer,\n\t\tSolutionPlaysConfirmedDealTeamOrchest as integer,\n\t\tPartnersIdentifiedAndEngaged as integer,\n\t\tBusinessValueConsiderationsCompleted as integer,\n\t\tSolutionDesignValidatedWithCustomer as integer,\n\t\tTechnicalBusinessProofRequirementSide as integer,\n\t\tCustomersignedoffonproposesolution as integer,\n\t\tCustomerSuccessPlanReviewedWithCustomer as integer,\n\t\tCustomerCommitToProposal as integer,\n\t\tResourcesAlignAgainstDeliveryPlan as integer,\n\t\tChangeManagementPlanPlace as integer,\n\t\tSolutionDeliveredAgainstAgreedOutcome as integer,\n\t\tCustomerHealthMetricsAgreedWithMonitoring as integer,\n\t\tNextSetOfCustomerNeedsIdentify as integer,\n\t\tBusValueAndSuccessOutcomeMonitoringInPlac as integer,\n\t\tCustomerCanOperateAndMaintainSolution as integer,\n\t\tMigratedEngagementCreatedBy as string,\n\t\tCustomerSuccessPlanUpdated as integer,\n\t\tEDLPExtractDateTime as timestamp,\n\t\tEDLPLoadTS as string,\n\t\tEDLPModifiedDateTime as timestamp,\n\t\tEDLPDeltaActionCode as string,\n\t\tConsumedRecurring as decimal(10,0),\n\t\tConsumedRecurringBase as decimal(10,0),\n\t\tConsumedNonRecurring as decimal(10,0),\n\t\tConsumedNonRecurringBase as decimal(10,0),\n\t\tConsumptionActiveDevicesRecurring as decimal(10,0),\n\t\tConsumptionActiveDevicesNonRecurring as decimal(10,0),\n\t\tModernConsumedRecurring as decimal(10,0),\n\t\tModernConsumedRecurringBase as decimal(10,0),\n\t\tModernConsumedNonRecurring as decimal(10,0),\n\t\tModernConsumedNonRecurringBase as decimal(10,0),\n\t\tModernActiveDevicesRecurring as decimal(10,0),\n\t\tModernActiveDevicesNonRecurring as decimal(10,0),\n\t\tRiskScore as decimal(10,5)\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> Opp\nsource(output(\n\t\tEDLPExtractId as string,\n\t\tCreatedById as string,\n\t\tCreatedDate as timestamp,\n\t\tCrmInstanceId as string,\n\t\tDescription as string,\n\t\tFileName as string,\n\t\tIsDocument as boolean,\n\t\tModifiedById as string,\n\t\tModifiedDate as timestamp,\n\t\tNoteId as string,\n\t\tOdsCreatedDate as timestamp,\n\t\tOdsModifiedDate as timestamp,\n\t\tOdsStatus as integer,\n\t\tOwnerId as string,\n\t\towningBusinessUnit as string,\n\t\tRegardingEntityName as string,\n\t\tRegardingObjectId as string,\n\t\tTenantId as integer,\n\t\tTitle as string,\n\t\tVersionNumber as long,\n\t\tEDLPExtractDateTime as timestamp,\n\t\tEDLPLoadTS as string,\n\t\tEDLPModifiedDateTime as timestamp,\n\t\tEDLPDeltaActionCode as string,\n\t\tExtractId as string,\n\t\tExtractDateTime as timestamp,\n\t\tLoadTS as timestamp,\n\t\tDeltaActionCode as string,\n\t\tPlatformCreatedDate as timestamp,\n\t\tPlatformModifiedDate as timestamp,\n\t\tPlatformModifiedDateAsInt as long\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> Note\nMSXsystemuser, OpportunityTeam exists(MSXsystemuser@SystemUserId == OpportunityTeam@SystemUserId,\n\tnegate:false,\n\tbroadcast: 'auto')~> existsInOppTeam\nMSXsystemuser, Opp exists(SystemUserId == OwnerId,\n\tnegate:false,\n\tbroadcast: 'auto')~> AsOpportunityOwner\nexistsInOppTeam, AsOpportunityOwner, AsNoteOwner union(byName: true)~> union1\nMSXsystemuser, Note exists(SystemUserId == OwnerId,\n\tnegate:false,\n\tbroadcast: 'auto')~> AsNoteOwner\nunion1 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\trecreate:true,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError') ~> AllUser"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MSXmilestone')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "Infra Engagement"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"linkedService": {
								"referenceName": "msxdatalake",
								"type": "LinkedServiceReference"
							},
							"name": "Milestone"
						},
						{
							"dataset": {
								"referenceName": "MSXOpportunity",
								"type": "DatasetReference"
							},
							"name": "Opportunity"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "MSXEngagementMilestone",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "Filter1"
						},
						{
							"name": "exists1"
						}
					],
					"script": "source(output(\n\t\tEDLPExtractId as string,\n\t\tComments as string,\n\t\tcommitmentrecommendation as string,\n\t\tcommitmentrecommendationcode as integer,\n\t\tcommitmentrecommendationSeqNo as long,\n\t\tcompleted as string,\n\t\tcompletedcode as integer,\n\t\tcompletedSeqNo as long,\n\t\tCreatedById as string,\n\t\tCreatedDate as timestamp,\n\t\tCrmInstanceId as string,\n\t\tEngagementID as string,\n\t\tEngagementMilestoneID as string,\n\t\tEstDate as timestamp,\n\t\tEstMonthlyUsage as double,\n\t\tEstNoOfActivations as integer,\n\t\thelpneeded as string,\n\t\thelpneededcode as integer,\n\t\thelpneededSeqNo as long,\n\t\tmilestonecategory as string,\n\t\tmilestonecategorycode as integer,\n\t\tmilestonecategorySeqNo as long,\n\t\tMilestoneNumber as string,\n\t\tmilestonesolutionareaSeqNo as long,\n\t\tmilestonestatus as string,\n\t\tmilestonestatuscode as integer,\n\t\tmilestonestatusreason as string,\n\t\tmilestonestatusreasoncode as integer,\n\t\tmilestonestatusreasonSeqNo as long,\n\t\tmilestonestatusSeqNo as long,\n\t\tModifiedById as string,\n\t\tModifiedDate as timestamp,\n\t\tName as string,\n\t\tnonrecurring as string,\n\t\tnonrecurringcode as integer,\n\t\tnonrecurringSeqNo as long,\n\t\tOdsCreatedDate as timestamp,\n\t\tOdsModifiedDate as timestamp,\n\t\tOdsStatus as integer,\n\t\tOwnerId as string,\n\t\towningBusinessUnit as string,\n\t\tscrumescalation as string,\n\t\tscrumescalationcode as integer,\n\t\tscrumescalationSeqNo as long,\n\t\tSeatsEntitlements as integer,\n\t\tstatecode as integer,\n\t\tStatus as string,\n\t\tstatuscode as integer,\n\t\tStatusReason as string,\n\t\tStatusReasonSeqNo as long,\n\t\tStatusSeqNo as long,\n\t\tTenantId as integer,\n\t\tTransactionCurrencyId as string,\n\t\tVersionNumber as long,\n\t\tworkload as string,\n\t\tworkloadcode as integer,\n\t\tworkloadSeqNo as long,\n\t\tworkloadtype as string,\n\t\tworkloadtypecode as integer,\n\t\tworkloadtypeSeqNo as long,\n\t\tmilestonesolutionareacode as integer,\n\t\tEDLPExtractDateTime as timestamp,\n\t\tEDLPLoadTS as string,\n\t\tEDLPModifiedDateTime as timestamp,\n\t\tEDLPDeltaActionCode as string,\n\t\tExtractId as string,\n\t\tExtractDateTime as timestamp,\n\t\tLoadTS as timestamp,\n\t\tDeltaActionCode as string,\n\t\tPlatformCreatedDate as timestamp,\n\t\tPlatformModifiedDate as timestamp,\n\t\tPlatformModifiedDateAsInt as long,\n\t\tWorkloadlkId as string,\n\t\tbacv as decimal(10,0),\n\t\tOpportunityId as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tformat: 'delta',\n\tfileSystem: 'cseo',\n\tfolderPath: 'standardized/transactional/msx/hub_vw_engagementmilestone/v1/standard') ~> Milestone\nsource(output(\n\t\tEDLPExtractId as string,\n\t\taccessecif as string,\n\t\taccessecifcode as integer,\n\t\taccessecifSeqNo as long,\n\t\tAccountId as string,\n\t\tActualCloseDate as timestamp,\n\t\tActualvalue as double,\n\t\tAdhocSurvey as integer,\n\t\tAgreedToBuy as boolean,\n\t\talignonbusinessimpactSeqNo as long,\n\t\talignonsolutionapproachSeqNo as long,\n\t\tAntipiracyEngagementTypeId as string,\n\t\tattachedservices as boolean,\n\t\tbaseopportunity as string,\n\t\tbaseopportunitycode as integer,\n\t\tbaseopportunitySeqNo as long,\n\t\tBilledRevenue as double,\n\t\tbizappssalesplay as string,\n\t\tbizappssalesplaycode as integer,\n\t\tbizappssalesplaySeqNo as long,\n\t\tBudgetAmount as double,\n\t\tCampaignId as string,\n\t\tClaimTPID as string,\n\t\tclanumber as string,\n\t\tcloseplan as string,\n\t\tclosestatus as string,\n\t\tclosestatuscode as integer,\n\t\tclosestatusSeqNo as long,\n\t\tcommercialconstructapprovedbycustomer as string,\n\t\tcommercialconstructapprovedbycustomercode as integer,\n\t\tcommercialconstructapprovedbycustomerSeqNo as long,\n\t\tcompetethreatlevel as string,\n\t\tcompetethreatlevelcode as integer,\n\t\tcompetethreatlevelSeqNo as long,\n\t\tCompleteClosePlan as boolean,\n\t\tCompleteDeploymentWorkshop as timestamp,\n\t\tCompleteFinalProposal as boolean,\n\t\tcompletejointcatalystengagementplan as string,\n\t\tcompletejointcatalystengagementplancode as integer,\n\t\tcompletejointcatalystengagementplanSeqNo as long,\n\t\tcompletepredeploymentworkshopSeqNo as long,\n\t\tcompletetechnicalassessment as string,\n\t\tcompletetechnicalassessmentcode as integer,\n\t\tcompletetechnicalassessmentSeqNo as long,\n\t\tCompleteTechnicalClosePlan as timestamp,\n\t\tcompletetrialSeqNo as long,\n\t\tCompleteWorkshop as timestamp,\n\t\tcomplexity as string,\n\t\tcomplexitycode as integer,\n\t\tcomplexitySeqNo as long,\n\t\tconductpocSeqNo as long,\n\t\tConfirmTrial as timestamp,\n\t\tConsentToSendToPartner as string,\n\t\tConsentToSendToPartnerBy as string,\n\t\tConsentToSendToPartnerCode as integer,\n\t\tConsentToSendToPartnerSeqNo as long,\n\t\tcontractsignaturetype as string,\n\t\tcontractsignaturetypecode as integer,\n\t\tcontractsignaturetypeSeqNo as long,\n\t\tcorrectedecid as string,\n\t\tcosell as string,\n\t\tcosellcode as integer,\n\t\tcosellSeqNo as long,\n\t\tcpumodelseries as string,\n\t\tcpumodelseriescode as integer,\n\t\tcpumodelseriesSeqNo as long,\n\t\tcreatebusinessvalueassessment as string,\n\t\tcreatebusinessvalueassessmentcode as integer,\n\t\tcreatebusinessvalueassessmentSeqNo as long,\n\t\tCreatedById as string,\n\t\tCreatedDate as timestamp,\n\t\tCriticalDeal as boolean,\n\t\tCrmInstanceId as string,\n\t\tCurrencyId as string,\n\t\tCurrentSalesStageModifiedOn as timestamp,\n\t\tcustomersignoffonassessments as string,\n\t\tcustomersignoffonassessmentscode as integer,\n\t\tcustomersignoffonassessmentsSeqNo as long,\n\t\tcustomersuccessplanworkshopcomplete as string,\n\t\tcustomersuccessplanworkshopcompletecode as integer,\n\t\tcustomersuccessplanworkshopcompleteSeqNo as long,\n\t\tdealtype as string,\n\t\tdealtypecode as integer,\n\t\tdealtypeSeqNo as long,\n\t\tdeliverbusinessvalueenlighten as string,\n\t\tdeliverbusinessvalueenlightencode as integer,\n\t\tdeliverbusinessvalueenlightenSeqNo as long,\n\t\tdeliverenvisioningworkshop as string,\n\t\tdeliverenvisioningworkshopcode as integer,\n\t\tdeliverenvisioningworkshopSeqNo as long,\n\t\tdeliverinitialpitch as string,\n\t\tdeliverinitialpitchcode as integer,\n\t\tdeliverinitialpitchSeqNo as long,\n\t\tdelivertailoreddemonstration as string,\n\t\tdelivertailoreddemonstrationcode as integer,\n\t\tdelivertailoreddemonstrationSeqNo as long,\n\t\tdelivertechnicalcase as string,\n\t\tdelivertechnicalcasecode as integer,\n\t\tdelivertechnicalcaseSeqNo as long,\n\t\tdelivertransformationplan as string,\n\t\tdelivertransformationplancode as integer,\n\t\tdelivertransformationplanSeqNo as long,\n\t\tdemonstrateroi as string,\n\t\tdemonstrateroicode as integer,\n\t\tdemonstrateroiSeqNo as long,\n\t\tdevicecategory as string,\n\t\tdevicecategorycode as integer,\n\t\tdevicecategorySeqNo as long,\n\t\tengagecosellprioritizedpartnerSeqNo as long,\n\t\tengagedwrawrforecif as string,\n\t\tengagedwrawrforecifcode as integer,\n\t\tengagedwrawrforecifSeqNo as long,\n\t\tengagefasttrack as string,\n\t\tengagefasttrackcode as integer,\n\t\tengagefasttrackSeqNo as long,\n\t\tengagegbb as string,\n\t\tengagegbbcode as integer,\n\t\tengagegbbSeqNo as long,\n\t\tengagemicrosoftexecutivewithcustomercxo as string,\n\t\tengagemicrosoftexecutivewithcustomercxocode as integer,\n\t\tengagemicrosoftexecutivewithcustomercxoSeqNo as long,\n\t\tEngageServices as string,\n\t\tEnrollmentNumber as string,\n\t\tEstimatedCloseDate as timestamp,\n\t\tEstimatedValue as double,\n\t\tEstROCArrivalDate as timestamp,\n\t\tEvaluationPlan as boolean,\n\t\texecutedigitalimmersionSeqNo as long,\n\t\tFinalConsumptionPlan as boolean,\n\t\tfinaldecisiondate as timestamp,\n\t\tForecastComments as string,\n\t\tForecastComments_LastModifiedBy_Lookup as string,\n\t\tForecastComments_LastModifiedOn_DateTime as timestamp,\n\t\tHandovertoCSMorPCSM as boolean,\n\t\tHasCustomerAgreedToBuy as boolean,\n\t\tHighLevelSolutionDesign as boolean,\n\t\tidentifybusinessdecisionmakersSeqNo as long,\n\t\tInitialBusinessCase as boolean,\n\t\tIsConclusionLetterSent as boolean,\n\t\tIsELPAgreementSecured as boolean,\n\t\tIsELPUploaded as boolean,\n\t\tIsIdentifyBuyingTeamComplete as boolean,\n\t\tIsIdentifyCompetitorsComplete as boolean,\n\t\tIsIdentifyLineItemsComplete as boolean,\n\t\tIsIdentifySalesTeamComplete as boolean,\n\t\tIsInternalAgreementSecured as boolean,\n\t\tIsLetterOfEngagementAccepted as boolean,\n\t\tIsOrderComplete as boolean,\n\t\tIsPartnerFundingSecured as boolean,\n\t\tIsPurchaseArrangementSecured as boolean,\n\t\tIsQuoteComplete as boolean,\n\t\tIsRevenueSystemCalculated as boolean,\n\t\tlastshipmentdate as timestamp,\n\t\tLicensingContact as string,\n\t\tLicensingProgramId as string,\n\t\tLSSODMComments as string,\n\t\tmicrosoftazureiotcertifieddevice as boolean,\n\t\tModifiedById as string,\n\t\tModifiedDate as timestamp,\n\t\tNeed as string,\n\t\tnewenrollmentnumber as string,\n\t\tNoofTenants as integer,\n\t\tNumberOfDials as integer,\n\t\tOdsCreatedDate as timestamp,\n\t\tOdsModifiedDate as timestamp,\n\t\tOdsStatus as integer,\n\t\toperationscontact as string,\n\t\tOpportunityCopyType as string,\n\t\tOpportunityCopyTypeCode as integer,\n\t\tOpportunityCopyTypeSeqNo as long,\n\t\tOpportunityId as string,\n\t\tOpportunityNumber as string,\n\t\tOpportunityScore as double,\n\t\tOpportunitySource as string,\n\t\tOpportunitySourceCode as integer,\n\t\tOpportunitySourceSeqNo as long,\n\t\tOpportunityTenantId as string,\n\t\tOriginalPartnerModifiedBy as string,\n\t\tOriginatingLeadId as string,\n\t\tOriginatingOpportunity as string,\n\t\tothercompetitor as string,\n\t\tOwnerId as string,\n\t\towningBusinessUnit as string,\n\t\tParentOpportunityId as string,\n\t\tPartnerAccountId as string,\n\t\tpartnermotion as string,\n\t\tpartnermotioncode as integer,\n\t\tpartnermotionSeqNo as long,\n\t\tPartnerReferral as string,\n\t\tpilotsolutionSeqNo as long,\n\t\tPrelimConsumptionPlan as boolean,\n\t\tpresentbusinesscaseSeqNo as long,\n\t\tpresentdealoptionsSeqNo as long,\n\t\tPriceLevelId as string,\n\t\tPricePointDetails as string,\n\t\tprimarycompetitor as string,\n\t\tPrimarySponsorContactId as string,\n\t\tPriority as string,\n\t\tPriorityCode as integer,\n\t\tPrioritySeqNo as long,\n\t\tProductSKU as string,\n\t\tPullForwardDate as timestamp,\n\t\tPurchaseTimeFrame as string,\n\t\tPurchaseTimeFrameCode as integer,\n\t\tPurchaseTimeFrameSeqNo as long,\n\t\tRapidResponse as boolean,\n\t\tRecommendation as string,\n\t\tRecommendationCode as integer,\n\t\tRecommendationSeqNo as long,\n\t\tRegistrationDate as timestamp,\n\t\trvtstatus as string,\n\t\trvtstatuscode as integer,\n\t\trvtstatusSeqNo as long,\n\t\trvtvalidationready as boolean,\n\t\tsalesplay as string,\n\t\tsalesplaySeqNo as long,\n\t\tselectsalesplay as string,\n\t\tselectsalesplaycode as integer,\n\t\tselectsalesplaySeqNo as long,\n\t\tSendToPartner as boolean,\n\t\tsharebompricing as string,\n\t\tsharebompricingcode as integer,\n\t\tsharebompricingSeqNo as long,\n\t\tsolutionarea as string,\n\t\tsolutionareaSeqNo as long,\n\t\tsolutiondesignindate as timestamp,\n\t\tsolutionstartdate as timestamp,\n\t\tSourceSubType as string,\n\t\tSourceSubTypeCode as integer,\n\t\tSourceSubTypeSeqNo as long,\n\t\tStateCode as integer,\n\t\tStatus as string,\n\t\tStatusCode as integer,\n\t\tStatusReason as string,\n\t\tStatusReasonSeqNo as long,\n\t\tStatusSeqNo as long,\n\t\tSubscriptionId as string,\n\t\tSurveyResponseRejectionCounts as integer,\n\t\ttechnicalcapability as string,\n\t\ttechnicalcapabilitySeqNo as long,\n\t\tTenantId as integer,\n\t\tTopic as string,\n\t\ttransactiontype as string,\n\t\ttransactiontypecode as integer,\n\t\ttransactiontypeSeqNo as long,\n\t\ttransitiontocsupartnerSeqNo as long,\n\t\tVersionNumber as long,\n\t\talignonbusinessimpactcode as integer,\n\t\talignonsolutionapproachcode as integer,\n\t\tcompletepredeploymentworkshopcode as integer,\n\t\tcompletetrialcode as integer,\n\t\tconductpoccode as integer,\n\t\tengagecosellprioritizedpartnercode as integer,\n\t\texecutedigitalimmersioncode as integer,\n\t\tidentifybusinessdecisionmakerscode as integer,\n\t\tpilotsolutioncode as integer,\n\t\tpresentbusinesscasecode as integer,\n\t\tpresentdealoptionscode as integer,\n\t\tsalesplaycode as integer,\n\t\tsolutionareacode as integer,\n\t\ttechnicalcapabilitycode as integer,\n\t\ttransitiontocsupartnercode as integer,\n\t\tAgreement as string,\n\t\tAgreementToProceedToContractNegotiation as boolean,\n\t\tConfirmTimelineAndBudgetStatus as boolean,\n\t\tCustomerAgreesSolutionIsTechnicallyViable as boolean,\n\t\tCustomerAgreesToPerformAProofOfConcept as boolean,\n\t\tCustomerAgreesWithMSValueProposition as boolean,\n\t\tCustomerApprovesBusinessCaseFramework as boolean,\n\t\tCustomerApprovesTechnicalCriteria as boolean,\n\t\tCustomerSignsContractOrAgreesToPlaceOrder as boolean,\n\t\tdemandresponsedealtype as string,\n\t\tdemandresponsedealtypecode as integer,\n\t\tIdentifyBuyingTeamStakeholders as boolean,\n\t\tInvoice as string,\n\t\tPresentCustomerWithFinalValueCaseProposal as boolean,\n\t\tActiveProcess as string,\n\t\tActiveSalesStage as string,\n\t\tActualBilledCloseDate as timestamp,\n\t\tActualConsumptionCloseDate as timestamp,\n\t\tAzureActiveDevicesNonRecurring as integer,\n\t\tAzureActiveDevicesRecurring as decimal(10,0),\n\t\tAzureConsumedNonRecurring as decimal(10,0),\n\t\tAzureConsumedNonRecurringBase as decimal(10,0),\n\t\tAzureConsumedRecurring as decimal(10,0),\n\t\tAzureConsumedRecurringBase as decimal(10,0),\n\t\tBilledClosingComments as string,\n\t\tBilledRevenueCloseReason as integer,\n\t\tBilledRevenueStatus as integer,\n\t\tBilledActualRevenueBase as decimal(10,0),\n\t\tBizAppsActiveDevicesNonRecurring as decimal(10,0),\n\t\tBizAppsActiveDevicesRecurring as decimal(10,0),\n\t\tBizAppsBACVNonRecurring as decimal(10,0),\n\t\tBizAppsBACVNonRecurringBase as decimal(10,0),\n\t\tBizAppsBACVRecurring as decimal(10,0),\n\t\tBizAppsBACVRecurringBase as decimal(10,0),\n\t\tConsumptionClosingComments as string,\n\t\tConsumptionStatus as integer,\n\t\tConsumptionStatusReason as integer,\n\t\tCustomerAgreementInPlace as integer,\n\t\tDesignAgreedWithCustomer as integer,\n\t\tEngagementNarrative as string,\n\t\tEngagementNextSteps as string,\n\t\tEstStartDate as timestamp,\n\t\tEstCompletionDate as timestamp,\n\t\tMigratedEngagementId as string,\n\t\tMigratedEngagementNumber as string,\n\t\tMilestonesFlag as string,\n\t\tOpportunityCompletedAndNextStepsIdentified as integer,\n\t\tOpportunityType as string,\n\t\tOutcomesMetAndBaselineMetricsInPlace as integer,\n\t\tProductFlags as string,\n\t\tQualifiedOpportunity as integer,\n\t\tSecurityActiveDevicesNonRecurring as decimal(10,0),\n\t\tSecurityActiveDevicesRecurring as decimal(10,0),\n\t\tSecurityConsumedNonRecurring as decimal(10,0),\n\t\tSecurityConsumedNonRecurringBase as decimal(10,0),\n\t\tSecurityConsumedRecurring as decimal(10,0),\n\t\tSecurityConsumedRecurringBase as decimal(10,0),\n\t\tAzureCapacityType as string,\n\t\tPreferredAzureRegion as integer,\n\t\tInitialStakeholderIdentificationComplete as integer,\n\t\tCustomerNeedsAndOutcomesDefine as integer,\n\t\tCustomerPrioritiesIdentified as integer,\n\t\tSolutionPlaysConfirmedDealTeamOrchest as integer,\n\t\tPartnersIdentifiedAndEngaged as integer,\n\t\tBusinessValueConsiderationsCompleted as integer,\n\t\tSolutionDesignValidatedWithCustomer as integer,\n\t\tTechnicalBusinessProofRequirementSide as integer,\n\t\tCustomersignedoffonproposesolution as integer,\n\t\tCustomerSuccessPlanReviewedWithCustomer as integer,\n\t\tCustomerCommitToProposal as integer,\n\t\tResourcesAlignAgainstDeliveryPlan as integer,\n\t\tChangeManagementPlanPlace as integer,\n\t\tSolutionDeliveredAgainstAgreedOutcome as integer,\n\t\tCustomerHealthMetricsAgreedWithMonitoring as integer,\n\t\tNextSetOfCustomerNeedsIdentify as integer,\n\t\tBusValueAndSuccessOutcomeMonitoringInPlac as integer,\n\t\tCustomerCanOperateAndMaintainSolution as integer,\n\t\tMigratedEngagementCreatedBy as string,\n\t\tCustomerSuccessPlanUpdated as integer,\n\t\tEDLPExtractDateTime as timestamp,\n\t\tEDLPLoadTS as string,\n\t\tEDLPModifiedDateTime as timestamp,\n\t\tEDLPDeltaActionCode as string,\n\t\tConsumedRecurring as decimal(10,0),\n\t\tConsumedRecurringBase as decimal(10,0),\n\t\tConsumedNonRecurring as decimal(10,0),\n\t\tConsumedNonRecurringBase as decimal(10,0),\n\t\tConsumptionActiveDevicesRecurring as decimal(10,0),\n\t\tConsumptionActiveDevicesNonRecurring as decimal(10,0),\n\t\tModernConsumedRecurring as decimal(10,0),\n\t\tModernConsumedRecurringBase as decimal(10,0),\n\t\tModernConsumedNonRecurring as decimal(10,0),\n\t\tModernConsumedNonRecurringBase as decimal(10,0),\n\t\tModernActiveDevicesRecurring as decimal(10,0),\n\t\tModernActiveDevicesNonRecurring as decimal(10,0),\n\t\tRiskScore as decimal(10,5)\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> Opportunity\nexists1 filter(OdsStatus==0) ~> Filter1\nMilestone, Opportunity exists(Milestone@OpportunityId == Opportunity@OpportunityId,\n\tnegate:false,\n\tbroadcast: 'auto')~> exists1\nFilter1 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\trecreate:true,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError') ~> sink1"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/OpportunityTeam')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "Infra Engagement"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"linkedService": {
								"referenceName": "msxdatalake",
								"type": "LinkedServiceReference"
							},
							"name": "OpportunityTeamTeam"
						},
						{
							"dataset": {
								"referenceName": "MSXOpportunity",
								"type": "DatasetReference"
							},
							"name": "Opportunity"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "MSXOpportunityTeam",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "Filter1"
						},
						{
							"name": "existsInOpp"
						}
					],
					"script": "source(output(\n\t\tEDLPExtractId as string,\n\t\tCreatedById as string,\n\t\tCreatedDate as timestamp,\n\t\tCrmInstanceId as string,\n\t\tModifiedById as string,\n\t\tModifiedDate as timestamp,\n\t\tOdsCreatedDate as timestamp,\n\t\tOdsModifiedDate as timestamp,\n\t\tOdsStatus as integer,\n\t\tOpportunityId as string,\n\t\tOpportunityTeamId as integer,\n\t\tSystemUserId as string,\n\t\tTenantId as integer,\n\t\tVersionNumber as long,\n\t\tTeamId as string,\n\t\tEDLPExtractDateTime as timestamp,\n\t\tEDLPLoadTS as string,\n\t\tEDLPModifiedDateTime as timestamp,\n\t\tEDLPDeltaActionCode as string,\n\t\tExtractId as string,\n\t\tExtractDateTime as timestamp,\n\t\tLoadTS as timestamp,\n\t\tDeltaActionCode as string,\n\t\tPlatformCreatedDate as timestamp,\n\t\tPlatformModifiedDate as timestamp,\n\t\tPlatformModifiedDateAsInt as long\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tformat: 'delta',\n\tfileSystem: 'cseo',\n\tfolderPath: 'standardized/transactional/msx/hub_vw_opportunityteam/v1/standard') ~> OpportunityTeamTeam\nsource(output(\n\t\tEDLPExtractId as string,\n\t\taccessecif as string,\n\t\taccessecifcode as integer,\n\t\taccessecifSeqNo as long,\n\t\tAccountId as string,\n\t\tActualCloseDate as timestamp,\n\t\tActualvalue as double,\n\t\tAdhocSurvey as integer,\n\t\tAgreedToBuy as boolean,\n\t\talignonbusinessimpactSeqNo as long,\n\t\talignonsolutionapproachSeqNo as long,\n\t\tAntipiracyEngagementTypeId as string,\n\t\tattachedservices as boolean,\n\t\tbaseopportunity as string,\n\t\tbaseopportunitycode as integer,\n\t\tbaseopportunitySeqNo as long,\n\t\tBilledRevenue as double,\n\t\tbizappssalesplay as string,\n\t\tbizappssalesplaycode as integer,\n\t\tbizappssalesplaySeqNo as long,\n\t\tBudgetAmount as double,\n\t\tCampaignId as string,\n\t\tClaimTPID as string,\n\t\tclanumber as string,\n\t\tcloseplan as string,\n\t\tclosestatus as string,\n\t\tclosestatuscode as integer,\n\t\tclosestatusSeqNo as long,\n\t\tcommercialconstructapprovedbycustomer as string,\n\t\tcommercialconstructapprovedbycustomercode as integer,\n\t\tcommercialconstructapprovedbycustomerSeqNo as long,\n\t\tcompetethreatlevel as string,\n\t\tcompetethreatlevelcode as integer,\n\t\tcompetethreatlevelSeqNo as long,\n\t\tCompleteClosePlan as boolean,\n\t\tCompleteDeploymentWorkshop as timestamp,\n\t\tCompleteFinalProposal as boolean,\n\t\tcompletejointcatalystengagementplan as string,\n\t\tcompletejointcatalystengagementplancode as integer,\n\t\tcompletejointcatalystengagementplanSeqNo as long,\n\t\tcompletepredeploymentworkshopSeqNo as long,\n\t\tcompletetechnicalassessment as string,\n\t\tcompletetechnicalassessmentcode as integer,\n\t\tcompletetechnicalassessmentSeqNo as long,\n\t\tCompleteTechnicalClosePlan as timestamp,\n\t\tcompletetrialSeqNo as long,\n\t\tCompleteWorkshop as timestamp,\n\t\tcomplexity as string,\n\t\tcomplexitycode as integer,\n\t\tcomplexitySeqNo as long,\n\t\tconductpocSeqNo as long,\n\t\tConfirmTrial as timestamp,\n\t\tConsentToSendToPartner as string,\n\t\tConsentToSendToPartnerBy as string,\n\t\tConsentToSendToPartnerCode as integer,\n\t\tConsentToSendToPartnerSeqNo as long,\n\t\tcontractsignaturetype as string,\n\t\tcontractsignaturetypecode as integer,\n\t\tcontractsignaturetypeSeqNo as long,\n\t\tcorrectedecid as string,\n\t\tcosell as string,\n\t\tcosellcode as integer,\n\t\tcosellSeqNo as long,\n\t\tcpumodelseries as string,\n\t\tcpumodelseriescode as integer,\n\t\tcpumodelseriesSeqNo as long,\n\t\tcreatebusinessvalueassessment as string,\n\t\tcreatebusinessvalueassessmentcode as integer,\n\t\tcreatebusinessvalueassessmentSeqNo as long,\n\t\tCreatedById as string,\n\t\tCreatedDate as timestamp,\n\t\tCriticalDeal as boolean,\n\t\tCrmInstanceId as string,\n\t\tCurrencyId as string,\n\t\tCurrentSalesStageModifiedOn as timestamp,\n\t\tcustomersignoffonassessments as string,\n\t\tcustomersignoffonassessmentscode as integer,\n\t\tcustomersignoffonassessmentsSeqNo as long,\n\t\tcustomersuccessplanworkshopcomplete as string,\n\t\tcustomersuccessplanworkshopcompletecode as integer,\n\t\tcustomersuccessplanworkshopcompleteSeqNo as long,\n\t\tdealtype as string,\n\t\tdealtypecode as integer,\n\t\tdealtypeSeqNo as long,\n\t\tdeliverbusinessvalueenlighten as string,\n\t\tdeliverbusinessvalueenlightencode as integer,\n\t\tdeliverbusinessvalueenlightenSeqNo as long,\n\t\tdeliverenvisioningworkshop as string,\n\t\tdeliverenvisioningworkshopcode as integer,\n\t\tdeliverenvisioningworkshopSeqNo as long,\n\t\tdeliverinitialpitch as string,\n\t\tdeliverinitialpitchcode as integer,\n\t\tdeliverinitialpitchSeqNo as long,\n\t\tdelivertailoreddemonstration as string,\n\t\tdelivertailoreddemonstrationcode as integer,\n\t\tdelivertailoreddemonstrationSeqNo as long,\n\t\tdelivertechnicalcase as string,\n\t\tdelivertechnicalcasecode as integer,\n\t\tdelivertechnicalcaseSeqNo as long,\n\t\tdelivertransformationplan as string,\n\t\tdelivertransformationplancode as integer,\n\t\tdelivertransformationplanSeqNo as long,\n\t\tdemonstrateroi as string,\n\t\tdemonstrateroicode as integer,\n\t\tdemonstrateroiSeqNo as long,\n\t\tdevicecategory as string,\n\t\tdevicecategorycode as integer,\n\t\tdevicecategorySeqNo as long,\n\t\tengagecosellprioritizedpartnerSeqNo as long,\n\t\tengagedwrawrforecif as string,\n\t\tengagedwrawrforecifcode as integer,\n\t\tengagedwrawrforecifSeqNo as long,\n\t\tengagefasttrack as string,\n\t\tengagefasttrackcode as integer,\n\t\tengagefasttrackSeqNo as long,\n\t\tengagegbb as string,\n\t\tengagegbbcode as integer,\n\t\tengagegbbSeqNo as long,\n\t\tengagemicrosoftexecutivewithcustomercxo as string,\n\t\tengagemicrosoftexecutivewithcustomercxocode as integer,\n\t\tengagemicrosoftexecutivewithcustomercxoSeqNo as long,\n\t\tEngageServices as string,\n\t\tEnrollmentNumber as string,\n\t\tEstimatedCloseDate as timestamp,\n\t\tEstimatedValue as double,\n\t\tEstROCArrivalDate as timestamp,\n\t\tEvaluationPlan as boolean,\n\t\texecutedigitalimmersionSeqNo as long,\n\t\tFinalConsumptionPlan as boolean,\n\t\tfinaldecisiondate as timestamp,\n\t\tForecastComments as string,\n\t\tForecastComments_LastModifiedBy_Lookup as string,\n\t\tForecastComments_LastModifiedOn_DateTime as timestamp,\n\t\tHandovertoCSMorPCSM as boolean,\n\t\tHasCustomerAgreedToBuy as boolean,\n\t\tHighLevelSolutionDesign as boolean,\n\t\tidentifybusinessdecisionmakersSeqNo as long,\n\t\tInitialBusinessCase as boolean,\n\t\tIsConclusionLetterSent as boolean,\n\t\tIsELPAgreementSecured as boolean,\n\t\tIsELPUploaded as boolean,\n\t\tIsIdentifyBuyingTeamComplete as boolean,\n\t\tIsIdentifyCompetitorsComplete as boolean,\n\t\tIsIdentifyLineItemsComplete as boolean,\n\t\tIsIdentifySalesTeamComplete as boolean,\n\t\tIsInternalAgreementSecured as boolean,\n\t\tIsLetterOfEngagementAccepted as boolean,\n\t\tIsOrderComplete as boolean,\n\t\tIsPartnerFundingSecured as boolean,\n\t\tIsPurchaseArrangementSecured as boolean,\n\t\tIsQuoteComplete as boolean,\n\t\tIsRevenueSystemCalculated as boolean,\n\t\tlastshipmentdate as timestamp,\n\t\tLicensingContact as string,\n\t\tLicensingProgramId as string,\n\t\tLSSODMComments as string,\n\t\tmicrosoftazureiotcertifieddevice as boolean,\n\t\tModifiedById as string,\n\t\tModifiedDate as timestamp,\n\t\tNeed as string,\n\t\tnewenrollmentnumber as string,\n\t\tNoofTenants as integer,\n\t\tNumberOfDials as integer,\n\t\tOdsCreatedDate as timestamp,\n\t\tOdsModifiedDate as timestamp,\n\t\tOdsStatus as integer,\n\t\toperationscontact as string,\n\t\tOpportunityCopyType as string,\n\t\tOpportunityCopyTypeCode as integer,\n\t\tOpportunityCopyTypeSeqNo as long,\n\t\tOpportunityId as string,\n\t\tOpportunityNumber as string,\n\t\tOpportunityScore as double,\n\t\tOpportunitySource as string,\n\t\tOpportunitySourceCode as integer,\n\t\tOpportunitySourceSeqNo as long,\n\t\tOpportunityTenantId as string,\n\t\tOriginalPartnerModifiedBy as string,\n\t\tOriginatingLeadId as string,\n\t\tOriginatingOpportunity as string,\n\t\tothercompetitor as string,\n\t\tOwnerId as string,\n\t\towningBusinessUnit as string,\n\t\tParentOpportunityId as string,\n\t\tPartnerAccountId as string,\n\t\tpartnermotion as string,\n\t\tpartnermotioncode as integer,\n\t\tpartnermotionSeqNo as long,\n\t\tPartnerReferral as string,\n\t\tpilotsolutionSeqNo as long,\n\t\tPrelimConsumptionPlan as boolean,\n\t\tpresentbusinesscaseSeqNo as long,\n\t\tpresentdealoptionsSeqNo as long,\n\t\tPriceLevelId as string,\n\t\tPricePointDetails as string,\n\t\tprimarycompetitor as string,\n\t\tPrimarySponsorContactId as string,\n\t\tPriority as string,\n\t\tPriorityCode as integer,\n\t\tPrioritySeqNo as long,\n\t\tProductSKU as string,\n\t\tPullForwardDate as timestamp,\n\t\tPurchaseTimeFrame as string,\n\t\tPurchaseTimeFrameCode as integer,\n\t\tPurchaseTimeFrameSeqNo as long,\n\t\tRapidResponse as boolean,\n\t\tRecommendation as string,\n\t\tRecommendationCode as integer,\n\t\tRecommendationSeqNo as long,\n\t\tRegistrationDate as timestamp,\n\t\trvtstatus as string,\n\t\trvtstatuscode as integer,\n\t\trvtstatusSeqNo as long,\n\t\trvtvalidationready as boolean,\n\t\tsalesplay as string,\n\t\tsalesplaySeqNo as long,\n\t\tselectsalesplay as string,\n\t\tselectsalesplaycode as integer,\n\t\tselectsalesplaySeqNo as long,\n\t\tSendToPartner as boolean,\n\t\tsharebompricing as string,\n\t\tsharebompricingcode as integer,\n\t\tsharebompricingSeqNo as long,\n\t\tsolutionarea as string,\n\t\tsolutionareaSeqNo as long,\n\t\tsolutiondesignindate as timestamp,\n\t\tsolutionstartdate as timestamp,\n\t\tSourceSubType as string,\n\t\tSourceSubTypeCode as integer,\n\t\tSourceSubTypeSeqNo as long,\n\t\tStateCode as integer,\n\t\tStatus as string,\n\t\tStatusCode as integer,\n\t\tStatusReason as string,\n\t\tStatusReasonSeqNo as long,\n\t\tStatusSeqNo as long,\n\t\tSubscriptionId as string,\n\t\tSurveyResponseRejectionCounts as integer,\n\t\ttechnicalcapability as string,\n\t\ttechnicalcapabilitySeqNo as long,\n\t\tTenantId as integer,\n\t\tTopic as string,\n\t\ttransactiontype as string,\n\t\ttransactiontypecode as integer,\n\t\ttransactiontypeSeqNo as long,\n\t\ttransitiontocsupartnerSeqNo as long,\n\t\tVersionNumber as long,\n\t\talignonbusinessimpactcode as integer,\n\t\talignonsolutionapproachcode as integer,\n\t\tcompletepredeploymentworkshopcode as integer,\n\t\tcompletetrialcode as integer,\n\t\tconductpoccode as integer,\n\t\tengagecosellprioritizedpartnercode as integer,\n\t\texecutedigitalimmersioncode as integer,\n\t\tidentifybusinessdecisionmakerscode as integer,\n\t\tpilotsolutioncode as integer,\n\t\tpresentbusinesscasecode as integer,\n\t\tpresentdealoptionscode as integer,\n\t\tsalesplaycode as integer,\n\t\tsolutionareacode as integer,\n\t\ttechnicalcapabilitycode as integer,\n\t\ttransitiontocsupartnercode as integer,\n\t\tAgreement as string,\n\t\tAgreementToProceedToContractNegotiation as boolean,\n\t\tConfirmTimelineAndBudgetStatus as boolean,\n\t\tCustomerAgreesSolutionIsTechnicallyViable as boolean,\n\t\tCustomerAgreesToPerformAProofOfConcept as boolean,\n\t\tCustomerAgreesWithMSValueProposition as boolean,\n\t\tCustomerApprovesBusinessCaseFramework as boolean,\n\t\tCustomerApprovesTechnicalCriteria as boolean,\n\t\tCustomerSignsContractOrAgreesToPlaceOrder as boolean,\n\t\tdemandresponsedealtype as string,\n\t\tdemandresponsedealtypecode as integer,\n\t\tIdentifyBuyingTeamStakeholders as boolean,\n\t\tInvoice as string,\n\t\tPresentCustomerWithFinalValueCaseProposal as boolean,\n\t\tActiveProcess as string,\n\t\tActiveSalesStage as string,\n\t\tActualBilledCloseDate as timestamp,\n\t\tActualConsumptionCloseDate as timestamp,\n\t\tAzureActiveDevicesNonRecurring as integer,\n\t\tAzureActiveDevicesRecurring as decimal(10,0),\n\t\tAzureConsumedNonRecurring as decimal(10,0),\n\t\tAzureConsumedNonRecurringBase as decimal(10,0),\n\t\tAzureConsumedRecurring as decimal(10,0),\n\t\tAzureConsumedRecurringBase as decimal(10,0),\n\t\tBilledClosingComments as string,\n\t\tBilledRevenueCloseReason as integer,\n\t\tBilledRevenueStatus as integer,\n\t\tBilledActualRevenueBase as decimal(10,0),\n\t\tBizAppsActiveDevicesNonRecurring as decimal(10,0),\n\t\tBizAppsActiveDevicesRecurring as decimal(10,0),\n\t\tBizAppsBACVNonRecurring as decimal(10,0),\n\t\tBizAppsBACVNonRecurringBase as decimal(10,0),\n\t\tBizAppsBACVRecurring as decimal(10,0),\n\t\tBizAppsBACVRecurringBase as decimal(10,0),\n\t\tConsumptionClosingComments as string,\n\t\tConsumptionStatus as integer,\n\t\tConsumptionStatusReason as integer,\n\t\tCustomerAgreementInPlace as integer,\n\t\tDesignAgreedWithCustomer as integer,\n\t\tEngagementNarrative as string,\n\t\tEngagementNextSteps as string,\n\t\tEstStartDate as timestamp,\n\t\tEstCompletionDate as timestamp,\n\t\tMigratedEngagementId as string,\n\t\tMigratedEngagementNumber as string,\n\t\tMilestonesFlag as string,\n\t\tOpportunityCompletedAndNextStepsIdentified as integer,\n\t\tOpportunityType as string,\n\t\tOutcomesMetAndBaselineMetricsInPlace as integer,\n\t\tProductFlags as string,\n\t\tQualifiedOpportunity as integer,\n\t\tSecurityActiveDevicesNonRecurring as decimal(10,0),\n\t\tSecurityActiveDevicesRecurring as decimal(10,0),\n\t\tSecurityConsumedNonRecurring as decimal(10,0),\n\t\tSecurityConsumedNonRecurringBase as decimal(10,0),\n\t\tSecurityConsumedRecurring as decimal(10,0),\n\t\tSecurityConsumedRecurringBase as decimal(10,0),\n\t\tAzureCapacityType as string,\n\t\tPreferredAzureRegion as integer,\n\t\tInitialStakeholderIdentificationComplete as integer,\n\t\tCustomerNeedsAndOutcomesDefine as integer,\n\t\tCustomerPrioritiesIdentified as integer,\n\t\tSolutionPlaysConfirmedDealTeamOrchest as integer,\n\t\tPartnersIdentifiedAndEngaged as integer,\n\t\tBusinessValueConsiderationsCompleted as integer,\n\t\tSolutionDesignValidatedWithCustomer as integer,\n\t\tTechnicalBusinessProofRequirementSide as integer,\n\t\tCustomersignedoffonproposesolution as integer,\n\t\tCustomerSuccessPlanReviewedWithCustomer as integer,\n\t\tCustomerCommitToProposal as integer,\n\t\tResourcesAlignAgainstDeliveryPlan as integer,\n\t\tChangeManagementPlanPlace as integer,\n\t\tSolutionDeliveredAgainstAgreedOutcome as integer,\n\t\tCustomerHealthMetricsAgreedWithMonitoring as integer,\n\t\tNextSetOfCustomerNeedsIdentify as integer,\n\t\tBusValueAndSuccessOutcomeMonitoringInPlac as integer,\n\t\tCustomerCanOperateAndMaintainSolution as integer,\n\t\tMigratedEngagementCreatedBy as string,\n\t\tCustomerSuccessPlanUpdated as integer,\n\t\tEDLPExtractDateTime as timestamp,\n\t\tEDLPLoadTS as string,\n\t\tEDLPModifiedDateTime as timestamp,\n\t\tEDLPDeltaActionCode as string,\n\t\tConsumedRecurring as decimal(10,0),\n\t\tConsumedRecurringBase as decimal(10,0),\n\t\tConsumedNonRecurring as decimal(10,0),\n\t\tConsumedNonRecurringBase as decimal(10,0),\n\t\tConsumptionActiveDevicesRecurring as decimal(10,0),\n\t\tConsumptionActiveDevicesNonRecurring as decimal(10,0),\n\t\tModernConsumedRecurring as decimal(10,0),\n\t\tModernConsumedRecurringBase as decimal(10,0),\n\t\tModernConsumedNonRecurring as decimal(10,0),\n\t\tModernConsumedNonRecurringBase as decimal(10,0),\n\t\tModernActiveDevicesRecurring as decimal(10,0),\n\t\tModernActiveDevicesNonRecurring as decimal(10,0),\n\t\tRiskScore as decimal(10,5)\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> Opportunity\nexistsInOpp filter(OdsStatus==0) ~> Filter1\nOpportunityTeamTeam, Opportunity exists(OpportunityTeamTeam@OpportunityId == Opportunity@OpportunityId,\n\tnegate:false,\n\tbroadcast: 'auto')~> existsInOpp\nFilter1 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tEDLPExtractId as string,\n\t\tCreatedById as string,\n\t\tCreatedDate as timestamp,\n\t\tCrmInstanceId as string,\n\t\tModifiedById as string,\n\t\tModifiedDate as timestamp,\n\t\tOdsCreatedDate as timestamp,\n\t\tOdsModifiedDate as timestamp,\n\t\tOdsStatus as integer,\n\t\tOpportunityId as string,\n\t\tOpportunityTeamId as integer,\n\t\tSystemUserId as string,\n\t\tTenantId as integer,\n\t\tVersionNumber as long,\n\t\tTeamId as string,\n\t\tEDLPExtractDateTime as timestamp,\n\t\tEDLPLoadTS as string,\n\t\tEDLPModifiedDateTime as timestamp,\n\t\tEDLPDeltaActionCode as string,\n\t\tExtractId as string,\n\t\tExtractDateTime as timestamp,\n\t\tLoadTS as timestamp,\n\t\tDeltaActionCode as string,\n\t\tPlatformCreatedDate as timestamp,\n\t\tPlatformModifiedDate as timestamp,\n\t\tPlatformModifiedDateAsInt as long\n\t),\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\trecreate:true,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError') ~> sink1"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/OpportunityTeam_copy1')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "v2"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"linkedService": {
								"referenceName": "msxdatalake",
								"type": "LinkedServiceReference"
							},
							"name": "OpportunityTeamTeam"
						},
						{
							"dataset": {
								"referenceName": "FocusUser",
								"type": "DatasetReference"
							},
							"name": "focusMember"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "MSXOpportunityTeam_copy1",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "Filter1"
						},
						{
							"name": "exists1"
						}
					],
					"script": "source(output(\n\t\tEDLPExtractId as string,\n\t\tCreatedById as string,\n\t\tCreatedDate as timestamp,\n\t\tCrmInstanceId as string,\n\t\tModifiedById as string,\n\t\tModifiedDate as timestamp,\n\t\tOdsCreatedDate as timestamp,\n\t\tOdsModifiedDate as timestamp,\n\t\tOdsStatus as integer,\n\t\tOpportunityId as string,\n\t\tOpportunityTeamId as integer,\n\t\tSystemUserId as string,\n\t\tTenantId as integer,\n\t\tVersionNumber as long,\n\t\tTeamId as string,\n\t\tEDLPExtractDateTime as timestamp,\n\t\tEDLPLoadTS as string,\n\t\tEDLPModifiedDateTime as timestamp,\n\t\tEDLPDeltaActionCode as string,\n\t\tExtractId as string,\n\t\tExtractDateTime as timestamp,\n\t\tLoadTS as timestamp,\n\t\tDeltaActionCode as string,\n\t\tPlatformCreatedDate as timestamp,\n\t\tPlatformModifiedDate as timestamp,\n\t\tPlatformModifiedDateAsInt as long\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tformat: 'delta',\n\tfileSystem: 'cseo',\n\tfolderPath: 'standardized/transactional/msx/hub_vw_opportunityteam/v1/standard') ~> OpportunityTeamTeam\nsource(output(\n\t\tEDLPExtractId as string,\n\t\tAccessMode as string,\n\t\tAccessModeCode as integer,\n\t\tAccessModeSeqNo as long,\n\t\tAddress1_AddressId as string,\n\t\tAddress1_City as string,\n\t\tAddress1_Country as string,\n\t\tAddress1_Fax as string,\n\t\tAddress1_Line1 as string,\n\t\tAddress1_Line2 as string,\n\t\tAddress1_Line3 as string,\n\t\tAddress1_PostalCode as string,\n\t\tAddress1_StateOrProvince as string,\n\t\tAddress1_Telephone1 as string,\n\t\tAddress1_Telephone3 as string,\n\t\tBusinessUnitId as string,\n\t\tCalType as string,\n\t\tCalTypeCode as integer,\n\t\tCalTypeSeqNo as long,\n\t\tCreatedById as string,\n\t\tCreatedDate as timestamp,\n\t\tCrmInstanceId as string,\n\t\tDefaultMailbox as string,\n\t\tDomainName as string,\n\t\tDPNSignDate as timestamp,\n\t\tdsraction as string,\n\t\tdsrdate as timestamp,\n\t\tdsrticket as string,\n\t\tFirstName as string,\n\t\tHomePhone as string,\n\t\tInternalEmailAddress as string,\n\t\tInviteStatus as string,\n\t\tInviteStatusCode as integer,\n\t\tInviteStatusSeqNo as long,\n\t\tIsDisabled as boolean,\n\t\tIsNotificationSent as string,\n\t\tIsNotificationSentCode as integer,\n\t\tIsNotificationSentSeqNo as long,\n\t\tLastName as string,\n\t\tMiddleName as string,\n\t\tMobileAlertEmail as string,\n\t\tMobilePhone as string,\n\t\tModifiedById as string,\n\t\tModifiedDate as timestamp,\n\t\tOdsCreatedDate as timestamp,\n\t\tOdsModifiedDate as timestamp,\n\t\tOdsStatus as integer,\n\t\tParentSystemUserId as string,\n\t\tPersonalEmailAddress as string,\n\t\tPreferredAddress as string,\n\t\tPreferredAddressCode as integer,\n\t\tPreferredAddressSeqNo as long,\n\t\tPreferredPhone as string,\n\t\tPreferredPhoneCode as integer,\n\t\tPreferredPhoneSeqNo as long,\n\t\tQueueId as string,\n\t\tRole as string,\n\t\tRoleCode as integer,\n\t\tRoleSeqNo as long,\n\t\tSiteId as string,\n\t\tSystemUserId as string,\n\t\tTenantId as integer,\n\t\tTerritoryId as string,\n\t\tTitle as string,\n\t\tVersionNumber as long,\n\t\tWindowsLiveId as string,\n\t\tareaname as string,\n\t\tdiscipline as string,\n\t\tGTMPosition as string,\n\t\tindustry as string,\n\t\torg as string,\n\t\torgdetail as string,\n\t\torgsummary as string,\n\t\tprofession as string,\n\t\tqualifier1 as string,\n\t\tqualifier2 as string,\n\t\tregionname as string,\n\t\trolegroup as string,\n\t\troleidentity as string,\n\t\tRoleSummary as string,\n\t\tsalesdistrictname as string,\n\t\tsaleslocationname as string,\n\t\tsolutionarea as string,\n\t\tsubregionname as string,\n\t\tsystemusertype as string,\n\t\tEDLPExtractDateTime as timestamp,\n\t\tEDLPLoadTS as string,\n\t\tEDLPModifiedDateTime as timestamp,\n\t\tEDLPDeltaActionCode as string,\n\t\tExtractId as string,\n\t\tExtractDateTime as timestamp,\n\t\tLoadTS as timestamp,\n\t\tDeltaActionCode as string,\n\t\tPlatformCreatedDate as timestamp,\n\t\tPlatformModifiedDate as timestamp,\n\t\tPlatformModifiedDateAsInt as long,\n\t\tazureactivedirectoryobjectid as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> focusMember\nexists1 filter(OdsStatus==0) ~> Filter1\nOpportunityTeamTeam, focusMember exists(OpportunityTeamTeam@SystemUserId == focusMember@SystemUserId,\n\tnegate:false,\n\tbroadcast: 'auto')~> exists1\nFilter1 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tEDLPExtractId as string,\n\t\tCreatedById as string,\n\t\tCreatedDate as timestamp,\n\t\tCrmInstanceId as string,\n\t\tModifiedById as string,\n\t\tModifiedDate as timestamp,\n\t\tOdsCreatedDate as timestamp,\n\t\tOdsModifiedDate as timestamp,\n\t\tOdsStatus as integer,\n\t\tOpportunityId as string,\n\t\tOpportunityTeamId as integer,\n\t\tSystemUserId as string,\n\t\tTenantId as integer,\n\t\tVersionNumber as long,\n\t\tTeamId as string,\n\t\tEDLPExtractDateTime as timestamp,\n\t\tEDLPLoadTS as string,\n\t\tEDLPModifiedDateTime as timestamp,\n\t\tEDLPDeltaActionCode as string,\n\t\tExtractId as string,\n\t\tExtractDateTime as timestamp,\n\t\tLoadTS as timestamp,\n\t\tDeltaActionCode as string,\n\t\tPlatformCreatedDate as timestamp,\n\t\tPlatformModifiedDate as timestamp,\n\t\tPlatformModifiedDateAsInt as long\n\t),\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\trecreate:true,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError') ~> sink1"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/MSXOpportunityTeam_copy1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/focusMember')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "Infra Engagement"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"linkedService": {
								"referenceName": "msxdatalake",
								"type": "LinkedServiceReference"
							},
							"name": "MSXsystemuser"
						},
						{
							"dataset": {
								"referenceName": "UserList",
								"type": "DatasetReference"
							},
							"name": "UserList"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "FocusUser",
								"type": "DatasetReference"
							},
							"name": "TargetUser"
						}
					],
					"transformations": [
						{
							"name": "exists1"
						}
					],
					"script": "source(output(\n\t\tEDLPExtractId as string,\n\t\tAccessMode as string,\n\t\tAccessModeCode as integer,\n\t\tAccessModeSeqNo as long,\n\t\tAddress1_AddressId as string,\n\t\tAddress1_City as string,\n\t\tAddress1_Country as string,\n\t\tAddress1_Fax as string,\n\t\tAddress1_Line1 as string,\n\t\tAddress1_Line2 as string,\n\t\tAddress1_Line3 as string,\n\t\tAddress1_PostalCode as string,\n\t\tAddress1_StateOrProvince as string,\n\t\tAddress1_Telephone1 as string,\n\t\tAddress1_Telephone3 as string,\n\t\tBusinessUnitId as string,\n\t\tCalType as string,\n\t\tCalTypeCode as integer,\n\t\tCalTypeSeqNo as long,\n\t\tCreatedById as string,\n\t\tCreatedDate as timestamp,\n\t\tCrmInstanceId as string,\n\t\tDefaultMailbox as string,\n\t\tDomainName as string,\n\t\tDPNSignDate as timestamp,\n\t\tdsraction as string,\n\t\tdsrdate as timestamp,\n\t\tdsrticket as string,\n\t\tFirstName as string,\n\t\tHomePhone as string,\n\t\tInternalEmailAddress as string,\n\t\tInviteStatus as string,\n\t\tInviteStatusCode as integer,\n\t\tInviteStatusSeqNo as long,\n\t\tIsDisabled as boolean,\n\t\tIsNotificationSent as string,\n\t\tIsNotificationSentCode as integer,\n\t\tIsNotificationSentSeqNo as long,\n\t\tLastName as string,\n\t\tMiddleName as string,\n\t\tMobileAlertEmail as string,\n\t\tMobilePhone as string,\n\t\tModifiedById as string,\n\t\tModifiedDate as timestamp,\n\t\tOdsCreatedDate as timestamp,\n\t\tOdsModifiedDate as timestamp,\n\t\tOdsStatus as integer,\n\t\tParentSystemUserId as string,\n\t\tPersonalEmailAddress as string,\n\t\tPreferredAddress as string,\n\t\tPreferredAddressCode as integer,\n\t\tPreferredAddressSeqNo as long,\n\t\tPreferredPhone as string,\n\t\tPreferredPhoneCode as integer,\n\t\tPreferredPhoneSeqNo as long,\n\t\tQueueId as string,\n\t\tRole as string,\n\t\tRoleCode as integer,\n\t\tRoleSeqNo as long,\n\t\tSiteId as string,\n\t\tSystemUserId as string,\n\t\tTenantId as integer,\n\t\tTerritoryId as string,\n\t\tTitle as string,\n\t\tVersionNumber as long,\n\t\tWindowsLiveId as string,\n\t\tareaname as string,\n\t\tdiscipline as string,\n\t\tGTMPosition as string,\n\t\tindustry as string,\n\t\torg as string,\n\t\torgdetail as string,\n\t\torgsummary as string,\n\t\tprofession as string,\n\t\tqualifier1 as string,\n\t\tqualifier2 as string,\n\t\tregionname as string,\n\t\trolegroup as string,\n\t\troleidentity as string,\n\t\tRoleSummary as string,\n\t\tsalesdistrictname as string,\n\t\tsaleslocationname as string,\n\t\tsolutionarea as string,\n\t\tsubregionname as string,\n\t\tsystemusertype as string,\n\t\tEDLPExtractDateTime as timestamp,\n\t\tEDLPLoadTS as string,\n\t\tEDLPModifiedDateTime as timestamp,\n\t\tEDLPDeltaActionCode as string,\n\t\tExtractId as string,\n\t\tExtractDateTime as timestamp,\n\t\tLoadTS as timestamp,\n\t\tDeltaActionCode as string,\n\t\tPlatformCreatedDate as timestamp,\n\t\tPlatformModifiedDate as timestamp,\n\t\tPlatformModifiedDateAsInt as long,\n\t\tazureactivedirectoryobjectid as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tformat: 'delta',\n\tfileSystem: 'cseo',\n\tfolderPath: 'standardized/masterandreference/msx/hub_vw_systemuser/v1/sensitive') ~> MSXsystemuser\nsource(output(\n\t\tdomainname as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> UserList\nMSXsystemuser, UserList exists(MSXsystemuser@DomainName == UserList@domainname,\n\tnegate:false,\n\tbroadcast: 'auto')~> exists1\nexists1 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\trecreate:true,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError') ~> TargetUser"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/msxaccount')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "Infra Engagement"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"linkedService": {
								"referenceName": "msxdatalake",
								"type": "LinkedServiceReference"
							},
							"name": "msxaccount"
						},
						{
							"dataset": {
								"referenceName": "MSXOpportunity",
								"type": "DatasetReference"
							},
							"name": "GBBOpportunity"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "MSXAccount",
								"type": "DatasetReference"
							},
							"name": "AccountForGBBOpp"
						}
					],
					"transformations": [
						{
							"name": "existsInGBBOpportunity"
						}
					],
					"script": "source(output(\n\t\tEDLPExtractId as string,\n\t\taccountcreatedby as string,\n\t\tAccountId as string,\n\t\taccountmodifiedby as string,\n\t\tAccountName as string,\n\t\tAccountNumber as string,\n\t\tAddressId as string,\n\t\tCID as string,\n\t\tCity as string,\n\t\tclanumber as string,\n\t\tCountry as string,\n\t\tCreatedById as string,\n\t\tCreatedDate as timestamp,\n\t\tcreatedonbehalfby as string,\n\t\tCrmInstanceId as string,\n\t\tCurrencyId as string,\n\t\tCustomerSegment as integer,\n\t\tCustomerSubsegment as integer,\n\t\tDescription as string,\n\t\tdsraction as string,\n\t\tdsrdate as timestamp,\n\t\tdsrticket as string,\n\t\tDunsID as string,\n\t\tEligibleForUnifiedSupport as boolean,\n\t\tEndCustomerSegment as string,\n\t\tEndCustomerSegmentSeqNo as long,\n\t\tEndCustomerSubsegment as string,\n\t\tEndCustomerSubsegmentSeqNo as long,\n\t\tenglishtranslatedaccountname as string,\n\t\tFax as string,\n\t\tFYStartMonth as string,\n\t\tFYStartMonthcode as integer,\n\t\tFYStartMonthSeqNo as long,\n\t\tGPID as string,\n\t\tGPName as string,\n\t\tHardwareBuyingStrategy as string,\n\t\tHardwareDecisionMaker as string,\n\t\tIndustry as string,\n\t\tIndustryCode as integer,\n\t\tIndustrySeqNo as long,\n\t\tIndustryVertical as string,\n\t\tIndustryVerticalCode as integer,\n\t\tIndustryVerticalSeqNo as long,\n\t\tisvtechaptitude as string,\n\t\tisvtechaptitudecode as integer,\n\t\tisvtechaptitudeSeqNo as long,\n\t\tLicenseAgreementType as string,\n\t\tLicenseAgreementTypeCode as integer,\n\t\tLicenseAgreementTypeSeqNo as long,\n\t\tLine1 as string,\n\t\tLine2 as string,\n\t\tLine3 as string,\n\t\tMainPhone as string,\n\t\tManagedstatus as string,\n\t\tManagedstatusCode as integer,\n\t\tManagedstatusSeqNo as long,\n\t\tmcapi as string,\n\t\tMDMOrganizationId as string,\n\t\tModifiedById as string,\n\t\tModifiedDate as timestamp,\n\t\tmodifiedonbehalfby as string,\n\t\tMSP_HQ as boolean,\n\t\tmsp_IncomingATS as string,\n\t\tmsp_OutgoingATS as string,\n\t\tMSSalesId as string,\n\t\tMSSalesTopParentId as string,\n\t\tNumberOfEmployees as integer,\n\t\tOdsCreatedDate as timestamp,\n\t\tOdsModifiedDate as timestamp,\n\t\tOdsStatus as integer,\n\t\tOEMManaged as boolean,\n\t\toemorganizationtype as string,\n\t\toemorganizationtypecode as integer,\n\t\toemorganizationtypeSeqNo as long,\n\t\toemsegmenttype as string,\n\t\toemsegmenttypecode as integer,\n\t\toemsegmenttypeSeqNo as long,\n\t\tOwnerId as string,\n\t\towningBusinessUnit as string,\n\t\tParentAccountId as string,\n\t\tParentingLevel as string,\n\t\tParentingLevelCode as integer,\n\t\tParentingLevelSeqNo as long,\n\t\tPcCount as integer,\n\t\tpevcinvestors as string,\n\t\tpevcownedSeqNo as long,\n\t\tPonId as string,\n\t\tPostalCode as string,\n\t\tpreviousaccountowner as string,\n\t\tServerCount as integer,\n\t\tServicesEngagement as boolean,\n\t\tSmartphoneCount as integer,\n\t\tStateCode as integer,\n\t\tStateOrProvince as string,\n\t\tStatus as string,\n\t\tStatusCode as integer,\n\t\tStatusReason as string,\n\t\tStatusReasonSeqNo as long,\n\t\tStatusSeqNo as long,\n\t\tTabletCount as integer,\n\t\tTaxId as string,\n\t\tTenantId as integer,\n\t\tTerritoryId as string,\n\t\tVersionNumber as long,\n\t\tVerticalCategory as string,\n\t\tVerticalCategoryCode as integer,\n\t\tVerticalCategorySeqNo as long,\n\t\tWebsiteUrl as string,\n\t\tpevcownedcode as integer,\n\t\tEDLPExtractDateTime as timestamp,\n\t\tEDLPLoadTS as string,\n\t\tEDLPModifiedDateTime as timestamp,\n\t\tEDLPDeltaActionCode as string,\n\t\tExtractId as string,\n\t\tExtractDateTime as timestamp,\n\t\tLoadTS as timestamp,\n\t\tDeltaActionCode as string,\n\t\tPlatformCreatedDate as timestamp,\n\t\tPlatformModifiedDate as timestamp,\n\t\tPlatformModifiedDateAsInt as long,\n\t\tmsp_accountplanid as string,\n\t\tmsp_verticalcode as integer,\n\t\tmsp_subverticalcode as integer\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tformat: 'delta',\n\tfileSystem: 'cseo',\n\tfolderPath: 'standardized/masterandreference/msx/hub_vw_account/v1/standard') ~> msxaccount\nsource(output(\n\t\tEDLPExtractId as string,\n\t\taccessecif as string,\n\t\taccessecifcode as integer,\n\t\taccessecifSeqNo as long,\n\t\tAccountId as string,\n\t\tActualCloseDate as timestamp,\n\t\tActualvalue as double,\n\t\tAdhocSurvey as integer,\n\t\tAgreedToBuy as boolean,\n\t\talignonbusinessimpactSeqNo as long,\n\t\talignonsolutionapproachSeqNo as long,\n\t\tAntipiracyEngagementTypeId as string,\n\t\tattachedservices as boolean,\n\t\tbaseopportunity as string,\n\t\tbaseopportunitycode as integer,\n\t\tbaseopportunitySeqNo as long,\n\t\tBilledRevenue as double,\n\t\tbizappssalesplay as string,\n\t\tbizappssalesplaycode as integer,\n\t\tbizappssalesplaySeqNo as long,\n\t\tBudgetAmount as double,\n\t\tCampaignId as string,\n\t\tClaimTPID as string,\n\t\tclanumber as string,\n\t\tcloseplan as string,\n\t\tclosestatus as string,\n\t\tclosestatuscode as integer,\n\t\tclosestatusSeqNo as long,\n\t\tcommercialconstructapprovedbycustomer as string,\n\t\tcommercialconstructapprovedbycustomercode as integer,\n\t\tcommercialconstructapprovedbycustomerSeqNo as long,\n\t\tcompetethreatlevel as string,\n\t\tcompetethreatlevelcode as integer,\n\t\tcompetethreatlevelSeqNo as long,\n\t\tCompleteClosePlan as boolean,\n\t\tCompleteDeploymentWorkshop as timestamp,\n\t\tCompleteFinalProposal as boolean,\n\t\tcompletejointcatalystengagementplan as string,\n\t\tcompletejointcatalystengagementplancode as integer,\n\t\tcompletejointcatalystengagementplanSeqNo as long,\n\t\tcompletepredeploymentworkshopSeqNo as long,\n\t\tcompletetechnicalassessment as string,\n\t\tcompletetechnicalassessmentcode as integer,\n\t\tcompletetechnicalassessmentSeqNo as long,\n\t\tCompleteTechnicalClosePlan as timestamp,\n\t\tcompletetrialSeqNo as long,\n\t\tCompleteWorkshop as timestamp,\n\t\tcomplexity as string,\n\t\tcomplexitycode as integer,\n\t\tcomplexitySeqNo as long,\n\t\tconductpocSeqNo as long,\n\t\tConfirmTrial as timestamp,\n\t\tConsentToSendToPartner as string,\n\t\tConsentToSendToPartnerBy as string,\n\t\tConsentToSendToPartnerCode as integer,\n\t\tConsentToSendToPartnerSeqNo as long,\n\t\tcontractsignaturetype as string,\n\t\tcontractsignaturetypecode as integer,\n\t\tcontractsignaturetypeSeqNo as long,\n\t\tcorrectedecid as string,\n\t\tcosell as string,\n\t\tcosellcode as integer,\n\t\tcosellSeqNo as long,\n\t\tcpumodelseries as string,\n\t\tcpumodelseriescode as integer,\n\t\tcpumodelseriesSeqNo as long,\n\t\tcreatebusinessvalueassessment as string,\n\t\tcreatebusinessvalueassessmentcode as integer,\n\t\tcreatebusinessvalueassessmentSeqNo as long,\n\t\tCreatedById as string,\n\t\tCreatedDate as timestamp,\n\t\tCriticalDeal as boolean,\n\t\tCrmInstanceId as string,\n\t\tCurrencyId as string,\n\t\tCurrentSalesStageModifiedOn as timestamp,\n\t\tcustomersignoffonassessments as string,\n\t\tcustomersignoffonassessmentscode as integer,\n\t\tcustomersignoffonassessmentsSeqNo as long,\n\t\tcustomersuccessplanworkshopcomplete as string,\n\t\tcustomersuccessplanworkshopcompletecode as integer,\n\t\tcustomersuccessplanworkshopcompleteSeqNo as long,\n\t\tdealtype as string,\n\t\tdealtypecode as integer,\n\t\tdealtypeSeqNo as long,\n\t\tdeliverbusinessvalueenlighten as string,\n\t\tdeliverbusinessvalueenlightencode as integer,\n\t\tdeliverbusinessvalueenlightenSeqNo as long,\n\t\tdeliverenvisioningworkshop as string,\n\t\tdeliverenvisioningworkshopcode as integer,\n\t\tdeliverenvisioningworkshopSeqNo as long,\n\t\tdeliverinitialpitch as string,\n\t\tdeliverinitialpitchcode as integer,\n\t\tdeliverinitialpitchSeqNo as long,\n\t\tdelivertailoreddemonstration as string,\n\t\tdelivertailoreddemonstrationcode as integer,\n\t\tdelivertailoreddemonstrationSeqNo as long,\n\t\tdelivertechnicalcase as string,\n\t\tdelivertechnicalcasecode as integer,\n\t\tdelivertechnicalcaseSeqNo as long,\n\t\tdelivertransformationplan as string,\n\t\tdelivertransformationplancode as integer,\n\t\tdelivertransformationplanSeqNo as long,\n\t\tdemonstrateroi as string,\n\t\tdemonstrateroicode as integer,\n\t\tdemonstrateroiSeqNo as long,\n\t\tdevicecategory as string,\n\t\tdevicecategorycode as integer,\n\t\tdevicecategorySeqNo as long,\n\t\tengagecosellprioritizedpartnerSeqNo as long,\n\t\tengagedwrawrforecif as string,\n\t\tengagedwrawrforecifcode as integer,\n\t\tengagedwrawrforecifSeqNo as long,\n\t\tengagefasttrack as string,\n\t\tengagefasttrackcode as integer,\n\t\tengagefasttrackSeqNo as long,\n\t\tengagegbb as string,\n\t\tengagegbbcode as integer,\n\t\tengagegbbSeqNo as long,\n\t\tengagemicrosoftexecutivewithcustomercxo as string,\n\t\tengagemicrosoftexecutivewithcustomercxocode as integer,\n\t\tengagemicrosoftexecutivewithcustomercxoSeqNo as long,\n\t\tEngageServices as string,\n\t\tEnrollmentNumber as string,\n\t\tEstimatedCloseDate as timestamp,\n\t\tEstimatedValue as double,\n\t\tEstROCArrivalDate as timestamp,\n\t\tEvaluationPlan as boolean,\n\t\texecutedigitalimmersionSeqNo as long,\n\t\tFinalConsumptionPlan as boolean,\n\t\tfinaldecisiondate as timestamp,\n\t\tForecastComments as string,\n\t\tForecastComments_LastModifiedBy_Lookup as string,\n\t\tForecastComments_LastModifiedOn_DateTime as timestamp,\n\t\tHandovertoCSMorPCSM as boolean,\n\t\tHasCustomerAgreedToBuy as boolean,\n\t\tHighLevelSolutionDesign as boolean,\n\t\tidentifybusinessdecisionmakersSeqNo as long,\n\t\tInitialBusinessCase as boolean,\n\t\tIsConclusionLetterSent as boolean,\n\t\tIsELPAgreementSecured as boolean,\n\t\tIsELPUploaded as boolean,\n\t\tIsIdentifyBuyingTeamComplete as boolean,\n\t\tIsIdentifyCompetitorsComplete as boolean,\n\t\tIsIdentifyLineItemsComplete as boolean,\n\t\tIsIdentifySalesTeamComplete as boolean,\n\t\tIsInternalAgreementSecured as boolean,\n\t\tIsLetterOfEngagementAccepted as boolean,\n\t\tIsOrderComplete as boolean,\n\t\tIsPartnerFundingSecured as boolean,\n\t\tIsPurchaseArrangementSecured as boolean,\n\t\tIsQuoteComplete as boolean,\n\t\tIsRevenueSystemCalculated as boolean,\n\t\tlastshipmentdate as timestamp,\n\t\tLicensingContact as string,\n\t\tLicensingProgramId as string,\n\t\tLSSODMComments as string,\n\t\tmicrosoftazureiotcertifieddevice as boolean,\n\t\tModifiedById as string,\n\t\tModifiedDate as timestamp,\n\t\tNeed as string,\n\t\tnewenrollmentnumber as string,\n\t\tNoofTenants as integer,\n\t\tNumberOfDials as integer,\n\t\tOdsCreatedDate as timestamp,\n\t\tOdsModifiedDate as timestamp,\n\t\tOdsStatus as integer,\n\t\toperationscontact as string,\n\t\tOpportunityCopyType as string,\n\t\tOpportunityCopyTypeCode as integer,\n\t\tOpportunityCopyTypeSeqNo as long,\n\t\tOpportunityId as string,\n\t\tOpportunityNumber as string,\n\t\tOpportunityScore as double,\n\t\tOpportunitySource as string,\n\t\tOpportunitySourceCode as integer,\n\t\tOpportunitySourceSeqNo as long,\n\t\tOpportunityTenantId as string,\n\t\tOriginalPartnerModifiedBy as string,\n\t\tOriginatingLeadId as string,\n\t\tOriginatingOpportunity as string,\n\t\tothercompetitor as string,\n\t\tOwnerId as string,\n\t\towningBusinessUnit as string,\n\t\tParentOpportunityId as string,\n\t\tPartnerAccountId as string,\n\t\tpartnermotion as string,\n\t\tpartnermotioncode as integer,\n\t\tpartnermotionSeqNo as long,\n\t\tPartnerReferral as string,\n\t\tpilotsolutionSeqNo as long,\n\t\tPrelimConsumptionPlan as boolean,\n\t\tpresentbusinesscaseSeqNo as long,\n\t\tpresentdealoptionsSeqNo as long,\n\t\tPriceLevelId as string,\n\t\tPricePointDetails as string,\n\t\tprimarycompetitor as string,\n\t\tPrimarySponsorContactId as string,\n\t\tPriority as string,\n\t\tPriorityCode as integer,\n\t\tPrioritySeqNo as long,\n\t\tProductSKU as string,\n\t\tPullForwardDate as timestamp,\n\t\tPurchaseTimeFrame as string,\n\t\tPurchaseTimeFrameCode as integer,\n\t\tPurchaseTimeFrameSeqNo as long,\n\t\tRapidResponse as boolean,\n\t\tRecommendation as string,\n\t\tRecommendationCode as integer,\n\t\tRecommendationSeqNo as long,\n\t\tRegistrationDate as timestamp,\n\t\trvtstatus as string,\n\t\trvtstatuscode as integer,\n\t\trvtstatusSeqNo as long,\n\t\trvtvalidationready as boolean,\n\t\tsalesplay as string,\n\t\tsalesplaySeqNo as long,\n\t\tselectsalesplay as string,\n\t\tselectsalesplaycode as integer,\n\t\tselectsalesplaySeqNo as long,\n\t\tSendToPartner as boolean,\n\t\tsharebompricing as string,\n\t\tsharebompricingcode as integer,\n\t\tsharebompricingSeqNo as long,\n\t\tsolutionarea as string,\n\t\tsolutionareaSeqNo as long,\n\t\tsolutiondesignindate as timestamp,\n\t\tsolutionstartdate as timestamp,\n\t\tSourceSubType as string,\n\t\tSourceSubTypeCode as integer,\n\t\tSourceSubTypeSeqNo as long,\n\t\tStateCode as integer,\n\t\tStatus as string,\n\t\tStatusCode as integer,\n\t\tStatusReason as string,\n\t\tStatusReasonSeqNo as long,\n\t\tStatusSeqNo as long,\n\t\tSubscriptionId as string,\n\t\tSurveyResponseRejectionCounts as integer,\n\t\ttechnicalcapability as string,\n\t\ttechnicalcapabilitySeqNo as long,\n\t\tTenantId as integer,\n\t\tTopic as string,\n\t\ttransactiontype as string,\n\t\ttransactiontypecode as integer,\n\t\ttransactiontypeSeqNo as long,\n\t\ttransitiontocsupartnerSeqNo as long,\n\t\tVersionNumber as long,\n\t\talignonbusinessimpactcode as integer,\n\t\talignonsolutionapproachcode as integer,\n\t\tcompletepredeploymentworkshopcode as integer,\n\t\tcompletetrialcode as integer,\n\t\tconductpoccode as integer,\n\t\tengagecosellprioritizedpartnercode as integer,\n\t\texecutedigitalimmersioncode as integer,\n\t\tidentifybusinessdecisionmakerscode as integer,\n\t\tpilotsolutioncode as integer,\n\t\tpresentbusinesscasecode as integer,\n\t\tpresentdealoptionscode as integer,\n\t\tsalesplaycode as integer,\n\t\tsolutionareacode as integer,\n\t\ttechnicalcapabilitycode as integer,\n\t\ttransitiontocsupartnercode as integer,\n\t\tAgreement as string,\n\t\tAgreementToProceedToContractNegotiation as boolean,\n\t\tConfirmTimelineAndBudgetStatus as boolean,\n\t\tCustomerAgreesSolutionIsTechnicallyViable as boolean,\n\t\tCustomerAgreesToPerformAProofOfConcept as boolean,\n\t\tCustomerAgreesWithMSValueProposition as boolean,\n\t\tCustomerApprovesBusinessCaseFramework as boolean,\n\t\tCustomerApprovesTechnicalCriteria as boolean,\n\t\tCustomerSignsContractOrAgreesToPlaceOrder as boolean,\n\t\tdemandresponsedealtype as string,\n\t\tdemandresponsedealtypecode as integer,\n\t\tIdentifyBuyingTeamStakeholders as boolean,\n\t\tInvoice as string,\n\t\tPresentCustomerWithFinalValueCaseProposal as boolean,\n\t\tActiveProcess as string,\n\t\tActiveSalesStage as string,\n\t\tActualBilledCloseDate as timestamp,\n\t\tActualConsumptionCloseDate as timestamp,\n\t\tAzureActiveDevicesNonRecurring as integer,\n\t\tAzureActiveDevicesRecurring as decimal(10,0),\n\t\tAzureConsumedNonRecurring as decimal(10,0),\n\t\tAzureConsumedNonRecurringBase as decimal(10,0),\n\t\tAzureConsumedRecurring as decimal(10,0),\n\t\tAzureConsumedRecurringBase as decimal(10,0),\n\t\tBilledClosingComments as string,\n\t\tBilledRevenueCloseReason as integer,\n\t\tBilledRevenueStatus as integer,\n\t\tBilledActualRevenueBase as decimal(10,0),\n\t\tBizAppsActiveDevicesNonRecurring as decimal(10,0),\n\t\tBizAppsActiveDevicesRecurring as decimal(10,0),\n\t\tBizAppsBACVNonRecurring as decimal(10,0),\n\t\tBizAppsBACVNonRecurringBase as decimal(10,0),\n\t\tBizAppsBACVRecurring as decimal(10,0),\n\t\tBizAppsBACVRecurringBase as decimal(10,0),\n\t\tConsumptionClosingComments as string,\n\t\tConsumptionStatus as integer,\n\t\tConsumptionStatusReason as integer,\n\t\tCustomerAgreementInPlace as integer,\n\t\tDesignAgreedWithCustomer as integer,\n\t\tEngagementNarrative as string,\n\t\tEngagementNextSteps as string,\n\t\tEstStartDate as timestamp,\n\t\tEstCompletionDate as timestamp,\n\t\tMigratedEngagementId as string,\n\t\tMigratedEngagementNumber as string,\n\t\tMilestonesFlag as string,\n\t\tOpportunityCompletedAndNextStepsIdentified as integer,\n\t\tOpportunityType as string,\n\t\tOutcomesMetAndBaselineMetricsInPlace as integer,\n\t\tProductFlags as string,\n\t\tQualifiedOpportunity as integer,\n\t\tSecurityActiveDevicesNonRecurring as decimal(10,0),\n\t\tSecurityActiveDevicesRecurring as decimal(10,0),\n\t\tSecurityConsumedNonRecurring as decimal(10,0),\n\t\tSecurityConsumedNonRecurringBase as decimal(10,0),\n\t\tSecurityConsumedRecurring as decimal(10,0),\n\t\tSecurityConsumedRecurringBase as decimal(10,0),\n\t\tAzureCapacityType as string,\n\t\tPreferredAzureRegion as integer,\n\t\tInitialStakeholderIdentificationComplete as integer,\n\t\tCustomerNeedsAndOutcomesDefine as integer,\n\t\tCustomerPrioritiesIdentified as integer,\n\t\tSolutionPlaysConfirmedDealTeamOrchest as integer,\n\t\tPartnersIdentifiedAndEngaged as integer,\n\t\tBusinessValueConsiderationsCompleted as integer,\n\t\tSolutionDesignValidatedWithCustomer as integer,\n\t\tTechnicalBusinessProofRequirementSide as integer,\n\t\tCustomersignedoffonproposesolution as integer,\n\t\tCustomerSuccessPlanReviewedWithCustomer as integer,\n\t\tCustomerCommitToProposal as integer,\n\t\tResourcesAlignAgainstDeliveryPlan as integer,\n\t\tChangeManagementPlanPlace as integer,\n\t\tSolutionDeliveredAgainstAgreedOutcome as integer,\n\t\tCustomerHealthMetricsAgreedWithMonitoring as integer,\n\t\tNextSetOfCustomerNeedsIdentify as integer,\n\t\tBusValueAndSuccessOutcomeMonitoringInPlac as integer,\n\t\tCustomerCanOperateAndMaintainSolution as integer,\n\t\tMigratedEngagementCreatedBy as string,\n\t\tCustomerSuccessPlanUpdated as integer,\n\t\tEDLPExtractDateTime as timestamp,\n\t\tEDLPLoadTS as string,\n\t\tEDLPModifiedDateTime as timestamp,\n\t\tEDLPDeltaActionCode as string,\n\t\tConsumedRecurring as decimal(10,0),\n\t\tConsumedRecurringBase as decimal(10,0),\n\t\tConsumedNonRecurring as decimal(10,0),\n\t\tConsumedNonRecurringBase as decimal(10,0),\n\t\tConsumptionActiveDevicesRecurring as decimal(10,0),\n\t\tConsumptionActiveDevicesNonRecurring as decimal(10,0),\n\t\tModernConsumedRecurring as decimal(10,0),\n\t\tModernConsumedRecurringBase as decimal(10,0),\n\t\tModernConsumedNonRecurring as decimal(10,0),\n\t\tModernConsumedNonRecurringBase as decimal(10,0),\n\t\tModernActiveDevicesRecurring as decimal(10,0),\n\t\tModernActiveDevicesNonRecurring as decimal(10,0),\n\t\tRiskScore as decimal(10,5)\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> GBBOpportunity\nmsxaccount, GBBOpportunity exists(msxaccount@AccountId == GBBOpportunity@AccountId,\n\tnegate:false,\n\tbroadcast: 'auto')~> existsInGBBOpportunity\nexistsInGBBOpportunity sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\trecreate:true,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError') ~> AccountForGBBOpp"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/msxnote')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "Infra Engagement"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"linkedService": {
								"referenceName": "msxdatalake",
								"type": "LinkedServiceReference"
							},
							"name": "msxnote"
						},
						{
							"dataset": {
								"referenceName": "FocusUser",
								"type": "DatasetReference"
							},
							"name": "ower"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "msxnote",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "Exists1"
						},
						{
							"name": "filter1"
						}
					],
					"script": "source(output(\n\t\tEDLPExtractId as string,\n\t\tCreatedById as string,\n\t\tCreatedDate as timestamp,\n\t\tCrmInstanceId as string,\n\t\tDescription as string,\n\t\tFileName as string,\n\t\tIsDocument as boolean,\n\t\tModifiedById as string,\n\t\tModifiedDate as timestamp,\n\t\tNoteId as string,\n\t\tOdsCreatedDate as timestamp,\n\t\tOdsModifiedDate as timestamp,\n\t\tOdsStatus as integer,\n\t\tOwnerId as string,\n\t\towningBusinessUnit as string,\n\t\tRegardingEntityName as string,\n\t\tRegardingObjectId as string,\n\t\tTenantId as integer,\n\t\tTitle as string,\n\t\tVersionNumber as long,\n\t\tEDLPExtractDateTime as timestamp,\n\t\tEDLPLoadTS as string,\n\t\tEDLPModifiedDateTime as timestamp,\n\t\tEDLPDeltaActionCode as string,\n\t\tExtractId as string,\n\t\tExtractDateTime as timestamp,\n\t\tLoadTS as timestamp,\n\t\tDeltaActionCode as string,\n\t\tPlatformCreatedDate as timestamp,\n\t\tPlatformModifiedDate as timestamp,\n\t\tPlatformModifiedDateAsInt as long\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tformat: 'delta',\n\tfileSystem: 'cseo',\n\tfolderPath: 'standardized/masterandreference/msx/hub_vw_note/v1/standard') ~> msxnote\nsource(output(\n\t\tEDLPExtractId as string,\n\t\tAccessMode as string,\n\t\tAccessModeCode as integer,\n\t\tAccessModeSeqNo as long,\n\t\tAddress1_AddressId as string,\n\t\tAddress1_City as string,\n\t\tAddress1_Country as string,\n\t\tAddress1_Fax as string,\n\t\tAddress1_Line1 as string,\n\t\tAddress1_Line2 as string,\n\t\tAddress1_Line3 as string,\n\t\tAddress1_PostalCode as string,\n\t\tAddress1_StateOrProvince as string,\n\t\tAddress1_Telephone1 as string,\n\t\tAddress1_Telephone3 as string,\n\t\tBusinessUnitId as string,\n\t\tCalType as string,\n\t\tCalTypeCode as integer,\n\t\tCalTypeSeqNo as long,\n\t\tCreatedById as string,\n\t\tCreatedDate as timestamp,\n\t\tCrmInstanceId as string,\n\t\tDefaultMailbox as string,\n\t\tDomainName as string,\n\t\tDPNSignDate as timestamp,\n\t\tdsraction as string,\n\t\tdsrdate as timestamp,\n\t\tdsrticket as string,\n\t\tFirstName as string,\n\t\tHomePhone as string,\n\t\tInternalEmailAddress as string,\n\t\tInviteStatus as string,\n\t\tInviteStatusCode as integer,\n\t\tInviteStatusSeqNo as long,\n\t\tIsDisabled as boolean,\n\t\tIsNotificationSent as string,\n\t\tIsNotificationSentCode as integer,\n\t\tIsNotificationSentSeqNo as long,\n\t\tLastName as string,\n\t\tMiddleName as string,\n\t\tMobileAlertEmail as string,\n\t\tMobilePhone as string,\n\t\tModifiedById as string,\n\t\tModifiedDate as timestamp,\n\t\tOdsCreatedDate as timestamp,\n\t\tOdsModifiedDate as timestamp,\n\t\tOdsStatus as integer,\n\t\tParentSystemUserId as string,\n\t\tPersonalEmailAddress as string,\n\t\tPreferredAddress as string,\n\t\tPreferredAddressCode as integer,\n\t\tPreferredAddressSeqNo as long,\n\t\tPreferredPhone as string,\n\t\tPreferredPhoneCode as integer,\n\t\tPreferredPhoneSeqNo as long,\n\t\tQueueId as string,\n\t\tRole as string,\n\t\tRoleCode as integer,\n\t\tRoleSeqNo as long,\n\t\tSiteId as string,\n\t\tSystemUserId as string,\n\t\tTenantId as integer,\n\t\tTerritoryId as string,\n\t\tTitle as string,\n\t\tVersionNumber as long,\n\t\tWindowsLiveId as string,\n\t\tareaname as string,\n\t\tdiscipline as string,\n\t\tGTMPosition as string,\n\t\tindustry as string,\n\t\torg as string,\n\t\torgdetail as string,\n\t\torgsummary as string,\n\t\tprofession as string,\n\t\tqualifier1 as string,\n\t\tqualifier2 as string,\n\t\tregionname as string,\n\t\trolegroup as string,\n\t\troleidentity as string,\n\t\tRoleSummary as string,\n\t\tsalesdistrictname as string,\n\t\tsaleslocationname as string,\n\t\tsolutionarea as string,\n\t\tsubregionname as string,\n\t\tsystemusertype as string,\n\t\tEDLPExtractDateTime as timestamp,\n\t\tEDLPLoadTS as string,\n\t\tEDLPModifiedDateTime as timestamp,\n\t\tEDLPDeltaActionCode as string,\n\t\tExtractId as string,\n\t\tExtractDateTime as timestamp,\n\t\tLoadTS as timestamp,\n\t\tDeltaActionCode as string,\n\t\tPlatformCreatedDate as timestamp,\n\t\tPlatformModifiedDate as timestamp,\n\t\tPlatformModifiedDateAsInt as long,\n\t\tazureactivedirectoryobjectid as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> ower\nmsxnote, ower exists(OwnerId == SystemUserId,\n\tnegate:false,\n\tbroadcast: 'auto')~> Exists1\nExists1 filter(OdsStatus ==0 && year(CreatedDate) > 2019) ~> filter1\nfilter1 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\trecreate:true,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError') ~> sink1"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyToSQLDB')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "tablelist",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "SqlServerSink",
											"preCopyScript": {
												"value": "if object_id ( '@{ item().name}' ) is not null drop table  @{ item().name}",
												"type": "Expression"
											},
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": true,
											"tableOption": "autoCreate"
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "source",
											"type": "DatasetReference",
											"parameters": {
												"tablename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "target",
											"type": "DatasetReference",
											"parameters": {
												"tablename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/target')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/debugger')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "MSXOpportunity_copy1",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "OpportunityTeam_copy1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "MSXOpportunity_copy1",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"msxopportunity": {},
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "OpportunityTeam_copy1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "OpportunityTeam_copy1",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"OpportunityTeamTeam": {},
									"focusMember": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/MSXOpportunity_copy1')]",
				"[concat(variables('factoryId'), '/dataflows/OpportunityTeam_copy1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/fromEDLtoAzureSQL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "MSXOpportunity",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "msxnote",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "MSXOpportunity",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"msxopportunity": {},
									"Note": {},
									"Opportunity": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "msxnote",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "focusMember",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "msxnote",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"msxnote": {},
									"ower": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "MSXmilestone",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "MSXOpportunity",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "MSXmilestone",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Milestone": {},
									"Opportunity": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "OpportunityTeam",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "MSXOpportunity",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "OpportunityTeam",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"OpportunityTeamTeam": {},
									"Opportunity": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "MSXUser",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "OpportunityTeam",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "MSXUser",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"MSXsystemuser": {},
									"OpportunityTeam": {},
									"Opp": {},
									"Note": {},
									"AllUser": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "msxaccount",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "MSXOpportunity",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "msxaccount",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"msxaccount": {},
									"GBBOpportunity": {},
									"AccountForGBBOpp": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "focusMember",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "focusMember",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"MSXsystemuser": {},
									"UserList": {},
									"TargetUser": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2021-04-28T16:53:33Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/MSXOpportunity')]",
				"[concat(variables('factoryId'), '/dataflows/msxnote')]",
				"[concat(variables('factoryId'), '/dataflows/MSXmilestone')]",
				"[concat(variables('factoryId'), '/dataflows/OpportunityTeam')]",
				"[concat(variables('factoryId'), '/dataflows/MSXUser')]",
				"[concat(variables('factoryId'), '/dataflows/msxaccount')]",
				"[concat(variables('factoryId'), '/dataflows/focusMember')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/fromEDLtoAzureSQL_teammember')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "MSXOpportunity",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "MSXOpportunity",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"msxopportunity": {},
									"Note": {},
									"Opportunity": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "MSXmilestone",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "MSXmilestone",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Milestone": {},
									"Opportunity": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "OpportunityTeam",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "OpportunityTeam",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"OpportunityTeamTeam": {},
									"Opportunity": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "MSXUser",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "MSXUser",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"MSXsystemuser": {},
									"OpportunityTeam": {},
									"Opp": {},
									"Note": {},
									"AllUser": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "msxaccount",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "msxaccount",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"msxaccount": {},
									"GBBOpportunity": {},
									"AccountForGBBOpp": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "focusMember",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "focusMember",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"MSXsystemuser": {},
									"UserList": {},
									"TargetUser": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2021-04-28T16:53:33Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/MSXOpportunity')]",
				"[concat(variables('factoryId'), '/dataflows/MSXmilestone')]",
				"[concat(variables('factoryId'), '/dataflows/OpportunityTeam')]",
				"[concat(variables('factoryId'), '/dataflows/MSXUser')]",
				"[concat(variables('factoryId'), '/dataflows/msxaccount')]",
				"[concat(variables('factoryId'), '/dataflows/focusMember')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Master')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "fromEDLtoAzureSQL",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "fromEDLtoAzureSQL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyToSQLDB",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "fromEDLtoAzureSQL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyToSQLDB",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/fromEDLtoAzureSQL')]",
				"[concat(variables('factoryId'), '/pipelines/CopyToSQLDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger1')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Master",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2022-08-28T02:56:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Master')]"
			]
		}
	]
}