ECIF/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ECIF"
		},
		"ocdm_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://cseoedlprodadlsg2wus203.dfs.core.windows.net"
		},
		"ocdm_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "72f988bf-86f1-41af-91ab-2d7cd011db47"
		},
		"ocdm_properties_typeProperties_servicePrincipalId": {
			"type": "string",
			"defaultValue": "3c4bff2e-cd35-4ba1-9a95-476924a4693e"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ocdm')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ocdm_properties_typeProperties_url')]",
					"tenant": "[parameters('ocdm_properties_typeProperties_tenant')]",
					"servicePrincipalId": "[parameters('ocdm_properties_typeProperties_servicePrincipalId')]",
					"servicePrincipalCredentialType": "ServicePrincipalKey",
					"servicePrincipalCredential": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "iotbiappreg"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/target')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "GBB",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"tablename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"table": {
						"value": "@dataset().tablename",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/1 GBBMember')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "GBB Opportunity"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"linkedService": {
								"referenceName": "msxdatalake",
								"type": "LinkedServiceReference"
							},
							"name": "MSXsystemuser"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "GBBMember",
								"type": "DatasetReference"
							},
							"name": "GBBuser"
						}
					],
					"transformations": [
						{
							"name": "filter1"
						}
					],
					"script": "source(output(\n\t\tEDLPExtractId as string,\n\t\tAccessMode as string,\n\t\tAccessModeCode as integer,\n\t\tAccessModeSeqNo as long,\n\t\tAddress1_AddressId as string,\n\t\tAddress1_City as string,\n\t\tAddress1_Country as string,\n\t\tAddress1_Fax as string,\n\t\tAddress1_Line1 as string,\n\t\tAddress1_Line2 as string,\n\t\tAddress1_Line3 as string,\n\t\tAddress1_PostalCode as string,\n\t\tAddress1_StateOrProvince as string,\n\t\tAddress1_Telephone1 as string,\n\t\tAddress1_Telephone3 as string,\n\t\tBusinessUnitId as string,\n\t\tCalType as string,\n\t\tCalTypeCode as integer,\n\t\tCalTypeSeqNo as long,\n\t\tCreatedById as string,\n\t\tCreatedDate as timestamp,\n\t\tCrmInstanceId as string,\n\t\tDefaultMailbox as string,\n\t\tDomainName as string,\n\t\tDPNSignDate as timestamp,\n\t\tdsraction as string,\n\t\tdsrdate as timestamp,\n\t\tdsrticket as string,\n\t\tFirstName as string,\n\t\tHomePhone as string,\n\t\tInternalEmailAddress as string,\n\t\tInviteStatus as string,\n\t\tInviteStatusCode as integer,\n\t\tInviteStatusSeqNo as long,\n\t\tIsDisabled as boolean,\n\t\tIsNotificationSent as string,\n\t\tIsNotificationSentCode as integer,\n\t\tIsNotificationSentSeqNo as long,\n\t\tLastName as string,\n\t\tMiddleName as string,\n\t\tMobileAlertEmail as string,\n\t\tMobilePhone as string,\n\t\tModifiedById as string,\n\t\tModifiedDate as timestamp,\n\t\tOdsCreatedDate as timestamp,\n\t\tOdsModifiedDate as timestamp,\n\t\tOdsStatus as integer,\n\t\tParentSystemUserId as string,\n\t\tPersonalEmailAddress as string,\n\t\tPreferredAddress as string,\n\t\tPreferredAddressCode as integer,\n\t\tPreferredAddressSeqNo as long,\n\t\tPreferredPhone as string,\n\t\tPreferredPhoneCode as integer,\n\t\tPreferredPhoneSeqNo as long,\n\t\tQueueId as string,\n\t\tRole as string,\n\t\tRoleCode as integer,\n\t\tRoleSeqNo as long,\n\t\tSiteId as string,\n\t\tSystemUserId as string,\n\t\tTenantId as integer,\n\t\tTerritoryId as string,\n\t\tTitle as string,\n\t\tVersionNumber as long,\n\t\tWindowsLiveId as string,\n\t\tareaname as string,\n\t\tdiscipline as string,\n\t\tGTMPosition as string,\n\t\tindustry as string,\n\t\torg as string,\n\t\torgdetail as string,\n\t\torgsummary as string,\n\t\tprofession as string,\n\t\tqualifier1 as string,\n\t\tqualifier2 as string,\n\t\tregionname as string,\n\t\trolegroup as string,\n\t\troleidentity as string,\n\t\tRoleSummary as string,\n\t\tsalesdistrictname as string,\n\t\tsaleslocationname as string,\n\t\tsolutionarea as string,\n\t\tsubregionname as string,\n\t\tsystemusertype as string,\n\t\tEDLPExtractDateTime as timestamp,\n\t\tEDLPLoadTS as string,\n\t\tEDLPModifiedDateTime as timestamp,\n\t\tEDLPDeltaActionCode as string,\n\t\tExtractId as string,\n\t\tExtractDateTime as timestamp,\n\t\tLoadTS as timestamp,\n\t\tDeltaActionCode as string,\n\t\tPlatformCreatedDate as timestamp,\n\t\tPlatformModifiedDate as timestamp,\n\t\tPlatformModifiedDateAsInt as long,\n\t\tazureactivedirectoryobjectid as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tformat: 'delta',\n\tfileSystem: 'cseo',\n\tfolderPath: 'standardized/masterandreference/msx/hub_vw_systemuser/v1/sensitive') ~> MSXsystemuser\nMSXsystemuser filter(lower(qualifier1) ==\"global black belt\" || lower(qualifier2) ==\"global black belt\") ~> filter1\nfilter1 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\trecreate:true,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError') ~> GBBuser"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/2 msxnote')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "GBB Opportunity"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"linkedService": {
								"referenceName": "msxdatalake",
								"type": "LinkedServiceReference"
							},
							"name": "msxnote"
						},
						{
							"dataset": {
								"referenceName": "GBBMember",
								"type": "DatasetReference"
							},
							"name": "ower"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "msxnote",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "Exists1"
						},
						{
							"name": "filter1"
						}
					],
					"script": "source(output(\n\t\tEDLPExtractId as string,\n\t\tCreatedById as string,\n\t\tCreatedDate as timestamp,\n\t\tCrmInstanceId as string,\n\t\tDescription as string,\n\t\tFileName as string,\n\t\tIsDocument as boolean,\n\t\tModifiedById as string,\n\t\tModifiedDate as timestamp,\n\t\tNoteId as string,\n\t\tOdsCreatedDate as timestamp,\n\t\tOdsModifiedDate as timestamp,\n\t\tOdsStatus as integer,\n\t\tOwnerId as string,\n\t\towningBusinessUnit as string,\n\t\tRegardingEntityName as string,\n\t\tRegardingObjectId as string,\n\t\tTenantId as integer,\n\t\tTitle as string,\n\t\tVersionNumber as long,\n\t\tEDLPExtractDateTime as timestamp,\n\t\tEDLPLoadTS as string,\n\t\tEDLPModifiedDateTime as timestamp,\n\t\tEDLPDeltaActionCode as string,\n\t\tExtractId as string,\n\t\tExtractDateTime as timestamp,\n\t\tLoadTS as timestamp,\n\t\tDeltaActionCode as string,\n\t\tPlatformCreatedDate as timestamp,\n\t\tPlatformModifiedDate as timestamp,\n\t\tPlatformModifiedDateAsInt as long\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tformat: 'delta',\n\tfileSystem: 'cseo',\n\tfolderPath: 'standardized/masterandreference/msx/hub_vw_note/v1/standard') ~> msxnote\nsource(output(\n\t\tEDLPExtractId as string,\n\t\tAccessMode as string,\n\t\tAccessModeCode as integer,\n\t\tAccessModeSeqNo as long,\n\t\tAddress1_AddressId as string,\n\t\tAddress1_City as string,\n\t\tAddress1_Country as string,\n\t\tAddress1_Fax as string,\n\t\tAddress1_Line1 as string,\n\t\tAddress1_Line2 as string,\n\t\tAddress1_Line3 as string,\n\t\tAddress1_PostalCode as string,\n\t\tAddress1_StateOrProvince as string,\n\t\tAddress1_Telephone1 as string,\n\t\tAddress1_Telephone3 as string,\n\t\tBusinessUnitId as string,\n\t\tCalType as string,\n\t\tCalTypeCode as integer,\n\t\tCalTypeSeqNo as long,\n\t\tCreatedById as string,\n\t\tCreatedDate as timestamp,\n\t\tCrmInstanceId as string,\n\t\tDefaultMailbox as string,\n\t\tDomainName as string,\n\t\tDPNSignDate as timestamp,\n\t\tdsraction as string,\n\t\tdsrdate as timestamp,\n\t\tdsrticket as string,\n\t\tFirstName as string,\n\t\tHomePhone as string,\n\t\tInternalEmailAddress as string,\n\t\tInviteStatus as string,\n\t\tInviteStatusCode as integer,\n\t\tInviteStatusSeqNo as long,\n\t\tIsDisabled as boolean,\n\t\tIsNotificationSent as string,\n\t\tIsNotificationSentCode as integer,\n\t\tIsNotificationSentSeqNo as long,\n\t\tLastName as string,\n\t\tMiddleName as string,\n\t\tMobileAlertEmail as string,\n\t\tMobilePhone as string,\n\t\tModifiedById as string,\n\t\tModifiedDate as timestamp,\n\t\tOdsCreatedDate as timestamp,\n\t\tOdsModifiedDate as timestamp,\n\t\tOdsStatus as integer,\n\t\tParentSystemUserId as string,\n\t\tPersonalEmailAddress as string,\n\t\tPreferredAddress as string,\n\t\tPreferredAddressCode as integer,\n\t\tPreferredAddressSeqNo as long,\n\t\tPreferredPhone as string,\n\t\tPreferredPhoneCode as integer,\n\t\tPreferredPhoneSeqNo as long,\n\t\tQueueId as string,\n\t\tRole as string,\n\t\tRoleCode as integer,\n\t\tRoleSeqNo as long,\n\t\tSiteId as string,\n\t\tSystemUserId as string,\n\t\tTenantId as integer,\n\t\tTerritoryId as string,\n\t\tTitle as string,\n\t\tVersionNumber as long,\n\t\tWindowsLiveId as string,\n\t\tareaname as string,\n\t\tdiscipline as string,\n\t\tGTMPosition as string,\n\t\tindustry as string,\n\t\torg as string,\n\t\torgdetail as string,\n\t\torgsummary as string,\n\t\tprofession as string,\n\t\tqualifier1 as string,\n\t\tqualifier2 as string,\n\t\tregionname as string,\n\t\trolegroup as string,\n\t\troleidentity as string,\n\t\tRoleSummary as string,\n\t\tsalesdistrictname as string,\n\t\tsaleslocationname as string,\n\t\tsolutionarea as string,\n\t\tsubregionname as string,\n\t\tsystemusertype as string,\n\t\tEDLPExtractDateTime as timestamp,\n\t\tEDLPLoadTS as string,\n\t\tEDLPModifiedDateTime as timestamp,\n\t\tEDLPDeltaActionCode as string,\n\t\tExtractId as string,\n\t\tExtractDateTime as timestamp,\n\t\tLoadTS as timestamp,\n\t\tDeltaActionCode as string,\n\t\tPlatformCreatedDate as timestamp,\n\t\tPlatformModifiedDate as timestamp,\n\t\tPlatformModifiedDateAsInt as long,\n\t\tazureactivedirectoryobjectid as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> ower\nmsxnote, ower exists(OwnerId == SystemUserId,\n\tnegate:false,\n\tbroadcast: 'auto')~> Exists1\nExists1 filter(OdsStatus ==0) ~> filter1\nfilter1 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\trecreate:true,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError') ~> sink1"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/3 MSXOpportunity')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "GBB Opportunity"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"linkedService": {
								"referenceName": "msxdatalake",
								"type": "LinkedServiceReference"
							},
							"name": "msxopportunity"
						},
						{
							"dataset": {
								"referenceName": "msxnote",
								"type": "DatasetReference"
							},
							"name": "Note"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "MSXOpportunity",
								"type": "DatasetReference"
							},
							"name": "GBBOpportunity"
						}
					],
					"transformations": [
						{
							"name": "FilterOpp"
						},
						{
							"name": "exists1"
						},
						{
							"name": "filterStatusOpen"
						},
						{
							"name": "filterOppType"
						}
					],
					"script": "source(output(\n\t\tEDLPExtractId as string,\n\t\taccessecif as string,\n\t\taccessecifcode as integer,\n\t\taccessecifSeqNo as long,\n\t\tAccountId as string,\n\t\tActualCloseDate as timestamp,\n\t\tActualvalue as double,\n\t\tAdhocSurvey as integer,\n\t\tAgreedToBuy as boolean,\n\t\talignonbusinessimpactSeqNo as long,\n\t\talignonsolutionapproachSeqNo as long,\n\t\tAntipiracyEngagementTypeId as string,\n\t\tattachedservices as boolean,\n\t\tbaseopportunity as string,\n\t\tbaseopportunitycode as integer,\n\t\tbaseopportunitySeqNo as long,\n\t\tBilledRevenue as double,\n\t\tbizappssalesplay as string,\n\t\tbizappssalesplaycode as integer,\n\t\tbizappssalesplaySeqNo as long,\n\t\tBudgetAmount as double,\n\t\tCampaignId as string,\n\t\tClaimTPID as string,\n\t\tclanumber as string,\n\t\tcloseplan as string,\n\t\tclosestatus as string,\n\t\tclosestatuscode as integer,\n\t\tclosestatusSeqNo as long,\n\t\tcommercialconstructapprovedbycustomer as string,\n\t\tcommercialconstructapprovedbycustomercode as integer,\n\t\tcommercialconstructapprovedbycustomerSeqNo as long,\n\t\tcompetethreatlevel as string,\n\t\tcompetethreatlevelcode as integer,\n\t\tcompetethreatlevelSeqNo as long,\n\t\tCompleteClosePlan as boolean,\n\t\tCompleteDeploymentWorkshop as timestamp,\n\t\tCompleteFinalProposal as boolean,\n\t\tcompletejointcatalystengagementplan as string,\n\t\tcompletejointcatalystengagementplancode as integer,\n\t\tcompletejointcatalystengagementplanSeqNo as long,\n\t\tcompletepredeploymentworkshopSeqNo as long,\n\t\tcompletetechnicalassessment as string,\n\t\tcompletetechnicalassessmentcode as integer,\n\t\tcompletetechnicalassessmentSeqNo as long,\n\t\tCompleteTechnicalClosePlan as timestamp,\n\t\tcompletetrialSeqNo as long,\n\t\tCompleteWorkshop as timestamp,\n\t\tcomplexity as string,\n\t\tcomplexitycode as integer,\n\t\tcomplexitySeqNo as long,\n\t\tconductpocSeqNo as long,\n\t\tConfirmTrial as timestamp,\n\t\tConsentToSendToPartner as string,\n\t\tConsentToSendToPartnerBy as string,\n\t\tConsentToSendToPartnerCode as integer,\n\t\tConsentToSendToPartnerSeqNo as long,\n\t\tcontractsignaturetype as string,\n\t\tcontractsignaturetypecode as integer,\n\t\tcontractsignaturetypeSeqNo as long,\n\t\tcorrectedecid as string,\n\t\tcosell as string,\n\t\tcosellcode as integer,\n\t\tcosellSeqNo as long,\n\t\tcpumodelseries as string,\n\t\tcpumodelseriescode as integer,\n\t\tcpumodelseriesSeqNo as long,\n\t\tcreatebusinessvalueassessment as string,\n\t\tcreatebusinessvalueassessmentcode as integer,\n\t\tcreatebusinessvalueassessmentSeqNo as long,\n\t\tCreatedById as string,\n\t\tCreatedDate as timestamp,\n\t\tCriticalDeal as boolean,\n\t\tCrmInstanceId as string,\n\t\tCurrencyId as string,\n\t\tCurrentSalesStageModifiedOn as timestamp,\n\t\tcustomersignoffonassessments as string,\n\t\tcustomersignoffonassessmentscode as integer,\n\t\tcustomersignoffonassessmentsSeqNo as long,\n\t\tcustomersuccessplanworkshopcomplete as string,\n\t\tcustomersuccessplanworkshopcompletecode as integer,\n\t\tcustomersuccessplanworkshopcompleteSeqNo as long,\n\t\tdealtype as string,\n\t\tdealtypecode as integer,\n\t\tdealtypeSeqNo as long,\n\t\tdeliverbusinessvalueenlighten as string,\n\t\tdeliverbusinessvalueenlightencode as integer,\n\t\tdeliverbusinessvalueenlightenSeqNo as long,\n\t\tdeliverenvisioningworkshop as string,\n\t\tdeliverenvisioningworkshopcode as integer,\n\t\tdeliverenvisioningworkshopSeqNo as long,\n\t\tdeliverinitialpitch as string,\n\t\tdeliverinitialpitchcode as integer,\n\t\tdeliverinitialpitchSeqNo as long,\n\t\tdelivertailoreddemonstration as string,\n\t\tdelivertailoreddemonstrationcode as integer,\n\t\tdelivertailoreddemonstrationSeqNo as long,\n\t\tdelivertechnicalcase as string,\n\t\tdelivertechnicalcasecode as integer,\n\t\tdelivertechnicalcaseSeqNo as long,\n\t\tdelivertransformationplan as string,\n\t\tdelivertransformationplancode as integer,\n\t\tdelivertransformationplanSeqNo as long,\n\t\tdemonstrateroi as string,\n\t\tdemonstrateroicode as integer,\n\t\tdemonstrateroiSeqNo as long,\n\t\tdevicecategory as string,\n\t\tdevicecategorycode as integer,\n\t\tdevicecategorySeqNo as long,\n\t\tengagecosellprioritizedpartnerSeqNo as long,\n\t\tengagedwrawrforecif as string,\n\t\tengagedwrawrforecifcode as integer,\n\t\tengagedwrawrforecifSeqNo as long,\n\t\tengagefasttrack as string,\n\t\tengagefasttrackcode as integer,\n\t\tengagefasttrackSeqNo as long,\n\t\tengagegbb as string,\n\t\tengagegbbcode as integer,\n\t\tengagegbbSeqNo as long,\n\t\tengagemicrosoftexecutivewithcustomercxo as string,\n\t\tengagemicrosoftexecutivewithcustomercxocode as integer,\n\t\tengagemicrosoftexecutivewithcustomercxoSeqNo as long,\n\t\tEngageServices as string,\n\t\tEnrollmentNumber as string,\n\t\tEstimatedCloseDate as timestamp,\n\t\tEstimatedValue as double,\n\t\tEstROCArrivalDate as timestamp,\n\t\tEvaluationPlan as boolean,\n\t\texecutedigitalimmersionSeqNo as long,\n\t\tFinalConsumptionPlan as boolean,\n\t\tfinaldecisiondate as timestamp,\n\t\tForecastComments as string,\n\t\tForecastComments_LastModifiedBy_Lookup as string,\n\t\tForecastComments_LastModifiedOn_DateTime as timestamp,\n\t\tHandovertoCSMorPCSM as boolean,\n\t\tHasCustomerAgreedToBuy as boolean,\n\t\tHighLevelSolutionDesign as boolean,\n\t\tidentifybusinessdecisionmakersSeqNo as long,\n\t\tInitialBusinessCase as boolean,\n\t\tIsConclusionLetterSent as boolean,\n\t\tIsELPAgreementSecured as boolean,\n\t\tIsELPUploaded as boolean,\n\t\tIsIdentifyBuyingTeamComplete as boolean,\n\t\tIsIdentifyCompetitorsComplete as boolean,\n\t\tIsIdentifyLineItemsComplete as boolean,\n\t\tIsIdentifySalesTeamComplete as boolean,\n\t\tIsInternalAgreementSecured as boolean,\n\t\tIsLetterOfEngagementAccepted as boolean,\n\t\tIsOrderComplete as boolean,\n\t\tIsPartnerFundingSecured as boolean,\n\t\tIsPurchaseArrangementSecured as boolean,\n\t\tIsQuoteComplete as boolean,\n\t\tIsRevenueSystemCalculated as boolean,\n\t\tlastshipmentdate as timestamp,\n\t\tLicensingContact as string,\n\t\tLicensingProgramId as string,\n\t\tLSSODMComments as string,\n\t\tmicrosoftazureiotcertifieddevice as boolean,\n\t\tModifiedById as string,\n\t\tModifiedDate as timestamp,\n\t\tNeed as string,\n\t\tnewenrollmentnumber as string,\n\t\tNoofTenants as integer,\n\t\tNumberOfDials as integer,\n\t\tOdsCreatedDate as timestamp,\n\t\tOdsModifiedDate as timestamp,\n\t\tOdsStatus as integer,\n\t\toperationscontact as string,\n\t\tOpportunityCopyType as string,\n\t\tOpportunityCopyTypeCode as integer,\n\t\tOpportunityCopyTypeSeqNo as long,\n\t\tOpportunityId as string,\n\t\tOpportunityNumber as string,\n\t\tOpportunityScore as double,\n\t\tOpportunitySource as string,\n\t\tOpportunitySourceCode as integer,\n\t\tOpportunitySourceSeqNo as long,\n\t\tOpportunityTenantId as string,\n\t\tOriginalPartnerModifiedBy as string,\n\t\tOriginatingLeadId as string,\n\t\tOriginatingOpportunity as string,\n\t\tothercompetitor as string,\n\t\tOwnerId as string,\n\t\towningBusinessUnit as string,\n\t\tParentOpportunityId as string,\n\t\tPartnerAccountId as string,\n\t\tpartnermotion as string,\n\t\tpartnermotioncode as integer,\n\t\tpartnermotionSeqNo as long,\n\t\tPartnerReferral as string,\n\t\tpilotsolutionSeqNo as long,\n\t\tPrelimConsumptionPlan as boolean,\n\t\tpresentbusinesscaseSeqNo as long,\n\t\tpresentdealoptionsSeqNo as long,\n\t\tPriceLevelId as string,\n\t\tPricePointDetails as string,\n\t\tprimarycompetitor as string,\n\t\tPrimarySponsorContactId as string,\n\t\tPriority as string,\n\t\tPriorityCode as integer,\n\t\tPrioritySeqNo as long,\n\t\tProductSKU as string,\n\t\tPullForwardDate as timestamp,\n\t\tPurchaseTimeFrame as string,\n\t\tPurchaseTimeFrameCode as integer,\n\t\tPurchaseTimeFrameSeqNo as long,\n\t\tRapidResponse as boolean,\n\t\tRecommendation as string,\n\t\tRecommendationCode as integer,\n\t\tRecommendationSeqNo as long,\n\t\tRegistrationDate as timestamp,\n\t\trvtstatus as string,\n\t\trvtstatuscode as integer,\n\t\trvtstatusSeqNo as long,\n\t\trvtvalidationready as boolean,\n\t\tsalesplay as string,\n\t\tsalesplaySeqNo as long,\n\t\tselectsalesplay as string,\n\t\tselectsalesplaycode as integer,\n\t\tselectsalesplaySeqNo as long,\n\t\tSendToPartner as boolean,\n\t\tsharebompricing as string,\n\t\tsharebompricingcode as integer,\n\t\tsharebompricingSeqNo as long,\n\t\tsolutionarea as string,\n\t\tsolutionareaSeqNo as long,\n\t\tsolutiondesignindate as timestamp,\n\t\tsolutionstartdate as timestamp,\n\t\tSourceSubType as string,\n\t\tSourceSubTypeCode as integer,\n\t\tSourceSubTypeSeqNo as long,\n\t\tStateCode as integer,\n\t\tStatus as string,\n\t\tStatusCode as integer,\n\t\tStatusReason as string,\n\t\tStatusReasonSeqNo as long,\n\t\tStatusSeqNo as long,\n\t\tSubscriptionId as string,\n\t\tSurveyResponseRejectionCounts as integer,\n\t\ttechnicalcapability as string,\n\t\ttechnicalcapabilitySeqNo as long,\n\t\tTenantId as integer,\n\t\tTopic as string,\n\t\ttransactiontype as string,\n\t\ttransactiontypecode as integer,\n\t\ttransactiontypeSeqNo as long,\n\t\ttransitiontocsupartnerSeqNo as long,\n\t\tVersionNumber as long,\n\t\talignonbusinessimpactcode as integer,\n\t\talignonsolutionapproachcode as integer,\n\t\tcompletepredeploymentworkshopcode as integer,\n\t\tcompletetrialcode as integer,\n\t\tconductpoccode as integer,\n\t\tengagecosellprioritizedpartnercode as integer,\n\t\texecutedigitalimmersioncode as integer,\n\t\tidentifybusinessdecisionmakerscode as integer,\n\t\tpilotsolutioncode as integer,\n\t\tpresentbusinesscasecode as integer,\n\t\tpresentdealoptionscode as integer,\n\t\tsalesplaycode as integer,\n\t\tsolutionareacode as integer,\n\t\ttechnicalcapabilitycode as integer,\n\t\ttransitiontocsupartnercode as integer,\n\t\tAgreement as string,\n\t\tAgreementToProceedToContractNegotiation as boolean,\n\t\tConfirmTimelineAndBudgetStatus as boolean,\n\t\tCustomerAgreesSolutionIsTechnicallyViable as boolean,\n\t\tCustomerAgreesToPerformAProofOfConcept as boolean,\n\t\tCustomerAgreesWithMSValueProposition as boolean,\n\t\tCustomerApprovesBusinessCaseFramework as boolean,\n\t\tCustomerApprovesTechnicalCriteria as boolean,\n\t\tCustomerSignsContractOrAgreesToPlaceOrder as boolean,\n\t\tdemandresponsedealtype as string,\n\t\tdemandresponsedealtypecode as integer,\n\t\tIdentifyBuyingTeamStakeholders as boolean,\n\t\tInvoice as string,\n\t\tPresentCustomerWithFinalValueCaseProposal as boolean,\n\t\tActiveProcess as string,\n\t\tActiveSalesStage as string,\n\t\tActualBilledCloseDate as timestamp,\n\t\tActualConsumptionCloseDate as timestamp,\n\t\tAzureActiveDevicesNonRecurring as integer,\n\t\tAzureActiveDevicesRecurring as decimal(10,0),\n\t\tAzureConsumedNonRecurring as decimal(10,0),\n\t\tAzureConsumedNonRecurringBase as decimal(10,0),\n\t\tAzureConsumedRecurring as decimal(10,0),\n\t\tAzureConsumedRecurringBase as decimal(10,0),\n\t\tBilledClosingComments as string,\n\t\tBilledRevenueCloseReason as integer,\n\t\tBilledRevenueStatus as integer,\n\t\tBilledActualRevenueBase as decimal(10,0),\n\t\tBizAppsActiveDevicesNonRecurring as decimal(10,0),\n\t\tBizAppsActiveDevicesRecurring as decimal(10,0),\n\t\tBizAppsBACVNonRecurring as decimal(10,0),\n\t\tBizAppsBACVNonRecurringBase as decimal(10,0),\n\t\tBizAppsBACVRecurring as decimal(10,0),\n\t\tBizAppsBACVRecurringBase as decimal(10,0),\n\t\tConsumptionClosingComments as string,\n\t\tConsumptionStatus as integer,\n\t\tConsumptionStatusReason as integer,\n\t\tCustomerAgreementInPlace as integer,\n\t\tDesignAgreedWithCustomer as integer,\n\t\tEngagementNarrative as string,\n\t\tEngagementNextSteps as string,\n\t\tEstStartDate as timestamp,\n\t\tEstCompletionDate as timestamp,\n\t\tMigratedEngagementId as string,\n\t\tMigratedEngagementNumber as string,\n\t\tMilestonesFlag as string,\n\t\tOpportunityCompletedAndNextStepsIdentified as integer,\n\t\tOpportunityType as string,\n\t\tOutcomesMetAndBaselineMetricsInPlace as integer,\n\t\tProductFlags as string,\n\t\tQualifiedOpportunity as integer,\n\t\tSecurityActiveDevicesNonRecurring as decimal(10,0),\n\t\tSecurityActiveDevicesRecurring as decimal(10,0),\n\t\tSecurityConsumedNonRecurring as decimal(10,0),\n\t\tSecurityConsumedNonRecurringBase as decimal(10,0),\n\t\tSecurityConsumedRecurring as decimal(10,0),\n\t\tSecurityConsumedRecurringBase as decimal(10,0),\n\t\tAzureCapacityType as string,\n\t\tPreferredAzureRegion as integer,\n\t\tInitialStakeholderIdentificationComplete as integer,\n\t\tCustomerNeedsAndOutcomesDefine as integer,\n\t\tCustomerPrioritiesIdentified as integer,\n\t\tSolutionPlaysConfirmedDealTeamOrchest as integer,\n\t\tPartnersIdentifiedAndEngaged as integer,\n\t\tBusinessValueConsiderationsCompleted as integer,\n\t\tSolutionDesignValidatedWithCustomer as integer,\n\t\tTechnicalBusinessProofRequirementSide as integer,\n\t\tCustomersignedoffonproposesolution as integer,\n\t\tCustomerSuccessPlanReviewedWithCustomer as integer,\n\t\tCustomerCommitToProposal as integer,\n\t\tResourcesAlignAgainstDeliveryPlan as integer,\n\t\tChangeManagementPlanPlace as integer,\n\t\tSolutionDeliveredAgainstAgreedOutcome as integer,\n\t\tCustomerHealthMetricsAgreedWithMonitoring as integer,\n\t\tNextSetOfCustomerNeedsIdentify as integer,\n\t\tBusValueAndSuccessOutcomeMonitoringInPlac as integer,\n\t\tCustomerCanOperateAndMaintainSolution as integer,\n\t\tMigratedEngagementCreatedBy as string,\n\t\tCustomerSuccessPlanUpdated as integer,\n\t\tEDLPExtractDateTime as timestamp,\n\t\tEDLPLoadTS as string,\n\t\tEDLPModifiedDateTime as timestamp,\n\t\tEDLPDeltaActionCode as string,\n\t\tConsumedRecurring as decimal(10,0),\n\t\tConsumedRecurringBase as decimal(10,0),\n\t\tConsumedNonRecurring as decimal(10,0),\n\t\tConsumedNonRecurringBase as decimal(10,0),\n\t\tConsumptionActiveDevicesRecurring as decimal(10,0),\n\t\tConsumptionActiveDevicesNonRecurring as decimal(10,0),\n\t\tModernConsumedRecurring as decimal(10,0),\n\t\tModernConsumedRecurringBase as decimal(10,0),\n\t\tModernConsumedNonRecurring as decimal(10,0),\n\t\tModernConsumedNonRecurringBase as decimal(10,0),\n\t\tModernActiveDevicesRecurring as decimal(10,0),\n\t\tModernActiveDevicesNonRecurring as decimal(10,0),\n\t\tRiskScore as decimal(10,5)\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tformat: 'delta',\n\tfileSystem: 'cseo',\n\tfolderPath: 'standardized/masterandreference/msx/hub_vw_opportunity/v1/standard') ~> msxopportunity\nsource(output(\n\t\tEDLPExtractId as string,\n\t\tCreatedById as string,\n\t\tCreatedDate as timestamp,\n\t\tCrmInstanceId as string,\n\t\tDescription as string,\n\t\tFileName as string,\n\t\tIsDocument as boolean,\n\t\tModifiedById as string,\n\t\tModifiedDate as timestamp,\n\t\tNoteId as string,\n\t\tOdsCreatedDate as timestamp,\n\t\tOdsModifiedDate as timestamp,\n\t\tOdsStatus as integer,\n\t\tOwnerId as string,\n\t\towningBusinessUnit as string,\n\t\tRegardingEntityName as string,\n\t\tRegardingObjectId as string,\n\t\tTenantId as integer,\n\t\tTitle as string,\n\t\tVersionNumber as long,\n\t\tEDLPExtractDateTime as timestamp,\n\t\tEDLPLoadTS as string,\n\t\tEDLPModifiedDateTime as timestamp,\n\t\tEDLPDeltaActionCode as string,\n\t\tExtractId as string,\n\t\tExtractDateTime as timestamp,\n\t\tLoadTS as timestamp,\n\t\tDeltaActionCode as string,\n\t\tPlatformCreatedDate as timestamp,\n\t\tPlatformModifiedDate as timestamp,\n\t\tPlatformModifiedDateAsInt as long\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> Note\nNote filter(lower(RegardingEntityName) ==\"opportunity\") ~> FilterOpp\nmsxopportunity, FilterOpp exists(OpportunityId == RegardingObjectId,\n\tnegate:false,\n\tbroadcast: 'auto')~> exists1\nexists1 filter(lower(Status) == \"open\") ~> filterStatusOpen\nfilterStatusOpen filter(OpportunityType=='606820000;606820001' ||OpportunityType=='606820001') ~> filterOppType\nfilterOppType sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tOpportunityId as string,\n\t\tAntipiracyEngagementTypeId as string,\n\t\tCampaignId as string,\n\t\tConsentToSendToPartnerBy as string,\n\t\tLicensingProgramId as string,\n\t\tOriginatingLeadId as string,\n\t\tOwnerId as string,\n\t\tAccountId as string,\n\t\tPrimarySponsorContactId as string,\n\t\tParentOpportunityId as string,\n\t\tPartnerAccountId as string,\n\t\tPriceLevelId as string,\n\t\tCurrencyId as string,\n\t\tConsentToSendToPartnerCode as integer,\n\t\tConsentToSendToPartner as string,\n\t\tConsentToSendToPartnerSeqNo as long,\n\t\tOpportunitySourceCode as integer,\n\t\tOpportunitySource as string,\n\t\tOpportunitySourceSeqNo as long,\n\t\tPurchaseTimeFrameCode as integer,\n\t\tPurchaseTimeFrame as string,\n\t\tPurchaseTimeFrameSeqNo as long,\n\t\tRecommendationCode as integer,\n\t\tRecommendation as string,\n\t\tRecommendationSeqNo as long,\n\t\tSourceSubTypeCode as integer,\n\t\tSourceSubType as string,\n\t\tSourceSubTypeSeqNo as long,\n\t\tActualCloseDate as timestamp,\n\t\tActualvalue as double,\n\t\tAgreedToBuy as boolean,\n\t\tBudgetAmount as double,\n\t\tCompleteFinalProposal as boolean,\n\t\tIsOrderComplete as boolean,\n\t\tIsQuoteComplete as boolean,\n\t\tIsConclusionLetterSent as boolean,\n\t\tHasCustomerAgreedToBuy as boolean,\n\t\tNeed as string,\n\t\tIsELPAgreementSecured as boolean,\n\t\tIsELPUploaded as boolean,\n\t\tEstimatedCloseDate as timestamp,\n\t\tEstimatedValue as double,\n\t\tEvaluationPlan as boolean,\n\t\tFinalConsumptionPlan as boolean,\n\t\tForecastComments as string,\n\t\tHighLevelSolutionDesign as boolean,\n\t\tIsIdentifyCompetitorsComplete as boolean,\n\t\tIsIdentifyBuyingTeamComplete as boolean,\n\t\tIsIdentifyLineItemsComplete as boolean,\n\t\tIsIdentifySalesTeamComplete as boolean,\n\t\tInitialBusinessCase as boolean,\n\t\tIsInternalAgreementSecured as boolean,\n\t\tIsRevenueSystemCalculated as boolean,\n\t\tIsLetterOfEngagementAccepted as boolean,\n\t\tTopic as string,\n\t\tOpportunityNumber as string,\n\t\tIsPartnerFundingSecured as boolean,\n\t\tPrelimConsumptionPlan as boolean,\n\t\tIsPurchaseArrangementSecured as boolean,\n\t\tCrmInstanceId as string,\n\t\tCreatedById as string,\n\t\tCreatedDate as timestamp,\n\t\tModifiedById as string,\n\t\tModifiedDate as timestamp,\n\t\tStateCode as integer,\n\t\tStatus as string,\n\t\tStatusSeqNo as long,\n\t\tStatusCode as integer,\n\t\tStatusReason as string,\n\t\tStatusReasonSeqNo as long,\n\t\tOdsCreatedDate as timestamp,\n\t\tOdsModifiedDate as timestamp,\n\t\tVersionNumber as long,\n\t\tTenantId as integer,\n\t\tNumberOfDials as integer,\n\t\tOpportunityTenantId as string,\n\t\tPriorityCode as integer,\n\t\tPriority as string,\n\t\tPrioritySeqNo as long,\n\t\tProductSKU as string,\n\t\tRegistrationDate as timestamp,\n\t\tSubscriptionId as string,\n\t\tOriginalPartnerModifiedBy as string,\n\t\tOpportunityCopyTypeCode as integer,\n\t\tOpportunityCopyType as string,\n\t\tOpportunityCopyTypeSeqNo as long,\n\t\tOriginatingOpportunity as string,\n\t\tSendToPartner as boolean,\n\t\tcosellcode as integer,\n\t\tcosell as string,\n\t\tcosellSeqNo as long,\n\t\tPullForwardDate as timestamp,\n\t\tOdsStatus as integer,\n\t\tOpportunityScore as double,\n\t\tpartnermotioncode as integer,\n\t\tpartnermotion as string,\n\t\tpartnermotionSeqNo as long,\n\t\tclosestatuscode as integer,\n\t\tclosestatus as string,\n\t\tclosestatusSeqNo as long,\n\t\tPricePointDetails as string,\n\t\tBilledRevenue as double,\n\t\tcomplexitycode as integer,\n\t\tcomplexity as string,\n\t\tcomplexitySeqNo as long,\n\t\tCriticalDeal as boolean,\n\t\tdealtypecode as integer,\n\t\tdealtype as string,\n\t\tdealtypeSeqNo as long,\n\t\tEnrollmentNumber as string,\n\t\tEstROCArrivalDate as timestamp,\n\t\tLicensingContact as string,\n\t\tLSSODMComments as string,\n\t\tNoofTenants as integer,\n\t\ttransactiontypecode as integer,\n\t\ttransactiontype as string,\n\t\ttransactiontypeSeqNo as long,\n\t\toperationscontact as string,\n\t\tattachedservices as boolean,\n\t\tclanumber as string,\n\t\tcloseplan as string,\n\t\tcpumodelseriescode as integer,\n\t\tcpumodelseries as string,\n\t\tcpumodelseriesSeqNo as long,\n\t\tdevicecategorycode as integer,\n\t\tdevicecategory as string,\n\t\tdevicecategorySeqNo as long,\n\t\tmicrosoftazureiotcertifieddevice as boolean,\n\t\tsolutiondesignindate as timestamp,\n\t\tsolutionstartdate as timestamp,\n\t\towningBusinessUnit as string,\n\t\tfinaldecisiondate as timestamp,\n\t\tIsQualified as integer,\n\t\tcompetethreatlevelcode as integer,\n\t\tcompetethreatlevel as string,\n\t\tcompetethreatlevelSeqNo as long,\n\t\tprimarycompetitor as string,\n\t\tothercompetitor as string,\n\t\trvtvalidationready as boolean,\n\t\tCurrentSalesStageModifiedOn as timestamp,\n\t\tPlatformCreatedDate as timestamp,\n\t\tPlatformModifiedDate as timestamp,\n\t\tPlatformModifiedDateAsInt as long,\n\t\tcorrectedecid as string,\n\t\tPartnerReferral as string,\n\t\trvtstatuscode as integer,\n\t\trvtstatus as string,\n\t\trvtstatusSeqNo as long,\n\t\tnewenrollmentnumber as string,\n\t\tlastshipmentdate as timestamp,\n\t\tbaseopportunitycode as integer,\n\t\tbaseopportunity as string,\n\t\tbaseopportunitySeqNo as long,\n\t\tAdhocSurvey as integer,\n\t\tSurveyResponseRejectionCounts as integer,\n\t\taccessecifcode as integer,\n\t\taccessecif as string,\n\t\taccessecifSeqNo as long,\n\t\tCompleteTechnicalClosePlan as timestamp,\n\t\tCompleteWorkshop as timestamp,\n\t\tConfirmTrial as timestamp,\n\t\tdeliverinitialpitchcode as integer,\n\t\tdeliverinitialpitch as string,\n\t\tdeliverinitialpitchSeqNo as long,\n\t\tdelivertechnicalcasecode as integer,\n\t\tdelivertechnicalcase as string,\n\t\tdelivertechnicalcaseSeqNo as long,\n\t\tdemonstrateroicode as integer,\n\t\tdemonstrateroi as string,\n\t\tdemonstrateroiSeqNo as long,\n\t\tengagefasttrackcode as integer,\n\t\tengagefasttrack as string,\n\t\tengagefasttrackSeqNo as long,\n\t\tEngageServices as string,\n\t\tselectsalesplaycode as integer,\n\t\tselectsalesplay as string,\n\t\tselectsalesplaySeqNo as long,\n\t\tsharebompricingcode as integer,\n\t\tsharebompricing as string,\n\t\tsharebompricingSeqNo as long,\n\t\textractid as string,\n\t\textractdatetime as timestamp,\n\t\tloadts as timestamp,\n\t\tdeltaactioncode as string,\n\t\tbizappssalesplay as string,\n\t\tbizappssalesplaycode as integer,\n\t\tbizappssalesplaySeqNo as long,\n\t\tcommercialconstructapprovedbycustomer as string,\n\t\tcommercialconstructapprovedbycustomercode as integer,\n\t\tcommercialconstructapprovedbycustomerSeqNo as long,\n\t\tCompleteClosePlan as boolean,\n\t\tcompletejointcatalystengagementplan as string,\n\t\tcompletejointcatalystengagementplancode as integer,\n\t\tcompletejointcatalystengagementplanSeqNo as long,\n\t\tcompletetechnicalassessment as string,\n\t\tcompletetechnicalassessmentcode as integer,\n\t\tcompletetechnicalassessmentSeqNo as long,\n\t\tcontractsignaturetype as string,\n\t\tcontractsignaturetypecode as integer,\n\t\tcontractsignaturetypeSeqNo as long,\n\t\tcreatebusinessvalueassessment as string,\n\t\tcreatebusinessvalueassessmentcode as integer,\n\t\tcreatebusinessvalueassessmentSeqNo as long,\n\t\tcustomersignoffonassessments as string,\n\t\tcustomersignoffonassessmentscode as integer,\n\t\tcustomersignoffonassessmentsSeqNo as long,\n\t\tcustomersuccessplanworkshopcomplete as string,\n\t\tcustomersuccessplanworkshopcompletecode as integer,\n\t\tcustomersuccessplanworkshopcompleteSeqNo as long,\n\t\tdeliverbusinessvalueenlighten as string,\n\t\tdeliverbusinessvalueenlightencode as integer,\n\t\tdeliverbusinessvalueenlightenSeqNo as long,\n\t\tdeliverenvisioningworkshop as string,\n\t\tdeliverenvisioningworkshopcode as integer,\n\t\tdeliverenvisioningworkshopSeqNo as long,\n\t\tdelivertailoreddemonstration as string,\n\t\tdelivertailoreddemonstrationcode as integer,\n\t\tdelivertailoreddemonstrationSeqNo as long,\n\t\tdelivertransformationplan as string,\n\t\tdelivertransformationplancode as integer,\n\t\tdelivertransformationplanSeqNo as long,\n\t\tengagedwrawrforecif as string,\n\t\tengagedwrawrforecifcode as integer,\n\t\tengagedwrawrforecifSeqNo as long,\n\t\tengagegbb as string,\n\t\tengagegbbcode as integer,\n\t\tengagegbbSeqNo as long,\n\t\tengagemicrosoftexecutivewithcustomercxo as string,\n\t\tengagemicrosoftexecutivewithcustomercxocode as integer,\n\t\tengagemicrosoftexecutivewithcustomercxoSeqNo as long,\n\t\tHandovertoCSMorPCSM as boolean,\n\t\tsalesplay as string,\n\t\tsalesplaySeqNo as long,\n\t\tsolutionarea as string,\n\t\tsolutionareaSeqNo as long,\n\t\ttechnicalcapability as string,\n\t\ttechnicalcapabilitySeqNo as long,\n\t\tpilotsolutionSeqNo as long,\n\t\tpresentbusinesscaseSeqNo as long,\n\t\tpresentdealoptionsSeqNo as long,\n\t\tRapidResponse as boolean,\n\t\ttransitiontocsupartnerSeqNo as long,\n\t\talignonbusinessimpactSeqNo as long,\n\t\talignonsolutionapproachSeqNo as long,\n\t\tClaimTPID as string,\n\t\tCompleteDeploymentWorkshop as timestamp,\n\t\tcompletepredeploymentworkshopSeqNo as long,\n\t\tcompletetrialSeqNo as long,\n\t\tconductpocSeqNo as long,\n\t\tengagecosellprioritizedpartnerSeqNo as long,\n\t\texecutedigitalimmersionSeqNo as long,\n\t\tidentifybusinessdecisionmakersSeqNo as long\n\t),\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\trecreate:true,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError') ~> GBBOpportunity"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/41 MSXmilestone')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "GBB Opportunity"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"linkedService": {
								"referenceName": "msxdatalake",
								"type": "LinkedServiceReference"
							},
							"name": "Milestone"
						},
						{
							"dataset": {
								"referenceName": "MSXOpportunity",
								"type": "DatasetReference"
							},
							"name": "Opportunity"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "MSXEngagementMilestone",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "Filter1"
						},
						{
							"name": "exists1"
						}
					],
					"script": "source(output(\n\t\tEDLPExtractId as string,\n\t\tComments as string,\n\t\tcommitmentrecommendation as string,\n\t\tcommitmentrecommendationcode as integer,\n\t\tcommitmentrecommendationSeqNo as long,\n\t\tcompleted as string,\n\t\tcompletedcode as integer,\n\t\tcompletedSeqNo as long,\n\t\tCreatedById as string,\n\t\tCreatedDate as timestamp,\n\t\tCrmInstanceId as string,\n\t\tEngagementID as string,\n\t\tEngagementMilestoneID as string,\n\t\tEstDate as timestamp,\n\t\tEstMonthlyUsage as double,\n\t\tEstNoOfActivations as integer,\n\t\thelpneeded as string,\n\t\thelpneededcode as integer,\n\t\thelpneededSeqNo as long,\n\t\tmilestonecategory as string,\n\t\tmilestonecategorycode as integer,\n\t\tmilestonecategorySeqNo as long,\n\t\tMilestoneNumber as string,\n\t\tmilestonesolutionareaSeqNo as long,\n\t\tmilestonestatus as string,\n\t\tmilestonestatuscode as integer,\n\t\tmilestonestatusreason as string,\n\t\tmilestonestatusreasoncode as integer,\n\t\tmilestonestatusreasonSeqNo as long,\n\t\tmilestonestatusSeqNo as long,\n\t\tModifiedById as string,\n\t\tModifiedDate as timestamp,\n\t\tName as string,\n\t\tnonrecurring as string,\n\t\tnonrecurringcode as integer,\n\t\tnonrecurringSeqNo as long,\n\t\tOdsCreatedDate as timestamp,\n\t\tOdsModifiedDate as timestamp,\n\t\tOdsStatus as integer,\n\t\tOwnerId as string,\n\t\towningBusinessUnit as string,\n\t\tscrumescalation as string,\n\t\tscrumescalationcode as integer,\n\t\tscrumescalationSeqNo as long,\n\t\tSeatsEntitlements as integer,\n\t\tstatecode as integer,\n\t\tStatus as string,\n\t\tstatuscode as integer,\n\t\tStatusReason as string,\n\t\tStatusReasonSeqNo as long,\n\t\tStatusSeqNo as long,\n\t\tTenantId as integer,\n\t\tTransactionCurrencyId as string,\n\t\tVersionNumber as long,\n\t\tworkload as string,\n\t\tworkloadcode as integer,\n\t\tworkloadSeqNo as long,\n\t\tworkloadtype as string,\n\t\tworkloadtypecode as integer,\n\t\tworkloadtypeSeqNo as long,\n\t\tmilestonesolutionareacode as integer,\n\t\tEDLPExtractDateTime as timestamp,\n\t\tEDLPLoadTS as string,\n\t\tEDLPModifiedDateTime as timestamp,\n\t\tEDLPDeltaActionCode as string,\n\t\tExtractId as string,\n\t\tExtractDateTime as timestamp,\n\t\tLoadTS as timestamp,\n\t\tDeltaActionCode as string,\n\t\tPlatformCreatedDate as timestamp,\n\t\tPlatformModifiedDate as timestamp,\n\t\tPlatformModifiedDateAsInt as long,\n\t\tWorkloadlkId as string,\n\t\tbacv as decimal(10,0),\n\t\tOpportunityId as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tformat: 'delta',\n\tfileSystem: 'cseo',\n\tfolderPath: 'standardized/transactional/msx/hub_vw_engagementmilestone/v1/standard') ~> Milestone\nsource(output(\n\t\tEDLPExtractId as string,\n\t\taccessecif as string,\n\t\taccessecifcode as integer,\n\t\taccessecifSeqNo as long,\n\t\tAccountId as string,\n\t\tActualCloseDate as timestamp,\n\t\tActualvalue as double,\n\t\tAdhocSurvey as integer,\n\t\tAgreedToBuy as boolean,\n\t\talignonbusinessimpactSeqNo as long,\n\t\talignonsolutionapproachSeqNo as long,\n\t\tAntipiracyEngagementTypeId as string,\n\t\tattachedservices as boolean,\n\t\tbaseopportunity as string,\n\t\tbaseopportunitycode as integer,\n\t\tbaseopportunitySeqNo as long,\n\t\tBilledRevenue as double,\n\t\tbizappssalesplay as string,\n\t\tbizappssalesplaycode as integer,\n\t\tbizappssalesplaySeqNo as long,\n\t\tBudgetAmount as double,\n\t\tCampaignId as string,\n\t\tClaimTPID as string,\n\t\tclanumber as string,\n\t\tcloseplan as string,\n\t\tclosestatus as string,\n\t\tclosestatuscode as integer,\n\t\tclosestatusSeqNo as long,\n\t\tcommercialconstructapprovedbycustomer as string,\n\t\tcommercialconstructapprovedbycustomercode as integer,\n\t\tcommercialconstructapprovedbycustomerSeqNo as long,\n\t\tcompetethreatlevel as string,\n\t\tcompetethreatlevelcode as integer,\n\t\tcompetethreatlevelSeqNo as long,\n\t\tCompleteClosePlan as boolean,\n\t\tCompleteDeploymentWorkshop as timestamp,\n\t\tCompleteFinalProposal as boolean,\n\t\tcompletejointcatalystengagementplan as string,\n\t\tcompletejointcatalystengagementplancode as integer,\n\t\tcompletejointcatalystengagementplanSeqNo as long,\n\t\tcompletepredeploymentworkshopSeqNo as long,\n\t\tcompletetechnicalassessment as string,\n\t\tcompletetechnicalassessmentcode as integer,\n\t\tcompletetechnicalassessmentSeqNo as long,\n\t\tCompleteTechnicalClosePlan as timestamp,\n\t\tcompletetrialSeqNo as long,\n\t\tCompleteWorkshop as timestamp,\n\t\tcomplexity as string,\n\t\tcomplexitycode as integer,\n\t\tcomplexitySeqNo as long,\n\t\tconductpocSeqNo as long,\n\t\tConfirmTrial as timestamp,\n\t\tConsentToSendToPartner as string,\n\t\tConsentToSendToPartnerBy as string,\n\t\tConsentToSendToPartnerCode as integer,\n\t\tConsentToSendToPartnerSeqNo as long,\n\t\tcontractsignaturetype as string,\n\t\tcontractsignaturetypecode as integer,\n\t\tcontractsignaturetypeSeqNo as long,\n\t\tcorrectedecid as string,\n\t\tcosell as string,\n\t\tcosellcode as integer,\n\t\tcosellSeqNo as long,\n\t\tcpumodelseries as string,\n\t\tcpumodelseriescode as integer,\n\t\tcpumodelseriesSeqNo as long,\n\t\tcreatebusinessvalueassessment as string,\n\t\tcreatebusinessvalueassessmentcode as integer,\n\t\tcreatebusinessvalueassessmentSeqNo as long,\n\t\tCreatedById as string,\n\t\tCreatedDate as timestamp,\n\t\tCriticalDeal as boolean,\n\t\tCrmInstanceId as string,\n\t\tCurrencyId as string,\n\t\tCurrentSalesStageModifiedOn as timestamp,\n\t\tcustomersignoffonassessments as string,\n\t\tcustomersignoffonassessmentscode as integer,\n\t\tcustomersignoffonassessmentsSeqNo as long,\n\t\tcustomersuccessplanworkshopcomplete as string,\n\t\tcustomersuccessplanworkshopcompletecode as integer,\n\t\tcustomersuccessplanworkshopcompleteSeqNo as long,\n\t\tdealtype as string,\n\t\tdealtypecode as integer,\n\t\tdealtypeSeqNo as long,\n\t\tdeliverbusinessvalueenlighten as string,\n\t\tdeliverbusinessvalueenlightencode as integer,\n\t\tdeliverbusinessvalueenlightenSeqNo as long,\n\t\tdeliverenvisioningworkshop as string,\n\t\tdeliverenvisioningworkshopcode as integer,\n\t\tdeliverenvisioningworkshopSeqNo as long,\n\t\tdeliverinitialpitch as string,\n\t\tdeliverinitialpitchcode as integer,\n\t\tdeliverinitialpitchSeqNo as long,\n\t\tdelivertailoreddemonstration as string,\n\t\tdelivertailoreddemonstrationcode as integer,\n\t\tdelivertailoreddemonstrationSeqNo as long,\n\t\tdelivertechnicalcase as string,\n\t\tdelivertechnicalcasecode as integer,\n\t\tdelivertechnicalcaseSeqNo as long,\n\t\tdelivertransformationplan as string,\n\t\tdelivertransformationplancode as integer,\n\t\tdelivertransformationplanSeqNo as long,\n\t\tdemonstrateroi as string,\n\t\tdemonstrateroicode as integer,\n\t\tdemonstrateroiSeqNo as long,\n\t\tdevicecategory as string,\n\t\tdevicecategorycode as integer,\n\t\tdevicecategorySeqNo as long,\n\t\tengagecosellprioritizedpartnerSeqNo as long,\n\t\tengagedwrawrforecif as string,\n\t\tengagedwrawrforecifcode as integer,\n\t\tengagedwrawrforecifSeqNo as long,\n\t\tengagefasttrack as string,\n\t\tengagefasttrackcode as integer,\n\t\tengagefasttrackSeqNo as long,\n\t\tengagegbb as string,\n\t\tengagegbbcode as integer,\n\t\tengagegbbSeqNo as long,\n\t\tengagemicrosoftexecutivewithcustomercxo as string,\n\t\tengagemicrosoftexecutivewithcustomercxocode as integer,\n\t\tengagemicrosoftexecutivewithcustomercxoSeqNo as long,\n\t\tEngageServices as string,\n\t\tEnrollmentNumber as string,\n\t\tEstimatedCloseDate as timestamp,\n\t\tEstimatedValue as double,\n\t\tEstROCArrivalDate as timestamp,\n\t\tEvaluationPlan as boolean,\n\t\texecutedigitalimmersionSeqNo as long,\n\t\tFinalConsumptionPlan as boolean,\n\t\tfinaldecisiondate as timestamp,\n\t\tForecastComments as string,\n\t\tForecastComments_LastModifiedBy_Lookup as string,\n\t\tForecastComments_LastModifiedOn_DateTime as timestamp,\n\t\tHandovertoCSMorPCSM as boolean,\n\t\tHasCustomerAgreedToBuy as boolean,\n\t\tHighLevelSolutionDesign as boolean,\n\t\tidentifybusinessdecisionmakersSeqNo as long,\n\t\tInitialBusinessCase as boolean,\n\t\tIsConclusionLetterSent as boolean,\n\t\tIsELPAgreementSecured as boolean,\n\t\tIsELPUploaded as boolean,\n\t\tIsIdentifyBuyingTeamComplete as boolean,\n\t\tIsIdentifyCompetitorsComplete as boolean,\n\t\tIsIdentifyLineItemsComplete as boolean,\n\t\tIsIdentifySalesTeamComplete as boolean,\n\t\tIsInternalAgreementSecured as boolean,\n\t\tIsLetterOfEngagementAccepted as boolean,\n\t\tIsOrderComplete as boolean,\n\t\tIsPartnerFundingSecured as boolean,\n\t\tIsPurchaseArrangementSecured as boolean,\n\t\tIsQuoteComplete as boolean,\n\t\tIsRevenueSystemCalculated as boolean,\n\t\tlastshipmentdate as timestamp,\n\t\tLicensingContact as string,\n\t\tLicensingProgramId as string,\n\t\tLSSODMComments as string,\n\t\tmicrosoftazureiotcertifieddevice as boolean,\n\t\tModifiedById as string,\n\t\tModifiedDate as timestamp,\n\t\tNeed as string,\n\t\tnewenrollmentnumber as string,\n\t\tNoofTenants as integer,\n\t\tNumberOfDials as integer,\n\t\tOdsCreatedDate as timestamp,\n\t\tOdsModifiedDate as timestamp,\n\t\tOdsStatus as integer,\n\t\toperationscontact as string,\n\t\tOpportunityCopyType as string,\n\t\tOpportunityCopyTypeCode as integer,\n\t\tOpportunityCopyTypeSeqNo as long,\n\t\tOpportunityId as string,\n\t\tOpportunityNumber as string,\n\t\tOpportunityScore as double,\n\t\tOpportunitySource as string,\n\t\tOpportunitySourceCode as integer,\n\t\tOpportunitySourceSeqNo as long,\n\t\tOpportunityTenantId as string,\n\t\tOriginalPartnerModifiedBy as string,\n\t\tOriginatingLeadId as string,\n\t\tOriginatingOpportunity as string,\n\t\tothercompetitor as string,\n\t\tOwnerId as string,\n\t\towningBusinessUnit as string,\n\t\tParentOpportunityId as string,\n\t\tPartnerAccountId as string,\n\t\tpartnermotion as string,\n\t\tpartnermotioncode as integer,\n\t\tpartnermotionSeqNo as long,\n\t\tPartnerReferral as string,\n\t\tpilotsolutionSeqNo as long,\n\t\tPrelimConsumptionPlan as boolean,\n\t\tpresentbusinesscaseSeqNo as long,\n\t\tpresentdealoptionsSeqNo as long,\n\t\tPriceLevelId as string,\n\t\tPricePointDetails as string,\n\t\tprimarycompetitor as string,\n\t\tPrimarySponsorContactId as string,\n\t\tPriority as string,\n\t\tPriorityCode as integer,\n\t\tPrioritySeqNo as long,\n\t\tProductSKU as string,\n\t\tPullForwardDate as timestamp,\n\t\tPurchaseTimeFrame as string,\n\t\tPurchaseTimeFrameCode as integer,\n\t\tPurchaseTimeFrameSeqNo as long,\n\t\tRapidResponse as boolean,\n\t\tRecommendation as string,\n\t\tRecommendationCode as integer,\n\t\tRecommendationSeqNo as long,\n\t\tRegistrationDate as timestamp,\n\t\trvtstatus as string,\n\t\trvtstatuscode as integer,\n\t\trvtstatusSeqNo as long,\n\t\trvtvalidationready as boolean,\n\t\tsalesplay as string,\n\t\tsalesplaySeqNo as long,\n\t\tselectsalesplay as string,\n\t\tselectsalesplaycode as integer,\n\t\tselectsalesplaySeqNo as long,\n\t\tSendToPartner as boolean,\n\t\tsharebompricing as string,\n\t\tsharebompricingcode as integer,\n\t\tsharebompricingSeqNo as long,\n\t\tsolutionarea as string,\n\t\tsolutionareaSeqNo as long,\n\t\tsolutiondesignindate as timestamp,\n\t\tsolutionstartdate as timestamp,\n\t\tSourceSubType as string,\n\t\tSourceSubTypeCode as integer,\n\t\tSourceSubTypeSeqNo as long,\n\t\tStateCode as integer,\n\t\tStatus as string,\n\t\tStatusCode as integer,\n\t\tStatusReason as string,\n\t\tStatusReasonSeqNo as long,\n\t\tStatusSeqNo as long,\n\t\tSubscriptionId as string,\n\t\tSurveyResponseRejectionCounts as integer,\n\t\ttechnicalcapability as string,\n\t\ttechnicalcapabilitySeqNo as long,\n\t\tTenantId as integer,\n\t\tTopic as string,\n\t\ttransactiontype as string,\n\t\ttransactiontypecode as integer,\n\t\ttransactiontypeSeqNo as long,\n\t\ttransitiontocsupartnerSeqNo as long,\n\t\tVersionNumber as long,\n\t\talignonbusinessimpactcode as integer,\n\t\talignonsolutionapproachcode as integer,\n\t\tcompletepredeploymentworkshopcode as integer,\n\t\tcompletetrialcode as integer,\n\t\tconductpoccode as integer,\n\t\tengagecosellprioritizedpartnercode as integer,\n\t\texecutedigitalimmersioncode as integer,\n\t\tidentifybusinessdecisionmakerscode as integer,\n\t\tpilotsolutioncode as integer,\n\t\tpresentbusinesscasecode as integer,\n\t\tpresentdealoptionscode as integer,\n\t\tsalesplaycode as integer,\n\t\tsolutionareacode as integer,\n\t\ttechnicalcapabilitycode as integer,\n\t\ttransitiontocsupartnercode as integer,\n\t\tAgreement as string,\n\t\tAgreementToProceedToContractNegotiation as boolean,\n\t\tConfirmTimelineAndBudgetStatus as boolean,\n\t\tCustomerAgreesSolutionIsTechnicallyViable as boolean,\n\t\tCustomerAgreesToPerformAProofOfConcept as boolean,\n\t\tCustomerAgreesWithMSValueProposition as boolean,\n\t\tCustomerApprovesBusinessCaseFramework as boolean,\n\t\tCustomerApprovesTechnicalCriteria as boolean,\n\t\tCustomerSignsContractOrAgreesToPlaceOrder as boolean,\n\t\tdemandresponsedealtype as string,\n\t\tdemandresponsedealtypecode as integer,\n\t\tIdentifyBuyingTeamStakeholders as boolean,\n\t\tInvoice as string,\n\t\tPresentCustomerWithFinalValueCaseProposal as boolean,\n\t\tActiveProcess as string,\n\t\tActiveSalesStage as string,\n\t\tActualBilledCloseDate as timestamp,\n\t\tActualConsumptionCloseDate as timestamp,\n\t\tAzureActiveDevicesNonRecurring as integer,\n\t\tAzureActiveDevicesRecurring as decimal(10,0),\n\t\tAzureConsumedNonRecurring as decimal(10,0),\n\t\tAzureConsumedNonRecurringBase as decimal(10,0),\n\t\tAzureConsumedRecurring as decimal(10,0),\n\t\tAzureConsumedRecurringBase as decimal(10,0),\n\t\tBilledClosingComments as string,\n\t\tBilledRevenueCloseReason as integer,\n\t\tBilledRevenueStatus as integer,\n\t\tBilledActualRevenueBase as decimal(10,0),\n\t\tBizAppsActiveDevicesNonRecurring as decimal(10,0),\n\t\tBizAppsActiveDevicesRecurring as decimal(10,0),\n\t\tBizAppsBACVNonRecurring as decimal(10,0),\n\t\tBizAppsBACVNonRecurringBase as decimal(10,0),\n\t\tBizAppsBACVRecurring as decimal(10,0),\n\t\tBizAppsBACVRecurringBase as decimal(10,0),\n\t\tConsumptionClosingComments as string,\n\t\tConsumptionStatus as integer,\n\t\tConsumptionStatusReason as integer,\n\t\tCustomerAgreementInPlace as integer,\n\t\tDesignAgreedWithCustomer as integer,\n\t\tEngagementNarrative as string,\n\t\tEngagementNextSteps as string,\n\t\tEstStartDate as timestamp,\n\t\tEstCompletionDate as timestamp,\n\t\tMigratedEngagementId as string,\n\t\tMigratedEngagementNumber as string,\n\t\tMilestonesFlag as string,\n\t\tOpportunityCompletedAndNextStepsIdentified as integer,\n\t\tOpportunityType as string,\n\t\tOutcomesMetAndBaselineMetricsInPlace as integer,\n\t\tProductFlags as string,\n\t\tQualifiedOpportunity as integer,\n\t\tSecurityActiveDevicesNonRecurring as decimal(10,0),\n\t\tSecurityActiveDevicesRecurring as decimal(10,0),\n\t\tSecurityConsumedNonRecurring as decimal(10,0),\n\t\tSecurityConsumedNonRecurringBase as decimal(10,0),\n\t\tSecurityConsumedRecurring as decimal(10,0),\n\t\tSecurityConsumedRecurringBase as decimal(10,0),\n\t\tAzureCapacityType as string,\n\t\tPreferredAzureRegion as integer,\n\t\tInitialStakeholderIdentificationComplete as integer,\n\t\tCustomerNeedsAndOutcomesDefine as integer,\n\t\tCustomerPrioritiesIdentified as integer,\n\t\tSolutionPlaysConfirmedDealTeamOrchest as integer,\n\t\tPartnersIdentifiedAndEngaged as integer,\n\t\tBusinessValueConsiderationsCompleted as integer,\n\t\tSolutionDesignValidatedWithCustomer as integer,\n\t\tTechnicalBusinessProofRequirementSide as integer,\n\t\tCustomersignedoffonproposesolution as integer,\n\t\tCustomerSuccessPlanReviewedWithCustomer as integer,\n\t\tCustomerCommitToProposal as integer,\n\t\tResourcesAlignAgainstDeliveryPlan as integer,\n\t\tChangeManagementPlanPlace as integer,\n\t\tSolutionDeliveredAgainstAgreedOutcome as integer,\n\t\tCustomerHealthMetricsAgreedWithMonitoring as integer,\n\t\tNextSetOfCustomerNeedsIdentify as integer,\n\t\tBusValueAndSuccessOutcomeMonitoringInPlac as integer,\n\t\tCustomerCanOperateAndMaintainSolution as integer,\n\t\tMigratedEngagementCreatedBy as string,\n\t\tCustomerSuccessPlanUpdated as integer,\n\t\tEDLPExtractDateTime as timestamp,\n\t\tEDLPLoadTS as string,\n\t\tEDLPModifiedDateTime as timestamp,\n\t\tEDLPDeltaActionCode as string,\n\t\tConsumedRecurring as decimal(10,0),\n\t\tConsumedRecurringBase as decimal(10,0),\n\t\tConsumedNonRecurring as decimal(10,0),\n\t\tConsumedNonRecurringBase as decimal(10,0),\n\t\tConsumptionActiveDevicesRecurring as decimal(10,0),\n\t\tConsumptionActiveDevicesNonRecurring as decimal(10,0),\n\t\tModernConsumedRecurring as decimal(10,0),\n\t\tModernConsumedRecurringBase as decimal(10,0),\n\t\tModernConsumedNonRecurring as decimal(10,0),\n\t\tModernConsumedNonRecurringBase as decimal(10,0),\n\t\tModernActiveDevicesRecurring as decimal(10,0),\n\t\tModernActiveDevicesNonRecurring as decimal(10,0),\n\t\tRiskScore as decimal(10,5)\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> Opportunity\nexists1 filter(OdsStatus==0) ~> Filter1\nMilestone, Opportunity exists(Milestone@OpportunityId == Opportunity@OpportunityId,\n\tnegate:false,\n\tbroadcast: 'auto')~> exists1\nFilter1 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\trecreate:true,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError') ~> sink1"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/42 msxaccount')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "GBB Opportunity"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"linkedService": {
								"referenceName": "msxdatalake",
								"type": "LinkedServiceReference"
							},
							"name": "msxaccount"
						},
						{
							"dataset": {
								"referenceName": "MSXOpportunity",
								"type": "DatasetReference"
							},
							"name": "GBBOpportunity"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "MSXAccount",
								"type": "DatasetReference"
							},
							"name": "AccountForGBBOpp"
						}
					],
					"transformations": [
						{
							"name": "existsInGBBOpportunity"
						}
					],
					"script": "source(output(\n\t\tEDLPExtractId as string,\n\t\taccountcreatedby as string,\n\t\tAccountId as string,\n\t\taccountmodifiedby as string,\n\t\tAccountName as string,\n\t\tAccountNumber as string,\n\t\tAddressId as string,\n\t\tCID as string,\n\t\tCity as string,\n\t\tclanumber as string,\n\t\tCountry as string,\n\t\tCreatedById as string,\n\t\tCreatedDate as timestamp,\n\t\tcreatedonbehalfby as string,\n\t\tCrmInstanceId as string,\n\t\tCurrencyId as string,\n\t\tCustomerSegment as integer,\n\t\tCustomerSubsegment as integer,\n\t\tDescription as string,\n\t\tdsraction as string,\n\t\tdsrdate as timestamp,\n\t\tdsrticket as string,\n\t\tDunsID as string,\n\t\tEligibleForUnifiedSupport as boolean,\n\t\tEndCustomerSegment as string,\n\t\tEndCustomerSegmentSeqNo as long,\n\t\tEndCustomerSubsegment as string,\n\t\tEndCustomerSubsegmentSeqNo as long,\n\t\tenglishtranslatedaccountname as string,\n\t\tFax as string,\n\t\tFYStartMonth as string,\n\t\tFYStartMonthcode as integer,\n\t\tFYStartMonthSeqNo as long,\n\t\tGPID as string,\n\t\tGPName as string,\n\t\tHardwareBuyingStrategy as string,\n\t\tHardwareDecisionMaker as string,\n\t\tIndustry as string,\n\t\tIndustryCode as integer,\n\t\tIndustrySeqNo as long,\n\t\tIndustryVertical as string,\n\t\tIndustryVerticalCode as integer,\n\t\tIndustryVerticalSeqNo as long,\n\t\tisvtechaptitude as string,\n\t\tisvtechaptitudecode as integer,\n\t\tisvtechaptitudeSeqNo as long,\n\t\tLicenseAgreementType as string,\n\t\tLicenseAgreementTypeCode as integer,\n\t\tLicenseAgreementTypeSeqNo as long,\n\t\tLine1 as string,\n\t\tLine2 as string,\n\t\tLine3 as string,\n\t\tMainPhone as string,\n\t\tManagedstatus as string,\n\t\tManagedstatusCode as integer,\n\t\tManagedstatusSeqNo as long,\n\t\tmcapi as string,\n\t\tMDMOrganizationId as string,\n\t\tModifiedById as string,\n\t\tModifiedDate as timestamp,\n\t\tmodifiedonbehalfby as string,\n\t\tMSP_HQ as boolean,\n\t\tmsp_IncomingATS as string,\n\t\tmsp_OutgoingATS as string,\n\t\tMSSalesId as string,\n\t\tMSSalesTopParentId as string,\n\t\tNumberOfEmployees as integer,\n\t\tOdsCreatedDate as timestamp,\n\t\tOdsModifiedDate as timestamp,\n\t\tOdsStatus as integer,\n\t\tOEMManaged as boolean,\n\t\toemorganizationtype as string,\n\t\toemorganizationtypecode as integer,\n\t\toemorganizationtypeSeqNo as long,\n\t\toemsegmenttype as string,\n\t\toemsegmenttypecode as integer,\n\t\toemsegmenttypeSeqNo as long,\n\t\tOwnerId as string,\n\t\towningBusinessUnit as string,\n\t\tParentAccountId as string,\n\t\tParentingLevel as string,\n\t\tParentingLevelCode as integer,\n\t\tParentingLevelSeqNo as long,\n\t\tPcCount as integer,\n\t\tpevcinvestors as string,\n\t\tpevcownedSeqNo as long,\n\t\tPonId as string,\n\t\tPostalCode as string,\n\t\tpreviousaccountowner as string,\n\t\tServerCount as integer,\n\t\tServicesEngagement as boolean,\n\t\tSmartphoneCount as integer,\n\t\tStateCode as integer,\n\t\tStateOrProvince as string,\n\t\tStatus as string,\n\t\tStatusCode as integer,\n\t\tStatusReason as string,\n\t\tStatusReasonSeqNo as long,\n\t\tStatusSeqNo as long,\n\t\tTabletCount as integer,\n\t\tTaxId as string,\n\t\tTenantId as integer,\n\t\tTerritoryId as string,\n\t\tVersionNumber as long,\n\t\tVerticalCategory as string,\n\t\tVerticalCategoryCode as integer,\n\t\tVerticalCategorySeqNo as long,\n\t\tWebsiteUrl as string,\n\t\tpevcownedcode as integer,\n\t\tEDLPExtractDateTime as timestamp,\n\t\tEDLPLoadTS as string,\n\t\tEDLPModifiedDateTime as timestamp,\n\t\tEDLPDeltaActionCode as string,\n\t\tExtractId as string,\n\t\tExtractDateTime as timestamp,\n\t\tLoadTS as timestamp,\n\t\tDeltaActionCode as string,\n\t\tPlatformCreatedDate as timestamp,\n\t\tPlatformModifiedDate as timestamp,\n\t\tPlatformModifiedDateAsInt as long,\n\t\tmsp_accountplanid as string,\n\t\tmsp_verticalcode as integer,\n\t\tmsp_subverticalcode as integer\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tformat: 'delta',\n\tfileSystem: 'cseo',\n\tfolderPath: 'standardized/masterandreference/msx/hub_vw_account/v1/standard') ~> msxaccount\nsource(output(\n\t\tEDLPExtractId as string,\n\t\taccessecif as string,\n\t\taccessecifcode as integer,\n\t\taccessecifSeqNo as long,\n\t\tAccountId as string,\n\t\tActualCloseDate as timestamp,\n\t\tActualvalue as double,\n\t\tAdhocSurvey as integer,\n\t\tAgreedToBuy as boolean,\n\t\talignonbusinessimpactSeqNo as long,\n\t\talignonsolutionapproachSeqNo as long,\n\t\tAntipiracyEngagementTypeId as string,\n\t\tattachedservices as boolean,\n\t\tbaseopportunity as string,\n\t\tbaseopportunitycode as integer,\n\t\tbaseopportunitySeqNo as long,\n\t\tBilledRevenue as double,\n\t\tbizappssalesplay as string,\n\t\tbizappssalesplaycode as integer,\n\t\tbizappssalesplaySeqNo as long,\n\t\tBudgetAmount as double,\n\t\tCampaignId as string,\n\t\tClaimTPID as string,\n\t\tclanumber as string,\n\t\tcloseplan as string,\n\t\tclosestatus as string,\n\t\tclosestatuscode as integer,\n\t\tclosestatusSeqNo as long,\n\t\tcommercialconstructapprovedbycustomer as string,\n\t\tcommercialconstructapprovedbycustomercode as integer,\n\t\tcommercialconstructapprovedbycustomerSeqNo as long,\n\t\tcompetethreatlevel as string,\n\t\tcompetethreatlevelcode as integer,\n\t\tcompetethreatlevelSeqNo as long,\n\t\tCompleteClosePlan as boolean,\n\t\tCompleteDeploymentWorkshop as timestamp,\n\t\tCompleteFinalProposal as boolean,\n\t\tcompletejointcatalystengagementplan as string,\n\t\tcompletejointcatalystengagementplancode as integer,\n\t\tcompletejointcatalystengagementplanSeqNo as long,\n\t\tcompletepredeploymentworkshopSeqNo as long,\n\t\tcompletetechnicalassessment as string,\n\t\tcompletetechnicalassessmentcode as integer,\n\t\tcompletetechnicalassessmentSeqNo as long,\n\t\tCompleteTechnicalClosePlan as timestamp,\n\t\tcompletetrialSeqNo as long,\n\t\tCompleteWorkshop as timestamp,\n\t\tcomplexity as string,\n\t\tcomplexitycode as integer,\n\t\tcomplexitySeqNo as long,\n\t\tconductpocSeqNo as long,\n\t\tConfirmTrial as timestamp,\n\t\tConsentToSendToPartner as string,\n\t\tConsentToSendToPartnerBy as string,\n\t\tConsentToSendToPartnerCode as integer,\n\t\tConsentToSendToPartnerSeqNo as long,\n\t\tcontractsignaturetype as string,\n\t\tcontractsignaturetypecode as integer,\n\t\tcontractsignaturetypeSeqNo as long,\n\t\tcorrectedecid as string,\n\t\tcosell as string,\n\t\tcosellcode as integer,\n\t\tcosellSeqNo as long,\n\t\tcpumodelseries as string,\n\t\tcpumodelseriescode as integer,\n\t\tcpumodelseriesSeqNo as long,\n\t\tcreatebusinessvalueassessment as string,\n\t\tcreatebusinessvalueassessmentcode as integer,\n\t\tcreatebusinessvalueassessmentSeqNo as long,\n\t\tCreatedById as string,\n\t\tCreatedDate as timestamp,\n\t\tCriticalDeal as boolean,\n\t\tCrmInstanceId as string,\n\t\tCurrencyId as string,\n\t\tCurrentSalesStageModifiedOn as timestamp,\n\t\tcustomersignoffonassessments as string,\n\t\tcustomersignoffonassessmentscode as integer,\n\t\tcustomersignoffonassessmentsSeqNo as long,\n\t\tcustomersuccessplanworkshopcomplete as string,\n\t\tcustomersuccessplanworkshopcompletecode as integer,\n\t\tcustomersuccessplanworkshopcompleteSeqNo as long,\n\t\tdealtype as string,\n\t\tdealtypecode as integer,\n\t\tdealtypeSeqNo as long,\n\t\tdeliverbusinessvalueenlighten as string,\n\t\tdeliverbusinessvalueenlightencode as integer,\n\t\tdeliverbusinessvalueenlightenSeqNo as long,\n\t\tdeliverenvisioningworkshop as string,\n\t\tdeliverenvisioningworkshopcode as integer,\n\t\tdeliverenvisioningworkshopSeqNo as long,\n\t\tdeliverinitialpitch as string,\n\t\tdeliverinitialpitchcode as integer,\n\t\tdeliverinitialpitchSeqNo as long,\n\t\tdelivertailoreddemonstration as string,\n\t\tdelivertailoreddemonstrationcode as integer,\n\t\tdelivertailoreddemonstrationSeqNo as long,\n\t\tdelivertechnicalcase as string,\n\t\tdelivertechnicalcasecode as integer,\n\t\tdelivertechnicalcaseSeqNo as long,\n\t\tdelivertransformationplan as string,\n\t\tdelivertransformationplancode as integer,\n\t\tdelivertransformationplanSeqNo as long,\n\t\tdemonstrateroi as string,\n\t\tdemonstrateroicode as integer,\n\t\tdemonstrateroiSeqNo as long,\n\t\tdevicecategory as string,\n\t\tdevicecategorycode as integer,\n\t\tdevicecategorySeqNo as long,\n\t\tengagecosellprioritizedpartnerSeqNo as long,\n\t\tengagedwrawrforecif as string,\n\t\tengagedwrawrforecifcode as integer,\n\t\tengagedwrawrforecifSeqNo as long,\n\t\tengagefasttrack as string,\n\t\tengagefasttrackcode as integer,\n\t\tengagefasttrackSeqNo as long,\n\t\tengagegbb as string,\n\t\tengagegbbcode as integer,\n\t\tengagegbbSeqNo as long,\n\t\tengagemicrosoftexecutivewithcustomercxo as string,\n\t\tengagemicrosoftexecutivewithcustomercxocode as integer,\n\t\tengagemicrosoftexecutivewithcustomercxoSeqNo as long,\n\t\tEngageServices as string,\n\t\tEnrollmentNumber as string,\n\t\tEstimatedCloseDate as timestamp,\n\t\tEstimatedValue as double,\n\t\tEstROCArrivalDate as timestamp,\n\t\tEvaluationPlan as boolean,\n\t\texecutedigitalimmersionSeqNo as long,\n\t\tFinalConsumptionPlan as boolean,\n\t\tfinaldecisiondate as timestamp,\n\t\tForecastComments as string,\n\t\tForecastComments_LastModifiedBy_Lookup as string,\n\t\tForecastComments_LastModifiedOn_DateTime as timestamp,\n\t\tHandovertoCSMorPCSM as boolean,\n\t\tHasCustomerAgreedToBuy as boolean,\n\t\tHighLevelSolutionDesign as boolean,\n\t\tidentifybusinessdecisionmakersSeqNo as long,\n\t\tInitialBusinessCase as boolean,\n\t\tIsConclusionLetterSent as boolean,\n\t\tIsELPAgreementSecured as boolean,\n\t\tIsELPUploaded as boolean,\n\t\tIsIdentifyBuyingTeamComplete as boolean,\n\t\tIsIdentifyCompetitorsComplete as boolean,\n\t\tIsIdentifyLineItemsComplete as boolean,\n\t\tIsIdentifySalesTeamComplete as boolean,\n\t\tIsInternalAgreementSecured as boolean,\n\t\tIsLetterOfEngagementAccepted as boolean,\n\t\tIsOrderComplete as boolean,\n\t\tIsPartnerFundingSecured as boolean,\n\t\tIsPurchaseArrangementSecured as boolean,\n\t\tIsQuoteComplete as boolean,\n\t\tIsRevenueSystemCalculated as boolean,\n\t\tlastshipmentdate as timestamp,\n\t\tLicensingContact as string,\n\t\tLicensingProgramId as string,\n\t\tLSSODMComments as string,\n\t\tmicrosoftazureiotcertifieddevice as boolean,\n\t\tModifiedById as string,\n\t\tModifiedDate as timestamp,\n\t\tNeed as string,\n\t\tnewenrollmentnumber as string,\n\t\tNoofTenants as integer,\n\t\tNumberOfDials as integer,\n\t\tOdsCreatedDate as timestamp,\n\t\tOdsModifiedDate as timestamp,\n\t\tOdsStatus as integer,\n\t\toperationscontact as string,\n\t\tOpportunityCopyType as string,\n\t\tOpportunityCopyTypeCode as integer,\n\t\tOpportunityCopyTypeSeqNo as long,\n\t\tOpportunityId as string,\n\t\tOpportunityNumber as string,\n\t\tOpportunityScore as double,\n\t\tOpportunitySource as string,\n\t\tOpportunitySourceCode as integer,\n\t\tOpportunitySourceSeqNo as long,\n\t\tOpportunityTenantId as string,\n\t\tOriginalPartnerModifiedBy as string,\n\t\tOriginatingLeadId as string,\n\t\tOriginatingOpportunity as string,\n\t\tothercompetitor as string,\n\t\tOwnerId as string,\n\t\towningBusinessUnit as string,\n\t\tParentOpportunityId as string,\n\t\tPartnerAccountId as string,\n\t\tpartnermotion as string,\n\t\tpartnermotioncode as integer,\n\t\tpartnermotionSeqNo as long,\n\t\tPartnerReferral as string,\n\t\tpilotsolutionSeqNo as long,\n\t\tPrelimConsumptionPlan as boolean,\n\t\tpresentbusinesscaseSeqNo as long,\n\t\tpresentdealoptionsSeqNo as long,\n\t\tPriceLevelId as string,\n\t\tPricePointDetails as string,\n\t\tprimarycompetitor as string,\n\t\tPrimarySponsorContactId as string,\n\t\tPriority as string,\n\t\tPriorityCode as integer,\n\t\tPrioritySeqNo as long,\n\t\tProductSKU as string,\n\t\tPullForwardDate as timestamp,\n\t\tPurchaseTimeFrame as string,\n\t\tPurchaseTimeFrameCode as integer,\n\t\tPurchaseTimeFrameSeqNo as long,\n\t\tRapidResponse as boolean,\n\t\tRecommendation as string,\n\t\tRecommendationCode as integer,\n\t\tRecommendationSeqNo as long,\n\t\tRegistrationDate as timestamp,\n\t\trvtstatus as string,\n\t\trvtstatuscode as integer,\n\t\trvtstatusSeqNo as long,\n\t\trvtvalidationready as boolean,\n\t\tsalesplay as string,\n\t\tsalesplaySeqNo as long,\n\t\tselectsalesplay as string,\n\t\tselectsalesplaycode as integer,\n\t\tselectsalesplaySeqNo as long,\n\t\tSendToPartner as boolean,\n\t\tsharebompricing as string,\n\t\tsharebompricingcode as integer,\n\t\tsharebompricingSeqNo as long,\n\t\tsolutionarea as string,\n\t\tsolutionareaSeqNo as long,\n\t\tsolutiondesignindate as timestamp,\n\t\tsolutionstartdate as timestamp,\n\t\tSourceSubType as string,\n\t\tSourceSubTypeCode as integer,\n\t\tSourceSubTypeSeqNo as long,\n\t\tStateCode as integer,\n\t\tStatus as string,\n\t\tStatusCode as integer,\n\t\tStatusReason as string,\n\t\tStatusReasonSeqNo as long,\n\t\tStatusSeqNo as long,\n\t\tSubscriptionId as string,\n\t\tSurveyResponseRejectionCounts as integer,\n\t\ttechnicalcapability as string,\n\t\ttechnicalcapabilitySeqNo as long,\n\t\tTenantId as integer,\n\t\tTopic as string,\n\t\ttransactiontype as string,\n\t\ttransactiontypecode as integer,\n\t\ttransactiontypeSeqNo as long,\n\t\ttransitiontocsupartnerSeqNo as long,\n\t\tVersionNumber as long,\n\t\talignonbusinessimpactcode as integer,\n\t\talignonsolutionapproachcode as integer,\n\t\tcompletepredeploymentworkshopcode as integer,\n\t\tcompletetrialcode as integer,\n\t\tconductpoccode as integer,\n\t\tengagecosellprioritizedpartnercode as integer,\n\t\texecutedigitalimmersioncode as integer,\n\t\tidentifybusinessdecisionmakerscode as integer,\n\t\tpilotsolutioncode as integer,\n\t\tpresentbusinesscasecode as integer,\n\t\tpresentdealoptionscode as integer,\n\t\tsalesplaycode as integer,\n\t\tsolutionareacode as integer,\n\t\ttechnicalcapabilitycode as integer,\n\t\ttransitiontocsupartnercode as integer,\n\t\tAgreement as string,\n\t\tAgreementToProceedToContractNegotiation as boolean,\n\t\tConfirmTimelineAndBudgetStatus as boolean,\n\t\tCustomerAgreesSolutionIsTechnicallyViable as boolean,\n\t\tCustomerAgreesToPerformAProofOfConcept as boolean,\n\t\tCustomerAgreesWithMSValueProposition as boolean,\n\t\tCustomerApprovesBusinessCaseFramework as boolean,\n\t\tCustomerApprovesTechnicalCriteria as boolean,\n\t\tCustomerSignsContractOrAgreesToPlaceOrder as boolean,\n\t\tdemandresponsedealtype as string,\n\t\tdemandresponsedealtypecode as integer,\n\t\tIdentifyBuyingTeamStakeholders as boolean,\n\t\tInvoice as string,\n\t\tPresentCustomerWithFinalValueCaseProposal as boolean,\n\t\tActiveProcess as string,\n\t\tActiveSalesStage as string,\n\t\tActualBilledCloseDate as timestamp,\n\t\tActualConsumptionCloseDate as timestamp,\n\t\tAzureActiveDevicesNonRecurring as integer,\n\t\tAzureActiveDevicesRecurring as decimal(10,0),\n\t\tAzureConsumedNonRecurring as decimal(10,0),\n\t\tAzureConsumedNonRecurringBase as decimal(10,0),\n\t\tAzureConsumedRecurring as decimal(10,0),\n\t\tAzureConsumedRecurringBase as decimal(10,0),\n\t\tBilledClosingComments as string,\n\t\tBilledRevenueCloseReason as integer,\n\t\tBilledRevenueStatus as integer,\n\t\tBilledActualRevenueBase as decimal(10,0),\n\t\tBizAppsActiveDevicesNonRecurring as decimal(10,0),\n\t\tBizAppsActiveDevicesRecurring as decimal(10,0),\n\t\tBizAppsBACVNonRecurring as decimal(10,0),\n\t\tBizAppsBACVNonRecurringBase as decimal(10,0),\n\t\tBizAppsBACVRecurring as decimal(10,0),\n\t\tBizAppsBACVRecurringBase as decimal(10,0),\n\t\tConsumptionClosingComments as string,\n\t\tConsumptionStatus as integer,\n\t\tConsumptionStatusReason as integer,\n\t\tCustomerAgreementInPlace as integer,\n\t\tDesignAgreedWithCustomer as integer,\n\t\tEngagementNarrative as string,\n\t\tEngagementNextSteps as string,\n\t\tEstStartDate as timestamp,\n\t\tEstCompletionDate as timestamp,\n\t\tMigratedEngagementId as string,\n\t\tMigratedEngagementNumber as string,\n\t\tMilestonesFlag as string,\n\t\tOpportunityCompletedAndNextStepsIdentified as integer,\n\t\tOpportunityType as string,\n\t\tOutcomesMetAndBaselineMetricsInPlace as integer,\n\t\tProductFlags as string,\n\t\tQualifiedOpportunity as integer,\n\t\tSecurityActiveDevicesNonRecurring as decimal(10,0),\n\t\tSecurityActiveDevicesRecurring as decimal(10,0),\n\t\tSecurityConsumedNonRecurring as decimal(10,0),\n\t\tSecurityConsumedNonRecurringBase as decimal(10,0),\n\t\tSecurityConsumedRecurring as decimal(10,0),\n\t\tSecurityConsumedRecurringBase as decimal(10,0),\n\t\tAzureCapacityType as string,\n\t\tPreferredAzureRegion as integer,\n\t\tInitialStakeholderIdentificationComplete as integer,\n\t\tCustomerNeedsAndOutcomesDefine as integer,\n\t\tCustomerPrioritiesIdentified as integer,\n\t\tSolutionPlaysConfirmedDealTeamOrchest as integer,\n\t\tPartnersIdentifiedAndEngaged as integer,\n\t\tBusinessValueConsiderationsCompleted as integer,\n\t\tSolutionDesignValidatedWithCustomer as integer,\n\t\tTechnicalBusinessProofRequirementSide as integer,\n\t\tCustomersignedoffonproposesolution as integer,\n\t\tCustomerSuccessPlanReviewedWithCustomer as integer,\n\t\tCustomerCommitToProposal as integer,\n\t\tResourcesAlignAgainstDeliveryPlan as integer,\n\t\tChangeManagementPlanPlace as integer,\n\t\tSolutionDeliveredAgainstAgreedOutcome as integer,\n\t\tCustomerHealthMetricsAgreedWithMonitoring as integer,\n\t\tNextSetOfCustomerNeedsIdentify as integer,\n\t\tBusValueAndSuccessOutcomeMonitoringInPlac as integer,\n\t\tCustomerCanOperateAndMaintainSolution as integer,\n\t\tMigratedEngagementCreatedBy as string,\n\t\tCustomerSuccessPlanUpdated as integer,\n\t\tEDLPExtractDateTime as timestamp,\n\t\tEDLPLoadTS as string,\n\t\tEDLPModifiedDateTime as timestamp,\n\t\tEDLPDeltaActionCode as string,\n\t\tConsumedRecurring as decimal(10,0),\n\t\tConsumedRecurringBase as decimal(10,0),\n\t\tConsumedNonRecurring as decimal(10,0),\n\t\tConsumedNonRecurringBase as decimal(10,0),\n\t\tConsumptionActiveDevicesRecurring as decimal(10,0),\n\t\tConsumptionActiveDevicesNonRecurring as decimal(10,0),\n\t\tModernConsumedRecurring as decimal(10,0),\n\t\tModernConsumedRecurringBase as decimal(10,0),\n\t\tModernConsumedNonRecurring as decimal(10,0),\n\t\tModernConsumedNonRecurringBase as decimal(10,0),\n\t\tModernActiveDevicesRecurring as decimal(10,0),\n\t\tModernActiveDevicesNonRecurring as decimal(10,0),\n\t\tRiskScore as decimal(10,5)\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> GBBOpportunity\nmsxaccount, GBBOpportunity exists(msxaccount@AccountId == GBBOpportunity@AccountId,\n\tnegate:false,\n\tbroadcast: 'auto')~> existsInGBBOpportunity\nexistsInGBBOpportunity sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\trecreate:true,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError') ~> AccountForGBBOpp"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/43 OpportunityTeam')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "GBB Opportunity"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"linkedService": {
								"referenceName": "msxdatalake",
								"type": "LinkedServiceReference"
							},
							"name": "OpportunityTeamTeam"
						},
						{
							"dataset": {
								"referenceName": "MSXOpportunity",
								"type": "DatasetReference"
							},
							"name": "Opportunity"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "MSXOpportunityTeam",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "Filter1"
						},
						{
							"name": "existsInOpp"
						}
					],
					"script": "source(output(\n\t\tEDLPExtractId as string,\n\t\tCreatedById as string,\n\t\tCreatedDate as timestamp,\n\t\tCrmInstanceId as string,\n\t\tModifiedById as string,\n\t\tModifiedDate as timestamp,\n\t\tOdsCreatedDate as timestamp,\n\t\tOdsModifiedDate as timestamp,\n\t\tOdsStatus as integer,\n\t\tOpportunityId as string,\n\t\tOpportunityTeamId as integer,\n\t\tSystemUserId as string,\n\t\tTenantId as integer,\n\t\tVersionNumber as long,\n\t\tTeamId as string,\n\t\tEDLPExtractDateTime as timestamp,\n\t\tEDLPLoadTS as string,\n\t\tEDLPModifiedDateTime as timestamp,\n\t\tEDLPDeltaActionCode as string,\n\t\tExtractId as string,\n\t\tExtractDateTime as timestamp,\n\t\tLoadTS as timestamp,\n\t\tDeltaActionCode as string,\n\t\tPlatformCreatedDate as timestamp,\n\t\tPlatformModifiedDate as timestamp,\n\t\tPlatformModifiedDateAsInt as long\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tformat: 'delta',\n\tfileSystem: 'cseo',\n\tfolderPath: 'standardized/transactional/msx/hub_vw_opportunityteam/v1/standard') ~> OpportunityTeamTeam\nsource(output(\n\t\tEDLPExtractId as string,\n\t\taccessecif as string,\n\t\taccessecifcode as integer,\n\t\taccessecifSeqNo as long,\n\t\tAccountId as string,\n\t\tActualCloseDate as timestamp,\n\t\tActualvalue as double,\n\t\tAdhocSurvey as integer,\n\t\tAgreedToBuy as boolean,\n\t\talignonbusinessimpactSeqNo as long,\n\t\talignonsolutionapproachSeqNo as long,\n\t\tAntipiracyEngagementTypeId as string,\n\t\tattachedservices as boolean,\n\t\tbaseopportunity as string,\n\t\tbaseopportunitycode as integer,\n\t\tbaseopportunitySeqNo as long,\n\t\tBilledRevenue as double,\n\t\tbizappssalesplay as string,\n\t\tbizappssalesplaycode as integer,\n\t\tbizappssalesplaySeqNo as long,\n\t\tBudgetAmount as double,\n\t\tCampaignId as string,\n\t\tClaimTPID as string,\n\t\tclanumber as string,\n\t\tcloseplan as string,\n\t\tclosestatus as string,\n\t\tclosestatuscode as integer,\n\t\tclosestatusSeqNo as long,\n\t\tcommercialconstructapprovedbycustomer as string,\n\t\tcommercialconstructapprovedbycustomercode as integer,\n\t\tcommercialconstructapprovedbycustomerSeqNo as long,\n\t\tcompetethreatlevel as string,\n\t\tcompetethreatlevelcode as integer,\n\t\tcompetethreatlevelSeqNo as long,\n\t\tCompleteClosePlan as boolean,\n\t\tCompleteDeploymentWorkshop as timestamp,\n\t\tCompleteFinalProposal as boolean,\n\t\tcompletejointcatalystengagementplan as string,\n\t\tcompletejointcatalystengagementplancode as integer,\n\t\tcompletejointcatalystengagementplanSeqNo as long,\n\t\tcompletepredeploymentworkshopSeqNo as long,\n\t\tcompletetechnicalassessment as string,\n\t\tcompletetechnicalassessmentcode as integer,\n\t\tcompletetechnicalassessmentSeqNo as long,\n\t\tCompleteTechnicalClosePlan as timestamp,\n\t\tcompletetrialSeqNo as long,\n\t\tCompleteWorkshop as timestamp,\n\t\tcomplexity as string,\n\t\tcomplexitycode as integer,\n\t\tcomplexitySeqNo as long,\n\t\tconductpocSeqNo as long,\n\t\tConfirmTrial as timestamp,\n\t\tConsentToSendToPartner as string,\n\t\tConsentToSendToPartnerBy as string,\n\t\tConsentToSendToPartnerCode as integer,\n\t\tConsentToSendToPartnerSeqNo as long,\n\t\tcontractsignaturetype as string,\n\t\tcontractsignaturetypecode as integer,\n\t\tcontractsignaturetypeSeqNo as long,\n\t\tcorrectedecid as string,\n\t\tcosell as string,\n\t\tcosellcode as integer,\n\t\tcosellSeqNo as long,\n\t\tcpumodelseries as string,\n\t\tcpumodelseriescode as integer,\n\t\tcpumodelseriesSeqNo as long,\n\t\tcreatebusinessvalueassessment as string,\n\t\tcreatebusinessvalueassessmentcode as integer,\n\t\tcreatebusinessvalueassessmentSeqNo as long,\n\t\tCreatedById as string,\n\t\tCreatedDate as timestamp,\n\t\tCriticalDeal as boolean,\n\t\tCrmInstanceId as string,\n\t\tCurrencyId as string,\n\t\tCurrentSalesStageModifiedOn as timestamp,\n\t\tcustomersignoffonassessments as string,\n\t\tcustomersignoffonassessmentscode as integer,\n\t\tcustomersignoffonassessmentsSeqNo as long,\n\t\tcustomersuccessplanworkshopcomplete as string,\n\t\tcustomersuccessplanworkshopcompletecode as integer,\n\t\tcustomersuccessplanworkshopcompleteSeqNo as long,\n\t\tdealtype as string,\n\t\tdealtypecode as integer,\n\t\tdealtypeSeqNo as long,\n\t\tdeliverbusinessvalueenlighten as string,\n\t\tdeliverbusinessvalueenlightencode as integer,\n\t\tdeliverbusinessvalueenlightenSeqNo as long,\n\t\tdeliverenvisioningworkshop as string,\n\t\tdeliverenvisioningworkshopcode as integer,\n\t\tdeliverenvisioningworkshopSeqNo as long,\n\t\tdeliverinitialpitch as string,\n\t\tdeliverinitialpitchcode as integer,\n\t\tdeliverinitialpitchSeqNo as long,\n\t\tdelivertailoreddemonstration as string,\n\t\tdelivertailoreddemonstrationcode as integer,\n\t\tdelivertailoreddemonstrationSeqNo as long,\n\t\tdelivertechnicalcase as string,\n\t\tdelivertechnicalcasecode as integer,\n\t\tdelivertechnicalcaseSeqNo as long,\n\t\tdelivertransformationplan as string,\n\t\tdelivertransformationplancode as integer,\n\t\tdelivertransformationplanSeqNo as long,\n\t\tdemonstrateroi as string,\n\t\tdemonstrateroicode as integer,\n\t\tdemonstrateroiSeqNo as long,\n\t\tdevicecategory as string,\n\t\tdevicecategorycode as integer,\n\t\tdevicecategorySeqNo as long,\n\t\tengagecosellprioritizedpartnerSeqNo as long,\n\t\tengagedwrawrforecif as string,\n\t\tengagedwrawrforecifcode as integer,\n\t\tengagedwrawrforecifSeqNo as long,\n\t\tengagefasttrack as string,\n\t\tengagefasttrackcode as integer,\n\t\tengagefasttrackSeqNo as long,\n\t\tengagegbb as string,\n\t\tengagegbbcode as integer,\n\t\tengagegbbSeqNo as long,\n\t\tengagemicrosoftexecutivewithcustomercxo as string,\n\t\tengagemicrosoftexecutivewithcustomercxocode as integer,\n\t\tengagemicrosoftexecutivewithcustomercxoSeqNo as long,\n\t\tEngageServices as string,\n\t\tEnrollmentNumber as string,\n\t\tEstimatedCloseDate as timestamp,\n\t\tEstimatedValue as double,\n\t\tEstROCArrivalDate as timestamp,\n\t\tEvaluationPlan as boolean,\n\t\texecutedigitalimmersionSeqNo as long,\n\t\tFinalConsumptionPlan as boolean,\n\t\tfinaldecisiondate as timestamp,\n\t\tForecastComments as string,\n\t\tForecastComments_LastModifiedBy_Lookup as string,\n\t\tForecastComments_LastModifiedOn_DateTime as timestamp,\n\t\tHandovertoCSMorPCSM as boolean,\n\t\tHasCustomerAgreedToBuy as boolean,\n\t\tHighLevelSolutionDesign as boolean,\n\t\tidentifybusinessdecisionmakersSeqNo as long,\n\t\tInitialBusinessCase as boolean,\n\t\tIsConclusionLetterSent as boolean,\n\t\tIsELPAgreementSecured as boolean,\n\t\tIsELPUploaded as boolean,\n\t\tIsIdentifyBuyingTeamComplete as boolean,\n\t\tIsIdentifyCompetitorsComplete as boolean,\n\t\tIsIdentifyLineItemsComplete as boolean,\n\t\tIsIdentifySalesTeamComplete as boolean,\n\t\tIsInternalAgreementSecured as boolean,\n\t\tIsLetterOfEngagementAccepted as boolean,\n\t\tIsOrderComplete as boolean,\n\t\tIsPartnerFundingSecured as boolean,\n\t\tIsPurchaseArrangementSecured as boolean,\n\t\tIsQuoteComplete as boolean,\n\t\tIsRevenueSystemCalculated as boolean,\n\t\tlastshipmentdate as timestamp,\n\t\tLicensingContact as string,\n\t\tLicensingProgramId as string,\n\t\tLSSODMComments as string,\n\t\tmicrosoftazureiotcertifieddevice as boolean,\n\t\tModifiedById as string,\n\t\tModifiedDate as timestamp,\n\t\tNeed as string,\n\t\tnewenrollmentnumber as string,\n\t\tNoofTenants as integer,\n\t\tNumberOfDials as integer,\n\t\tOdsCreatedDate as timestamp,\n\t\tOdsModifiedDate as timestamp,\n\t\tOdsStatus as integer,\n\t\toperationscontact as string,\n\t\tOpportunityCopyType as string,\n\t\tOpportunityCopyTypeCode as integer,\n\t\tOpportunityCopyTypeSeqNo as long,\n\t\tOpportunityId as string,\n\t\tOpportunityNumber as string,\n\t\tOpportunityScore as double,\n\t\tOpportunitySource as string,\n\t\tOpportunitySourceCode as integer,\n\t\tOpportunitySourceSeqNo as long,\n\t\tOpportunityTenantId as string,\n\t\tOriginalPartnerModifiedBy as string,\n\t\tOriginatingLeadId as string,\n\t\tOriginatingOpportunity as string,\n\t\tothercompetitor as string,\n\t\tOwnerId as string,\n\t\towningBusinessUnit as string,\n\t\tParentOpportunityId as string,\n\t\tPartnerAccountId as string,\n\t\tpartnermotion as string,\n\t\tpartnermotioncode as integer,\n\t\tpartnermotionSeqNo as long,\n\t\tPartnerReferral as string,\n\t\tpilotsolutionSeqNo as long,\n\t\tPrelimConsumptionPlan as boolean,\n\t\tpresentbusinesscaseSeqNo as long,\n\t\tpresentdealoptionsSeqNo as long,\n\t\tPriceLevelId as string,\n\t\tPricePointDetails as string,\n\t\tprimarycompetitor as string,\n\t\tPrimarySponsorContactId as string,\n\t\tPriority as string,\n\t\tPriorityCode as integer,\n\t\tPrioritySeqNo as long,\n\t\tProductSKU as string,\n\t\tPullForwardDate as timestamp,\n\t\tPurchaseTimeFrame as string,\n\t\tPurchaseTimeFrameCode as integer,\n\t\tPurchaseTimeFrameSeqNo as long,\n\t\tRapidResponse as boolean,\n\t\tRecommendation as string,\n\t\tRecommendationCode as integer,\n\t\tRecommendationSeqNo as long,\n\t\tRegistrationDate as timestamp,\n\t\trvtstatus as string,\n\t\trvtstatuscode as integer,\n\t\trvtstatusSeqNo as long,\n\t\trvtvalidationready as boolean,\n\t\tsalesplay as string,\n\t\tsalesplaySeqNo as long,\n\t\tselectsalesplay as string,\n\t\tselectsalesplaycode as integer,\n\t\tselectsalesplaySeqNo as long,\n\t\tSendToPartner as boolean,\n\t\tsharebompricing as string,\n\t\tsharebompricingcode as integer,\n\t\tsharebompricingSeqNo as long,\n\t\tsolutionarea as string,\n\t\tsolutionareaSeqNo as long,\n\t\tsolutiondesignindate as timestamp,\n\t\tsolutionstartdate as timestamp,\n\t\tSourceSubType as string,\n\t\tSourceSubTypeCode as integer,\n\t\tSourceSubTypeSeqNo as long,\n\t\tStateCode as integer,\n\t\tStatus as string,\n\t\tStatusCode as integer,\n\t\tStatusReason as string,\n\t\tStatusReasonSeqNo as long,\n\t\tStatusSeqNo as long,\n\t\tSubscriptionId as string,\n\t\tSurveyResponseRejectionCounts as integer,\n\t\ttechnicalcapability as string,\n\t\ttechnicalcapabilitySeqNo as long,\n\t\tTenantId as integer,\n\t\tTopic as string,\n\t\ttransactiontype as string,\n\t\ttransactiontypecode as integer,\n\t\ttransactiontypeSeqNo as long,\n\t\ttransitiontocsupartnerSeqNo as long,\n\t\tVersionNumber as long,\n\t\talignonbusinessimpactcode as integer,\n\t\talignonsolutionapproachcode as integer,\n\t\tcompletepredeploymentworkshopcode as integer,\n\t\tcompletetrialcode as integer,\n\t\tconductpoccode as integer,\n\t\tengagecosellprioritizedpartnercode as integer,\n\t\texecutedigitalimmersioncode as integer,\n\t\tidentifybusinessdecisionmakerscode as integer,\n\t\tpilotsolutioncode as integer,\n\t\tpresentbusinesscasecode as integer,\n\t\tpresentdealoptionscode as integer,\n\t\tsalesplaycode as integer,\n\t\tsolutionareacode as integer,\n\t\ttechnicalcapabilitycode as integer,\n\t\ttransitiontocsupartnercode as integer,\n\t\tAgreement as string,\n\t\tAgreementToProceedToContractNegotiation as boolean,\n\t\tConfirmTimelineAndBudgetStatus as boolean,\n\t\tCustomerAgreesSolutionIsTechnicallyViable as boolean,\n\t\tCustomerAgreesToPerformAProofOfConcept as boolean,\n\t\tCustomerAgreesWithMSValueProposition as boolean,\n\t\tCustomerApprovesBusinessCaseFramework as boolean,\n\t\tCustomerApprovesTechnicalCriteria as boolean,\n\t\tCustomerSignsContractOrAgreesToPlaceOrder as boolean,\n\t\tdemandresponsedealtype as string,\n\t\tdemandresponsedealtypecode as integer,\n\t\tIdentifyBuyingTeamStakeholders as boolean,\n\t\tInvoice as string,\n\t\tPresentCustomerWithFinalValueCaseProposal as boolean,\n\t\tActiveProcess as string,\n\t\tActiveSalesStage as string,\n\t\tActualBilledCloseDate as timestamp,\n\t\tActualConsumptionCloseDate as timestamp,\n\t\tAzureActiveDevicesNonRecurring as integer,\n\t\tAzureActiveDevicesRecurring as decimal(10,0),\n\t\tAzureConsumedNonRecurring as decimal(10,0),\n\t\tAzureConsumedNonRecurringBase as decimal(10,0),\n\t\tAzureConsumedRecurring as decimal(10,0),\n\t\tAzureConsumedRecurringBase as decimal(10,0),\n\t\tBilledClosingComments as string,\n\t\tBilledRevenueCloseReason as integer,\n\t\tBilledRevenueStatus as integer,\n\t\tBilledActualRevenueBase as decimal(10,0),\n\t\tBizAppsActiveDevicesNonRecurring as decimal(10,0),\n\t\tBizAppsActiveDevicesRecurring as decimal(10,0),\n\t\tBizAppsBACVNonRecurring as decimal(10,0),\n\t\tBizAppsBACVNonRecurringBase as decimal(10,0),\n\t\tBizAppsBACVRecurring as decimal(10,0),\n\t\tBizAppsBACVRecurringBase as decimal(10,0),\n\t\tConsumptionClosingComments as string,\n\t\tConsumptionStatus as integer,\n\t\tConsumptionStatusReason as integer,\n\t\tCustomerAgreementInPlace as integer,\n\t\tDesignAgreedWithCustomer as integer,\n\t\tEngagementNarrative as string,\n\t\tEngagementNextSteps as string,\n\t\tEstStartDate as timestamp,\n\t\tEstCompletionDate as timestamp,\n\t\tMigratedEngagementId as string,\n\t\tMigratedEngagementNumber as string,\n\t\tMilestonesFlag as string,\n\t\tOpportunityCompletedAndNextStepsIdentified as integer,\n\t\tOpportunityType as string,\n\t\tOutcomesMetAndBaselineMetricsInPlace as integer,\n\t\tProductFlags as string,\n\t\tQualifiedOpportunity as integer,\n\t\tSecurityActiveDevicesNonRecurring as decimal(10,0),\n\t\tSecurityActiveDevicesRecurring as decimal(10,0),\n\t\tSecurityConsumedNonRecurring as decimal(10,0),\n\t\tSecurityConsumedNonRecurringBase as decimal(10,0),\n\t\tSecurityConsumedRecurring as decimal(10,0),\n\t\tSecurityConsumedRecurringBase as decimal(10,0),\n\t\tAzureCapacityType as string,\n\t\tPreferredAzureRegion as integer,\n\t\tInitialStakeholderIdentificationComplete as integer,\n\t\tCustomerNeedsAndOutcomesDefine as integer,\n\t\tCustomerPrioritiesIdentified as integer,\n\t\tSolutionPlaysConfirmedDealTeamOrchest as integer,\n\t\tPartnersIdentifiedAndEngaged as integer,\n\t\tBusinessValueConsiderationsCompleted as integer,\n\t\tSolutionDesignValidatedWithCustomer as integer,\n\t\tTechnicalBusinessProofRequirementSide as integer,\n\t\tCustomersignedoffonproposesolution as integer,\n\t\tCustomerSuccessPlanReviewedWithCustomer as integer,\n\t\tCustomerCommitToProposal as integer,\n\t\tResourcesAlignAgainstDeliveryPlan as integer,\n\t\tChangeManagementPlanPlace as integer,\n\t\tSolutionDeliveredAgainstAgreedOutcome as integer,\n\t\tCustomerHealthMetricsAgreedWithMonitoring as integer,\n\t\tNextSetOfCustomerNeedsIdentify as integer,\n\t\tBusValueAndSuccessOutcomeMonitoringInPlac as integer,\n\t\tCustomerCanOperateAndMaintainSolution as integer,\n\t\tMigratedEngagementCreatedBy as string,\n\t\tCustomerSuccessPlanUpdated as integer,\n\t\tEDLPExtractDateTime as timestamp,\n\t\tEDLPLoadTS as string,\n\t\tEDLPModifiedDateTime as timestamp,\n\t\tEDLPDeltaActionCode as string,\n\t\tConsumedRecurring as decimal(10,0),\n\t\tConsumedRecurringBase as decimal(10,0),\n\t\tConsumedNonRecurring as decimal(10,0),\n\t\tConsumedNonRecurringBase as decimal(10,0),\n\t\tConsumptionActiveDevicesRecurring as decimal(10,0),\n\t\tConsumptionActiveDevicesNonRecurring as decimal(10,0),\n\t\tModernConsumedRecurring as decimal(10,0),\n\t\tModernConsumedRecurringBase as decimal(10,0),\n\t\tModernConsumedNonRecurring as decimal(10,0),\n\t\tModernConsumedNonRecurringBase as decimal(10,0),\n\t\tModernActiveDevicesRecurring as decimal(10,0),\n\t\tModernActiveDevicesNonRecurring as decimal(10,0),\n\t\tRiskScore as decimal(10,5)\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> Opportunity\nexistsInOpp filter(OdsStatus==0) ~> Filter1\nOpportunityTeamTeam, Opportunity exists(OpportunityTeamTeam@OpportunityId == Opportunity@OpportunityId,\n\tnegate:false,\n\tbroadcast: 'auto')~> existsInOpp\nFilter1 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\trecreate:true,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError') ~> sink1"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/44 DimOpportunity')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "GBB Opportunity"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"linkedService": {
								"referenceName": "ocdm",
								"type": "LinkedServiceReference"
							},
							"name": "DimOpp"
						},
						{
							"linkedService": {
								"referenceName": "ocdm",
								"type": "LinkedServiceReference"
							},
							"name": "DimSMBOpp"
						},
						{
							"dataset": {
								"referenceName": "MSXOpportunity",
								"type": "DatasetReference"
							},
							"name": "GBBOpp"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DimOppFromOCDM",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "existsInGBBOpp"
						},
						{
							"name": "existsInSMBGBBOpp"
						},
						{
							"name": "union1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          opportunityid as string,",
						"          dimopportunitykey as long,",
						"          opportunitynumber as string,",
						"          opportunityname as string,",
						"          need as string,",
						"          licensingprogram as string,",
						"          estimatedrevenue as decimal(38,13),",
						"          forecastrecommendation as string,",
						"          crmaccountid as string,",
						"          crmaccountname as string,",
						"          salesstagename as string,",
						"          salesstagecode as integer,",
						"          status as string,",
						"          dimpricinglevelhierarchykey as long,",
						"          licensingsubtype as string,",
						"          isqualifiedpipe as boolean,",
						"          tpaccountid as string,",
						"          ownershipgroup as string,",
						"          crmforecastcomments as string,",
						"          opportunityowner as string,",
						"          ownerrole as string,",
						"          estimatedduedate as timestamp,",
						"          dimsalesdatekey as long,",
						"          daysinsalesstage as integer,",
						"          primarypartnername as string,",
						"          pseller as string,",
						"          ispseller as string,",
						"          dealbasedflag as string,",
						"          pipelinecategory as string,",
						"          recommendationid as integer,",
						"          opportunityage as integer,",
						"          ispartnerattached as string,",
						"          isconsenttosenttopartner as string,",
						"          cosell as string,",
						"          owneralias as string,",
						"          opportunitysource as string,",
						"          opportunitysourcesubtype as string,",
						"          opportunityinitiator as string,",
						"          opportunityinitiatorid as integer,",
						"          closeplanattached as string,",
						"          competitor as string,",
						"          competitorproduct as string,",
						"          competeflag as string,",
						"          winlosslink as string,",
						"          opportunitysalesstatus as string,",
						"          closestatuscode as integer,",
						"          closestatus as string,",
						"          issalesprogramassociated as integer,",
						"          promoname as string,",
						"          promotioncode as string,",
						"          tcpsalesstagecode as integer,",
						"          tcpstagecode as integer,",
						"          antipiracyengagementname as string,",
						"          primarycompetitor as string,",
						"          hasprimarycompetitor as string,",
						"          salesstageopptystatus as string,",
						"          competethreatlevel as string,",
						"          othercompetitor as string,",
						"          antipiracyengagementtype as string,",
						"          antipiracyengagementsubtype as string,",
						"          pricelisttype as string,",
						"          isvflag as string,",
						"          isbdm as integer,",
						"          isdwr as string,",
						"          committoconsume as string,",
						"          createdby as string,",
						"          createddate as timestamp,",
						"          {cm+/-1_oppty} as string,",
						"          generationengine as string,",
						"          isrevenueover1m as integer,",
						"          opptycreatedbygroup as string,",
						"          haspartnerdeal as boolean,",
						"          createdmonth as string,",
						"          createdyear as string,",
						"          createdquarter as string,",
						"          createdweek as timestamp,",
						"          estrocarrivaldate as timestamp,",
						"          invoiceamountusd as double,",
						"          billondate as timestamp,",
						"          processstage as string,",
						"          processsubstage as string,",
						"          dimvelocitystagekey as integer,",
						"          createdbymanageralias as string,",
						"          createdbystandardtitle as string,",
						"          ownermanageralias as string,",
						"          ownerxtugroup as string,",
						"          ownerstandardtitle as string,",
						"          fiscalmonthid as integer,",
						"          reportingweekid as integer,",
						"          partnersharingstatus as string,",
						"          isqualifiedsharing as string,",
						"          iscbisharing as string,",
						"          psnumerator as integer,",
						"          psdenominator as integer,",
						"          qualifiedpsnumerator as integer,",
						"          qualifiedpsdenominator as integer,",
						"          cbipsnumerator as integer,",
						"          cbipsdenominator as integer,",
						"          winspsnumerator as integer,",
						"          winspsdenominator as integer,",
						"          azureipcosellpsnumerator as integer,",
						"          cosellprioritizedpsnumerator as integer,",
						"          isazureipcosell as string,",
						"          iscosellprioritized as string,",
						"          iscurrentfydue as integer,",
						"          ispartnersharedoppty as integer,",
						"          currentfyopty as integer,",
						"          contractsignaturetype as string,",
						"          covid19riskflag as string,",
						"          covid19newbusinessflag as string,",
						"          riskscoreslab as string,",
						"          salesplay as string,",
						"          solutionarea as string,",
						"          technicalcapability as string,",
						"          crmlink as string,",
						"          opportunityduemonth as string,",
						"          opportunityduemonthid as integer,",
						"          opportunityclosemonth as string,",
						"          opportunityclosemonthid as integer,",
						"          modifieddate as timestamp,",
						"          primarysolutionarea as string,",
						"          closeplanid as string,",
						"          opportunitydueyear as string,",
						"          opportunityduequarter as string,",
						"          areawinroomflag as string,",
						"          opportunityclosereason as string,",
						"          wcbstrategicpursuitteamflag as string,",
						"          gsomdtpartnershipsteamflag as string,",
						"          engineeringpursuitteamflag as string,",
						"          servicesgpopursuitteamflag as string,",
						"          businessdevelopmentpursuitteamflag as string,",
						"          industrypriorityscenarioflag as string,",
						"          topopportunityflag as string,",
						"          opportunityduecutoffflag as string,",
						"          opportunityduepostcutoffflag as string,",
						"          month3inquarterflag as integer,",
						"          opportunityduedatefirstday as date,",
						"          closeplanattachthreshold as string,",
						"          previousweekrecommendation as string,",
						"          previousweeksalesstagecode as integer,",
						"          previousweekstatus as string,",
						"          previousweekisqualifiedpipe as boolean,",
						"          previousweekestduedate as timestamp,",
						"          closeplanname as string,",
						"          opportunitydueweek as timestamp,",
						"          actualclosedate as timestamp,",
						"          daystoclose as integer,",
						"          forecastrecommendationgroup as string,",
						"          azureopportunityflag as string,",
						"          azuretopopportunityflag as string,",
						"          ownerassignedtoaccountincalc as string,",
						"          createdbyrolesummary_gtmposition as string,",
						"          ownerrolesummary_gtmposition as string,",
						"          opportunitymodifiedby as string,",
						"          enrollmentnumber as string,",
						"          primarysponsor as string,",
						"          opportunitycutoffdate as date,",
						"          opportunityriskscore as decimal(38,6),",
						"          parentopportunityid as string,",
						"          competitortype as string,",
						"          competitorproductcategory as string,",
						"          primaryproduct as string,",
						"          forecastcommentslastmodifiedby as string,",
						"          forecastcommentslastmodifiedon as timestamp,",
						"          opportunityriskscorecurrentflag as string,",
						"          opportunityriskscorecreateddate as timestamp,",
						"          ceodmcomments as string,",
						"          industrycloudcapability as string,",
						"          licensingcontact as string,",
						"          gbbattachflag as string,",
						"          bizappsgbbattachflag as string,",
						"          licensingcontactattachflag as string,",
						"          sptengagedflag as string,",
						"          midtermflag as string,",
						"          d365workloadflag as string,",
						"          bizappsqualifiedpipeline as double,",
						"          maccpipelinetranche1 as string,",
						"          maccpipelinetranche2 as string,",
						"          crmhierarchyurl as string,",
						"          parentchildflag as string,",
						"          agreedtobuy as boolean,",
						"          completefinalproposal as boolean,",
						"          currentsalesstagemodifiedon as timestamp,",
						"          hascustomeragreedtobuy as boolean,",
						"          highlevelsolutiondesign as boolean,",
						"          iselpagreementsecured as boolean,",
						"          isidentifycompetitorscomplete as boolean,",
						"          isidentifylineitemscomplete as boolean,",
						"          isinternalagreementsecured as boolean,",
						"          isordercomplete as boolean,",
						"          ispartnerfundingsecured as boolean,",
						"          isquotecomplete as boolean,",
						"          opportunityscore as double,",
						"          partnermotion as string,",
						"          pullforwarddate as timestamp,",
						"          purchasetimeframe as string,",
						"          originatingopportunity as string,",
						"          opportunitycopytype as string,",
						"          complexity as string,",
						"          criticaldeal as boolean,",
						"          dealtype as string,",
						"          transactiontype as string,",
						"          clanumber as string,",
						"          cpumodelseries as string,",
						"          devicecategory as string,",
						"          microsoftazureiotcertifieddevice as boolean,",
						"          operationscontact as string,",
						"          solutiondesignindate as timestamp,",
						"          solutionstartdate as timestamp,",
						"          subscriptionid as string,",
						"          numberofdials as integer,",
						"          priority as string,",
						"          finaldecisiondate as timestamp,",
						"          partnerreferral as string,",
						"          delivertechnicalcase as string,",
						"          deliverinitialpitch as string,",
						"          completeworkshop as timestamp,",
						"          confirmtrial as timestamp,",
						"          completetechnicalcloseplan as timestamp,",
						"          accessecif as string,",
						"          bizappssalesplay as string,",
						"          commercialconstructapprovedbycustomer as string,",
						"          completecloseplan as boolean,",
						"          completejointcatalystengagementplan as string,",
						"          completetechnicalassessment as string,",
						"          createbusinessvalueassessment as string,",
						"          customersignoffonassessments as string,",
						"          customersuccessplanworkshopcomplete as string,",
						"          deliverbusinessvalueenlighten as string,",
						"          deliverenvisioningworkshop as string,",
						"          delivertailoreddemonstration as string,",
						"          delivertransformationplan as string,",
						"          engagedwrawrforecif as string,",
						"          engagemicrosoftexecutivewithcustomercxo as string,",
						"          handovertocsmorpcsm as boolean,",
						"          modifiedbyid as string,",
						"          consenttosendtopartnerby as string,",
						"          consenttosendtopartnertype as string,",
						"          alignonbusinessimpact as string,",
						"          alignonsolutionapproach as string,",
						"          completedeploymentworkshop as timestamp,",
						"          completepredeploymentworkshop as string,",
						"          completetrial as string,",
						"          conductpoc as string,",
						"          executedigitalimmersion as string,",
						"          identifybusinessdecisionmakers as string,",
						"          pilotsolution as string,",
						"          presentbusinesscase as string,",
						"          presentdealoptions as string,",
						"          rapidresponse as boolean,",
						"          transitiontocsupartner as string,",
						"          demandresponsedealtype as string,",
						"          actualconsumptionclosedate as timestamp,",
						"          actualvalue as double,",
						"          adhocsurvey as integer,",
						"          agreement as string,",
						"          agreementtoproceedtocontractnegotiation as boolean,",
						"          attachedservices as boolean,",
						"          azureactivedevicesnonrecurring as decimal(10,0),",
						"          azureactivedevicesrecurring as decimal(10,0),",
						"          azureconsumednonrecurring as decimal(10,0),",
						"          azureconsumednonrecurringbase as decimal(10,0),",
						"          azureconsumedrecurring as decimal(10,0),",
						"          azureconsumedrecurringbase as decimal(10,0),",
						"          baseopportunity as string,",
						"          billedrevenue as double,",
						"          billedrevenuestatus as string,",
						"          bizappsactivedevicesnonrecurring as decimal(10,0),",
						"          bizappsactivedevicesrecurring as decimal(10,0),",
						"          bizappsbacvnonrecurring as decimal(10,0),",
						"          bizappsbacvnonrecurringbase as decimal(10,0),",
						"          bizappsbacvrecurring as decimal(10,0),",
						"          bizappsbacvrecurringbase as decimal(10,0),",
						"          budgetamount as double,",
						"          claimtpid as string,",
						"          confirmtimelineandbudgetstatus as boolean,",
						"          consumptionclosingcomments as string,",
						"          consumptionstatus as string,",
						"          consumptionstatusreason as string,",
						"          correctedecid as string,",
						"          crminstanceid as string,",
						"          customeragreementinplace as integer,",
						"          customeragreessolutionistechnicallyviable as boolean,",
						"          customeragreestoperformaproofofconcept as boolean,",
						"          customeragreeswithmsvalueproposition as boolean,",
						"          customerapprovesbusinesscaseframework as boolean,",
						"          customerapprovestechnicalcriteria as boolean,",
						"          customersignscontractoragreestoplaceorder as boolean,",
						"          demonstrateroi as string,",
						"          designagreedwithcustomer as integer,",
						"          engagecosellprioritizedpartner as string,",
						"          engagefasttrack as string,",
						"          engagegbb as string,",
						"          engagementnarrative as string,",
						"          engagementnextsteps as string,",
						"          engageservices as string,",
						"          estcompletiondate as timestamp,",
						"          eststartdate as timestamp,",
						"          evaluationplan as boolean,",
						"          finalconsumptionplan as boolean,",
						"          identifybuyingteamstakeholders as boolean,",
						"          initialbusinesscase as boolean,",
						"          invoice as string,",
						"          isconclusionlettersent as boolean,",
						"          iselpuploaded as boolean,",
						"          isidentifybuyingteamcomplete as boolean,",
						"          isidentifysalesteamcomplete as boolean,",
						"          isletterofengagementaccepted as boolean,",
						"          ispurchasearrangementsecured as boolean,",
						"          isrevenuesystemcalculated as boolean,",
						"          lastshipmentdate as timestamp,",
						"          migratedengagementid as string,",
						"          migratedengagementnumber as string,",
						"          modernactivedevicesnonrecurring as decimal(10,0),",
						"          modernactivedevicesrecurring as decimal(10,0),",
						"          modernconsumednonrecurring as decimal(10,0),",
						"          modernconsumednonrecurringbase as decimal(10,0),",
						"          modernconsumedrecurring as decimal(10,0),",
						"          modernconsumedrecurringbase as decimal(10,0),",
						"          newenrollmentnumber as string,",
						"          nooftenants as integer,",
						"          odscreateddate as timestamp,",
						"          opportunitycompletedandnextstepsidentified as integer,",
						"          opportunitytenantid as string,",
						"          originalpartnermodifiedby as string,",
						"          originatingleadid as string,",
						"          outcomesmetandbaselinemetricsinplace as integer,",
						"          owningbusinessunit as string,",
						"          prelimconsumptionplan as boolean,",
						"          presentcustomerwithfinalvaluecaseproposal as boolean,",
						"          pricepointdetails as string,",
						"          productflags as string,",
						"          productsku as string,",
						"          qualifiedopportunity as integer,",
						"          registrationdate as timestamp,",
						"          rvtstatus as string,",
						"          rvtvalidationready as boolean,",
						"          securityactivedevicesnonrecurring as decimal(10,0),",
						"          securityactivedevicesrecurring as decimal(10,0),",
						"          securityconsumednonrecurring as decimal(10,0),",
						"          securityconsumednonrecurringbase as decimal(10,0),",
						"          securityconsumedrecurring as decimal(10,0),",
						"          securityconsumedrecurringbase as decimal(10,0),",
						"          selectsalesplay as string,",
						"          sendtopartner as boolean,",
						"          sharebompricing as string,",
						"          statecode as integer,",
						"          surveyresponserejectioncounts as integer,",
						"          tenantid as integer,",
						"          versionnumber as long,",
						"          milestonesflag as string,",
						"          actualbilledclosedate as timestamp,",
						"          billedclosingcomments as string,",
						"          billedrevenueclosereason as string,",
						"          opportunitytype as string,",
						"          activeprocess as string,",
						"          activesalesstage as string,",
						"          partneraccountid as string,",
						"          pricelevelid as string,",
						"          isconsumptionqualifiedpipe as integer,",
						"          currencycode as string,",
						"          azurecapacitytype as string,",
						"          preferredazureregion as string,",
						"          accountid as string,",
						"          ownerid as string,",
						"          createdbyid as string,",
						"          operationscontactalias as string,",
						"          ocdmprocesseddate as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'delta',",
						"     fileSystem: 'comsme',",
						"     folderPath: 'dataproducts/ocdm/datasets/ocdm/datasetgroup/prod/conformed/psxbi/output/dimension/v1/standard/output/dimopportunity/v1') ~> DimOpp",
						"source(output(",
						"          opportunityid as string,",
						"          dimopportunitykey as long,",
						"          opportunitynumber as string,",
						"          opportunityname as string,",
						"          need as string,",
						"          licensingprogram as string,",
						"          estimatedrevenue as decimal(38,13),",
						"          forecastrecommendation as string,",
						"          crmaccountid as string,",
						"          crmaccountname as string,",
						"          salesstagename as string,",
						"          salesstagecode as integer,",
						"          status as string,",
						"          dimpricinglevelhierarchykey as long,",
						"          licensingsubtype as string,",
						"          isqualifiedpipe as boolean,",
						"          tpaccountid as string,",
						"          ownershipgroup as string,",
						"          crmforecastcomments as string,",
						"          opportunityowner as string,",
						"          ownerrole as string,",
						"          estimatedduedate as timestamp,",
						"          dimsalesdatekey as long,",
						"          daysinsalesstage as integer,",
						"          primarypartnername as string,",
						"          pseller as string,",
						"          ispseller as string,",
						"          dealbasedflag as string,",
						"          pipelinecategory as string,",
						"          recommendationid as integer,",
						"          opportunityage as integer,",
						"          ispartnerattached as string,",
						"          isconsenttosenttopartner as string,",
						"          cosell as string,",
						"          owneralias as string,",
						"          opportunitysource as string,",
						"          opportunitysourcesubtype as string,",
						"          opportunityinitiator as string,",
						"          opportunityinitiatorid as integer,",
						"          closeplanattached as string,",
						"          competitor as string,",
						"          competitorproduct as string,",
						"          competeflag as string,",
						"          winlosslink as string,",
						"          opportunitysalesstatus as string,",
						"          closestatuscode as integer,",
						"          closestatus as string,",
						"          issalesprogramassociated as integer,",
						"          promoname as string,",
						"          promotioncode as string,",
						"          tcpsalesstagecode as integer,",
						"          tcpstagecode as integer,",
						"          antipiracyengagementname as string,",
						"          primarycompetitor as string,",
						"          hasprimarycompetitor as string,",
						"          salesstageopptystatus as string,",
						"          competethreatlevel as string,",
						"          othercompetitor as string,",
						"          antipiracyengagementtype as string,",
						"          antipiracyengagementsubtype as string,",
						"          pricelisttype as string,",
						"          isvflag as string,",
						"          isbdm as integer,",
						"          isdwr as string,",
						"          committoconsume as string,",
						"          createdby as string,",
						"          createddate as timestamp,",
						"          {cm+/-1_oppty} as string,",
						"          generationengine as string,",
						"          isrevenueover1m as integer,",
						"          opptycreatedbygroup as string,",
						"          haspartnerdeal as boolean,",
						"          createdmonth as string,",
						"          createdyear as string,",
						"          createdquarter as string,",
						"          createdweek as timestamp,",
						"          estrocarrivaldate as timestamp,",
						"          invoiceamountusd as double,",
						"          billondate as timestamp,",
						"          processstage as string,",
						"          processsubstage as string,",
						"          dimvelocitystagekey as integer,",
						"          createdbymanageralias as string,",
						"          createdbystandardtitle as string,",
						"          ownermanageralias as string,",
						"          ownerxtugroup as string,",
						"          ownerstandardtitle as string,",
						"          fiscalmonthid as integer,",
						"          reportingweekid as integer,",
						"          partnersharingstatus as string,",
						"          isqualifiedsharing as string,",
						"          iscbisharing as string,",
						"          psnumerator as integer,",
						"          psdenominator as integer,",
						"          qualifiedpsnumerator as integer,",
						"          qualifiedpsdenominator as integer,",
						"          cbipsnumerator as integer,",
						"          cbipsdenominator as integer,",
						"          winspsnumerator as integer,",
						"          winspsdenominator as integer,",
						"          azureipcosellpsnumerator as integer,",
						"          cosellprioritizedpsnumerator as integer,",
						"          isazureipcosell as string,",
						"          iscosellprioritized as string,",
						"          iscurrentfydue as integer,",
						"          ispartnersharedoppty as integer,",
						"          currentfyopty as integer,",
						"          contractsignaturetype as string,",
						"          covid19riskflag as string,",
						"          covid19newbusinessflag as string,",
						"          riskscoreslab as string,",
						"          salesplay as string,",
						"          solutionarea as string,",
						"          technicalcapability as string,",
						"          crmlink as string,",
						"          opportunityduemonth as string,",
						"          opportunityduemonthid as integer,",
						"          opportunityclosemonth as string,",
						"          opportunityclosemonthid as integer,",
						"          modifieddate as timestamp,",
						"          primarysolutionarea as string,",
						"          closeplanid as string,",
						"          opportunitydueyear as string,",
						"          opportunityduequarter as string,",
						"          areawinroomflag as string,",
						"          opportunityclosereason as string,",
						"          wcbstrategicpursuitteamflag as string,",
						"          gsomdtpartnershipsteamflag as string,",
						"          engineeringpursuitteamflag as string,",
						"          servicesgpopursuitteamflag as string,",
						"          businessdevelopmentpursuitteamflag as string,",
						"          industrypriorityscenarioflag as string,",
						"          topopportunityflag as string,",
						"          opportunityduecutoffflag as string,",
						"          opportunityduepostcutoffflag as string,",
						"          month3inquarterflag as integer,",
						"          opportunityduedatefirstday as date,",
						"          closeplanattachthreshold as string,",
						"          previousweekrecommendation as string,",
						"          previousweeksalesstagecode as integer,",
						"          previousweekstatus as string,",
						"          previousweekisqualifiedpipe as boolean,",
						"          previousweekestduedate as timestamp,",
						"          closeplanname as string,",
						"          opportunitydueweek as timestamp,",
						"          actualclosedate as timestamp,",
						"          daystoclose as integer,",
						"          forecastrecommendationgroup as string,",
						"          azureopportunityflag as string,",
						"          azuretopopportunityflag as string,",
						"          ownerassignedtoaccountincalc as string,",
						"          createdbyrolesummary_gtmposition as string,",
						"          ownerrolesummary_gtmposition as string,",
						"          opportunitymodifiedby as string,",
						"          enrollmentnumber as string,",
						"          primarysponsor as string,",
						"          opportunitycutoffdate as date,",
						"          opportunityriskscore as decimal(38,6),",
						"          parentopportunityid as string,",
						"          competitortype as string,",
						"          competitorproductcategory as string,",
						"          primaryproduct as string,",
						"          forecastcommentslastmodifiedby as string,",
						"          forecastcommentslastmodifiedon as timestamp,",
						"          opportunityriskscorecurrentflag as string,",
						"          opportunityriskscorecreateddate as timestamp,",
						"          ceodmcomments as string,",
						"          industrycloudcapability as string,",
						"          licensingcontact as string,",
						"          gbbattachflag as string,",
						"          bizappsgbbattachflag as string,",
						"          licensingcontactattachflag as string,",
						"          sptengagedflag as string,",
						"          midtermflag as string,",
						"          d365workloadflag as string,",
						"          bizappsqualifiedpipeline as double,",
						"          maccpipelinetranche1 as string,",
						"          maccpipelinetranche2 as string,",
						"          crmhierarchyurl as string,",
						"          parentchildflag as string,",
						"          agreedtobuy as boolean,",
						"          completefinalproposal as boolean,",
						"          currentsalesstagemodifiedon as timestamp,",
						"          hascustomeragreedtobuy as boolean,",
						"          highlevelsolutiondesign as boolean,",
						"          iselpagreementsecured as boolean,",
						"          isidentifycompetitorscomplete as boolean,",
						"          isidentifylineitemscomplete as boolean,",
						"          isinternalagreementsecured as boolean,",
						"          isordercomplete as boolean,",
						"          ispartnerfundingsecured as boolean,",
						"          isquotecomplete as boolean,",
						"          opportunityscore as double,",
						"          partnermotion as string,",
						"          pullforwarddate as timestamp,",
						"          purchasetimeframe as string,",
						"          originatingopportunity as string,",
						"          opportunitycopytype as string,",
						"          complexity as string,",
						"          criticaldeal as boolean,",
						"          dealtype as string,",
						"          transactiontype as string,",
						"          clanumber as string,",
						"          cpumodelseries as string,",
						"          devicecategory as string,",
						"          microsoftazureiotcertifieddevice as boolean,",
						"          operationscontact as string,",
						"          solutiondesignindate as timestamp,",
						"          solutionstartdate as timestamp,",
						"          subscriptionid as string,",
						"          numberofdials as integer,",
						"          priority as string,",
						"          finaldecisiondate as timestamp,",
						"          partnerreferral as string,",
						"          delivertechnicalcase as string,",
						"          deliverinitialpitch as string,",
						"          completeworkshop as timestamp,",
						"          confirmtrial as timestamp,",
						"          completetechnicalcloseplan as timestamp,",
						"          accessecif as string,",
						"          bizappssalesplay as string,",
						"          commercialconstructapprovedbycustomer as string,",
						"          completecloseplan as boolean,",
						"          completejointcatalystengagementplan as string,",
						"          completetechnicalassessment as string,",
						"          createbusinessvalueassessment as string,",
						"          customersignoffonassessments as string,",
						"          customersuccessplanworkshopcomplete as string,",
						"          deliverbusinessvalueenlighten as string,",
						"          deliverenvisioningworkshop as string,",
						"          delivertailoreddemonstration as string,",
						"          delivertransformationplan as string,",
						"          engagedwrawrforecif as string,",
						"          engagemicrosoftexecutivewithcustomercxo as string,",
						"          handovertocsmorpcsm as boolean,",
						"          modifiedbyid as string,",
						"          consenttosendtopartnerby as string,",
						"          consenttosendtopartnertype as string,",
						"          alignonbusinessimpact as string,",
						"          alignonsolutionapproach as string,",
						"          completedeploymentworkshop as timestamp,",
						"          completepredeploymentworkshop as string,",
						"          completetrial as string,",
						"          conductpoc as string,",
						"          executedigitalimmersion as string,",
						"          identifybusinessdecisionmakers as string,",
						"          pilotsolution as string,",
						"          presentbusinesscase as string,",
						"          presentdealoptions as string,",
						"          rapidresponse as boolean,",
						"          transitiontocsupartner as string,",
						"          demandresponsedealtype as string,",
						"          actualconsumptionclosedate as timestamp,",
						"          actualvalue as double,",
						"          adhocsurvey as integer,",
						"          agreement as string,",
						"          agreementtoproceedtocontractnegotiation as boolean,",
						"          attachedservices as boolean,",
						"          azureactivedevicesnonrecurring as decimal(10,0),",
						"          azureactivedevicesrecurring as decimal(10,0),",
						"          azureconsumednonrecurring as decimal(10,0),",
						"          azureconsumednonrecurringbase as decimal(10,0),",
						"          azureconsumedrecurring as decimal(10,0),",
						"          azureconsumedrecurringbase as decimal(10,0),",
						"          baseopportunity as string,",
						"          billedrevenue as double,",
						"          billedrevenuestatus as string,",
						"          bizappsactivedevicesnonrecurring as decimal(10,0),",
						"          bizappsactivedevicesrecurring as decimal(10,0),",
						"          bizappsbacvnonrecurring as decimal(10,0),",
						"          bizappsbacvnonrecurringbase as decimal(10,0),",
						"          bizappsbacvrecurring as decimal(10,0),",
						"          bizappsbacvrecurringbase as decimal(10,0),",
						"          budgetamount as double,",
						"          claimtpid as string,",
						"          confirmtimelineandbudgetstatus as boolean,",
						"          consumptionclosingcomments as string,",
						"          consumptionstatus as string,",
						"          consumptionstatusreason as string,",
						"          correctedecid as string,",
						"          crminstanceid as string,",
						"          customeragreementinplace as integer,",
						"          customeragreessolutionistechnicallyviable as boolean,",
						"          customeragreestoperformaproofofconcept as boolean,",
						"          customeragreeswithmsvalueproposition as boolean,",
						"          customerapprovesbusinesscaseframework as boolean,",
						"          customerapprovestechnicalcriteria as boolean,",
						"          customersignscontractoragreestoplaceorder as boolean,",
						"          demonstrateroi as string,",
						"          designagreedwithcustomer as integer,",
						"          engagecosellprioritizedpartner as string,",
						"          engagefasttrack as string,",
						"          engagegbb as string,",
						"          engagementnarrative as string,",
						"          engagementnextsteps as string,",
						"          engageservices as string,",
						"          estcompletiondate as timestamp,",
						"          eststartdate as timestamp,",
						"          evaluationplan as boolean,",
						"          finalconsumptionplan as boolean,",
						"          identifybuyingteamstakeholders as boolean,",
						"          initialbusinesscase as boolean,",
						"          invoice as string,",
						"          isconclusionlettersent as boolean,",
						"          iselpuploaded as boolean,",
						"          isidentifybuyingteamcomplete as boolean,",
						"          isidentifysalesteamcomplete as boolean,",
						"          isletterofengagementaccepted as boolean,",
						"          ispurchasearrangementsecured as boolean,",
						"          isrevenuesystemcalculated as boolean,",
						"          lastshipmentdate as timestamp,",
						"          migratedengagementid as string,",
						"          migratedengagementnumber as string,",
						"          modernactivedevicesnonrecurring as decimal(10,0),",
						"          modernactivedevicesrecurring as decimal(10,0),",
						"          modernconsumednonrecurring as decimal(10,0),",
						"          modernconsumednonrecurringbase as decimal(10,0),",
						"          modernconsumedrecurring as decimal(10,0),",
						"          modernconsumedrecurringbase as decimal(10,0),",
						"          newenrollmentnumber as string,",
						"          nooftenants as integer,",
						"          odscreateddate as timestamp,",
						"          opportunitycompletedandnextstepsidentified as integer,",
						"          opportunitytenantid as string,",
						"          originalpartnermodifiedby as string,",
						"          originatingleadid as string,",
						"          outcomesmetandbaselinemetricsinplace as integer,",
						"          owningbusinessunit as string,",
						"          prelimconsumptionplan as boolean,",
						"          presentcustomerwithfinalvaluecaseproposal as boolean,",
						"          pricepointdetails as string,",
						"          productflags as string,",
						"          productsku as string,",
						"          qualifiedopportunity as integer,",
						"          registrationdate as timestamp,",
						"          rvtstatus as string,",
						"          rvtvalidationready as boolean,",
						"          securityactivedevicesnonrecurring as decimal(10,0),",
						"          securityactivedevicesrecurring as decimal(10,0),",
						"          securityconsumednonrecurring as decimal(10,0),",
						"          securityconsumednonrecurringbase as decimal(10,0),",
						"          securityconsumedrecurring as decimal(10,0),",
						"          securityconsumedrecurringbase as decimal(10,0),",
						"          selectsalesplay as string,",
						"          sendtopartner as boolean,",
						"          sharebompricing as string,",
						"          statecode as integer,",
						"          surveyresponserejectioncounts as integer,",
						"          tenantid as integer,",
						"          versionnumber as long,",
						"          milestonesflag as string,",
						"          actualbilledclosedate as timestamp,",
						"          billedclosingcomments as string,",
						"          billedrevenueclosereason as string,",
						"          opportunitytype as string,",
						"          activeprocess as string,",
						"          activesalesstage as string,",
						"          partneraccountid as string,",
						"          pricelevelid as string,",
						"          isconsumptionqualifiedpipe as integer,",
						"          currencycode as string,",
						"          azurecapacitytype as string,",
						"          preferredazureregion as string,",
						"          accountid as string,",
						"          ownerid as string,",
						"          createdbyid as string,",
						"          operationscontactalias as string,",
						"          ocdmprocesseddate as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'delta',",
						"     fileSystem: 'comsme',",
						"     folderPath: 'dataproducts/ocdm/datasets/ocdm/datasetgroup/prod/conformed/psxbi/output/dimension/v1/standard/output/dimsmbopportunity/v1') ~> DimSMBOpp",
						"source(output(",
						"          EDLPExtractId as string,",
						"          accessecif as string,",
						"          accessecifcode as integer,",
						"          accessecifSeqNo as long,",
						"          AccountId as string,",
						"          ActualCloseDate as timestamp,",
						"          Actualvalue as double,",
						"          AdhocSurvey as integer,",
						"          AgreedToBuy as boolean,",
						"          alignonbusinessimpactSeqNo as long,",
						"          alignonsolutionapproachSeqNo as long,",
						"          AntipiracyEngagementTypeId as string,",
						"          attachedservices as boolean,",
						"          baseopportunity as string,",
						"          baseopportunitycode as integer,",
						"          baseopportunitySeqNo as long,",
						"          BilledRevenue as double,",
						"          bizappssalesplay as string,",
						"          bizappssalesplaycode as integer,",
						"          bizappssalesplaySeqNo as long,",
						"          BudgetAmount as double,",
						"          CampaignId as string,",
						"          ClaimTPID as string,",
						"          clanumber as string,",
						"          closeplan as string,",
						"          closestatus as string,",
						"          closestatuscode as integer,",
						"          closestatusSeqNo as long,",
						"          commercialconstructapprovedbycustomer as string,",
						"          commercialconstructapprovedbycustomercode as integer,",
						"          commercialconstructapprovedbycustomerSeqNo as long,",
						"          competethreatlevel as string,",
						"          competethreatlevelcode as integer,",
						"          competethreatlevelSeqNo as long,",
						"          CompleteClosePlan as boolean,",
						"          CompleteDeploymentWorkshop as timestamp,",
						"          CompleteFinalProposal as boolean,",
						"          completejointcatalystengagementplan as string,",
						"          completejointcatalystengagementplancode as integer,",
						"          completejointcatalystengagementplanSeqNo as long,",
						"          completepredeploymentworkshopSeqNo as long,",
						"          completetechnicalassessment as string,",
						"          completetechnicalassessmentcode as integer,",
						"          completetechnicalassessmentSeqNo as long,",
						"          CompleteTechnicalClosePlan as timestamp,",
						"          completetrialSeqNo as long,",
						"          CompleteWorkshop as timestamp,",
						"          complexity as string,",
						"          complexitycode as integer,",
						"          complexitySeqNo as long,",
						"          conductpocSeqNo as long,",
						"          ConfirmTrial as timestamp,",
						"          ConsentToSendToPartner as string,",
						"          ConsentToSendToPartnerBy as string,",
						"          ConsentToSendToPartnerCode as integer,",
						"          ConsentToSendToPartnerSeqNo as long,",
						"          contractsignaturetype as string,",
						"          contractsignaturetypecode as integer,",
						"          contractsignaturetypeSeqNo as long,",
						"          correctedecid as string,",
						"          cosell as string,",
						"          cosellcode as integer,",
						"          cosellSeqNo as long,",
						"          cpumodelseries as string,",
						"          cpumodelseriescode as integer,",
						"          cpumodelseriesSeqNo as long,",
						"          createbusinessvalueassessment as string,",
						"          createbusinessvalueassessmentcode as integer,",
						"          createbusinessvalueassessmentSeqNo as long,",
						"          CreatedById as string,",
						"          CreatedDate as timestamp,",
						"          CriticalDeal as boolean,",
						"          CrmInstanceId as string,",
						"          CurrencyId as string,",
						"          CurrentSalesStageModifiedOn as timestamp,",
						"          customersignoffonassessments as string,",
						"          customersignoffonassessmentscode as integer,",
						"          customersignoffonassessmentsSeqNo as long,",
						"          customersuccessplanworkshopcomplete as string,",
						"          customersuccessplanworkshopcompletecode as integer,",
						"          customersuccessplanworkshopcompleteSeqNo as long,",
						"          dealtype as string,",
						"          dealtypecode as integer,",
						"          dealtypeSeqNo as long,",
						"          deliverbusinessvalueenlighten as string,",
						"          deliverbusinessvalueenlightencode as integer,",
						"          deliverbusinessvalueenlightenSeqNo as long,",
						"          deliverenvisioningworkshop as string,",
						"          deliverenvisioningworkshopcode as integer,",
						"          deliverenvisioningworkshopSeqNo as long,",
						"          deliverinitialpitch as string,",
						"          deliverinitialpitchcode as integer,",
						"          deliverinitialpitchSeqNo as long,",
						"          delivertailoreddemonstration as string,",
						"          delivertailoreddemonstrationcode as integer,",
						"          delivertailoreddemonstrationSeqNo as long,",
						"          delivertechnicalcase as string,",
						"          delivertechnicalcasecode as integer,",
						"          delivertechnicalcaseSeqNo as long,",
						"          delivertransformationplan as string,",
						"          delivertransformationplancode as integer,",
						"          delivertransformationplanSeqNo as long,",
						"          demonstrateroi as string,",
						"          demonstrateroicode as integer,",
						"          demonstrateroiSeqNo as long,",
						"          devicecategory as string,",
						"          devicecategorycode as integer,",
						"          devicecategorySeqNo as long,",
						"          engagecosellprioritizedpartnerSeqNo as long,",
						"          engagedwrawrforecif as string,",
						"          engagedwrawrforecifcode as integer,",
						"          engagedwrawrforecifSeqNo as long,",
						"          engagefasttrack as string,",
						"          engagefasttrackcode as integer,",
						"          engagefasttrackSeqNo as long,",
						"          engagegbb as string,",
						"          engagegbbcode as integer,",
						"          engagegbbSeqNo as long,",
						"          engagemicrosoftexecutivewithcustomercxo as string,",
						"          engagemicrosoftexecutivewithcustomercxocode as integer,",
						"          engagemicrosoftexecutivewithcustomercxoSeqNo as long,",
						"          EngageServices as string,",
						"          EnrollmentNumber as string,",
						"          EstimatedCloseDate as timestamp,",
						"          EstimatedValue as double,",
						"          EstROCArrivalDate as timestamp,",
						"          EvaluationPlan as boolean,",
						"          executedigitalimmersionSeqNo as long,",
						"          FinalConsumptionPlan as boolean,",
						"          finaldecisiondate as timestamp,",
						"          ForecastComments as string,",
						"          ForecastComments_LastModifiedBy_Lookup as string,",
						"          ForecastComments_LastModifiedOn_DateTime as timestamp,",
						"          HandovertoCSMorPCSM as boolean,",
						"          HasCustomerAgreedToBuy as boolean,",
						"          HighLevelSolutionDesign as boolean,",
						"          identifybusinessdecisionmakersSeqNo as long,",
						"          InitialBusinessCase as boolean,",
						"          IsConclusionLetterSent as boolean,",
						"          IsELPAgreementSecured as boolean,",
						"          IsELPUploaded as boolean,",
						"          IsIdentifyBuyingTeamComplete as boolean,",
						"          IsIdentifyCompetitorsComplete as boolean,",
						"          IsIdentifyLineItemsComplete as boolean,",
						"          IsIdentifySalesTeamComplete as boolean,",
						"          IsInternalAgreementSecured as boolean,",
						"          IsLetterOfEngagementAccepted as boolean,",
						"          IsOrderComplete as boolean,",
						"          IsPartnerFundingSecured as boolean,",
						"          IsPurchaseArrangementSecured as boolean,",
						"          IsQuoteComplete as boolean,",
						"          IsRevenueSystemCalculated as boolean,",
						"          lastshipmentdate as timestamp,",
						"          LicensingContact as string,",
						"          LicensingProgramId as string,",
						"          LSSODMComments as string,",
						"          microsoftazureiotcertifieddevice as boolean,",
						"          ModifiedById as string,",
						"          ModifiedDate as timestamp,",
						"          Need as string,",
						"          newenrollmentnumber as string,",
						"          NoofTenants as integer,",
						"          NumberOfDials as integer,",
						"          OdsCreatedDate as timestamp,",
						"          OdsModifiedDate as timestamp,",
						"          OdsStatus as integer,",
						"          operationscontact as string,",
						"          OpportunityCopyType as string,",
						"          OpportunityCopyTypeCode as integer,",
						"          OpportunityCopyTypeSeqNo as long,",
						"          OpportunityId as string,",
						"          OpportunityNumber as string,",
						"          OpportunityScore as double,",
						"          OpportunitySource as string,",
						"          OpportunitySourceCode as integer,",
						"          OpportunitySourceSeqNo as long,",
						"          OpportunityTenantId as string,",
						"          OriginalPartnerModifiedBy as string,",
						"          OriginatingLeadId as string,",
						"          OriginatingOpportunity as string,",
						"          othercompetitor as string,",
						"          OwnerId as string,",
						"          owningBusinessUnit as string,",
						"          ParentOpportunityId as string,",
						"          PartnerAccountId as string,",
						"          partnermotion as string,",
						"          partnermotioncode as integer,",
						"          partnermotionSeqNo as long,",
						"          PartnerReferral as string,",
						"          pilotsolutionSeqNo as long,",
						"          PrelimConsumptionPlan as boolean,",
						"          presentbusinesscaseSeqNo as long,",
						"          presentdealoptionsSeqNo as long,",
						"          PriceLevelId as string,",
						"          PricePointDetails as string,",
						"          primarycompetitor as string,",
						"          PrimarySponsorContactId as string,",
						"          Priority as string,",
						"          PriorityCode as integer,",
						"          PrioritySeqNo as long,",
						"          ProductSKU as string,",
						"          PullForwardDate as timestamp,",
						"          PurchaseTimeFrame as string,",
						"          PurchaseTimeFrameCode as integer,",
						"          PurchaseTimeFrameSeqNo as long,",
						"          RapidResponse as boolean,",
						"          Recommendation as string,",
						"          RecommendationCode as integer,",
						"          RecommendationSeqNo as long,",
						"          RegistrationDate as timestamp,",
						"          rvtstatus as string,",
						"          rvtstatuscode as integer,",
						"          rvtstatusSeqNo as long,",
						"          rvtvalidationready as boolean,",
						"          salesplay as string,",
						"          salesplaySeqNo as long,",
						"          selectsalesplay as string,",
						"          selectsalesplaycode as integer,",
						"          selectsalesplaySeqNo as long,",
						"          SendToPartner as boolean,",
						"          sharebompricing as string,",
						"          sharebompricingcode as integer,",
						"          sharebompricingSeqNo as long,",
						"          solutionarea as string,",
						"          solutionareaSeqNo as long,",
						"          solutiondesignindate as timestamp,",
						"          solutionstartdate as timestamp,",
						"          SourceSubType as string,",
						"          SourceSubTypeCode as integer,",
						"          SourceSubTypeSeqNo as long,",
						"          StateCode as integer,",
						"          Status as string,",
						"          StatusCode as integer,",
						"          StatusReason as string,",
						"          StatusReasonSeqNo as long,",
						"          StatusSeqNo as long,",
						"          SubscriptionId as string,",
						"          SurveyResponseRejectionCounts as integer,",
						"          technicalcapability as string,",
						"          technicalcapabilitySeqNo as long,",
						"          TenantId as integer,",
						"          Topic as string,",
						"          transactiontype as string,",
						"          transactiontypecode as integer,",
						"          transactiontypeSeqNo as long,",
						"          transitiontocsupartnerSeqNo as long,",
						"          VersionNumber as long,",
						"          alignonbusinessimpactcode as integer,",
						"          alignonsolutionapproachcode as integer,",
						"          completepredeploymentworkshopcode as integer,",
						"          completetrialcode as integer,",
						"          conductpoccode as integer,",
						"          engagecosellprioritizedpartnercode as integer,",
						"          executedigitalimmersioncode as integer,",
						"          identifybusinessdecisionmakerscode as integer,",
						"          pilotsolutioncode as integer,",
						"          presentbusinesscasecode as integer,",
						"          presentdealoptionscode as integer,",
						"          salesplaycode as integer,",
						"          solutionareacode as integer,",
						"          technicalcapabilitycode as integer,",
						"          transitiontocsupartnercode as integer,",
						"          Agreement as string,",
						"          AgreementToProceedToContractNegotiation as boolean,",
						"          ConfirmTimelineAndBudgetStatus as boolean,",
						"          CustomerAgreesSolutionIsTechnicallyViable as boolean,",
						"          CustomerAgreesToPerformAProofOfConcept as boolean,",
						"          CustomerAgreesWithMSValueProposition as boolean,",
						"          CustomerApprovesBusinessCaseFramework as boolean,",
						"          CustomerApprovesTechnicalCriteria as boolean,",
						"          CustomerSignsContractOrAgreesToPlaceOrder as boolean,",
						"          demandresponsedealtype as string,",
						"          demandresponsedealtypecode as integer,",
						"          IdentifyBuyingTeamStakeholders as boolean,",
						"          Invoice as string,",
						"          PresentCustomerWithFinalValueCaseProposal as boolean,",
						"          ActiveProcess as string,",
						"          ActiveSalesStage as string,",
						"          ActualBilledCloseDate as timestamp,",
						"          ActualConsumptionCloseDate as timestamp,",
						"          AzureActiveDevicesNonRecurring as integer,",
						"          AzureActiveDevicesRecurring as decimal(10,0),",
						"          AzureConsumedNonRecurring as decimal(10,0),",
						"          AzureConsumedNonRecurringBase as decimal(10,0),",
						"          AzureConsumedRecurring as decimal(10,0),",
						"          AzureConsumedRecurringBase as decimal(10,0),",
						"          BilledClosingComments as string,",
						"          BilledRevenueCloseReason as integer,",
						"          BilledRevenueStatus as integer,",
						"          BilledActualRevenueBase as decimal(10,0),",
						"          BizAppsActiveDevicesNonRecurring as decimal(10,0),",
						"          BizAppsActiveDevicesRecurring as decimal(10,0),",
						"          BizAppsBACVNonRecurring as decimal(10,0),",
						"          BizAppsBACVNonRecurringBase as decimal(10,0),",
						"          BizAppsBACVRecurring as decimal(10,0),",
						"          BizAppsBACVRecurringBase as decimal(10,0),",
						"          ConsumptionClosingComments as string,",
						"          ConsumptionStatus as integer,",
						"          ConsumptionStatusReason as integer,",
						"          CustomerAgreementInPlace as integer,",
						"          DesignAgreedWithCustomer as integer,",
						"          EngagementNarrative as string,",
						"          EngagementNextSteps as string,",
						"          EstStartDate as timestamp,",
						"          EstCompletionDate as timestamp,",
						"          MigratedEngagementId as string,",
						"          MigratedEngagementNumber as string,",
						"          MilestonesFlag as string,",
						"          OpportunityCompletedAndNextStepsIdentified as integer,",
						"          OpportunityType as string,",
						"          OutcomesMetAndBaselineMetricsInPlace as integer,",
						"          ProductFlags as string,",
						"          QualifiedOpportunity as integer,",
						"          SecurityActiveDevicesNonRecurring as decimal(10,0),",
						"          SecurityActiveDevicesRecurring as decimal(10,0),",
						"          SecurityConsumedNonRecurring as decimal(10,0),",
						"          SecurityConsumedNonRecurringBase as decimal(10,0),",
						"          SecurityConsumedRecurring as decimal(10,0),",
						"          SecurityConsumedRecurringBase as decimal(10,0),",
						"          AzureCapacityType as string,",
						"          PreferredAzureRegion as integer,",
						"          InitialStakeholderIdentificationComplete as integer,",
						"          CustomerNeedsAndOutcomesDefine as integer,",
						"          CustomerPrioritiesIdentified as integer,",
						"          SolutionPlaysConfirmedDealTeamOrchest as integer,",
						"          PartnersIdentifiedAndEngaged as integer,",
						"          BusinessValueConsiderationsCompleted as integer,",
						"          SolutionDesignValidatedWithCustomer as integer,",
						"          TechnicalBusinessProofRequirementSide as integer,",
						"          Customersignedoffonproposesolution as integer,",
						"          CustomerSuccessPlanReviewedWithCustomer as integer,",
						"          CustomerCommitToProposal as integer,",
						"          ResourcesAlignAgainstDeliveryPlan as integer,",
						"          ChangeManagementPlanPlace as integer,",
						"          SolutionDeliveredAgainstAgreedOutcome as integer,",
						"          CustomerHealthMetricsAgreedWithMonitoring as integer,",
						"          NextSetOfCustomerNeedsIdentify as integer,",
						"          BusValueAndSuccessOutcomeMonitoringInPlac as integer,",
						"          CustomerCanOperateAndMaintainSolution as integer,",
						"          MigratedEngagementCreatedBy as string,",
						"          CustomerSuccessPlanUpdated as integer,",
						"          EDLPExtractDateTime as timestamp,",
						"          EDLPLoadTS as string,",
						"          EDLPModifiedDateTime as timestamp,",
						"          EDLPDeltaActionCode as string,",
						"          ConsumedRecurring as decimal(10,0),",
						"          ConsumedRecurringBase as decimal(10,0),",
						"          ConsumedNonRecurring as decimal(10,0),",
						"          ConsumedNonRecurringBase as decimal(10,0),",
						"          ConsumptionActiveDevicesRecurring as decimal(10,0),",
						"          ConsumptionActiveDevicesNonRecurring as decimal(10,0),",
						"          ModernConsumedRecurring as decimal(10,0),",
						"          ModernConsumedRecurringBase as decimal(10,0),",
						"          ModernConsumedNonRecurring as decimal(10,0),",
						"          ModernConsumedNonRecurringBase as decimal(10,0),",
						"          ModernActiveDevicesRecurring as decimal(10,0),",
						"          ModernActiveDevicesNonRecurring as decimal(10,0),",
						"          RiskScore as decimal(10,5)",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> GBBOpp",
						"DimOpp, GBBOpp exists(DimOpp@opportunityid == GBBOpp@OpportunityId,",
						"     negate:false,",
						"     broadcast: 'auto')~> existsInGBBOpp",
						"DimSMBOpp, GBBOpp exists(DimSMBOpp@opportunityid == GBBOpp@OpportunityId,",
						"     negate:false,",
						"     broadcast: 'auto')~> existsInSMBGBBOpp",
						"existsInGBBOpp, existsInSMBGBBOpp union(byName: true)~> union1",
						"union1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     recreate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ocdm')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/5 MSXUser')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "GBB Opportunity"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"linkedService": {
								"referenceName": "msxdatalake",
								"type": "LinkedServiceReference"
							},
							"name": "MSXsystemuser"
						},
						{
							"dataset": {
								"referenceName": "MSXOpportunityTeam",
								"type": "DatasetReference"
							},
							"name": "OpportunityTeam"
						},
						{
							"dataset": {
								"referenceName": "MSXOpportunity",
								"type": "DatasetReference"
							},
							"name": "Opp"
						},
						{
							"dataset": {
								"referenceName": "msxnote",
								"type": "DatasetReference"
							},
							"name": "Note"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "msxuser",
								"type": "DatasetReference"
							},
							"name": "AllUser"
						}
					],
					"transformations": [
						{
							"name": "existsInOppTeam"
						},
						{
							"name": "AsOpportunityOwner"
						},
						{
							"name": "union1"
						},
						{
							"name": "AsNoteOwner"
						}
					],
					"script": "source(output(\n\t\tEDLPExtractId as string,\n\t\tAccessMode as string,\n\t\tAccessModeCode as integer,\n\t\tAccessModeSeqNo as long,\n\t\tAddress1_AddressId as string,\n\t\tAddress1_City as string,\n\t\tAddress1_Country as string,\n\t\tAddress1_Fax as string,\n\t\tAddress1_Line1 as string,\n\t\tAddress1_Line2 as string,\n\t\tAddress1_Line3 as string,\n\t\tAddress1_PostalCode as string,\n\t\tAddress1_StateOrProvince as string,\n\t\tAddress1_Telephone1 as string,\n\t\tAddress1_Telephone3 as string,\n\t\tBusinessUnitId as string,\n\t\tCalType as string,\n\t\tCalTypeCode as integer,\n\t\tCalTypeSeqNo as long,\n\t\tCreatedById as string,\n\t\tCreatedDate as timestamp,\n\t\tCrmInstanceId as string,\n\t\tDefaultMailbox as string,\n\t\tDomainName as string,\n\t\tDPNSignDate as timestamp,\n\t\tdsraction as string,\n\t\tdsrdate as timestamp,\n\t\tdsrticket as string,\n\t\tFirstName as string,\n\t\tHomePhone as string,\n\t\tInternalEmailAddress as string,\n\t\tInviteStatus as string,\n\t\tInviteStatusCode as integer,\n\t\tInviteStatusSeqNo as long,\n\t\tIsDisabled as boolean,\n\t\tIsNotificationSent as string,\n\t\tIsNotificationSentCode as integer,\n\t\tIsNotificationSentSeqNo as long,\n\t\tLastName as string,\n\t\tMiddleName as string,\n\t\tMobileAlertEmail as string,\n\t\tMobilePhone as string,\n\t\tModifiedById as string,\n\t\tModifiedDate as timestamp,\n\t\tOdsCreatedDate as timestamp,\n\t\tOdsModifiedDate as timestamp,\n\t\tOdsStatus as integer,\n\t\tParentSystemUserId as string,\n\t\tPersonalEmailAddress as string,\n\t\tPreferredAddress as string,\n\t\tPreferredAddressCode as integer,\n\t\tPreferredAddressSeqNo as long,\n\t\tPreferredPhone as string,\n\t\tPreferredPhoneCode as integer,\n\t\tPreferredPhoneSeqNo as long,\n\t\tQueueId as string,\n\t\tRole as string,\n\t\tRoleCode as integer,\n\t\tRoleSeqNo as long,\n\t\tSiteId as string,\n\t\tSystemUserId as string,\n\t\tTenantId as integer,\n\t\tTerritoryId as string,\n\t\tTitle as string,\n\t\tVersionNumber as long,\n\t\tWindowsLiveId as string,\n\t\tareaname as string,\n\t\tdiscipline as string,\n\t\tGTMPosition as string,\n\t\tindustry as string,\n\t\torg as string,\n\t\torgdetail as string,\n\t\torgsummary as string,\n\t\tprofession as string,\n\t\tqualifier1 as string,\n\t\tqualifier2 as string,\n\t\tregionname as string,\n\t\trolegroup as string,\n\t\troleidentity as string,\n\t\tRoleSummary as string,\n\t\tsalesdistrictname as string,\n\t\tsaleslocationname as string,\n\t\tsolutionarea as string,\n\t\tsubregionname as string,\n\t\tsystemusertype as string,\n\t\tEDLPExtractDateTime as timestamp,\n\t\tEDLPLoadTS as string,\n\t\tEDLPModifiedDateTime as timestamp,\n\t\tEDLPDeltaActionCode as string,\n\t\tExtractId as string,\n\t\tExtractDateTime as timestamp,\n\t\tLoadTS as timestamp,\n\t\tDeltaActionCode as string,\n\t\tPlatformCreatedDate as timestamp,\n\t\tPlatformModifiedDate as timestamp,\n\t\tPlatformModifiedDateAsInt as long,\n\t\tazureactivedirectoryobjectid as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tformat: 'delta',\n\tfileSystem: 'cseo',\n\tfolderPath: 'standardized/masterandreference/msx/hub_vw_systemuser/v1/sensitive') ~> MSXsystemuser\nsource(output(\n\t\tEDLPExtractId as string,\n\t\tCreatedById as string,\n\t\tCreatedDate as timestamp,\n\t\tCrmInstanceId as string,\n\t\tModifiedById as string,\n\t\tModifiedDate as timestamp,\n\t\tOdsCreatedDate as timestamp,\n\t\tOdsModifiedDate as timestamp,\n\t\tOdsStatus as integer,\n\t\tOpportunityId as string,\n\t\tOpportunityTeamId as integer,\n\t\tSystemUserId as string,\n\t\tTenantId as integer,\n\t\tVersionNumber as long,\n\t\tTeamId as string,\n\t\tEDLPExtractDateTime as timestamp,\n\t\tEDLPLoadTS as string,\n\t\tEDLPModifiedDateTime as timestamp,\n\t\tEDLPDeltaActionCode as string,\n\t\tExtractId as string,\n\t\tExtractDateTime as timestamp,\n\t\tLoadTS as timestamp,\n\t\tDeltaActionCode as string,\n\t\tPlatformCreatedDate as timestamp,\n\t\tPlatformModifiedDate as timestamp,\n\t\tPlatformModifiedDateAsInt as long\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> OpportunityTeam\nsource(output(\n\t\tEDLPExtractId as string,\n\t\taccessecif as string,\n\t\taccessecifcode as integer,\n\t\taccessecifSeqNo as long,\n\t\tAccountId as string,\n\t\tActualCloseDate as timestamp,\n\t\tActualvalue as double,\n\t\tAdhocSurvey as integer,\n\t\tAgreedToBuy as boolean,\n\t\talignonbusinessimpactSeqNo as long,\n\t\talignonsolutionapproachSeqNo as long,\n\t\tAntipiracyEngagementTypeId as string,\n\t\tattachedservices as boolean,\n\t\tbaseopportunity as string,\n\t\tbaseopportunitycode as integer,\n\t\tbaseopportunitySeqNo as long,\n\t\tBilledRevenue as double,\n\t\tbizappssalesplay as string,\n\t\tbizappssalesplaycode as integer,\n\t\tbizappssalesplaySeqNo as long,\n\t\tBudgetAmount as double,\n\t\tCampaignId as string,\n\t\tClaimTPID as string,\n\t\tclanumber as string,\n\t\tcloseplan as string,\n\t\tclosestatus as string,\n\t\tclosestatuscode as integer,\n\t\tclosestatusSeqNo as long,\n\t\tcommercialconstructapprovedbycustomer as string,\n\t\tcommercialconstructapprovedbycustomercode as integer,\n\t\tcommercialconstructapprovedbycustomerSeqNo as long,\n\t\tcompetethreatlevel as string,\n\t\tcompetethreatlevelcode as integer,\n\t\tcompetethreatlevelSeqNo as long,\n\t\tCompleteClosePlan as boolean,\n\t\tCompleteDeploymentWorkshop as timestamp,\n\t\tCompleteFinalProposal as boolean,\n\t\tcompletejointcatalystengagementplan as string,\n\t\tcompletejointcatalystengagementplancode as integer,\n\t\tcompletejointcatalystengagementplanSeqNo as long,\n\t\tcompletepredeploymentworkshopSeqNo as long,\n\t\tcompletetechnicalassessment as string,\n\t\tcompletetechnicalassessmentcode as integer,\n\t\tcompletetechnicalassessmentSeqNo as long,\n\t\tCompleteTechnicalClosePlan as timestamp,\n\t\tcompletetrialSeqNo as long,\n\t\tCompleteWorkshop as timestamp,\n\t\tcomplexity as string,\n\t\tcomplexitycode as integer,\n\t\tcomplexitySeqNo as long,\n\t\tconductpocSeqNo as long,\n\t\tConfirmTrial as timestamp,\n\t\tConsentToSendToPartner as string,\n\t\tConsentToSendToPartnerBy as string,\n\t\tConsentToSendToPartnerCode as integer,\n\t\tConsentToSendToPartnerSeqNo as long,\n\t\tcontractsignaturetype as string,\n\t\tcontractsignaturetypecode as integer,\n\t\tcontractsignaturetypeSeqNo as long,\n\t\tcorrectedecid as string,\n\t\tcosell as string,\n\t\tcosellcode as integer,\n\t\tcosellSeqNo as long,\n\t\tcpumodelseries as string,\n\t\tcpumodelseriescode as integer,\n\t\tcpumodelseriesSeqNo as long,\n\t\tcreatebusinessvalueassessment as string,\n\t\tcreatebusinessvalueassessmentcode as integer,\n\t\tcreatebusinessvalueassessmentSeqNo as long,\n\t\tCreatedById as string,\n\t\tCreatedDate as timestamp,\n\t\tCriticalDeal as boolean,\n\t\tCrmInstanceId as string,\n\t\tCurrencyId as string,\n\t\tCurrentSalesStageModifiedOn as timestamp,\n\t\tcustomersignoffonassessments as string,\n\t\tcustomersignoffonassessmentscode as integer,\n\t\tcustomersignoffonassessmentsSeqNo as long,\n\t\tcustomersuccessplanworkshopcomplete as string,\n\t\tcustomersuccessplanworkshopcompletecode as integer,\n\t\tcustomersuccessplanworkshopcompleteSeqNo as long,\n\t\tdealtype as string,\n\t\tdealtypecode as integer,\n\t\tdealtypeSeqNo as long,\n\t\tdeliverbusinessvalueenlighten as string,\n\t\tdeliverbusinessvalueenlightencode as integer,\n\t\tdeliverbusinessvalueenlightenSeqNo as long,\n\t\tdeliverenvisioningworkshop as string,\n\t\tdeliverenvisioningworkshopcode as integer,\n\t\tdeliverenvisioningworkshopSeqNo as long,\n\t\tdeliverinitialpitch as string,\n\t\tdeliverinitialpitchcode as integer,\n\t\tdeliverinitialpitchSeqNo as long,\n\t\tdelivertailoreddemonstration as string,\n\t\tdelivertailoreddemonstrationcode as integer,\n\t\tdelivertailoreddemonstrationSeqNo as long,\n\t\tdelivertechnicalcase as string,\n\t\tdelivertechnicalcasecode as integer,\n\t\tdelivertechnicalcaseSeqNo as long,\n\t\tdelivertransformationplan as string,\n\t\tdelivertransformationplancode as integer,\n\t\tdelivertransformationplanSeqNo as long,\n\t\tdemonstrateroi as string,\n\t\tdemonstrateroicode as integer,\n\t\tdemonstrateroiSeqNo as long,\n\t\tdevicecategory as string,\n\t\tdevicecategorycode as integer,\n\t\tdevicecategorySeqNo as long,\n\t\tengagecosellprioritizedpartnerSeqNo as long,\n\t\tengagedwrawrforecif as string,\n\t\tengagedwrawrforecifcode as integer,\n\t\tengagedwrawrforecifSeqNo as long,\n\t\tengagefasttrack as string,\n\t\tengagefasttrackcode as integer,\n\t\tengagefasttrackSeqNo as long,\n\t\tengagegbb as string,\n\t\tengagegbbcode as integer,\n\t\tengagegbbSeqNo as long,\n\t\tengagemicrosoftexecutivewithcustomercxo as string,\n\t\tengagemicrosoftexecutivewithcustomercxocode as integer,\n\t\tengagemicrosoftexecutivewithcustomercxoSeqNo as long,\n\t\tEngageServices as string,\n\t\tEnrollmentNumber as string,\n\t\tEstimatedCloseDate as timestamp,\n\t\tEstimatedValue as double,\n\t\tEstROCArrivalDate as timestamp,\n\t\tEvaluationPlan as boolean,\n\t\texecutedigitalimmersionSeqNo as long,\n\t\tFinalConsumptionPlan as boolean,\n\t\tfinaldecisiondate as timestamp,\n\t\tForecastComments as string,\n\t\tForecastComments_LastModifiedBy_Lookup as string,\n\t\tForecastComments_LastModifiedOn_DateTime as timestamp,\n\t\tHandovertoCSMorPCSM as boolean,\n\t\tHasCustomerAgreedToBuy as boolean,\n\t\tHighLevelSolutionDesign as boolean,\n\t\tidentifybusinessdecisionmakersSeqNo as long,\n\t\tInitialBusinessCase as boolean,\n\t\tIsConclusionLetterSent as boolean,\n\t\tIsELPAgreementSecured as boolean,\n\t\tIsELPUploaded as boolean,\n\t\tIsIdentifyBuyingTeamComplete as boolean,\n\t\tIsIdentifyCompetitorsComplete as boolean,\n\t\tIsIdentifyLineItemsComplete as boolean,\n\t\tIsIdentifySalesTeamComplete as boolean,\n\t\tIsInternalAgreementSecured as boolean,\n\t\tIsLetterOfEngagementAccepted as boolean,\n\t\tIsOrderComplete as boolean,\n\t\tIsPartnerFundingSecured as boolean,\n\t\tIsPurchaseArrangementSecured as boolean,\n\t\tIsQuoteComplete as boolean,\n\t\tIsRevenueSystemCalculated as boolean,\n\t\tlastshipmentdate as timestamp,\n\t\tLicensingContact as string,\n\t\tLicensingProgramId as string,\n\t\tLSSODMComments as string,\n\t\tmicrosoftazureiotcertifieddevice as boolean,\n\t\tModifiedById as string,\n\t\tModifiedDate as timestamp,\n\t\tNeed as string,\n\t\tnewenrollmentnumber as string,\n\t\tNoofTenants as integer,\n\t\tNumberOfDials as integer,\n\t\tOdsCreatedDate as timestamp,\n\t\tOdsModifiedDate as timestamp,\n\t\tOdsStatus as integer,\n\t\toperationscontact as string,\n\t\tOpportunityCopyType as string,\n\t\tOpportunityCopyTypeCode as integer,\n\t\tOpportunityCopyTypeSeqNo as long,\n\t\tOpportunityId as string,\n\t\tOpportunityNumber as string,\n\t\tOpportunityScore as double,\n\t\tOpportunitySource as string,\n\t\tOpportunitySourceCode as integer,\n\t\tOpportunitySourceSeqNo as long,\n\t\tOpportunityTenantId as string,\n\t\tOriginalPartnerModifiedBy as string,\n\t\tOriginatingLeadId as string,\n\t\tOriginatingOpportunity as string,\n\t\tothercompetitor as string,\n\t\tOwnerId as string,\n\t\towningBusinessUnit as string,\n\t\tParentOpportunityId as string,\n\t\tPartnerAccountId as string,\n\t\tpartnermotion as string,\n\t\tpartnermotioncode as integer,\n\t\tpartnermotionSeqNo as long,\n\t\tPartnerReferral as string,\n\t\tpilotsolutionSeqNo as long,\n\t\tPrelimConsumptionPlan as boolean,\n\t\tpresentbusinesscaseSeqNo as long,\n\t\tpresentdealoptionsSeqNo as long,\n\t\tPriceLevelId as string,\n\t\tPricePointDetails as string,\n\t\tprimarycompetitor as string,\n\t\tPrimarySponsorContactId as string,\n\t\tPriority as string,\n\t\tPriorityCode as integer,\n\t\tPrioritySeqNo as long,\n\t\tProductSKU as string,\n\t\tPullForwardDate as timestamp,\n\t\tPurchaseTimeFrame as string,\n\t\tPurchaseTimeFrameCode as integer,\n\t\tPurchaseTimeFrameSeqNo as long,\n\t\tRapidResponse as boolean,\n\t\tRecommendation as string,\n\t\tRecommendationCode as integer,\n\t\tRecommendationSeqNo as long,\n\t\tRegistrationDate as timestamp,\n\t\trvtstatus as string,\n\t\trvtstatuscode as integer,\n\t\trvtstatusSeqNo as long,\n\t\trvtvalidationready as boolean,\n\t\tsalesplay as string,\n\t\tsalesplaySeqNo as long,\n\t\tselectsalesplay as string,\n\t\tselectsalesplaycode as integer,\n\t\tselectsalesplaySeqNo as long,\n\t\tSendToPartner as boolean,\n\t\tsharebompricing as string,\n\t\tsharebompricingcode as integer,\n\t\tsharebompricingSeqNo as long,\n\t\tsolutionarea as string,\n\t\tsolutionareaSeqNo as long,\n\t\tsolutiondesignindate as timestamp,\n\t\tsolutionstartdate as timestamp,\n\t\tSourceSubType as string,\n\t\tSourceSubTypeCode as integer,\n\t\tSourceSubTypeSeqNo as long,\n\t\tStateCode as integer,\n\t\tStatus as string,\n\t\tStatusCode as integer,\n\t\tStatusReason as string,\n\t\tStatusReasonSeqNo as long,\n\t\tStatusSeqNo as long,\n\t\tSubscriptionId as string,\n\t\tSurveyResponseRejectionCounts as integer,\n\t\ttechnicalcapability as string,\n\t\ttechnicalcapabilitySeqNo as long,\n\t\tTenantId as integer,\n\t\tTopic as string,\n\t\ttransactiontype as string,\n\t\ttransactiontypecode as integer,\n\t\ttransactiontypeSeqNo as long,\n\t\ttransitiontocsupartnerSeqNo as long,\n\t\tVersionNumber as long,\n\t\talignonbusinessimpactcode as integer,\n\t\talignonsolutionapproachcode as integer,\n\t\tcompletepredeploymentworkshopcode as integer,\n\t\tcompletetrialcode as integer,\n\t\tconductpoccode as integer,\n\t\tengagecosellprioritizedpartnercode as integer,\n\t\texecutedigitalimmersioncode as integer,\n\t\tidentifybusinessdecisionmakerscode as integer,\n\t\tpilotsolutioncode as integer,\n\t\tpresentbusinesscasecode as integer,\n\t\tpresentdealoptionscode as integer,\n\t\tsalesplaycode as integer,\n\t\tsolutionareacode as integer,\n\t\ttechnicalcapabilitycode as integer,\n\t\ttransitiontocsupartnercode as integer,\n\t\tAgreement as string,\n\t\tAgreementToProceedToContractNegotiation as boolean,\n\t\tConfirmTimelineAndBudgetStatus as boolean,\n\t\tCustomerAgreesSolutionIsTechnicallyViable as boolean,\n\t\tCustomerAgreesToPerformAProofOfConcept as boolean,\n\t\tCustomerAgreesWithMSValueProposition as boolean,\n\t\tCustomerApprovesBusinessCaseFramework as boolean,\n\t\tCustomerApprovesTechnicalCriteria as boolean,\n\t\tCustomerSignsContractOrAgreesToPlaceOrder as boolean,\n\t\tdemandresponsedealtype as string,\n\t\tdemandresponsedealtypecode as integer,\n\t\tIdentifyBuyingTeamStakeholders as boolean,\n\t\tInvoice as string,\n\t\tPresentCustomerWithFinalValueCaseProposal as boolean,\n\t\tActiveProcess as string,\n\t\tActiveSalesStage as string,\n\t\tActualBilledCloseDate as timestamp,\n\t\tActualConsumptionCloseDate as timestamp,\n\t\tAzureActiveDevicesNonRecurring as integer,\n\t\tAzureActiveDevicesRecurring as decimal(10,0),\n\t\tAzureConsumedNonRecurring as decimal(10,0),\n\t\tAzureConsumedNonRecurringBase as decimal(10,0),\n\t\tAzureConsumedRecurring as decimal(10,0),\n\t\tAzureConsumedRecurringBase as decimal(10,0),\n\t\tBilledClosingComments as string,\n\t\tBilledRevenueCloseReason as integer,\n\t\tBilledRevenueStatus as integer,\n\t\tBilledActualRevenueBase as decimal(10,0),\n\t\tBizAppsActiveDevicesNonRecurring as decimal(10,0),\n\t\tBizAppsActiveDevicesRecurring as decimal(10,0),\n\t\tBizAppsBACVNonRecurring as decimal(10,0),\n\t\tBizAppsBACVNonRecurringBase as decimal(10,0),\n\t\tBizAppsBACVRecurring as decimal(10,0),\n\t\tBizAppsBACVRecurringBase as decimal(10,0),\n\t\tConsumptionClosingComments as string,\n\t\tConsumptionStatus as integer,\n\t\tConsumptionStatusReason as integer,\n\t\tCustomerAgreementInPlace as integer,\n\t\tDesignAgreedWithCustomer as integer,\n\t\tEngagementNarrative as string,\n\t\tEngagementNextSteps as string,\n\t\tEstStartDate as timestamp,\n\t\tEstCompletionDate as timestamp,\n\t\tMigratedEngagementId as string,\n\t\tMigratedEngagementNumber as string,\n\t\tMilestonesFlag as string,\n\t\tOpportunityCompletedAndNextStepsIdentified as integer,\n\t\tOpportunityType as string,\n\t\tOutcomesMetAndBaselineMetricsInPlace as integer,\n\t\tProductFlags as string,\n\t\tQualifiedOpportunity as integer,\n\t\tSecurityActiveDevicesNonRecurring as decimal(10,0),\n\t\tSecurityActiveDevicesRecurring as decimal(10,0),\n\t\tSecurityConsumedNonRecurring as decimal(10,0),\n\t\tSecurityConsumedNonRecurringBase as decimal(10,0),\n\t\tSecurityConsumedRecurring as decimal(10,0),\n\t\tSecurityConsumedRecurringBase as decimal(10,0),\n\t\tAzureCapacityType as string,\n\t\tPreferredAzureRegion as integer,\n\t\tInitialStakeholderIdentificationComplete as integer,\n\t\tCustomerNeedsAndOutcomesDefine as integer,\n\t\tCustomerPrioritiesIdentified as integer,\n\t\tSolutionPlaysConfirmedDealTeamOrchest as integer,\n\t\tPartnersIdentifiedAndEngaged as integer,\n\t\tBusinessValueConsiderationsCompleted as integer,\n\t\tSolutionDesignValidatedWithCustomer as integer,\n\t\tTechnicalBusinessProofRequirementSide as integer,\n\t\tCustomersignedoffonproposesolution as integer,\n\t\tCustomerSuccessPlanReviewedWithCustomer as integer,\n\t\tCustomerCommitToProposal as integer,\n\t\tResourcesAlignAgainstDeliveryPlan as integer,\n\t\tChangeManagementPlanPlace as integer,\n\t\tSolutionDeliveredAgainstAgreedOutcome as integer,\n\t\tCustomerHealthMetricsAgreedWithMonitoring as integer,\n\t\tNextSetOfCustomerNeedsIdentify as integer,\n\t\tBusValueAndSuccessOutcomeMonitoringInPlac as integer,\n\t\tCustomerCanOperateAndMaintainSolution as integer,\n\t\tMigratedEngagementCreatedBy as string,\n\t\tCustomerSuccessPlanUpdated as integer,\n\t\tEDLPExtractDateTime as timestamp,\n\t\tEDLPLoadTS as string,\n\t\tEDLPModifiedDateTime as timestamp,\n\t\tEDLPDeltaActionCode as string,\n\t\tConsumedRecurring as decimal(10,0),\n\t\tConsumedRecurringBase as decimal(10,0),\n\t\tConsumedNonRecurring as decimal(10,0),\n\t\tConsumedNonRecurringBase as decimal(10,0),\n\t\tConsumptionActiveDevicesRecurring as decimal(10,0),\n\t\tConsumptionActiveDevicesNonRecurring as decimal(10,0),\n\t\tModernConsumedRecurring as decimal(10,0),\n\t\tModernConsumedRecurringBase as decimal(10,0),\n\t\tModernConsumedNonRecurring as decimal(10,0),\n\t\tModernConsumedNonRecurringBase as decimal(10,0),\n\t\tModernActiveDevicesRecurring as decimal(10,0),\n\t\tModernActiveDevicesNonRecurring as decimal(10,0),\n\t\tRiskScore as decimal(10,5)\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> Opp\nsource(output(\n\t\tEDLPExtractId as string,\n\t\tCreatedById as string,\n\t\tCreatedDate as timestamp,\n\t\tCrmInstanceId as string,\n\t\tDescription as string,\n\t\tFileName as string,\n\t\tIsDocument as boolean,\n\t\tModifiedById as string,\n\t\tModifiedDate as timestamp,\n\t\tNoteId as string,\n\t\tOdsCreatedDate as timestamp,\n\t\tOdsModifiedDate as timestamp,\n\t\tOdsStatus as integer,\n\t\tOwnerId as string,\n\t\towningBusinessUnit as string,\n\t\tRegardingEntityName as string,\n\t\tRegardingObjectId as string,\n\t\tTenantId as integer,\n\t\tTitle as string,\n\t\tVersionNumber as long,\n\t\tEDLPExtractDateTime as timestamp,\n\t\tEDLPLoadTS as string,\n\t\tEDLPModifiedDateTime as timestamp,\n\t\tEDLPDeltaActionCode as string,\n\t\tExtractId as string,\n\t\tExtractDateTime as timestamp,\n\t\tLoadTS as timestamp,\n\t\tDeltaActionCode as string,\n\t\tPlatformCreatedDate as timestamp,\n\t\tPlatformModifiedDate as timestamp,\n\t\tPlatformModifiedDateAsInt as long\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> Note\nMSXsystemuser, OpportunityTeam exists(MSXsystemuser@SystemUserId == OpportunityTeam@SystemUserId,\n\tnegate:false,\n\tbroadcast: 'auto')~> existsInOppTeam\nMSXsystemuser, Opp exists(SystemUserId == OwnerId,\n\tnegate:false,\n\tbroadcast: 'auto')~> AsOpportunityOwner\nexistsInOppTeam, AsOpportunityOwner, AsNoteOwner union(byName: true)~> union1\nMSXsystemuser, Note exists(SystemUserId == OwnerId,\n\tnegate:false,\n\tbroadcast: 'auto')~> AsNoteOwner\nunion1 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\trecreate:true,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError') ~> AllUser"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MSXCurrencyData')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "GBB Opportunity"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"linkedService": {
								"referenceName": "msxdatalake",
								"type": "LinkedServiceReference"
							},
							"name": "MSXCurrencySource"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "MSXCurrencydata",
								"type": "DatasetReference"
							},
							"name": "currencydata"
						}
					],
					"transformations": [],
					"script": "source(output(\n\t\tEDLPExtractId as string,\n\t\tCreatedById as string,\n\t\tCreatedDate as timestamp,\n\t\tCrmInstanceId as string,\n\t\tCurrencyId as string,\n\t\tCurrencyName as string,\n\t\tCurrencyPrecision as integer,\n\t\tCurrencySymbol as string,\n\t\tExchangeRate as double,\n\t\tIsoCurrencyCode as string,\n\t\tModifiedById as string,\n\t\tModifiedDate as timestamp,\n\t\tOdsCreatedDate as timestamp,\n\t\tOdsModifiedDate as timestamp,\n\t\tOdsStatus as integer,\n\t\tStateCode as integer,\n\t\tStatus as string,\n\t\tStatusCode as integer,\n\t\tStatusReason as string,\n\t\tStatusReasonSeqNo as long,\n\t\tStatusSeqNo as long,\n\t\tTenantId as integer,\n\t\tVersionNumber as long,\n\t\tEDLPExtractDateTime as timestamp,\n\t\tEDLPLoadTS as string,\n\t\tEDLPModifiedDateTime as timestamp,\n\t\tEDLPDeltaActionCode as string,\n\t\tExtractId as string,\n\t\tExtractDateTime as timestamp,\n\t\tLoadTS as timestamp,\n\t\tDeltaActionCode as string,\n\t\tPlatformCreatedDate as timestamp,\n\t\tPlatformModifiedDate as timestamp,\n\t\tPlatformModifiedDateAsInt as long\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tformat: 'delta',\n\tfileSystem: 'cseo',\n\tfolderPath: 'standardized/masterandreference/msx/hub_vw_currency/v1/standard') ~> MSXCurrencySource\nMSXCurrencySource sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\trecreate:true,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError') ~> currencydata"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MSXStringMap')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "GBB Opportunity"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"linkedService": {
								"referenceName": "msxdatalake",
								"type": "LinkedServiceReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "MSXStringMap",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [],
					"script": "source(output(\n\t\tEDLPExtractId as string,\n\t\tAttributeName as string,\n\t\tAttributeValue as integer,\n\t\tEntityId as integer,\n\t\tEntityName as string,\n\t\tIsActive as boolean,\n\t\tOdsModifiedDate as timestamp,\n\t\tPreviousAttributeValue as integer,\n\t\tPreviousValue as string,\n\t\tStringMapId as string,\n\t\tStringMapSeqNo as long,\n\t\tTenantId as integer,\n\t\tValue as string,\n\t\tViewAttributeName as string,\n\t\tViewName as string,\n\t\tEDLPExtractDateTime as timestamp,\n\t\tEDLPLoadTS as string,\n\t\tEDLPModifiedDateTime as timestamp,\n\t\tEDLPDeltaActionCode as string,\n\t\tExtractId as string,\n\t\tExtractDateTime as timestamp,\n\t\tLoadTS as timestamp,\n\t\tDeltaActionCode as string,\n\t\tPlatformCreatedDate as timestamp,\n\t\tPlatformModifiedDate as timestamp,\n\t\tPlatformModifiedDateAsInt as long\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tformat: 'delta',\n\tfileSystem: 'cseo',\n\tfolderPath: 'standardized/masterandreference/msx/hub_vw_stringmap/v1/standard') ~> source1\nsource1 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\trecreate:true,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError') ~> sink1"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyToSQLDB')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "tablelist",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "SqlServerSink",
											"preCopyScript": {
												"value": "if object_id ( '@{ item().targetname}' ) is not null drop table  @{ item().targetname}",
												"type": "Expression"
											},
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": true,
											"tableOption": "autoCreate"
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "source",
											"type": "DatasetReference",
											"parameters": {
												"tablename": {
													"value": "@item().sourcename",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "target",
											"type": "DatasetReference",
											"parameters": {
												"tablename": {
													"value": "@item().targetname",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/target')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/fromEDLtoAzureSQL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "MSXOpportunity",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "msxnote",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "3 MSXOpportunity",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"msxopportunity": {},
									"Note": {},
									"GBBOpportunity": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "msxnote",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "GBBMember",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "2 msxnote",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"msxnote": {},
									"ower": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "GBBMember",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "1 GBBMember",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"MSXsystemuser": {},
									"GBBuser": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "MSXmilestone",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "MSXOpportunity",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "41 MSXmilestone",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Milestone": {},
									"Opportunity": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "OpportunityTeam",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "MSXOpportunity",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "43 OpportunityTeam",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"OpportunityTeamTeam": {},
									"Opportunity": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "MSXUser",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "OpportunityTeam",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "5 MSXUser",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"MSXsystemuser": {},
									"OpportunityTeam": {},
									"Opp": {},
									"Note": {},
									"AllUser": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "msxaccount",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "MSXOpportunity",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "42 msxaccount",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"msxaccount": {},
									"GBBOpportunity": {},
									"AccountForGBBOpp": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "44 DimOpportunity",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "MSXOpportunity",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "44 DimOpportunity",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"DimOpp": {},
									"DimSMBOpp": {},
									"GBBOpp": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Script1",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "44 DimOpportunity",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "azoedbisqlprod",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "update t1\n\nset currentsalesstagemodifiedon =  t2.currentsalesstagemodifiedon\n\nfrom MSXOpportunity t1 left join dimOpportunityFromOCDM t2 on t1.OpportunityId = t2.OpportunityId\nwhere t1.currentsalesstagemodifiedon is null"
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2021-04-28T16:53:33Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/3 MSXOpportunity')]",
				"[concat(variables('factoryId'), '/dataflows/2 msxnote')]",
				"[concat(variables('factoryId'), '/dataflows/1 GBBMember')]",
				"[concat(variables('factoryId'), '/dataflows/41 MSXmilestone')]",
				"[concat(variables('factoryId'), '/dataflows/43 OpportunityTeam')]",
				"[concat(variables('factoryId'), '/dataflows/5 MSXUser')]",
				"[concat(variables('factoryId'), '/dataflows/42 msxaccount')]",
				"[concat(variables('factoryId'), '/dataflows/44 DimOpportunity')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Master')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "fromEDLtoAzureSQL",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "fromEDLtoAzureSQL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyToSQLDB",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "fromEDLtoAzureSQL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyToSQLDB",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/fromEDLtoAzureSQL')]",
				"[concat(variables('factoryId'), '/pipelines/CopyToSQLDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger1')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Master",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2022-08-28T02:56:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Master')]"
			]
		}
	]
}